<div class="panel">
  <div class="page-title">جستجو</div>
  <div class="panel-body">
    <form [formGroup]="searchForm" autocomplete="off" novalidate>
      <div class="row">
<!--        <div class="col-3">-->
<!--          <tamin-field-label formControlName="pensionerId">شماره مستمری</tamin-field-label>-->
<!--          <tamin-field-validator formControlName="pensionerId"></tamin-field-validator>-->
<!--          <tamin-field-mask mask="0000000000" formControlName="pensionerId"></tamin-field-mask>-->

<!--        </div>-->
        <div class="form-control-container col-3 col-s-3"[hidden]="isWrite">

          <tamin-field-label formControlName="pensionerId">شماره مستمری</tamin-field-label>
          <tamin-field-validator formControlName="pensionerId"></tamin-field-validator>
          <tamin-field-combo-box-static formControlName="pensionerId" [dataItems]="pensionerList" valueField="value"
                                        displayField="name" #pensioner
                                        placeholder="شماره مستمری "></tamin-field-combo-box-static>
          <button type="button" class="button normal orange" style="padding: 3px"(click)="wirteClick()">نوشتن شماره مستمری</button>
        </div>
        <div class="form-control-container col-3 col-s-3" [hidden]="!isWrite">

          <tamin-field-label formControlName="pensionerId">شماره مستمری </tamin-field-label>
          <tamin-field-validator formControlName="pensionerId"></tamin-field-validator>
          <tamin-field-mask mask="0000000000" formControlName="pensionerId"></tamin-field-mask>
          <button type="button" class="button normal orange" style="padding: 3px"(click)="selectClick()">انتخاب شماره مستمری از لیست</button>
        </div>

      </div>
      <div class="row">
        <div class="col-12">
          <p style="margin-top:5px;">
            <button type="button" class="button normal" (click)="searchFormSubmit()">جستجو</button>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
