.site-header {
    background: url('images/Logo.png') no-repeat right, url('images/header-body.jpg') repeat-x;
    height: 70px;
}

.panel-background {
    background: url("images/tile2.png") !important;
}

.icon-excel {
    background-image:url('images/Excel-icon.png') !important;
}

.icon-text {
    background-image:url('images/text-icon.png') !important;
}

.icon-csv {
    background-image:url('images/csv-16.png') !important;
}

