<div class="row" #content style="display: none">
  <div class="row">
    <div class="col-6">
      <div class="panel">
        <div class="panel-title">سوال های متداول</div>
        <div class="panel-body">
          <form [formGroup]="theForm">
            <tamin-field-label formControlName="question">سوال</tamin-field-label>
            <tamin-field-validator formControlName="question"></tamin-field-validator>
            <tamin-field-combo-box-static
              formControlName="question"
              [dataItems]="questions"
              valueField="id"
              displayField="question"></tamin-field-combo-box-static>

            <tamin-field-label formControlName="answer">جواب</tamin-field-label>
            <tamin-field-static-multiline-text formControlName="answer"></tamin-field-static-multiline-text>

            <tamin-field-label formControlName="problem">شرح مشکل</tamin-field-label>
            <tamin-field-validator formControlName="problem"></tamin-field-validator>
            <tamin-field-text-area formControlName="problem"></tamin-field-text-area>
          </form>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="panel">
        <div class="panel-title">مشخصات</div>
        <div class="panel-body">
            <strong>نام کاربر: </strong>
            <span style="color: #a00">{{info?.firstName}} {{info?.lastName}}</span>
            <br/>
            <strong>نام سرویس: </strong>
            <span style="color: #a00">{{info?.description}}</span>
            <br/>
            <strong>دستگاه: </strong>
            <span>{{device}}</span>
            <br/>
            <strong>سیستم عامل: </strong>
            <span>{{os}}</span>
            <br/>
            <strong>نسخه سیستم عامل: </strong>
            <span>{{osVersion}}</span>
            <br/>
            <strong>مرورگر: </strong>
            <span>{{browser}}</span>
            <br/>
            <strong>نسخه مرورگر: </strong>
            <span>{{browserVersion}}</span>
            <br/>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title">تصویر اشکال رخ داده (صفحه جاری کاربر)</div>
        <div class="panel-body" style="overflow-y: scroll;height: 209px;">
          <img [attr.src]="snapshot" alt="" style="width: 100%;">
        </div>
      </div>
    </div>
    <div class="col-12">
      <button type="button" class="button normal red icon-ok" style="margin-top:5px; margin:3px;"
              (click)="onSubmit()">ثبت و دریافت کد رهگیری پشتیبانی
      </button>
    </div>
  </div>
</div>

