<div class="alert alert-info">
  درخواست کمک هزینه ازدواج
</div>
<app-stp-header-new #header requestTyp="کمک هزینه ازدواج"></app-stp-header-new>
<form [formGroup]="theForm" novalidate autocomplete="off">
  <div class="panel">
    <div class="panel-title">مشخصات ازدواج</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-6">
          <tamin-field-label formControlName="branchName">آخرین شعبه بیمه پردازی</tamin-field-label>
          <tamin-field-static-text formControlName="branchName"></tamin-field-static-text>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <tamin-field-label formControlName="weddingDateTimeStamp">تاریخ عقد</tamin-field-label>
          <tamin-field-static-persian-date formControlName="weddingDateTimeStamp"></tamin-field-static-persian-date>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="mariageCerDateTimeStamp">تاریخ عقدنامه</tamin-field-label>
          <tamin-field-static-persian-date formControlName="mariageCerDateTimeStamp"></tamin-field-static-persian-date>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="mariageNum">شماره عقدنامه</tamin-field-label>
          <tamin-field-static-text formControlName="mariageNum"></tamin-field-static-text>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="sabtNumber">شماره دفترخانه</tamin-field-label>
          <tamin-field-static-text formControlName="sabtNumber"></tamin-field-static-text>
        </div>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-title">مشخصات همسر</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-3">
          <tamin-field-label formControlName="partnerRisuId">شماره بیمه</tamin-field-label>
          <tamin-field-static-text formControlName="partnerRisuId"></tamin-field-static-text>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="partnerName">نام</tamin-field-label>
          <tamin-field-static-text formControlName="partnerName"></tamin-field-static-text>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="partnerLname">نام خانوادگی</tamin-field-label>
          <tamin-field-static-text formControlName="partnerLname"></tamin-field-static-text>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="partnerIdNumber">شماره شناسنامه</tamin-field-label>
          <tamin-field-static-text formControlName="partnerIdNumber"></tamin-field-static-text>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <tamin-field-label formControlName="resultMessage">نتیجه ثبت درخواست</tamin-field-label>
          <tamin-field-validator formControlName="resultMessage"></tamin-field-validator>
          <tamin-field-static-multiline-text formControlName="resultMessage"></tamin-field-static-multiline-text>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="panel">
  <div class="panel-title">نتیجه اقدامات انجام شده</div>
  <div class="panel-body">
    <app-request-result-new></app-request-result-new>
  </div>
</div>

<div class="panel">
  <div class="panel-title">مدارک</div>
  <div class="panel-body">
    <tamin-image-gallery-managed #imageGallery></tamin-image-gallery-managed>
  </div>
</div>
