<div class="alert alert-info">
  <i class="icon-lightbulb"></i>
  <span>امکان مشاهده مفاصاحساب های صادر شده برای ردیف های پیمان(مفاصاحساب ماده38) برای کارفرمایان</span>
</div>
<div class="page-title">جستجوی ردیف های پیمان</div>
<div class="panel-body">
  <form [formGroup]="contractSearchForm" autocomplete="off" novalidate
    (ngSubmit)="onSearchSubmit()">
    <div class="form-control-container row">
      <div class="col-4 col-4-1" style="padding: 3px;">
        <tamin-field-label formControlName="workshopId">شماره کارگاه:</tamin-field-label>
        <tamin-field-validator formControlName="workshopId"></tamin-field-validator>
        <tamin-field-text formControlName="workshopId" placeholder="شماره کارگاه"></tamin-field-text>
      </div>
      <div class="col-4 col-4-1" style="padding: 3px;">
        <tamin-field-label formControlName="contractRow">شماره ردیف پیمان:</tamin-field-label>
        <tamin-field-validator formControlName="contractRow"></tamin-field-validator>
        <tamin-field-text formControlName="contractRow" placeholder="شماره ردیف پیمان"></tamin-field-text>
      </div>
      <div class="col-4 col-4-1" style="padding: 3px;">
        <tamin-field-label formControlName="branchCode">کد شعبه:</tamin-field-label>
        <tamin-field-validator formControlName="branchCode"></tamin-field-validator>
        <tamin-field-text formControlName="branchCode" placeholder="کد شعبه"></tamin-field-text>
      </div>
      <p style="margin-top:5px;">
        <button type="submit" class="button normal" [disabled]="!contractSearchForm.valid">جستجو</button>
        <button type="button" class="button normal orange" (click)="resetForm()">نمایش همه</button>
        <!-- <button type="button" class="button normal orange" (click)="wiewPdf()">مفاصاحساب ماده 38</button> -->
      </p>
    </div>
  </form>
</div>
<div class="page-title">لیست ردیف های پیمان</div>
<div class="panel-body">
  <tamin-data-grid #contractGrid (itemSelect)="clickContractGridItem($event)"></tamin-data-grid>
</div>
<div class="page-title">لیست مفاصاحساب</div>
<div class="panel-body">
  <tamin-data-grid #mad38Grid (itemAction)="onMad38GridAction($event)"></tamin-data-grid>
</div>
<tamin-modal #showCertificateDetailModal title="جزئیات مفاصا حساب">
  <form [formGroup]="showCertificateDetailFrom" autocomplete="off" novalidate>
    <div class="form-control-container">
      <div class="col-4 col-s-12">
        <tamin-field-label formControlName="rwshid">کد کارگاه</tamin-field-label>
        <tamin-field-static-text formControlName="rwshid"></tamin-field-static-text>
      </div>
      <div class="col-4 col-s-12">
        <tamin-field-label formControlName="contractRow">ردیف پیمان</tamin-field-label>
        <tamin-field-static-text formControlName="contractRow"></tamin-field-static-text>
      </div>
      <div class="col-4 col-s-12">
        <tamin-field-label formControlName="workshopName">نام پیمانکار</tamin-field-label>
        <tamin-field-static-text formControlName="workshopName"></tamin-field-static-text>
      </div>
      <div class="col-4 col-s-12">
        <tamin-field-label formControlName="contractSubject">موضوع قراداد</tamin-field-label>
        <tamin-field-static-text formControlName="contractSubject"></tamin-field-static-text>
      </div>
      <div class="col-4 col-s-12">
        <tamin-field-label formControlName="clearanceSerial">سریال مفاصاحساب</tamin-field-label>
        <tamin-field-static-text formControlName="clearanceSerial"></tamin-field-static-text>
      </div>
      <div class="col-4 col-s-12">
        <tamin-field-label formControlName="clearanceDate">تاریخ مفاصاحساب</tamin-field-label>
        <tamin-field-static-text formControlName="clearanceDate"></tamin-field-static-text>
      </div>
      <div class="row">
        <div class="col-4 col-s-12">
          <tamin-field-label formControlName="clearanceNumber">شماره مفاصاحساب</tamin-field-label>
          <tamin-field-static-text formControlName="clearanceNumber"></tamin-field-static-text>
        </div>
        <div class="col-4 col-s-12">
          <tamin-field-label formControlName="clearanceAmount">مبلغ مفاصاحساب</tamin-field-label>
          <tamin-field-static-text formControlName="clearanceAmount"></tamin-field-static-text>
        </div>
        <div class="col-4 col-s-12">
          <tamin-field-label formControlName="contractNumber">شماره قرارداد</tamin-field-label>
          <tamin-field-static-text formControlName="contractNumber"></tamin-field-static-text>
        </div>
        <div class="col-4 col-s-12">
          <tamin-field-label formControlName="contractStartDate">تاریخ شروع قرارداد</tamin-field-label>
          <tamin-field-static-text formControlName="contractStartDate"></tamin-field-static-text>
        </div>
        <div class="col-4 col-s-12">
          <tamin-field-label formControlName="contractEndDate">تاریخ پایان قرارداد</tamin-field-label>
          <tamin-field-static-text formControlName="contractEndDate"></tamin-field-static-text>
        </div>
        <div class="col-4 col-s-12">
          <tamin-field-label formControlName="contractAssigner">واگذارنده</tamin-field-label>
          <tamin-field-static-text formControlName="contractAssigner"></tamin-field-static-text>
        </div>
      </div>
    </div>
  </form>
</tamin-modal>
<tamin-modal #theModal title="نمایش pdf">
  <tamin-document-viewer #documentViewer width="100%"></tamin-document-viewer>
</tamin-modal>