<div class="alert alert-info">
  <i class="icon-lightbulb"></i>
  <span>درخواست پرداخت غیرحضوری بدهی های ابلاغ شده</span>
</div>
<div class="alert alert-warning">
  <i class="icon-lightbulb-1"></i>
  <span>کارفرمایان گرامی با توجه به محدودیت های اعلامی از سوی بانک مرکزی ایران در انجام تراکنش های بانکی ، پرداخت برخط و غیرحضوری بدهی ها حداکثر تا مبلغ 500 میلیون ریال میسر می باشد.</span>
</div>
<div class="alert alert-warning">
  <i class="icon-lightbulb-1"></i>
  <span>چنانچه بدهی به کارفرما ابلاغ نگردیده باشد امکان پرداخت آن به صورت برخط و غیرحضوری میسر نخواهد بود.</span>
</div>
<div class="alert alert-warning">
  <i class="icon-lightbulb-1"></i>
  <span>در صورت عدم بروزرسانی جرائم تاخیر پرداخت بدهی در زمان پرداخت برخط و غیرحضوری، لازم است مجدداً نسبت به پرداخت مانده بدهی مورد نظر اقدام شود.</span>
</div>
<div class="alert alert-warning">
  <i class="icon-lightbulb-1"></i>
  <span>پرداخت بدهی به صورت سپرده صرفاً بابت بدهی های غیرقطعی و در صورت اعلام کارفرما در زمان ثبت اعتراض صورت خواهد پذیرفت.</span>
</div>
<div class="alert alert-warning">
  <i class="icon-lightbulb-1"></i>
  <span>برای پرداخت اقساط فعال سازی رمز پویای کارت بانکی ضروری می باشد.</span>
</div>
<div class="panel">
  <div class="page-title">جستجوی کارگاه</div>
  <div class="panel-body">
    <form [formGroup]="workshopSearchForm" autocomplete="off" novalidate (ngSubmit)="onSearchSubmit()">
      <div class="form-control-container row">
        <div class="col-6 col-6-1" style="padding: 3px;">
          <!---------------------------------------------------------------------------------------------------------->
          <tamin-field-label formControlName="workshopId">شماره کارگاه:</tamin-field-label>
          <tamin-field-validator formControlName="workshopId"></tamin-field-validator>
          <tamin-field-text formControlName="workshopId" placeholder="شماره کارگاه"></tamin-field-text>
          <!---------------------------------------------------------------------------------------------------------->
        </div>
        <div class="col-6 col-6-1" style="padding: 3px;">
          <!---------------------------------------------------------------------------------------------------------->
          <tamin-field-label formControlName="peymanSequence">ردیف پیمان:</tamin-field-label>
          <tamin-field-validator formControlName="peymanSequence"></tamin-field-validator>
          <tamin-field-text formControlName="peymanSequence" placeholder="ردیف پیمان"></tamin-field-text>
          <!---------------------------------------------------------------------------------------------------------->
        </div>
        <p style="margin-top:5px;">
          <button type="submit" class="button normal">جستجو</button>
          <button type="button" class="button normal orange" (click)="resetWorkshopForm()">نمایش همه</button>
        </p>
      </div>
    </form>
  </div>
  <div class="page-title">لیست کارگاه ها</div>
  <div class="alert alert-info">
    <i class="icon-lightbulb"></i>
    <span>لازم است برای مشاهده و پرداخت بدهی روی کارگاه مورد نظر کلیک نمایید</span>
  </div>
  <div class="panel-body">
    <tamin-data-grid #workshopsGrid (itemSelect)="clickWorkshopGridItem($event)"></tamin-data-grid>
  </div>
</div>
<div class="panel">
  <div class="page-title">بدهی های حائز شرایط پرداخت غیرحضوری که ابلاغ و کلیه اسناد مطالباتی آن تایید شده اند</div>
  <div class="alert alert-info">
    <i class="icon-lightbulb"></i>
    <span>لازم است برای پرداخت بدهی مورد نظر بروی بدهی کلیک کنید تا در لیست بدهی انتخابی قرار گیرد</span>
  </div>
  <div class="alert alert-info">
    <i class="icon-lightbulb"></i>
    <span>لازم به ذکر است که در هر پرداخت یک بدهی قابل انتخاب است</span>
  </div>
  <div class="panel-body">
    <tamin-data-grid #workshopsDebitGrid (itemSelect)="clickWorkshopDebitGridItem($event)"></tamin-data-grid>
  </div>
  <div class="page-title">لیست بدهی انتخابی</div>
  <div class="alert alert-info">
    <i class="icon-lightbulb"></i>
    <span>در صورت نیاز برای حذف بدهی انتخابی از منو عملیات گزینه حذف انتخاب گردد</span>
  </div>
  <div class="alert alert-info">
    <i class="icon-lightbulb"></i>
    <span>برای پرداخت بدهی انتخابی از منو عملیات گزینه پرداخت انتخاب گردد</span>
  </div>
  <div class="panel-body">
    <tamin-data-grid #workshopsTempDebitGrid (itemAction)="onGridAction($event)"></tamin-data-grid>
  </div>
