.scorebar {
  outline: none;
  padding: 10px;
  border: 1px solid #555;
  margin-top: 5px;
  border-right: solid 5px #555;
  width: 100%;
  box-sizing: border-box;
  font-family: main-font, serif;
  color: white;
  font-size: 1em;
  height: 3em;
}
