<div (window:resize)="onResize($event)" class="page-title">انعقاد قرارداد کسری از ماه</div>
<div  *ngIf="mobileSize" class="status-selected width-state-one">
  <p [ngClass]="isAgreement ? 'is-active': 'de-active'" >تایید ضوابط و مقررات</p>
  <p [ngClass]="isAgreement && isAprovee ? 'is-active': 'de-active'">تایید اطلاعات</p>
  <p [ngClass]="isAgreement && isAprovee && isSatisfied  ? 'is-active': 'de-active'">کنترل شرایط لازم</p>
  <p [ngClass]="isAgreement && isAprovee && isSatisfied && savedContract ? 'is-active': 'de-active'">انعقاد قرارداد</p>
  <p Class="de-active">پرداخت حق بیمه</p>
</div>
<div *ngIf="!mobileSize" class="status-selected width-state-one">
  <span [ngClass]="isAgreement ? 'is-active': 'de-active'" >تایید ضوابط و مقررات</span> &#8592;
  <span [ngClass]="isAgreement && isAprovee ? 'is-active': 'de-active'">تایید اطلاعات</span> &#8592;
  <span [ngClass]="isAgreement && isAprovee && isSatisfied  ? 'is-active': 'de-active'">کنترل شرایط لازم</span> &#8592;
  <span [ngClass]="isAgreement && isAprovee && isSatisfied && savedContract ? 'is-active': 'de-active'">انعقاد قرارداد</span> &#8592;
  <span Class="de-active">پرداخت حق بیمه</span>
</div>
<div class="panel">
  <div class="panel-title">اطلاعات هویتی</div>
  <div class="panel-body">
    <app-special-insured-info #specialInsuredInfoComponent></app-special-insured-info>
  </div>
</div>
<div class="panel">
  <div class="panel-title">مقررات و ضوابط انعقاد قرارداد</div>
  <div class="panel-body">
    <div class="row">
      <button class="button normal green" (click)="onShowAggrement()">مشاهده ضوابط و مقررات
      </button>
      <!-- <button class="button normal green" (click)="onPrintContract()">تایید و ادامه
      </button> -->
      <button type="button" class="button normal green" (click)=redirectToContracts()>
        قرارداد های ثبت شده
       </button>
       <button class="button normal red" (click)="redirectTo('/')"> انصراف
       </button>
    </div>
  </div>
</div>
<div class="panel" *ngIf="isAgreement">
  <!-- <div class="panel-title">انعقاد قرارداد و پرداخت حق بیمه</div> -->
  <div class="panel-body">
    <app-fraction-check-istrue-contract (approve)="onApprove()" (deapprove)="onDeApprove()" #fractionCheckIstrueContractComponent></app-fraction-check-istrue-contract>
  </div>
</div>
<div class="panel" *ngIf="isAgreement && isAprovee">
  <div class="panel-title">کنترل شرایط لازم</div>
  <div class="panel-body">
    <div>
      <span *ngIf="isSatisfied">
        متقاضی محترم شما دارای شرایط لازم برای انعقاد قرارداد تکمیل سوابق کسری از ماه هستید.
      </span>
      <span *ngIf="!isSatisfied">
        متقاضی محترم شما فاقد شرایط لازم برای انعقاد قرارداد تکمیل سوابق کسری از ماه هستید.
      </span>
      <button class="button normal green" (click)="onShowDetails()">مشاهده جزئیات</button>
    </div>
  </div>
</div>
<div class="panel" *ngIf="isAprovee && isAgreement && isSatisfied">
  <div class="panel-title">شعبه تامین اجتماعی</div>
  <div class="panel-body">
    <app-freelance-location #freelanceLocationComponent
     (provinceValue)="provinceValueRequest($event)"
      (cityValue)="cityValueRequest($event)"
       (branchValue)="branchValueRequest($event)" 
       [contractSelected]="contract"
	   [isFraction]="true">
    </app-freelance-location>
  </div>
</div>
<div class="panel" *ngIf="isAgreement && isAprovee && isSatisfied">
  <div class="panel-title">انعقاد قرارداد و پرداخت حق بیمه</div>
  <div class="panel-body">
    <app-fraction-make-a-contract  (submit)="onSaveContract()" #fractionMakeAContractComponent [personalInfo]="specialInsuredInfoComponent.getPersonalInfo()"></app-fraction-make-a-contract>
  </div>
</div>
<!-- <app-fraction-update-contact (submitt)="onreloadPage($event)" #fractionUpdateContact></app-fraction-update-contact> -->
<app-fraction-agreement (agree)="onAgree()" (disagree)="onDisagree()" #fractionAgreementComponent></app-fraction-agreement>