.gov-sup-reg-container {
    border: solid 1px #cacaca;
    margin: 5px;
    overflow: hidden;
}
  
.gov-sup-reg-header {
    padding: 5px;
    border-bottom: solid 1px #cacaca;
    vertical-align: middle;
    text-align: center;
    background-color: #bbb;
    color: black;
}
  
.gov-sup-reg-content {
    padding: 5px;
}
  
.gov-sup-reg-footer {
    padding: 5px;
    border-top: solid 1px #cacaca;
}
  
  