<tamin-modal #theModal title=" ضوابط اجرایی تکمیل سوابق پرداخت حق بیمه کسری از ماه" width="80%">
  <div style="border: solid 1px #ccc; padding: 10px; margin-bottom: 10px;max-height: 60vh; overflow: auto">
    <ul style="padding: 20px; text-align: justify;">
      <li>
        <span style="font-weight: bold;"> ماده 1: </span>
        افرادی که به صورت پاره وقت (کسری از ماه) در کارگاه های مشمول قانون تأمین اجتماعی اشتغال به کار دارند و برای آنان
        سابقه پرداخت حق بیمه لحاظ شده است، در صورت تمایل می توانند با توجه به مقررات این آئین نامه، درخواست خود مبنی بر
        پرداخت حق بیمه کسری از ماه را ارائه و با انعقاد قرارداد، سوابق پرداخت حق بیمه خود را تکمیل نمایند.
        <br>
        <span style="font-weight: bold;">تبصره: </span>
        ارائه درخواست، انعقاد قرارداد و پرداخت حق بیمه کسری از ماه صرفاً در زمان حیات بیمه شده امکان پذیر است و پذیرش
        درخواست تحت هیچ شرایطی از بازماندگان مجاز نخواهد بود.
      </li>
      <li>
        <span style="font-weight: bold;"> ماده 2: </span>
        حداکثر سن پذیرش تقاضای متقاضی تکمیل سوابق پرداخت حق بیمه تکمیل سوابق کسری از ماه برای مردان و زنان 50 سال تمام
        در تاریخ
        ثبت تقاضا خواهد بود. در صورتی که سن متقاضی در زمان ثبت تقاضا بیش از سن مذکور باشد، پذیرش درخواست وی منوط به
        داشتن سابقه حق بیمه قبلی معادل مازاد سنی مقرر خواهد بود.
        <br>
        <span style="font-weight: bold;">تبصره: </span>
        کلیه بیمه شدگان متقاضی که حداقل 10 سال سابقه پرداخت حق بیمه داشته باشند، از اعمال شرط سنی معاف خواهند بود.
      </li>
      <li>
        <span style="font-weight: bold;"> ماده 3: </span>
        متقاضی مشمول این آئین نامه در صورت استمرار بیمه پردازی و داشتن کارکرد روزانه متناوب در هر سال می تواند با یک
        مرتبه ارائه درخواست و انعقاد قرارداد نسبت به تکمیل سوابق آینده خود اقدام نمایند و نیازی به تجدید قرارداد جهت سال
        های آتی نخواهد بود.
        <br>
        <span style="font-weight: bold;">تبصره1: </span>
        در صورت ایجاد وقفه بیش از یک سال در پرداخت حق بیمه به صورت کسری از ماه، پذیرش درخواست مجدد منوط به احراز شرط سنی
        50 سال و سایر شرایط مقرر در این آئین نامه خواهد بود.
        <br>
        <span style="font-weight: bold;">تبصره2: </span>
        سازمان تأمین اجتماعی مکلف است ظرف مدت دو ماه از تاریخ ثبت درخواست، استحقاق یا عدم استحقاق بیمه شده را مشخص و
        مراتب را کتباً به متقاضی اعلام نماید و متقاضی نیز می بایست ظرف مدت یک ماه از تاریخ ابلاغ با مراجعه به سازمان
        نسبت به انعقاد قرارداد اقدام نماید، مشروط بر اینکه از تاریخ ثبت درخواست تا انعقاد قرارداد از مدت سه ماه تجاوز
        ننماید.
      </li>
      <li>
        <span style="font-weight: bold;"> ماده 4: </span>
        مشمولین این آئین نامه مجاز به پرداخت حق بیمه کسری از ماه خود برای اولین بار حداکثر از تاریخ ثبت درخواست به بعد
        خواهند بود و کسری سوابق گذشته مربوط به قبل از اولین درخواست به هیچ عنوان ملاک عمل و مشمول پرداخت نخواهد بود.
      </li>
      <li>
        <span style="font-weight: bold;"> 5: </span>
        در راستای درخواست ارائه شده و قرارداد منعقده، متقاضی میبایست از ابتدای آذرماه ماه لغایت پایان بهمن ماه هرسال
        نسبت به اخذ برگ پرداخت و واریز حق بیمه شش ماهه نخست و از ابتدای خردادماه سال بعد لغایت پایان مرداد ماه همان سال
        نسبت به اخذ برگ پرداخت و واریز حق بیمه شش ماهه دوم به صورت یکجا اقدام نمایند.
        <br>
        <span style="font-weight: bold;">تبصره: </span>
        در صورتی که متقاضی خارج از موعد مقرر نسبت به پرداخت حق بیمه اقدام نماید، امکان پذیرش سوابق ناشی از آن میسر
        نخواهد بود و مبلغ پرداختی می‏بایست عیناً به وی مسترد گردد.
      </li>
      <li>
        <span style="font-weight: bold;"> ماده 6: </span>
        سهم حق بیمه متقاضیان موضوع این آئین نامه برای استفاده از تعهدات موضوع قانون تأمین اجتماعی و همچنین بابت
        حمایت‏های موضوع بندهای "الف" و "ب" ماده (3) قانون (به استثناء پرداخت غرامت دستمزد ایام بیماری و بارداری) مجموعاً
        27% می‏باشد.
        <br>
        <span style="font-weight: bold;">تبصره1: </span>
        : پرداخت 3% حق بیمه مربوط به حمایت‏های موضوع این ماده بر اساس ماده (28) قانون تأمین اجتماعی بر عهده دولت خواهد
        بود.
        <br>
        <span style="font-weight: bold;">تبصره2: </span>
        سوابق ناشی از پرداخت حق بیمه کسری از ماه با توجه به عدم اشتغال بیمه شده در این مدت به عنوان سوابق سخت و زیان آور
        ملاک عمل نخواهد بود.
      </li>
      <li>
        <span style="font-weight: bold;"> ماده 7: </span>
        دستمزد روزانه مبنای پرداخت حق بیمه عبارت است از همان دستمزد روزانه ماهی که سابقه آن به اعتبار پرداخت حق بیمه به
        صورت کسری از ماه ایجاد شده است، مربوطه مشروط بر اینکه از حداقل دستمزد مصوب شورایعالی کار کمتر و از حداکثر دستمزد
        مصوب بیشتر نباشد.
      </li>
      <li>
        <span style="font-weight: bold;"> ماده 8: </span>
        در صورتی که متقاضی حق بیمه کسری از ماه را پرداخت نموده و یا می‏نماید، چنانچه محرز گردد که همزمان به نحو دیگری
        دارای سابقه پرداخت حق بیمه نزد سازمان تأمین اجتماعی و یا عناوین مشابه نزد سایر صندوق های بیمه ای می‏باشد، وجه
        پرداختی در دوره همپوشانی می‏بایست عیناً به وی مسترد و سوابق ایجادی ناشی از آن حذف گردد.
        دوره پرداخت همزمان حق بیمه نزد سازمان تأمین اجتماعی و یا سایر صندوق‏های بیمه‏ای می‏باشند، مبالغ پرداختی در دوره
        همپوشانی میبایست عیناً مسترد و سوابق ایجادی ناشی از اجرای این آئین‏نامه حذف ‏گردد.
      </li>
      <li>
        این آئین نامه در 8 ماده و 7 تبصره به تصویب هیأت مدیره سازمان تأمین اجتماعی رسیده و از تاریخ ابلاغ قابل اجرا
        می‏باشد.
      </li>
    </ul>
  </div>
  <div class="button-container">
    <button class="button normal" (click)="onAgree()">موافقم</button>
    <button class="button normal red" (click)="onDisagree()">موافق نیستم</button>
  </div>
</tamin-modal>
