<div class="alert alert-info">
  مشاهده جزییات محاسبه
</div>
<app-sso-debit-objection-search #search serviceName='detailObjectionDebit'
                                (Submitt)="onSearchWorkshopSubmit($event)"></app-sso-debit-objection-search>
<div class="panel">
  <div style="padding: 7px;background-color: #20538d;" class="page-title">جستجوی کارگاه</div>
  <div class="panel-body">
    <p style="margin-right: 10px"><i class="icon-lightbulb"></i>
      کارفرمای گرماهی به منظور مشاهده جزئیات محاسبات و گردش حساب بدهی ها، تکمیل درخواست استفاده از خدمات غیرحضوری با
      مراجعه به منوی خدمات کارفرمایان ضروری است.
    </p>
    <form [formGroup]="workshopSearchForm" autocomplete="off" novalidate (ngSubmit)="onSearchSubmit()">
      <div class="form-control-container row">
        <div class="col-6 col-6-1" style="padding: 3px;">
          <!---------------------------------------------------------------------------------------------------------->
          <tamin-field-label formControlName="workshopId">شماره کارگاه:</tamin-field-label>
          <tamin-field-validator formControlName="workshopId"></tamin-field-validator>
          <tamin-field-text formControlName="workshopId" placeholder="شماره کارگاه"></tamin-field-text>
          <!---------------------------------------------------------------------------------------------------------->
        </div>
        <div class="col-6 col-6-1" style="padding: 3px;">
          <!---------------------------------------------------------------------------------------------------------->
          <tamin-field-label formControlName="branchCode">کد شعبه:</tamin-field-label>
          <tamin-field-validator formControlName="branchCode"></tamin-field-validator>
          <tamin-field-text formControlName="branchCode" placeholder="کد شعبه"></tamin-field-text>
          <!---------------------------------------------------------------------------------------------------------->
        </div>
        <p style="margin-top:5px;">
          <button type="submit" class="button normal">جستجو</button>
          <button type="button" class="button normal orange" (click)="resetWorkshopForm()">نمایش همه</button>
        </p>
      </div>
    </form>
  </div>
  <div style="padding: 7px;background-color: #20538d;" class="page-title">لیست کارگاه ها</div>
  <div class="panel-body">
    <p style="margin-right: 10px"><i class="icon-lightbulb"></i>
      لطفا روی کارگاه مورد نظر کلیک نمائید.
    </p>
    <tamin-data-grid #workshopsGrid (itemSelect)="clickWorkshopGridItem($event)"></tamin-data-grid>
  </div>
</div>
<div class="panel">
  <div style="padding: 7px;background-color: #20538d;" class="page-title">جستجوی بدهی</div>
  <div class="panel-body">
    <form [formGroup]="workshopDebitSearchForm" autocomplete="off" novalidate (ngSubmit)="onDebitSearchSubmit()">
      <div class="form-control-container row">
        <div class="col-6 col-6-1" style="padding: 3px;">
          <!---------------------------------------------------------------------------------------------------------->
          <tamin-field-label formControlName="debitNumber">شماره بدهی:</tamin-field-label>
          <tamin-field-validator formControlName="debitNumber"></tamin-field-validator>
          <tamin-field-text formControlName="debitNumber" placeholder="شماره بدهی"></tamin-field-text>
          <!---------------------------------------------------------------------------------------------------------->
        </div>
        <div class="col-6 col-6-1" style="padding: 3px;">
          <!---------------------------------------------------------------------------------------------------------->
          <tamin-field-label formControlName="peymanSequence">ردیف پیمان:</tamin-field-label>
          <tamin-field-validator formControlName="peymanSequence"></tamin-field-validator>
          <tamin-field-text formControlName="peymanSequence" placeholder="ردیف پیمان"></tamin-field-text>
          <!---------------------------------------------------------------------------------------------------------->
        </div>
        <p style="margin-top:5px;">
          <button type="submit" class="button normal">جستجو</button>
          <button type="button" class="button normal orange" (click)="resetDebitForm()">نمایش همه</button>
        </p>
      </div>
    </form>
  </div>
  <div style="padding: 7px;background-color: #20538d;" class="page-title">لیست بدهی های کارگاه</div>
  <div class="panel-body">
    <p style="margin-right: 10px"><i class="icon-lightbulb"></i>
      لطفا روی بدهی مورد نظر کلیک نمائید.
    </p>
    <tamin-data-grid #workshopsDebitGrid (itemSelect)="clickWorkshopDetailGridItem($event)"></tamin-data-grid>
  </div>
</div>
<div class="panel">
  <div style="padding: 7px;background-color: #20538d;" class="page-title">اسناد مطالباتی</div>
  <div class="panel-body">
    <p style="margin-right: 10px"><i class="icon-lightbulb"></i>
      جهت مشاهده جزئیات محاسبات بر روی عملیات کلیک نمایید.
    </p>
    <tamin-data-grid #workshopsDetailDebitGrid (itemAction)="onGridAction($event)"></tamin-data-grid>
  </div>
</div>
<tamin-modal #theModal title="نمایش pdf">
  <tamin-document-viewer #documentViewer width="100%"></tamin-document-viewer>
</tamin-modal>
<tamin-modal #theDescModal title="شرح ایجاد بدهی">
  <div class="row">
    <div class="col-12">
      <table>
        <tr>
          <td>{{data.desc}}</td>
        </tr>
      </table>
    </div>
  </div>
</tamin-modal>
