<tamin-modal #theModal title="ایجاد سابقه ناموجود">
  <form [formGroup]="notexistNewForm" autocomplete="off" novalidate>
    <div class="form-control-container">
      <div class="row">
        <div class="col-6">
          <tamin-field-label formControlName="provinceCode">نام استان</tamin-field-label>
          <tamin-field-validator formControlName="provinceCode"></tamin-field-validator>
          <tamin-field-auto-complete-data-grid formControlName="provinceCode" placeholder="نام استان"
                                               #provinceNewDataGrid></tamin-field-auto-complete-data-grid>
        </div>
        <div class="col-6">
          <tamin-field-label formControlName="cityCode">نام شهر</tamin-field-label>
          <tamin-field-validator formControlName="cityCode"></tamin-field-validator>
          <tamin-field-auto-complete-data-grid formControlName="cityCode" placeholder="نام شهر :"
                                               #cityNewDataGrid></tamin-field-auto-complete-data-grid>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <tamin-field-label formControlName="branchCode">نام شعبه</tamin-field-label>
          <tamin-field-validator formControlName="branchCode"></tamin-field-validator>
          <tamin-field-auto-complete-data-grid formControlName="branchCode" placeholder="نام شعبه :"
                                               #branchNewDataGrid></tamin-field-auto-complete-data-grid>
        </div>
        <div class="col-6">
          <tamin-field-label formControlName="insuranceType">نوع بیمه</tamin-field-label>
          <tamin-field-validator formControlName="insuranceType"></tamin-field-validator>
          <tamin-field-auto-complete-data-grid formControlName="insuranceType" placeholder="نوع بیمه :"
                                               #insuranceTypeNewDataGrid></tamin-field-auto-complete-data-grid>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <tamin-field-label formControlName="rwshid">شماره کارگاه</tamin-field-label>
          <tamin-field-validator formControlName="rwshid"></tamin-field-validator>
          <tamin-field-mask mask="0000000000" formControlName="rwshid" placeholder="شماره کارگاه "></tamin-field-mask>
        </div>
        <div class="col-6">
          <tamin-field-label formControlName="rwshname">نام کارگاه</tamin-field-label>
          <tamin-field-validator formControlName="rwshname"></tamin-field-validator>
          <tamin-field-text formControlName="rwshname" placeholder="نام کارگاه"></tamin-field-text>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <tamin-field-label formControlName="startDate">تاریخ شروع</tamin-field-label>
          <tamin-field-validator formControlName="startDate"></tamin-field-validator>
          <tamin-field-persian-date formControlName="startDate" placeholder="تاریخ شروع "></tamin-field-persian-date>
        </div>
        <div class="col-6">
          <tamin-field-label formControlName="endDate">تاریخ پایان</tamin-field-label>
          <tamin-field-validator formControlName="endDate"></tamin-field-validator>
          <tamin-field-persian-date formControlName="endDate" placeholder="تاریخ پایان"></tamin-field-persian-date>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <tamin-field-label formControlName="workDays">کارکرد</tamin-field-label>
          <tamin-field-validator formControlName="workDays"></tamin-field-validator>
          <tamin-field-mask mask="000" formControlName="workDays"
                              placeholder="کارکرد "></tamin-field-mask>
        </div>
        <div class="col-6">
          <tamin-field-label formControlName="rwshManager">نام کارفرما</tamin-field-label>
          <tamin-field-validator formControlName="rwshManager"></tamin-field-validator>
          <tamin-field-text formControlName="rwshManager" placeholder=" نام کارفرما"></tamin-field-text>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <tamin-field-label formControlName="rwshAddress"> آدرس کارگاه</tamin-field-label>
          <tamin-field-validator formControlName="rwshAddress"></tamin-field-validator>
          <tamin-field-text formControlName="rwshAddress" placeholder=" آدرس کارگاه "></tamin-field-text>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="button-container">
            <button type="button" class="button normal" (click)="notexitNewFormSubmit()">ذخیره</button>
            <button type="button" class="button normal dark" (click)="hide()">انصراف</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</tamin-modal>
