<div class="alert alert-success">
  <p>
    <span>محاسبه حق بیمه مدت خدمت نظام وظیفه و حضور در جبهه</span>
    <span class="tour" (click)="onTour()"><i class="icon-help"></i>راهنما</span>
  </p>
</div>

<div class="alert alert-info"
     data-step="1"
     data-intro="در این فرم نحوه محاسبه حق بیمه دوره خدمت نظام وظیفه و حضور در جبهه نمایش داده شده است."
     data-position='top'>
  <p><i class="icon-lightbulb"></i>
    در این فرم نحوه محاسبه حق بیمه دوره خدمت نظام وظیفه و حضور در جبهه نمایش داده شده است.
  </p>
  <br>
  <p><i class="icon-lightbulb"></i>
    کلیه بیمه شدگان تامین اجتماعی در صورتیکه دارای دو سال سابقه بیمه پردازی نزد این سازمان باشند، می توانند درخواست
    احتساب سوابق خدمت نظام وظیفه را ارائه نمایند و پس از پرداخت حق بیمه محاسبه شده، مدت خدمت و حضور در جبهه بعنوان
    سابقه پرداخت حق بیمه متقاضی منظور خواهد شد. لازم به ذکر است متقاضی در زمان ارائه درخواست می بایست بیمه پرداز سازمان
    باشد.
  </p>
  <br>
  <p><i class="icon-lightbulb"></i>
    اگر پیش از این درخواست احتساب سوابق خدمت نظام وظیفه و حضور درجبهه داده اید این محاسبات را نادیده بگیرید. این
    محاسبات صرفا برای کسانی است که تاکنون درخواست مذکور را ارائه نکرده باشند.
  </p>
</div>
<div class="alert alert-danger" *ngIf="!isEligible">
  کاربر گرامی، سابقه بیمه پردازی شما کمتر ار دو سال بوده و در حال حاضر واجد شرایط استفاده از این سرویس نمی باشید.
</div>
<div class="panel" *ngIf="isEligible">
  <div class="page-title">
    محاسبه حق بیمه سربازی
  </div>
  <div class="panel-body">
    <form [formGroup]="calculateDataForm" autocomplete="off" novalidate>
      <div class="row">
        <div class="col-4" data-step="2" data-intro="مدت خدمت (ماه)" data-position='top'>
          <tamin-field-label formControlName="duration">مدت خدمت (ماه)</tamin-field-label>
          <tamin-field-mask formControlName="duration" mask="00"></tamin-field-mask>
          <div class="hint"><i class="icon-lightbulb"></i><span>بین ۱ تا ۳۰ ماه</span></div>
        </div>
        <div class="col-4" data-step="3" data-intro="مدت خدمت (ماه)" data-position='top'>
          <tamin-field-label formControlName="wageAverage">متوسط دستمزد ماهانه دو سال آخر</tamin-field-label>
          <tamin-field-static-text formControlName="wageAverage"></tamin-field-static-text>
        </div>
        <div class="col-4" data-step="4" data-intro="مدت خدمت (ماه)" data-position='top'>
          <tamin-field-label formControlName="amount">مبلغ قابل پرداخت توسط بیمه شده (ریال)</tamin-field-label>
          <tamin-field-static-text formControlName="amount"></tamin-field-static-text>
        </div>
      </div>
    </form>
    <div class="alert alert-info" data-step="5" data-intro="مدت خدمت (ماه)" data-position='top'>
      <h3 style="text-align: center; color: white; border-bottom: dotted 1px white">طریقه محاسبه</h3>
      <br>
      <p style="text-align: center">
        <span style="background-color: white; color: #3498db; padding: 5px">مدت خدمت (ماه)</span> <i
        class="icon-cancel"></i> <span style="background-color: white; color: #3498db; padding: 5px">%۷</span> <i
        class="icon-cancel"></i> <span style="background-color: white; color: #3498db; padding: 5px">متوسط دستمزد ماهانه دو سال آخر</span>
      </p>
    </div>
  </div>
</div>
<div data-step="6" data-intro="مدت خدمت (ماه)" data-position='top'>
  <app-combined-list #combinedList [showButtom]="false" [showDownload]="false"
                     (dataLoaded)="calc()"></app-combined-list>
</div>
<div class="alert alert-info">
  <p>با توجه به غیر قطعی بودن میزان سابقه، مبلغ محاسبه شده قابل استناد در مراجع قانونی نمی باشد.</p>
</div>
