<div class="alert alert-info">
  موقعیت تمامی شعب و کارگزاری های سازمان تامین اجتماعی
</div>
<div class="alert alert-info">
  <span>کاربر گرامی، با کلیک نمودن در مکانی در نقشه که در آنجا قرار دارید، سیستم نزدیک ترین شعبه/کارگزاری و مسیر رسیدن به آن مرکز را به دو صورت </span>
  <span style="background-color: red; color: white; padding: 2px">سواره رو با رنگ قرمز</span>
  <span> و </span>
  <span style="background-color: blue; color: white; padding: 2px">پیاده رو با رنگ آبی</span>
  <span> به شما نشان خواهد داد</span>
</div>
<div [attr.id]="id" style="width: 100%; height: 800px" class="map" dir="ltr" #theMap></div>

