<div style="padding: 20px;text-align: center">
  <img src="assets/images/maintenance.png" alt="" class="responsive" style="width:20%;">
  <div>
    <h4 style="padding: 20px; text-align: right;">
      بیه شده گرامی : 
      <br/>
      متاسفانه در حال حاضر به دلیل عدم امکان کنترل مالکیت شماره موبایل و به دلیل جلوگیری از ثبت نام غیرمجاز و حفاظت از اطلاعات خصوصی بیمه شدگان محترم سازمان تامین اجتماعی، ثبت نام فقط بصورت حضوری و با مراجعه به شعبه امکان پذیر است.
      <br/>
      بدیهی است این مشکل بصورت موقت بوده و بزودی با برقراری مجدد زیرساخت های لازم، امکان ثبت نام غیر حضوری فراهم خواهد شد.
      <br/>
      لذا در صورتی که جهت ایجاد حساب کاربری خود با محدودیت زمانی مواجه هستید، می توانید با در دست داشتن مدارک هویتی خود به یکی از شعب سازمان تامین اجتماعی جهت ایجاد حساب کاربری مراجعه نمایید. 
    </h4>
  </div>
</div>
