<tamin-modal #mapModal>
  <div [attr.id]="id" style="width: 100%; height: 400px" class="map" dir="ltr" #theMap></div>
</tamin-modal>
<div class="page-title">21- قراردادهای درآمدی</div>
<div class="panel">
  <div class="page-title">جستجو</div>
  <div class="panel-body">
    <form [formGroup]="form" autocomplete="off" novalidate>
      <div class="form-control-container">
        <div class="row">
          <div class="col-4">
            <tamin-field-label formControlName="contractNumber">شماره قرارداد </tamin-field-label>
            <tamin-field-number formControlName="contractNumber"></tamin-field-number>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="contractDate">تاریخ قرارداد</tamin-field-label>
            <tamin-field-persian-date formControlName="contractDate"></tamin-field-persian-date>
          </div>
<!--          <div class="col-4">-->
<!--          <tamin-field-label formControlName="workshopId">شماره کارگاه</tamin-field-label>-->
<!--          <tamin-field-number formControlName="workshopId"></tamin-field-number>-->
<!--        </div>-->
          <div class="col-4">
            <tamin-field-label formControlName="signingContract">واگذارنده کار</tamin-field-label>
            <tamin-field-text formControlName="signingContract"></tamin-field-text>
          </div>
        </div>
      </div>
    </form>
    <p style="margin-top:5px;">
      <button type="button" (click)="onSearch()" class="button normal" [disabled]="!form.valid">جستجو
      </button>
      <button type="button" class="button normal dark" (click)="resetSearch()">نمایش همه</button>
    </p>
  </div>
</div>
<div class="row">
  <tamin-data-grid #dataGrid (itemAction)="onAction($event)" ></tamin-data-grid>
  <button type="submit" class="button normal" (click)="onNew()">جدید</button>
  <button type="button" class="button normal orange" (click)="onBackIncome()">صفحه قبلی</button>
  <button type="button" class="button normal orange" (click)="onComplete()">تکمیل اطلاعات(صفحه بعدی)</button>
  <button type="button" class="button normal orange" (click)="back()">برگشت به صفحه اصلی</button>
</div>





