<div class="alert alert-info">
  <!--<i class="icon-lightbulb"></i>-->
  <span>
    <p>
      - اطلاعات هویتی شما بر اساس اطلاعات حساب کاربری که ایجاد کرده اید نمایش داده می شود.
    </p>
    <p>- مشخصات هویتی خود را تکمیل نمایید.</p>
    <p>- شهر محل تولد و صدور را از لیست انتخاب نمایید.</p>
    <!--<p>تاریخ را از چپ به راست به صورت 8 رقمی (در قالب روز ماه سال)و بدون درج علامت "/" وارد کنید.(مثال تاریخ 1351/8/16 را به صورت 13510816 و تاریخ 1364/11/2 را به صورت 13651102 درج نمایید.</p>-->
  </span>
</div>
<div class="panel-body">
  <form [formGroup]="formpersonalbase" novalidate>
    <div class="form-control-container row">
      <div class="col-6 col-s-6" style="padding-right:5px;">
        <tamin-field-label formControlName="nationalId">کد ملی</tamin-field-label>
        <tamin-field-validator formControlName="nationalId"></tamin-field-validator>
        <tamin-field-natioanl-id formControlName="nationalId"></tamin-field-natioanl-id>
      </div>
      <div class="col-6 col-s-6" style="padding-right:5px;">
        <tamin-field-label formControlName="dateOfBirth">تاریخ تولد</tamin-field-label>
        <tamin-field-persian-date formControlName="dateOfBirth"></tamin-field-persian-date>
      </div>
      <div class="col-6 col-s-6" style="padding-right:5px;">
        <tamin-field-label formControlName="firstName">نام</tamin-field-label>
        <tamin-field-validator formControlName="firstName"></tamin-field-validator>
        <tamin-field-persian-text formControlName="firstName"></tamin-field-persian-text>
      </div>
      <div class="col-6 col-s-6" style="padding-right:5px;">
        <tamin-field-label formControlName="lastName">نام خانوادگی</tamin-field-label>
        <tamin-field-validator formControlName="lastName"></tamin-field-validator>
        <tamin-field-persian-text formControlName="lastName"></tamin-field-persian-text>
      </div>
      <!--<div class="col-6 col-s-6" style="padding-right:5px;">-->
      <!--<tamin-field-label formControlName="idCardNumber">شماره شناسنامه</tamin-field-label>-->
      <!--<tamin-field-validator formControlName="idCardNumber"></tamin-field-validator>-->
      <!--<tamin-field-mask formControlName="idCardNumber" regex="^\d+$"></tamin-field-mask>-->
      <!--</div>-->
      <!--<div class="col-6 col-s-6" style="padding-right:5px;">-->
      <!--<tamin-field-label formControlName="fatherName">نام پدر</tamin-field-label>-->
      <!--<tamin-field-validator formControlName="fatherName"></tamin-field-validator>-->
      <!--<tamin-field-persian-text formControlName="fatherName"></tamin-field-persian-text>-->
      <!--</div>-->
      <div class="col-6 col-s-6" style="padding-right:5px;">
        <tamin-field-label formControlName="cityOfBirthId">شهر محل تولد</tamin-field-label>
        <tamin-field-auto-complete-data-grid formControlName="cityOfBirthId" placeholder="واحد صادر کننده" #cityOfBirth></tamin-field-auto-complete-data-grid>
        <div  class="hint">
          <i class="icon-lightbulb"></i>
          <span>قسمتی از نام شهر را تایپ نمایید.</span>
        </div>
      </div>
      <div class="col-6 col-s-6" style="padding-right:5px;">
        <tamin-field-label formControlName="cityOfIssueId">شهر محل صدور</tamin-field-label>
        <tamin-field-auto-complete-data-grid formControlName="cityOfIssueId" placeholder="واحد صادر کننده" #cityOfIssuance></tamin-field-auto-complete-data-grid>
        <div  class="hint">
          <i class="icon-lightbulb"></i>
          <span>قسمتی از نام شهر را تایپ نمایید.</span>
        </div>
      </div>
      <!--<div class="col-6 col-s-6" style="padding-right:5px;">-->
      <!--<tamin-field-label formControlName="gender">جنسیت:</tamin-field-label>-->
      <!--<tamin-field-combo-box-static formControlName="gender" [dataItems]="genders" displayField="name" valueField="value"></tamin-field-combo-box-static>-->
      <!--</div>-->
    </div>
  </form>
</div>