<form [formGroup]="searchForm" autocomplete="off" novalidate
      (ngSubmit)="searchFormSubmit()">
  <div class="form-control-container row">
    <div class="row">
      <div class="col-6" style="padding: 3px;">
        <tamin-field-label formControlName="nationalCode">کد ملی:</tamin-field-label>
        <tamin-field-validator formControlName="nationalCode"></tamin-field-validator>
        <tamin-field-text formControlName="nationalCode" placeholder="کد ملی"></tamin-field-text>
      </div>
      <div class="col-6" style="padding: 3px;" [hidden]="isHidden">
        <tamin-field-label formControlName="ticketCode">کد اعتباری:</tamin-field-label>
        <tamin-field-validator formControlName="ticketCode"></tamin-field-validator>
        <tamin-field-text formControlName="ticketCode" placeholder="کد اعتباری"></tamin-field-text>
      </div>
      <div class="col-3" style="padding: 3px;">
        <tamin-field-label formControlName="eblaghNo">شماره</tamin-field-label>
        <tamin-field-validator formControlName="eblaghNo"></tamin-field-validator>
        <tamin-field-text formControlName="eblaghNo"></tamin-field-text>
      </div>
      <div class="col-3" style="padding: 3px;">
        <tamin-field-label formControlName="type">نام سیستم</tamin-field-label>
        <tamin-field-validator formControlName="type"></tamin-field-validator>
        <tamin-field-combo-box formControlName="type" #type></tamin-field-combo-box>
      </div>
      <div class="col-3" style="padding: 3px;">
        <tamin-field-label formControlName="subType">موضوع</tamin-field-label>
        <tamin-field-validator formControlName="subType"></tamin-field-validator>
        <tamin-field-combo-box formControlName="subType" #subType></tamin-field-combo-box>
      </div>
      <div class="col-3" style="padding: 3px;">
        <tamin-field-label formControlName="workshopCode">کدکارگاه</tamin-field-label>
        <tamin-field-validator formControlName="workshopCode"></tamin-field-validator>
        <tamin-field-text formControlName="workshopCode"></tamin-field-text>
      </div>
      <div class="col-3" style="padding: 3px;">
        <tamin-field-label formControlName="pyman">ردیف پیمان</tamin-field-label>
        <tamin-field-validator formControlName="pyman"></tamin-field-validator>
        <tamin-field-text formControlName="pyman"></tamin-field-text>
      </div>
      <div class="col-3" style="padding: 3px;">
        <tamin-field-label formControlName="branchCode">شعبه</tamin-field-label>
        <tamin-field-validator formControlName="branchCode"></tamin-field-validator>
        <tamin-field-auto-complete-data-grid formControlName="branchCode" #branch></tamin-field-auto-complete-data-grid>
      </div>
      <div class="col-3" style="padding: 3px;">
        <tamin-field-label formControlName="docDateFrom">تاریخ صدور از</tamin-field-label>
        <tamin-field-validator formControlName="docDateFrom"></tamin-field-validator>
        <tamin-field-persian-date formControlName="docDateFrom"></tamin-field-persian-date>
      </div>
      <div class="col-3 " style="padding: 3px;">
        <tamin-field-label formControlName="docDateTo">تاریخ صدور تا</tamin-field-label>
        <tamin-field-validator formControlName="docDateTo"></tamin-field-validator>
        <tamin-field-persian-date formControlName="docDateTo"></tamin-field-persian-date>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="button-container">
          <button type="button" class="button normal" (click)="sendUserTicket()" [disabled]="!searchForm.valid"  [hidden]="isHidden">دریافت کد اعتباری</button>
          <button type="submit" class="button normal" [disabled]="!isDisabled" >جستجو</button>
          <button type="button" class="button normal orange" (click)="resetForm()">پاک کردن فرم</button>
        </div>
      </div>
    </div>

<!--    <div class="col-3" style="padding: 3px;">-->
<!--      <tamin-field-label formControlName="nationalCode">کد ملی</tamin-field-label>-->
<!--      <tamin-field-validator formControlName="nationalCode"></tamin-field-validator>-->
<!--      <tamin-field-text formControlName="nationalCode"></tamin-field-text>-->
<!--    </div>-->

  </div>
<!--  <p style="margin-top:5px;">-->
<!--    <button type="submit" class="button normal">جستجو</button>-->
<!--    <button type="button" class="button normal dark" (click)="resetForm()">نمایش همه</button>-->
<!--  </p>-->
</form>

