<div class="panel" #panel>
  <div class="page-title">
    استعلام ارتباط فعال با سازمان تامین اجتماعی
  </div>
  <div class="alert alert-info">
    <p>- در این قسمت شما می توانید از وضعیت ارتباط خود با سازمان تامین اجتماعی اعم از بیمه شده اصلی یا تبعی، اشتغال در یک یا چند کارگاه، مستری بگیر یا بازمانده و ... مطلع شوید.</p>
  </div>
  <div class="panel-body">
    <!-- <tamin-data-grid #dataGrid> -->
      <tamin-data-grid #dataGrid [showLoadOverlay]="false">
    </tamin-data-grid>
  </div>
</div>
