<tamin-modal #theModal title="موافقتنامه کسر اقساط معوق" width="80%">
  <div style="border: solid 1px #ccc; padding: 10px; margin-bottom: 10px;max-height: 60vh; overflow: auto">
    <p style="font-weight: bold">
      با سلام
    </p>
    <p style="font-weight: normal">
      <span>احتراما اینجانب </span> {{data?.name}}
      <span> با شماره مستمری/بازمانده </span>
      <span  style="font-weight: bold">{{data?.pensionerId}}</span>
      <span>درخواست صدور گواهی کسر اقساط معوق جهت استفاده از تسهیلات  </span>
      <span  style="font-weight: bold">{{data?.bank}}</span>
      <span> ، </span>
      <span  style="font-weight: bold">{{data?.garanteeType}}</span>
      <span> را دارم</span>

    </p>
    <p style="font-weight: normal">
      <span>بدیهی است با صدور گواهی یاد شده به سازمان اختیار تام داده که در صورت عدم بازپرداخت اقساط، با اعلام </span>
      <span  style="font-weight: bold">{{data?.bank}}</span>
      <span> نسبت به کسر و ارسال اقساط معوق به </span>{{data?.bank}}
      <span> اقدام نماید </span>
    </p>

  </div>
  <div class="button-container">
    <button class="button normal" (click)="onAgree()">موافقم</button>
    <button class="button normal red" (click)="onDisagree()">موافق نیستم</button>
  </div>
</tamin-modal>

