<div class="alert alert-info">
  ثبت درخواست برقراری کفالت پدر
</div>
<form [formGroup]="theForm" autocomplete="off" autocomplete="off" novalidate>
  <app-guardian-ins-info #guardianInsInfoComponent></app-guardian-ins-info>
  <div class="row">
    <div class="col-6" style="padding: 15px">
      <tamin-field-label formControlName="branchCode"> آخرین شعبه بیمه پردازی</tamin-field-label>
      <input [hidden]="branchWorkshop.length !== 1" [value]="branchWorkshop[0]?.name" class="tamin-form-control-input"
             readonly="readonly"
             style="background-color: #efeff0; border-color: #cacacb;" type="text">
      <tamin-field-combo-box-static [dataItems]="branchWorkshop" [hidden]="branchWorkshop.length === 1"
                                    displayField="name" formControlName="branchCode" placeHolder="انتخاب کنید ..."
                                    valueField="value"></tamin-field-combo-box-static>
    </div>
  </div>
  <div #panel class="panel">
    <div class="panel-title">ثبت اطلاعات افراد تحت تکفل</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-3">
          <tamin-field-label formControlName="requestType">نسبت فرد تحت تکفل</tamin-field-label>
          <tamin-field-validator formControlName="requestType"></tamin-field-validator>
          <tamin-field-combo-box-static [dataItems]="requestTypeList" displayField="name"
                                        formControlName="requestType" placeHolder="انتخاب کنید ..."
                                        valueField="value">
          </tamin-field-combo-box-static>
        </div>
      </div>
      <div class="row">
        <div class="col-2" style="padding: 3px;">
          <tamin-field-label formControlName="nationalIdFather">کدملی پدر:</tamin-field-label>
          <ng-container *ngIf="theForm.controls.nationalIdFather?.touched && !theForm.controls.nationalIdFather?.valid">
              <span *ngIf="theForm.controls.nationalIdFather.errors.required" class="tamin-form-control-error">
                <span style="color: #b00020;">مقدار فیلد الزامی می باشد</span>
              </span>
            <span *ngIf="theForm.controls.nationalIdFather.errors.pattern" class="tamin-form-control-error">
              <span style="color: #b00020;">مقدار 10 رقمی وارد شود</span>
            </span>
          </ng-container>
          <tamin-field-mask formControlName="nationalIdFather" regex="^[۰۱۲۳۴۵۶۷۸۹0-9]{1,10}$"
                            [placeHolder]="'کدملی پدر'"></tamin-field-mask>
        </div>
        <div class="col-2" style="padding-right:5px;">
          <tamin-field-label formControlName="birthDateFather">تاریخ تولد:</tamin-field-label>
          <tamin-field-persian-date formControlName="birthDateFather"></tamin-field-persian-date>
        </div>
        <div class="col-2">
          <tamin-field-label formControlName="fullNameFather"> نام و نام خانوادگی پدر</tamin-field-label>
          <tamin-field-static-text formControlName="fullNameFather"></tamin-field-static-text>
        </div>

        <div class="col-3">
          <tamin-field-label formControlName="ageFather">سن:</tamin-field-label>
          <tamin-field-static-text formControlName="ageFather" placeholder="سن"></tamin-field-static-text>
          <div class="hint"><i class="icon-lightbulb"></i><span>	 سن پدر کمتر از 60  حائز شرایط سنی نمی باشد.</span>
          </div>

        </div>
        <div class="col-3">
          <tamin-field-label formControlName="insuranceStatusFather">وضعیت بیمه پردازی پدر</tamin-field-label>
          <tamin-field-validator formControlName="insuranceStatusFather"></tamin-field-validator>
          <tamin-field-static-text formControlName="insuranceStatusFather"></tamin-field-static-text>
          <div class="hint"><i class="icon-lightbulb"></i><span>در صورت بیمه پردازی امکان برقراری کفالت نمی باشد.</span>
          </div>
        </div>
        <div class="col-12">
          <button (click)="getOfficeData()" [disabled]="isDisabledOffice" class="button normal" type="button">دریافت
            اطلاعات از ثبت احوال
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="panel">
    <div class="panel-title">اطلاعات محل سکونت پدر</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-6">
          <tamin-field-label formControlName="expCityCode">نام شهر صدور شناسنامه پدر</tamin-field-label>
          <tamin-field-auto-complete-data-grid formControlName="expCityCode" placeholder="نام شهر :"
                                               #expCityCombo></tamin-field-auto-complete-data-grid>
        </div>
        <div class="col-6">
          <tamin-field-label formControlName="birthCityCode">نام شهر تولد پدر</tamin-field-label>
          <tamin-field-auto-complete-data-grid formControlName="birthCityCode" placeholder="نام شهر :"
                                               #birthCityCombo></tamin-field-auto-complete-data-grid>
        </div>
      </div>
      <div class="row">
        <div class="col-9" style="padding-right:5px;">
          <tamin-field-label formControlName="address">نشانی محل سکونت پدر:</tamin-field-label>
          <tamin-field-validator formControlName="address"></tamin-field-validator>
          <tamin-field-text [placeHolder]="'نشانی محل سکونت پدر'" formControlName="address"></tamin-field-text>
          <!--          <div class="hint"><i class="icon-lightbulb"></i><span>اطلاعات هویتی (کد ملی و تاریخ تولد) فرد یا افراد مورد نظر جهت برقراری تکفل را وارد نمایید .</span></div>-->
        </div>
        <div class="col-3" style="padding-right:5px;">
          <tamin-field-label formControlName="zipCode">کدپستی</tamin-field-label>
          <ng-container *ngIf="theForm.controls.zipCode?.touched && !theForm.controls.zipCode?.valid">
              <span *ngIf="theForm.controls.zipCode.errors.required" class="tamin-form-control-error">
                <span style="color: #b00020;">مقدار فیلد الزامی می باشد</span>
              </span>
            <span *ngIf="theForm.controls.zipCode.errors.pattern" class="tamin-form-control-error">
              <span style="color: #b00020;">مقدار 10 رقمی وارد شود</span>
            </span>
          </ng-container>
          <tamin-field-mask [placeHolder]="'کدپستی'" formControlName="zipCode"
                            regex="^[۰۱۲۳۴۵۶۷۸۹0-9]{1,10}$"></tamin-field-mask>
        </div>
      </div>
    </div>
  </div>

  <div class="panel">
    <div class="panel-title">تصاویر مدارک و مستندات</div>
    <div class="panel-body">

      <div class="row">
        <div class="col-6">
          <tamin-field-label formControlName="type">نوع مدرک</tamin-field-label>
          <tamin-field-combo-box-static #typeCombo displayField="name" formControlName="type"
                                        placeHolder="انتخاب کنید ..." valueField="value"></tamin-field-combo-box-static>
          <div class="hint" style="padding: 5px 12px 15px;">
            <i class="icon-lightbulb"></i><span [ngClass]="{'red-missing-hint': guardianDocumentMissing}">
        	بارگذاری تصاویر شناسنامه قید شده در قسمت بالا الزامی می باشد.</span><br>
            <i class="icon-lightbulb"></i><span [ngClass]="{'red-missing-hint': guardianDocumentMissing}">
        	در صورت احراز شرایط سنی، بارگذاری گواهی پزشک معالج اجباری نمی باشد.</span>
          </div>
        </div>
        <div [ngClass]="{'missing': guardianDocumentMissing}" class="col-12">
          <button (click)="addImage()" class="button normal" style="margin: 12px">
            <span><i class="icon-plus"></i><span>بارگذاری مدرک جدید</span></span></button>
          <tamin-image-gallery-managed #imageGallery [maxImageSize]="500"></tamin-image-gallery-managed>
          <div class="alert alert-info">
            توجه: تصویر می بایست در قالب (jpeg) بوده و اندازه آن حداکثر ۵۰۰ کیلو بایت باشد.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="padding: 8px">
    <button (click)="saveData()" [disabled]="isDisabledConfirm" class="button normal" type="button">ثبت درخواست کفالت
    </button>
    <button (click)="return()" class="button normal red" type="button">انصراف</button>
  </div>
</form>
