<!--<div class="header">
  <div class="row">
    <div class="col-3 col-s-3 logo">
      <a href="/" class="logo-background"></a>
    </div>
  </div>
</div>-->
<div class="gov-main-container">
  <div class="gov-main-top-container">
    <div class="gov-main-flag"></div>
    <div class="gov-main-logo"></div>
  </div>
  <div style="margin: 15px">
    <div class="alert alert-warning" style="background-color: rgb(29, 108, 220)">
      <h3 style="text-align: center;color:white">
        به سامانه استعلامات رسمی سازمان تامین اجتماعی خوش آمدید
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="gov-main-button">
      <button style="width: 350px;" type="button" class="button normal blue" (click)="redirectTo('/gov/inquiry')">
        <i class="icon-plus-circled"></i>
        <a>استعلام سند ( از طریق ارائه کد رمز توسط متقاضی )</a>
      </button>
      <br/>
      <!--<button style="width: 300px;" type="button" disabled="disabled" class="button normal blue" (click)="onButtonClicked('sup-pck-reg')">
        <i class="icon-plus-circled"></i>
        <a>ثبت درخواست دریافت بسته حمایتی دولت</a>
      </button>-->
      <button style="width: 350px;" type="button" disabled="disabled" class="button normal orange" (click)="onButtonClicked('follow-up')">
        <i class="icon-user"></i>
        <span>پیگیری درخواست های ثبت شده بسته حمایتی دولت</span>
      </button>
      <br/>
      <button style="width: 350px;" type="button"class="button normal blue" (click)="onButtonClicked('ease-of-business-development')">
        <p>شاخص سهولت انجام کسب و کار بانک جهانی</p>
        <p>World Bank's Ease of Business Development Index</p>
      </button>
      <br/>
      <button style="width: 350px;" type="button" class="button normal blue" (click)="onButtonClicked('important-papers')">
        <p>اوراق خزانه اسلامی</p>
      </button>
      <br/>
      <button style="width: 350px;" type="button"class="button normal blue" (click)="redirectTo('/rightel')">
        <p>پنل اختصاصی شرکت های توزیع دفترچه</p>
      </button>
      <br/>
      <button style="width: 350px;" type="button"class="button normal blue" (click)="onButtonClicked('insured-status')">
        <p>استعلام وضعیت بیمه شده</p>
      </button>
      <br/>
      <button style="width: 350px;" type="button"class="button normal blue" (click)="onButtonClicked('pension-inquiry')">
        <p>استعلام وضعیت مستمری بگیر</p>
      </button>
    </div>
  </div>
</div>
