.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  padding: 5px 13px;
}

tamin-field-text-area .tamin-form-control-input {
  margin: 16px 0px 2px;
}

.row-custom {
  border-top: 1px outset #b1b1b1;
  padding: 6px;
  margin: 6px;
}

.invalid{
  border:2px solid #aeae34;
}

.valid{
  background-color: #27ae60;
}

.identityBox {
  /*border-right: 14px outset white;
  border-width: 0 16px 0 0;
  margin: 13px 12px;*/
  padding: 5px 0px !important;
}

.status-selected {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}


.is-active{
  background-color:#27ae60;
  padding: 5px;
  border-radius: 5px;
  color: white;
  height:30px;
  text-align: center;
}
.de-active {
  background-color:#999999;
  padding: 5px;
  color: white;
  border-radius: 5px;
  height:30px;
  text-align: center;
}

.status-selected span::after {
  content: ' ';
}

.customized-row {
  padding: 10px;
  display: flex;
  flex-flow: wrap;
}

.missing{
  border: 1px dotted red;
  border-radius: 5px;
  margin: 0px 0px 8px;
  padding: 15px;
}

.left-add-bottom {
  margin: 13px 12px;
  padding: 10px 6%;
  float: left;
}

.main-button {
  padding: 10px 8%;
  margin: 15px;
}

.main-left {
  padding: 10px 6%;
  margin: 0px 22px;
  float: left;
}

.marginize {
  margin: 0px 0px 15px;
}

@media (min-width: 840px) {
  .status-selected {
    display: flex;
    align-items: center;
  }
  .is-active{
    width: 25%;
    margin: 6px;
  }
  .de-active{
    width: 25%;
    margin: 6px;
  }
}

@media (min-width: 335px) {
  .main-button:not(:first-child) {
    float: left;
  }
}
@media (max-width: 870px){

  .status-selected {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
  }

  .is-active{
    float: right;
    min-width: 205px;
    margin: 4px;
  }

  .de-active {
    float: right;
    min-width: 205px;
    margin: 4px;
  }
}
