<div class="panel">
  <div class="panel-body">
    <form [formGroup]="newForm" autocomplete="off" novalidate>
      <div class="row">
        <div class="col-4">
          <tamin-field-label formControlName="workshopId">کارگاه</tamin-field-label>
          <tamin-field-validator formControlName="workshopId"></tamin-field-validator>
          <tamin-field-auto-complete-data-grid formControlName="workshopId"
                                               #workshop></tamin-field-auto-complete-data-grid>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="contactNumber">ردیف پیمان</tamin-field-label>
          <tamin-field-static-text formControlName="contactNumber"></tamin-field-static-text>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <button type="button" class="button normal" style="width: 100%" (click)="file1.click()">انتخاب فایل اطلاعات
            ماهیانه بیمه شدگان
          </button>
          <input type="file" style="visibility: hidden" #file1 (change)="onFile1Change($event)">
        </div>
        <div class="col-4">
          <tamin-field-static-text formControlName="fileName1"></tamin-field-static-text>
        </div>
        <div class="col-4" style="padding: 15px; color: red"
             *ngIf="newForm.get('file1').touched && !newForm.get('file1').valid">
          فایل انتخاب نشده است
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <button type="button" class="button normal" style="width: 100%" (click)="file2.click()">انتخاب فایل اطلاعات
            ماهیانه کارگاه
          </button>
          <input type="file" style="visibility: hidden" #file2 (change)="onFile2Change($event)">
        </div>
        <div class="col-4">
          <tamin-field-static-text formControlName="fileName2"></tamin-field-static-text>
        </div>
        <div class="col-4" style="padding: 15px; color: red"
             *ngIf="newForm.get('file2').touched && !newForm.get('file2').valid">
          فایل انتخاب نشده است
        </div>
      </div>
      <div class="row">
        <div class="col-12" style="padding-top: 10px">
          <div class="button-container">
            <button type="button" class="button normal" (click)="onSave()">ذخیره</button>
            <button type="button" class="button normal dark" (click)="redirectTo('il/workshop-history')">بازگشت به
              لیست
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="alert alert-danger" *ngIf="errors.length != 0">
  <ng-container *ngFor="let item of errors">
    <p><i class="icon-cancel">{{item}}</i></p>
  </ng-container>
</div>
