<div class="page-title"> لیست کارگاه ها</div>
<div class="panel-body">
  <tamin-data-grid #workshopListGrid (onItemAction)="onItemAction($event)"></tamin-data-grid>
</div>
<tamin-modal #theModal title="تغییر نام کارگاه ">
  <form [formGroup]="editNameForm" autocomplete="off" novalidate (ngSubmit)="editNameFormSubmit()">
    <div class="form-control-container">
      <div class="row">
        <div class="col-12">
          <tamin-field-label formControlName="name">نام کارگاه</tamin-field-label>
          <tamin-field-static-text formControlName="name" placeholder="نام کارگاه"></tamin-field-static-text>
          <tamin-field-text formControlName="workshopName" placeholder="نام کارگاه "></tamin-field-text>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="button-container">
            <button type="submit" class="button normal">ذخیره</button>
            <button type="button" class="button normal dark" (click)="exitconflictEditForm()">انصراف</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</tamin-modal>
