<div class="page-title">انعقاد قرارداد کسری از ماه</div>
<div class="row">
    <form [formGroup]="theForm" autocomplete="off" novalidate>
      <div class="col-1 col-s-1">
        <p class="marg-top">
         کد ملی
        </p>
      </div>
      <div class="col-1 col-s-1">
        <tamin-field-text formControlName="month"></tamin-field-text>
      </div>
      <div class="col-2 col-s-2">
        <button class="button normal green" (click)="onCalcPremium()">انتخاب کدملی</button>
      </div>
    </form>
  </div>