<div class="panel col-6 col-s-6">
  <div class="panel-title">ثبت صورت ريز ذخاير </div>
  <div class="panel-body">
    <form [formGroup]="editForm" autocomplete="off" novalidate (ngSubmit)="onSave(editForm.value)">
      <div class="form-control-container">
        <div class="panel col-12 col-s-12">
        <div class="row">
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="endDate">منتهی به تاریخ</tamin-field-label>
            <tamin-field-static-persian-date formControlName="endDate" placeholder=""></tamin-field-static-persian-date>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="saveSalary">ذخيره حقوق</tamin-field-label>
            <tamin-field-validator formControlName="saveSalary"></tamin-field-validator>
            <tamin-field-text formControlName="saveSalary"></tamin-field-text>
          </div>

          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="saveBenefitServiceTerminat">ذخيره مزاياي پايان خدمت</tamin-field-label>
            <tamin-field-validator formControlName="saveBenefitServiceTerminat"></tamin-field-validator>
            <tamin-field-text formControlName="saveBenefitServiceTerminat"></tamin-field-text>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="savePaidLeave">ذخيره مرخصي</tamin-field-label>
            <tamin-field-validator formControlName="savePaidLeave"></tamin-field-validator>
            <tamin-field-text formControlName="savePaidLeave"></tamin-field-text>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="saveAudit">ذخيره حسابرسي</tamin-field-label>
            <tamin-field-validator formControlName="saveAudit"></tamin-field-validator>
            <tamin-field-text formControlName="saveAudit"></tamin-field-text>
          </div>

          <div class="col-6 col-s-6">
          <tamin-field-label formControlName="otherSave">ساير ذخاير</tamin-field-label>
            <tamin-field-validator formControlName="otherSave"></tamin-field-validator>
          <tamin-field-text formControlName="otherSave"></tamin-field-text>
        </div>
          <div class="col-6 col-s-6">
          <tamin-field-label formControlName="totalSumReserves">جمع کل</tamin-field-label>
            <tamin-field-validator formControlName="totalSumReserves"></tamin-field-validator>
          <tamin-field-text formControlName="totalSumReserves"></tamin-field-text>
        </div>
        </div>
          <div class="row">
            <p>کاربر گرامی تمامی فیلدها باید مقدار داشته باشد چنانچه مقدار آن خالی است با  0 پر گردد .</p>
            <p>کاربر گرامي، مبالغ به ریال میباشد. </p>
          </div>

        </div>
      </div>
      <div class="col-12 col-s-12">
        <button #submitButton type="submit" class="button normal">ذحیره </button>
        <button type="button" class="button normal orange" (click)="back()">انصراف</button>
      </div>
    </form>
  </div>
</div>
