<div>
  <div class="alert alert-info condition-list">
    <h4>شرایط دریافت کمک هزینه ازدواج طبق ماده ۸۵ تامین اجتماعی</h4>
    <p><span>۱ -</span><span>ازدواج اول بیمه شده باشد.</span></p>
    <p><span>۲ -</span><span>در تاریخ عقد رابطه او با کارفرما قطع نشده باشد (حق بیمه ماه وقوع عقد توسط کارفرما پرداخت شده باشد).</span></p>
    <p><span>۳ -</span><span>ظرف پنج سال قبل از تاریخ عقد حق بیمه حداقل ۷۲۰ روز کار را به سازمان پرداخت نموده باشد.</span></p>
    <p><span>۴ -</span><span>عقد ازدواج دائم باشد.</span></p>
  </div>
</div>
