<div class="panel col-6 col-s-6">
  <div class="panel-title">  ثبت و نگهداری موجودی جنسی </div>
  <div class="panel-body">
    <form [formGroup]="editForm" autocomplete="off" novalidate (ngSubmit)="onSave(editForm.value)">
      <div class="form-control-container">
        <div class="panel col-12 col-s-12">
        <div class="row">
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="endDate">منتهی به تاریخ</tamin-field-label>
            <tamin-field-validator  formControlName="endDate" ></tamin-field-validator>
            <tamin-field-static-persian-date formControlName="endDate" placeholder=""></tamin-field-static-persian-date>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="inventoryBeginningPeriod">موجودی های اول دوره</tamin-field-label>
            <tamin-field-validator  formControlName="inventoryBeginningPeriod" ></tamin-field-validator>
            <tamin-field-number formControlName="inventoryBeginningPeriod"></tamin-field-number>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="inventoryGoodsMade">موجودی کالا ساخته شده</tamin-field-label>
            <tamin-field-validator  formControlName="inventoryGoodsMade" ></tamin-field-validator>
            <tamin-field-number formControlName="inventoryGoodsMade"></tamin-field-number>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="inventoryGoodsUnderCostruct">موجودی کالا در جریان ساخت</tamin-field-label>
            <tamin-field-validator  formControlName="inventoryGoodsUnderCostruct" ></tamin-field-validator>
            <tamin-field-number formControlName="inventoryGoodsUnderCostruct"></tamin-field-number>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="inventoryRawMaterials">موجودی مواد اولیه</tamin-field-label>
            <tamin-field-validator  formControlName="inventoryRawMaterials" ></tamin-field-validator>
            <tamin-field-number formControlName="inventoryRawMaterials"></tamin-field-number>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="inventorySpareParts">موجودی لوازم یدکی</tamin-field-label>
            <tamin-field-validator  formControlName="inventorySpareParts" ></tamin-field-validator>
            <tamin-field-number formControlName="inventorySpareParts"></tamin-field-number>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="inventorySupplies">موجودی ملزومات</tamin-field-label>
            <tamin-field-validator  formControlName="inventorySupplies" ></tamin-field-validator>
            <tamin-field-number formControlName="inventorySupplies"></tamin-field-number>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="manufacturingOrders">سفارشات ساخت</tamin-field-label>
            <tamin-field-validator  formControlName="manufacturingOrders" ></tamin-field-validator>
            <tamin-field-number formControlName="manufacturingOrders"></tamin-field-number>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="shippingCharges">هزینه های حمل</tamin-field-label>
            <tamin-field-validator  formControlName="shippingCharges" ></tamin-field-validator>
            <tamin-field-number formControlName="shippingCharges"></tamin-field-number>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="totalSumStock">جمع کل</tamin-field-label>
            <tamin-field-validator  formControlName="totalSumStock" ></tamin-field-validator>
            <tamin-field-number formControlName="totalSumStock"></tamin-field-number>
          </div>
        </div>
        <div class="row">

          <p>کاربر گرامی تمامی فیلدها باید مقدار داشته باشد چنانچه مقدار آن خالی است با  0 پر گردد .</p>
          <p>کاربر گرامي، مبالغ به ریال میباشد. </p>
        </div>
      </div>
      </div>
      <div class="panel col-12 col-s-12">
        <button #submitButton type="submit" class="button normal">ذحیره </button>
        <button type="button" class="button normal orange" (click)="back()">انصراف</button>
      </div>
    </form>
  </div>
</div>
