<tamin-modal #theModal title="موافقتنامه عضویت و بهره برداری از سرویس های غیر حضوری سازمان تامین اجتماعی" width="80%">
  <div style="border: solid 1px #ccc; padding: 10px; margin-bottom: 10px;max-height: 60vh; overflow: auto">
    <p style="font-weight: bold">
      این موافقتنامه ، یک توافق قانونی به منظور عضویت و بهره برداری از سرویس های غیر حضوری سازمان تامین اجتماعی می باشد
      که
      بین سازمان مذکور و جامعه تحت پوشش آن که به ترتیب سازمان و مخاطبان نامیده می شوند ، منعقد می گردد.
    </p>
    <p style="font-weight: bold">
      استفاده از سرویس های غیرحضوری سازمان تحت شرایط این موافقتنامه خواهد بود.
    </p>
    <ol style="padding: 20px; text-align: justify;">
      <li>
       بیمه شده محترم ، قبل از ارسال سابقه به صندوق شخصی تان برای اعلام سابقه، لطفا تمامی سوابق خود را مشاهده و بررسی نمایید
        و درصورت اطمینان از صحت سابقه آن را ارسال بفرمایید ، در غیر اینصورت برای تکمیل و اصلاح سابقه خود از منوی اعتراض به سابقه ،اقدام به ثبت درخواست اعتراض خود نمایید.
      </li>
    </ol>
  </div>
  <div class="button-container">
    <button class="button normal" (click)="onAgree()"> موافقم</button>
    <button class="button normal red" (click)="onDisagree()">موافق نیستم</button>
  </div>
</tamin-modal>
