<div class="mofasa-container">
  <div class="mofasa-top-container">
    <div class="mofasa-flag"></div>
    <div class="mofasa-logo"></div>
  </div>
  <div style="margin: 15px">
    <div class="alert alert-warning" style="background-color: rgb(112, 139, 61)">
      <h2 style="text-align: center;color:white">
        بخش مربوط به سرویس های ماده 38 قانون تامین اجتماعی
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="mofasa-button">
      <div class="col-6 col-s-6">
        <button style="width: 80%;" type="button" class="button normal blue" (click)="redirectTo('sso/mad38-fa')">
          <a>مفاصا حساب ماده 38 (شعب)</a>
        </button>
      </div>
      <div class="col-6 col-s-6">
        <button style="width: 80%;" type="button" class="button normal blue" (click)="redirectTo('sso/eblagh-mofasa')">
          <a>ابلاغ های ماده 38 قانون تامین اجتماعی</a>
        </button>
      </div>
    </div>
  </div>
</div>
