<div class="panel">
  <div class="panel-title">جستجو</div>
  <div class="panel-body">
    <form [formGroup]="searchForm" novalidate autocomplete="off">
      <div class="row">
        <div class="col-4">
          <tamin-field-label formControlName="prescType">نوع نسخه</tamin-field-label>
          <tamin-field-combo-box-static formControlName="prescType" displayField="name" valueField="value"
                                        #typeCombo></tamin-field-combo-box-static>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="prescDateFrom">تاریخ نسخه از</tamin-field-label>
          <tamin-field-persian-date formControlName="prescDateFrom" placeholder=""></tamin-field-persian-date>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="prescDateTo">تاریخ نسخه تا</tamin-field-label>
          <tamin-field-persian-date formControlName="prescDateTo" placeholder=""></tamin-field-persian-date>
        </div>
      </div>
    </form>
    <button type="submit"   class="button normal"  [disabled]="!searchForm.valid" (click)="searchFormSubmit(searchForm.value, searchForm.valid)">جستجو</button>
    <button type="button" class="button normal orange" (click)="resetForm()">پاک کردن فرم</button>
  </div>
</div>



