<div *ngIf="!showType">
  <div class="panel">
    <div class="page-title">
      اطلاعات هویتی
    </div>
    <div class="panel-body">
      <div class="row">
        <form [formGroup]="formpersonal" class="msform" autocomplete="off" novalidate (ngSubmit)="confirmStepOneClick(formpersonal.value, formpersonal.valid)">
          <fieldset>
            <div class="col-12 col-s-12">
              <div class="col-6 col-s-6">
                <div class="confirmation">
                  <h3 style="margin-top: 10px;">کد ملی :{{ personalModel?.nationalId | persianNumber}}</h3>
                  <h3 style="margin-top: 10px;">شماره تامین اجتماعی :{{ personalModel?.ssn | persianNumber}}</h3>
                  <h3 style="margin-top: 10px;">نام : {{ personalModel?.firstName }}</h3>
                  <h3 style="margin-top: 10px;">نام خانوادگی : {{ personalModel?.lastName }}</h3>
                  <h3 style="margin-top: 10px;">شماره شناسنامه
                    : {{ personalModel?.idCardNumber | persianNumber}}</h3>
                  <h3 style="margin-top: 10px;">شماره سری شناسنامه
                    : {{ personalModel?.idCardSerial1 | persianNumber}}</h3>
                  <h3 style="margin-top: 10px;">شماره سریال شناسنامه
                    : {{ personalModel?.idCardSerial2 | persianNumber}}</h3>
                </div>
              </div>
              <div class="col-6 col-s-6">
                <div class="confirmation">
                  <h3 style="margin-top: 10px;">تاریخ تولد : {{ personalModel?.dateOfBirth | persianNumber}}</h3>
                  <h3 style="margin-top: 10px;">جنسیت : {{ personalModel?.gender }}</h3>
                  <h3 style="margin-top: 10px;">کشور محل تولد : {{ personalModel?.countryId }}</h3>
                  <h3 style="margin-top: 14px;">ملیت : {{ personalModel?.nation }}</h3>
                  <h3 style="margin-top: 10px;">شهر محل تولد : {{ personalModel?.cityOfBirthName }}</h3>
                  <h3 style="margin-top: 10px;">شهر محل صدور : {{ personalModel?.cityOfIssueName}}</h3>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showType==='compact'" class="compact-container">
  <div class="row">
    <div class="col-12 col-s-12">
      <div style="margin-top: 10px;">کد ملی :{{ personalModel?.nationalId  | persianNumber}}</div>
      <div style="margin-top: 10px;">شماره تامین اجتماعی :{{ personalModel?.ssn  | persianNumber}}</div>
      <div style="margin-top: 10px;">نام : {{ personalModel?.firstName }}</div>
      <div style="margin-top: 10px;">نام خانوادگی : {{ personalModel?.lastName }}</div>
    </div>
  </div>
</div>
