<div class="alert alert-info">
  <i class="icon-lightbulb"></i>
  <span>امکان مشاهده مفاصاحساب های صادر شده جهت صدور و یا تمدید کارت بازرگانی برای کارفرمایان</span>
</div>
<div class="page-title">جستجوی کارگاه ها  </div>
<div class="panel-body">
  <form [formGroup]="workshopSearchForm" autocomplete="off" novalidate (ngSubmit)="onSearchSubmit()">
    <div class="form-control-container row">
      <div class="col-6 col-6-1" style="padding: 3px;">
        <tamin-field-label formControlName="workshopId">شماره کارگاه:</tamin-field-label>
        <tamin-field-validator formControlName="workshopId"></tamin-field-validator>
        <tamin-field-text formControlName="workshopId" placeholder="شماره کارگاه"></tamin-field-text>
      </div>
      <div class="col-6 col-6-1" style="padding: 3px;">
        <tamin-field-label formControlName="branchCode">کد شعبه:</tamin-field-label>
        <tamin-field-validator formControlName="branchCode"></tamin-field-validator>
        <tamin-field-text formControlName="branchCode" placeholder="کد شعبه"></tamin-field-text>
      </div>
      <p style="margin-top:5px;">
        <button type="submit" class="button normal" [disabled]="!workshopSearchForm.valid">جستجو</button>
        <button type="button" class="button normal orange" (click)="resetForm()">نمایش همه</button>
      </p>
    </div>
  </form>
</div>
<div class="page-title">لیست کارگاه ها</div>
<div class="panel-body">
  <tamin-data-grid #workshopGrid (itemSelect)="clickWorkshopGridItem($event)"></tamin-data-grid>
</div>
<div class="page-title">لیست مفاصاحساب ها - درخواست تمدید کارت بازرگانی</div>
<div class="panel-body">
  <tamin-data-grid #BusinessCardsGrid (itemAction)="onBusinessCardsGridAction($event)"></tamin-data-grid>
</div>
<tamin-modal #showCertificateDetailModal title="جزئیات مفاصا حساب">
  <form [formGroup]="showCertificateDetailFrom" autocomplete="off" novalidate>
    <div class="form-control-container">
      <div class="col-6 col-s-12">
        <tamin-field-label formControlName="reportWorkshopId">کد کارگاه</tamin-field-label>
        <tamin-field-static-text formControlName="reportWorkshopId"></tamin-field-static-text>
      </div>
      <div class="col-6 col-s-12">
        <tamin-field-label formControlName="workshopName">نام کارگاه</tamin-field-label>
        <tamin-field-static-text formControlName="workshopName"></tamin-field-static-text>
      </div>
      <div class="col-4 col-s-12">
        <tamin-field-label formControlName="reportBranchCode">کد شعبه</tamin-field-label>
        <tamin-field-static-text formControlName="reportBranchCode"></tamin-field-static-text>
      </div>
      <div class="row">
        <div class="col-4 col-s-12">
          <tamin-field-label formControlName="letterNumber">شماره نامه</tamin-field-label>
          <tamin-field-static-text formControlName="letterNumber"></tamin-field-static-text>
        </div>
        <div class="col-4 col-s-12">
          <tamin-field-label formControlName="letterDate">تاریخ نامه</tamin-field-label>
          <tamin-field-static-text formControlName="letterDate"></tamin-field-static-text>
        </div>
        <div class="col-4 col-s-12">
          <tamin-field-label formControlName="requestDesc">موضوع درخواست</tamin-field-label>
          <tamin-field-static-text formControlName="requestDesc"></tamin-field-static-text>
        </div>
        <div class="col-4 col-s-12">
          <tamin-field-label formControlName="requestNumber">شماره درخواست</tamin-field-label>
          <tamin-field-static-text formControlName="requestNumber"></tamin-field-static-text>
        </div>
        <div class="col-4 col-s-12">
          <tamin-field-label formControlName="requestDate">تاریخ درخواست</tamin-field-label>
          <tamin-field-static-text formControlName="requestDate"></tamin-field-static-text>
        </div>
        <div class="col-4 col-s-12">
          <tamin-field-label formControlName="requestingUnit">جهت ارائه به</tamin-field-label>
          <tamin-field-static-text formControlName="requestingUnit"></tamin-field-static-text>
        </div>
        <div class="col-4 col-s-12">
          <tamin-field-label formControlName="requestStatus">وضعیت درخواست</tamin-field-label>
          <tamin-field-static-text formControlName="requestStatus"></tamin-field-static-text>
        </div>
        <div class="col-4 col-s-12">
          <tamin-field-label formControlName="answerDesc">نتیجه بررسی</tamin-field-label>
          <tamin-field-static-text formControlName="answerDesc"></tamin-field-static-text>
        </div>
      </div>
    </div>
  </form>
</tamin-modal>