<div class="alert alert-info">
 لیست دفترچه های آماده تحویل ویژه شرکت رایتل
</div>
<div class="panel">
  <div class="page-title">جستجو</div>
  <div class="panel-body">
    <form [formGroup]="searchForm" autocomplete="off" novalidate>
      <div class="form-control-container">
        <div class="row">
          <div class="col-4">
            <tamin-field-label formControlName="province">استان</tamin-field-label>
            <tamin-field-auto-complete-data-grid formControlName="province"
                                                 #province></tamin-field-auto-complete-data-grid>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="city">شهر</tamin-field-label>
            <tamin-field-combo-box formControlName="city" #city></tamin-field-combo-box>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="branch">واحد صادر کننده</tamin-field-label>
            <tamin-field-combo-box formControlName="branch" #branch></tamin-field-combo-box>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="requestDateFrom">از تاریخ درخواست</tamin-field-label>
            <tamin-field-persian-date formControlName="requestDateFrom"></tamin-field-persian-date>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="requestDateTo">تا تاریخ درخواست</tamin-field-label>
            <tamin-field-persian-date formControlName="requestDateTo"></tamin-field-persian-date>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="nationalCode">کد ملی</tamin-field-label>
            <tamin-field-text formControlName="nationalCode"></tamin-field-text>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="recieveDateFrom">از تاریخ تحویل</tamin-field-label>
            <tamin-field-persian-date formControlName="recieveDateFrom"></tamin-field-persian-date>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="recieveDateTo">تا تاریخ تحویل</tamin-field-label>
            <tamin-field-persian-date formControlName="recieveDateTo"></tamin-field-persian-date>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="interval">زمان تحویل</tamin-field-label>
            <tamin-field-combo-box-static formControlName="interval" [dataItems]="intervals" valueField="value"
                                          displayField="name"></tamin-field-combo-box-static>
          </div>
          
        </div>
      </div>
    </form>
    <p style="margin-top:5px;">
      <button type="button" (click)="onSearch()" class="button normal" [disabled]="!searchForm.valid">جستجو
      </button>
      <button type="button" class="button normal dark" (click)="resetSearch()">نمایش همه</button>
    </p>

  </div>
</div>
<tamin-data-grid #dataGrid ></tamin-data-grid>
<div style="padding: 5px;margin: 5px" >
  <button type="button" class="button normal" (click)="printPDF()">خروجی PDF</button>
</div>