<div class="panel">
 <div class="panel-body"></div>
  <div class="row">
    <div class="page-title"> 8-دوره های رسیدگی شده از دفاتر قانونی </div>
    <tamin-data-grid #dataGrid (itemAction)="onAction($event)"> "</tamin-data-grid>
    <button type="submit" class="button normal" (click)="onNew()">جدید</button>
    <button type="button" class="button normal orange" (click)="onBackCheck()">صفحه قبلی</button>
    <button type="button" class="button normal orange" (click)="onComplete()">تکمیل اطلاعات(صفحه بعدی)</button>
    <button type="button" class="button normal orange" (click)="back()">برگشت به صفحه اصلی</button>
  </div>

</div>
