<tamin-modal #theModal title="موافقتنامه عضویت و بهره برداری از سرویس های غیر حضوری سازمان تامین اجتماعی" width="80%">
  <div style="border: solid 1px #ccc; padding: 10px; margin-bottom: 10px;max-height: 60vh; overflow: auto">
    <p style="font-weight: bold">
      این موافقتنامه ، یک توافق قانونی به منظور عضویت و بهره برداری از سرویس های غیر حضوری سازمان تامین اجتماعی می باشد
      که
      بین سازمان مذکور و جامعه تحت پوشش آن که به ترتیب سازمان و مخاطبان نامیده می شوند ، منعقد می گردد.
    </p>
    <p style="font-weight: bold">
      استفاده از سرویس های غیرحضوری سازمان تحت شرایط این موافقتنامه خواهد بود.
    </p>
    <ol style="padding: 20px; text-align: justify;">
      <li>
        مخاطبان می بایست در ابتدا موافقتنامه عضویت و بهره برداری از سرویس های غیر حضوری سازمان تامین اجتماعی را مطالعه و
        در صورت قبول شرایط مندرج در آن ، نسبت به تائید آن اقدام نمایند تا بتوانند وارد مراحل ثبت نام شده و از سرویسهای
        غیر
        حضوری سازمان استفاده نمائید . بهره مندی از سرویس های غیر حضوری منوط به پذیرش شرایط و تائید توافقنامه بوده و در
        صورت
        تائید ، سازمان می تواند در مراجع قضائی و ... به آن استناد نموده و مورد بهره برداری قرار دهد.
      </li>
      <li>
        سازمان براساس صلاحدید و یا تخلف مخاطبان از شرایط موافقتنامه و یا مواردی از قبیل اختلال در سیستم اجازه خواهد
        داشت
        که از دسترسی آنان به حساب کاربریشان و نیز استفاده از سرویسها جلوگیری نماید. قابل ذکر است، حساب کاربری شامل،
        جزئیات
        حساب کاربری یا هر فایل یا محتویات دیگر در آن می باشد .
      </li>
      <li>
        مخاطبان متعهد می گردند صرفاً در صورت نیاز اقدام به ارائه درخواست غیرحضوری دفترچه درمانی نموده و در صورتیکه
        دفترچه فعلی دارای نسخه یا نسخه های قابل استفاده می باشد ، از ارائه درخواست تجدید یا تعویض دفترچه و همچنین از
        ارائه هر گونه درخواست غیرواقعی اجتناب نمایند در غیر اینصورت ، عواقب درخواست های موصوف متوجه ایشان بوده و
        سازمان مجاز است به منظور جبران خسارت احتمالی وارده ، اقدامات قانونی لازم را معمول نماید.
      </li>
      <li>
        سازمان براساس صلاحدید خود، می تواند در تعداد درخواست ها ، حجم ، کیفیت و سایر ویژگی های داده ها و فایل های
        بارگذاری شده توسط مخاطبان و نیز در میزان فضای ذخیره سازی (مانند میزان حجم صندوق ارسال و دریافت و...) ، به منظور
        ارائه سرویس مناسب به مخاطبان اعمال تغییر نماید .
      </li>
      <li>
        با توجه به اینکه ارائه سرویس مناسب برای مخاطبان مستلزم بروزرسانی سامانه های مرتبط می باشد، از اینرو سامانه
        های
        ارائه دهنده سرویسهای غیر حضوری سازمان ، در حال تغییر بوده و ممکن است این تغییرات بدون اطلاع قبلی به مخاطبان صورت
        پذیرد. بدیهی است در صورت بروز هرگونه اخلال در روند ارائه خدمت در نتیجه بروزرسانی سامانه های مورد بحث ، مسئولیتی
        متوجه سازمان نخواهد بود.
      </li>
      <li>
        به منظور بهبود کیفیت ارائه سرویس ها در هنگام ثبت نام برخی اطلاعات شخصی اعم از شماره ملی ، شماره همراه و ...
        برای
        ایجاد حساب کاربری از مخاطبان درخواست می گردد . از این اطلاعات جهت اطلاع رسانی از طریق سرویس پیام کوتاه ، پست
        الکترونیکی و ... ، در مراحل مختلف درخواست سرویس استفاده خواهد شد.
      </li>
      <li>
        مسئولیت صحت اطلاعات وارده شده در ایجاد حساب کاربری و درخواست سرویس های غیر حضوری بر عهده مخاطب می باشد .
      </li>
      <li>
        مخاطبان تایید می نمایند که مسئول حفاظت از نام کاربری و کلمه عبور خود جهت دسترسی به سرویسهای غیرحضوری سازمان می
        باشند. بعلاوه ، با توجه به اینکه یکی از ابزارهای احراز هویت مخاطبان و همچنین اطلاع رسانی به آنها ، شماره همراه
        ارائه
        شده در فرآیند ایجاد حساب کاربری می باشد. بدیهی است مسئولیت و عواقب هرگونه فعالیت با حساب کاربری مخاطب بر عهده
        مالک
        آن شماره همراه می باشد .
      </li>
      <li>
        مخاطبان متعهد می گردند به نحوی مناسب از سرویس های ارائه شده استفاده نموده و از درخواست سرویس های غیر واقعی ،
        ایجاد ترافیک در خطوط ارتباطی و ... که باعث ایجاد اختلال در روند ارائه خدمت می گردد اجتناب نمایند.
      </li>
      <li>
        مخاطبان تایید می نمایند که در قبال همه فعالیت هایی که تحت عنوان حساب کاربری آنها رخ می دهد، در برابر سازمان
        مسئول
        بوده و سازمان می تواند به استناد این موافقتنامه و در صورت سوء استفاده ، بر علیه مخاطب مرتبط با حساب کاربری مورد
        نظر
        اقدام قانونی بعمل آورد.
      </li>
      <li>
        مخاطبان متعهد می گردند که به منظور دریافت سرویس مورد نظر در زمان و مکان مورد نظر حضور داشته باشند در غیر
        اینصورت
        هیچگونه مسئولیتی در قبال عدم تحویل یا ارائه خدمت مورد نظر بدلیل عدم مراجعه / حضور مخاطب متوجه سازمان نخواهد بود.
      </li>
      <li>
        سازمان مجاز است مطابق ضوابط و مقررات جاری خود و با توجه به نوع سرویس درخواستی ، نسبت به درخواست و دریافت
        الکترونیکی اسناد ( شناسنامه ، کارت ملی ، عکس ، گواهی اشتغال به تحصیل و ... ) از مخاطبان اقدام نماید . همچنین در
        مواردیکه ارائه سرویس درخواستی منوط به پرداخت هزینه توسط مخاطب می باشد ، سازمان می تواند به منظور تسهیل در ارائه
        خدمات و بصورت الکترونیکی نسبت به دریافت هزینه مورد نظر اقدام نماید.
      </li>
    </ol>
  </div>
  <div class="button-container">
    <button class="button normal" (click)="onAgree()">موافقم</button>
    <button class="button normal red" (click)="onDisagree()">موافق نیستم</button>
  </div>
</tamin-modal>
