<tamin-modal #theModal title="لیست خطاها">
  <div class="panel-body">
    <div class="row">
      <!-- <form [formGroup]="detailErroreForm" autocomplete="off" novalidate> -->
        <div>
          <fieldset style="padding: 5px;">
              <div class="col-6 col-s-6">
                <div class="confirmation">
                  <h3 style="margin-top: 10px;">نام نام خوانوادگی :{{ workshopHistoriesModel?.firstName }}&nbsp; {{ workshopHistoriesModel?.lastName }}</h3>
                  <h3 style="margin-top: 10px;">شماره شناسنامه :{{ workshopHistoriesModel?.identityNumber}}</h3>
                  <h3 style="margin-top: 10px;">تاریخ صدور :{{ getPersianDate(workshopHistoriesModel?.identityIssueDate )}}</h3>
                  <h3 style="margin-top: 10px;">ملیت :{{ workshopHistoriesModel?.nationality}}</h3>
                  <h3 style="margin-top: 10px;">تاریخ شروع به کار :{{getPersianDate( workshopHistoriesModel?.workStartDate) }}</h3>
                  <h3 style="margin-top: 10px;">جمع دستمزدومزایای ماهیانه مشمول :{{persianNumberPipe.transform( workshopHistoriesModel?.wageAndBenefit, 'cs')}}&nbsp; ریال</h3>
                  <h3 style="margin-top: 10px;">حق بیمه سهم بیمه شده :{{persianNumberPipe.transform( workshopHistoriesModel?.employeePremium, 'cs')}}&nbsp; ریال</h3>
                </div>
              </div>
              <div class="col-6 col-s-6">
                <div class="confirmation">
                  <h3 style="margin-top: 10px;">نام پدر : {{ workshopHistoriesModel?.fatherName}}</h3>
                  <h3 style="margin-top: 10px;">محل صدور : {{ workshopHistoriesModel?.identityIssuePlace }} </h3>
                    <h3 style="margin-top: 10px;">تاریخ تولد : {{getPersianDate( workshopHistoriesModel?.birthDate)}}</h3>
                  <h3 style="margin-top: 10px;">جنسبت : {{ workshopHistoriesModel?.gender}}</h3>
                  <h3 style="margin-top: 10px;">تاریخ ترک کار : {{getPersianDate( workshopHistoriesModel?.workEndDate) }}</h3>
                  <h3 style="margin-top: 10px;">جمع کل دستمزدو مزایای ماهانه : {{persianNumberPipe.transform( workshopHistoriesModel?.inclusiveWageAndBenefit, 'cs')}}&nbsp; ریال</h3>
                  <h3 style="margin-top: 10px;">نرخ پورسانتاژ : {{ persianNumberPipe.transform(workshopHistoriesModel?.pourcentage , 'cs')}}&nbsp; ریال</h3>
                </div>
              </div>
            <div class="col-12 col-s-12">
              <div class="confirmation">
                <h3 style="margin-top: 10px;">کد شغل :{{ workshopHistoriesModel?.jobCode}}</h3>
              </div>
            </div>
          </fieldset>
        </div>
      <!-- </form> -->
    </div>
  </div>
</tamin-modal>