<tamin-modal #theModal title="ضوابط و مقررات مربوط به ادامه بیمه به طور اختیاری " width="80%">
  <div style="border: solid 1px #ccc; padding: 10px; margin-bottom: 10px;max-height: 60vh; overflow: auto">
    <p style="text-align: center;">آئین نامه ادامه بیمه به طور اختیاری مصوب 85/06/26 و اصلاحیه ‏های مورخ 86/11/20 شورای
      عالی تأمین اجتماعی و
      89/11/11، 96/05/16، 96/10/09 و 97/10/19 هیأت امناء سازمان تأمین اجتماعی و صندوق‏های تابعه </p>
    <ul style="padding: 20px; text-align: justify;">
      <li>
        <span style="font-weight: bold;">1: </span>
        متقاضی ادامه بیمه به طور احتیاری می بایست در تاریخ انعقاد قرارداد مشمول هیچ نظام بیمه ای نبوده وبا دارا بودن
        حداقل 30 روز سابقه پرداخت حق بیمه که به لحاظ بازنشستگی معتبر باشد می‌توانند با توجه به مقررات مربوطه بیمه خود را
        به صورت اختیاری ادامه دهند.
      </li>
      <li>
        <span style="font-weight: bold;">2: </span>
        چنانچه متقاضی فاقد حداقل 30 روز سابقه پرداخت حق بیمه بوده لیکن دارای کارت پایان خدمت نظام وظیفه عمومی باشد و
        سن وی در تاریخ انعقاد قرارداد 50 سال و یا کمتر باشد در صورت تمایل می تواند با رعایت سایر شرایط مقرر نسبت به
        انعقاد قرارداد ادامه بیمه به طور اختیاری اقدام نماید.
      </li>
      <li>
        <span style="font-weight: bold;">3: </span>
        اتباع خارجی که دارای مجوز اقامت و اشتغال می‏باشند و به هر دلیل رابطه بیمه‏پردازی آنان قطع شده باشد و دارای
        شرط حداقل 30 روز سابقه پرداخت حق‏بیمه باشند، می‏توانند با رعایت ضوابط و مقررات مربوط به ادامه بیمه به طور
        اختیاری ، نسبت به ادامه بیمه حود به صورت اختیاری اقدام نمایند.
      </li>
      <li>
        <span style="font-weight: bold;">4: </span>
        سهم حق بیمه متقاضیان طبق ضوابط مربوطه برای استفاده از تعهدات موضوع قانون تأمین‌اجتماعی بابت بیمه بازنشستگی،
        فوت و ازکارافتادگی و همچنین بابت حمایت‌‌های موضوع بندهای (الف) و (ب) ماده 3 قانون ( برابر تبصره ماده 8 قانون
        تأمین اجتماعی ) مجموعاً 27% می‌باشد.
        <br>
        <span style="font-weight: bold;">تذکر : </span>
        پرداخت سه درصد (3%) حق بیمه مربوط به حمایت‌های موضوع بند فوق براساس ماده 28 قانون تأمین اجتماعی به عهده دولت
        خواهد بود.
      </li>
      <li>
        <span style="font-weight: bold;">5: </span>
        5- بیمه شده متعهد می گردد بعد از تاریخ انعقاد قراراد حداکثر ظرف مدت 2 ماه با مراجعه به پزشک معتمد مستقر در مراکز
        معاین و یا طرف قرارداد که مورد تأئید سازمان تأمین اجتماعی می باشد، نسبت به انجام معاینه پزشکی اقدام نماید. بدیهی
        است در غیر اینصورت کلیه عواقب و تبعات ناشی از آن به عهده بیمه شده بوده و سازمان تامین اجتماعی از این بابت
        مسئولیتی نحواهد داشت.
        <br>
        <span style="font-weight: bold;">تذکر1 : </span>
        کلیه متقاضیان ادامه بیمه به طور اختیاری در صورت احراز توامان شرایط ذیل از انجام معاینات پزشکی معاف می باشند: ظرف
        ده سال قبل از تاریخ قرارداد یک سال سابقه پرداخت حق بیمه ( با نرخ کامل ) داشته باشند و ظرف یک سال قبل از تاریخ
        قرارداد دارای 90 روز سابقه پرداخت حق بیمه ( با نرخ کامل ) باشند.
        <br>
        <span style="font-weight: bold;">تذکر2 : </span>
        بیمه‌شدگانی که طبق گواهی پزشک معتمد سازمان قبل از انعقاد قرارداد ادامه بیمه به طور اختیاری ازکارافتاده کلی تشخیص
        داده می شوند، نمی توانند از حمایت مربوط به ازکارافتادگی بهره مند شوند.
        <br>
        <span style="font-weight: bold;">تذکر3 : </span>
        چنانچه متقاضی در بدو قرارداد به بیماری یا عارضه خاصی مبتلا باشد در صورتی می‌تواند از مستمری ازکارافتادگی کلی
        برخوردار گردد که به بیماری یا عارضه یا نقص عضو دیگری علاوه بر بیماری، عارضه یا نقص عضو اولیه دچار شده باشد.
      <li>
        <span style="font-weight: bold;">6: </span>
        دستمزد مبنای پرداخت حق بیمه مشمولین ادامه بیمه به طور احتیاری برای کسانی که بیش از 5 سال سابقه پرداخت حق بیمه
        دارند بین هفتاد تا صد درصد میانگین دستمزد آخرین 360 روز قبل از تاریخ ثبت تقاضا به انتخاب متقاضی خواهد بود مشروط
        بر اینکه از یک و دو دهم حداقل دستمزد مصوب شورای عالی کار کمتر نباشد. مبنای پرداخت حق بیمه مشمولینی که کمتر از 5
        سال سابقه پرداخت حق بیمه دارند به انتخاب متقاضی بین یک و دو دهم حداقل دستمزد و حداکثر دستمزد شاغلین خواهد بود.
        <br>
        <span style="font-weight: bold;">تذکر : </span>
        از ابتدای هر سال به میزان درصدی که طبق مقررات مصوب شورایعالی کار به سطوح دستمزد شاغلین اضافه می‌گردد، مبنای
        پرداخت حق بیمۀ بیمه شدگان افزایش می‌یابد. در هرحال دستمزد مبنای پرداخت حق بیمه از یک و دو دهم حداقل دستمزد کمتر
        و از حداکثر دستمزد مصوب شورای عالی تأمین اجتماعی بیشتر نخواهد بود.
      </li>
      <li>
        <span style="font-weight: bold;">7: </span>
        تاریخ شروع ادامه بیمه به طور اختیاری حداکثر از تاریخ انعقاد قرارداد می‌باشد.
      </li>
      <li>
        <span style="font-weight: bold;">8: </span>
        متقاضی از تاریخ انعقاد قرارداد حداکثر ظرف مدت 20 روز فرصت دارد حق بیمه مربوطه را پرداخت نماید.
      </li>
      <li>
        <span style="font-weight: bold;">9: </span>
        بیمه شده اختیاری مکلف است بعد از تاریخ انعقاد قرارداد، حق بیمه مربوطه را به بنا به تمایل خویش به صورت ماهانه
        و یا چند ماهه پیش پرداخت نماید، در غیر این صورت قرارداد منعقده باطل و ادامه بیمه موکول به انعقاد قرارداد مجدد با
        رعایت کلیه شرایط و ضوابط مربوطه خواهد بود. بدیهی است در صورتی که متقاضی خارج از موعد مقرر نسبت به پرداخت حق بیمه
        اقدام نموده باشد مبلغ پرداختی پس از کسر هزینه اداری مسترد خواهد شد.
      </li>
      <li>
        <span style="font-weight: bold;">10: </span>
        در صورتی که پرداخت حق بیمه از طرف بیمه شده متوقف گردد و بین تاریخ قطع پرداخت حق بیمه و پرداخت مجدد بیش از 3
        ماه فاصله ایجاد نشده باشد، بیمه شده می‌تواند حق بیمه معوقه را به سازمان پرداخت نماید در غیر این صورت ارتباط بیمه
        شده با سازمان قطع و ادامه بیمه وی موکول به انعقاد قرارداد مجدد و موافقت سازمان تامین اجتماعی خواهد بود.
      </li>
      <li>
        <span style="font-weight: bold;">11: </span>
        بیمه شده متعهد به پذیرش شرایط و تعییرات بعدی مربوط به برقراری هر یک از تعهدات مورد قرارداد ، میزان آن و
        همچنین تغییر در نرخ پرداخت حق بیمه ، دستمزد مبنای پرداحت حق بیمه و ....عینًاً به ترتیب تعیین شده در قانون تأمین
        اجتماعی و تغییرات بعدی آن خواهد بود.
        <br>
        <span style="font-weight: bold;">تذکر : </span>
        تعهدات کوتاه مدت شامل غرامت دستمزد ایام بیماری، کمک بارداری و کمک ازدواج در این نوع بیمه مورد تعهد نمی‌باشد و
        تعهدات کوتاه مدت هزینه کفن و دفن ،وسایل کمک پزشکی ( پروتز و اروتز) و کمک هزینه سفر بیمار و همراه مورد تعهد می
        باشد.
      </li>
      <li>
        <span style="font-weight: bold;">12: </span>
        حداکثر سن پذیرش تقاضای متقاضی ادامه بیمه به طور اختیاری برای مردان و زنان 50 سال تمام در تاریخ انعقاد
        قرارداد خواهد بود. در صورتی که سن متقاضی در زمان انعقاد قرارداد بیش از سن مذکور باشد پذیرش درخواست وی منوط به
        داشتن سابقه حق بیمه قبلی معادل مدت مازاد سنی مقرر خواهد بود.
        <br>
        <span style="font-weight: bold;">تذکر1 : </span>
        کلیه بیمه شدگان متقاضی ادامه بیمه به طور اختیاری که یکبار در اجرای آئین‌نامه‌های مربوط به بیمه اختیاری قرارداد
        تنظیم و حق بیمه پرداخت نموده باشند، حداکثر تا سه مرتبه دیگر مجاز می‌باشند بدون رعایت شرط سنی و با رعایت سایر
        مقررات ، قرارداد مجدد تنظیم نمایند.
        <br>
        <span style="font-weight: bold;">تذکر2 : </span>
        کلیه بیمه شدگان متقاضی که حداقل 10 سال سابقه پرداخت حق‌بیمه داشته باشند، از اعمال شرط سنی مقرر معاف خواهند بود.
      </li>
      <li>
        <span style="font-weight: bold;">13: </span>
        بیمه شدگان ادامه بیمه به طور اختیاری که در کارگاههای مشمول قانون تأمین‌اجتماعی و یا سایر صندوقهای حمایتی
        بیمه‌ای اشتغال می‌یابند قرارداد بیمه اختیاری آنان ملغی و ادامه پرداخت بیمه اختیاری منوط به انعقاد قرارداد جدید
        خواهد بود.
      </li>
    </ul>
    <p style="text-align: center;">اینجانب آقای /خانم {{fullName}} با آگاهی کامل و در صحت عقلی، شرایط و مقررات فوق را
      مطالعه و خود را در هنگام قرارداد و در ادامه بیمه پردازی ملزم به رعایت آن می دانم در غیر اینصورت کلیه تبعات و
      مسئولیت های آن متوجه اینجانب بوده و سازمان تامین اجتماعی در این حصوص مسئولیتی نخواهد داشت. </p>
  </div>
  <div class="button-container">
    <button class="button normal" [disabled]="alldisabled" (click)="onAgree()">موافقم</button>
    <button class="button normal red" [disabled]="alldisabled" (click)="onDisagree()">موافق نیستم</button>
  </div>
</tamin-modal>
