<div class="alert alert-info">
  مرحله سوم ثبت نام: اطلاعات ایمیل و گذرواژه و سوالات امنیتی
</div>
<div class="alert alert-danger">
  <i class="icon-attention"></i>
  <span>توجه: در صورتیکه در مکان های عمومی (مانند کافی نت)در حال ثبت نام می باشید و مشاهده نمودید که مقادیر ایمیل و گذرواژه با مقادیر از پیش تعریف شده ای پر شده است. از ثبت نام خودداری نمایید.</span>
</div>

<form [formGroup]="theForm" autocomplete="off" novalidate>
  <div class="panel">
    <div class="panel-title">ایمیل</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-4">
          <tamin-field-label formControlName="email">ایمیل</tamin-field-label>
          <tamin-field-validator formControlName="email"></tamin-field-validator>
          <tamin-field-text formControlName="email"></tamin-field-text>
        </div>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-title">گذرواژه</div>
    <div class="panel-body">
      <div class="alert alert-info">
        <p style="border-bottom: dotted 1px white; margin-bottom: 5px">شرایط گذرواژه</p>
        <p><i class="icon-lightbulb"></i><span>فقط شامل حروف بزرگ و کوچک لاتین باشد.</span></p>
        <p><i class="icon-lightbulb"></i><span>حداقل شامل یک حرف بزرگ باشد.</span></p>
        <p><i class="icon-lightbulb"></i><span>حداقل شامل یک حرف کوچک باشد.</span></p>
        <p><i class="icon-lightbulb"></i><span>شامل عدد باشد.</span></p>
        <p><i class="icon-lightbulb"></i><span>حداقل هشت حرف باشد.</span></p>
        <p><i class="icon-lightbulb"></i><span>شامل نام، نام خانوادگی و شماره ملی نباشد.</span></p>
      </div>
      <div class="row">
        <div class="col-4">
          <tamin-field-label formControlName="password">گذرواژه</tamin-field-label>
          <tamin-field-validator formControlName="password"></tamin-field-validator>
          <tamin-field-password formControlName="password"></tamin-field-password>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="passwordRepeated">تکرار گذرواژه</tamin-field-label>
          <tamin-field-validator formControlName="passwordRepeated"></tamin-field-validator>
          <tamin-field-password formControlName="passwordRepeated"></tamin-field-password>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="passwordComplexity">وضعیت شرایط گذرواژه</tamin-field-label>
          <app-password-meter #passwordMeter></app-password-meter>
        </div>
      </div>
      <div>
        <button type="button" class="button normal orange" (click)="showPassword()">
          <i class="icon-eye"></i>
          <span>نمایش گذرواژه</span>
        </button>
      </div>
      <div class="hint"><i class="icon-lightbulb"></i><span>گذرواژه و تکرار آن می بایست کاملا منطبق باشند.</span></div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-title">پرسش های امنیتی</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-6">
          <tamin-field-label formControlName="questionOne">پرسش اول</tamin-field-label>
          <tamin-field-validator formControlName="questionOne"></tamin-field-validator>
          <tamin-field-combo-box-static formControlName="questionOne" [dataItems]="questionsData"
                                        valueField="questionId"
                                        displayField="questionDesc"></tamin-field-combo-box-static>
        </div>
        <div class="col-6">
          <tamin-field-label formControlName="answerOne">پاسخ اول</tamin-field-label>
          <tamin-field-validator formControlName="answerOne"></tamin-field-validator>
          <tamin-field-text formControlName="answerOne"></tamin-field-text>
          <div class="hint">
            <i class="icon-lightbulb"></i>
            <span>حداقل دو حرف</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <tamin-field-label formControlName="questionTwo">پرسش دوم</tamin-field-label>
          <tamin-field-validator formControlName="questionTwo"></tamin-field-validator>
          <tamin-field-combo-box-static formControlName="questionTwo" [dataItems]="questionsData"
                                        valueField="questionId"
                                        displayField="questionDesc"></tamin-field-combo-box-static>
        </div>
        <div class="col-6">
          <tamin-field-label formControlName="answerTwo">پاسخ دوم</tamin-field-label>
          <tamin-field-validator formControlName="answerTwo"></tamin-field-validator>
          <tamin-field-text formControlName="answerTwo"></tamin-field-text>
          <div class="hint">
            <i class="icon-lightbulb"></i>
            <span>حداقل دو حرف</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <tamin-field-label formControlName="questionThree">پرسش سوم</tamin-field-label>
          <tamin-field-validator formControlName="questionThree"></tamin-field-validator>
          <tamin-field-combo-box-static formControlName="questionThree" [dataItems]="questionsData"
                                        valueField="questionId"
                                        displayField="questionDesc"></tamin-field-combo-box-static>
        </div>
        <div class="col-6">
          <tamin-field-label formControlName="answerThree">پاسخ سوم</tamin-field-label>
          <tamin-field-validator formControlName="answerThree"></tamin-field-validator>
          <tamin-field-text formControlName="answerThree"></tamin-field-text>
          <div class="hint">
            <i class="icon-lightbulb"></i>
            <span>حداقل دو حرف</span>
          </div>
        </div>
      </div>
      <div class="hint"><i class="icon-lightbulb"></i><span>در صورت فراموشی گذرواژه، جهت ابجاد گذرواژه جدید، سوالات امنیتی مورد استفاده قرار خواهند گرفت.</span>
      </div>
      <div class="hint"><i class="icon-lightbulb"></i><span>نیازی نیست که پاسخ به پرسش های امنیتی حتما مطابق واقعیت باشد، فقط کافیست پاسخی را که داده اید بعدا به یاد بیاورید.</span>
      </div>
    </div>
  </div>
  <div class="alert alert-danger" *ngIf="hasError && errorMessages.length !== 0">
    <p *ngFor="let message of errorMessages"><i class="icon-cancel"></i><span>{{message}}</span></p>
  </div>
</form>
<div class="panel">
  <div class="panel-body">
    <button type="button" class="button normal blue" (click)="onPrevStep()">
      <i class="icon-right-big"></i>
      <span>مرحله قبل</span>
    </button>
    <button type="button" class="button normal blue" (click)="onNextStep()" style="float: left">
      <span>مرحله بعد</span>
      <i class="icon-left-big"></i>
    </button>
  </div>
</div>
