<div class="panel col-6 col-s-6">
  <div class="panel-title">ثبت صورت ريز ذخاير </div>
  <div class="panel-body">
    <form [formGroup]="editForm" autocomplete="off" novalidate (ngSubmit)="onSave(editForm.value)">
      <div class="form-control-container">
        <div class="panel col-12 col-s-12">
          <div class="row">
            <div class="col-6 col-s-6">
              <tamin-field-label formControlName="endDate">منتهی به تاریخ</tamin-field-label>
              <tamin-field-static-persian-date formControlName="endDate" placeholder=""></tamin-field-static-persian-date>
            </div>
<!--            <div class="col-6 col-s-6">-->
<!--              <tamin-field-label formControlName="assetTypesId">نوع دوره</tamin-field-label>-->
<!--&lt;!&ndash;              <tamin-field-validator formControlName="assetTypesId"></tamin-field-validator>&ndash;&gt;-->
<!--              <tamin-field-combo-box-static formControlName="assetTypesId" displayField="name" valueField="value" #assetTypesComboBox></tamin-field-combo-box-static>-->
<!--            </div>-->
            <div class="col-6 col-s-6">
              <tamin-field-label formControlName="assetTypesId">نوع دوره</tamin-field-label>
              <tamin-field-validator formControlName="assetTypesId"></tamin-field-validator>
              <tamin-field-number formControlName="assetTypesId"></tamin-field-number>
            </div>
            <div class="col-6 col-s-6">
              <tamin-field-label formControlName="ground">زمین</tamin-field-label>
              <tamin-field-validator formControlName="ground"></tamin-field-validator>
              <tamin-field-number formControlName="ground"></tamin-field-number>
            </div>

            <div class="col-6 col-s-6">
              <tamin-field-label formControlName="building">ساختمان</tamin-field-label>
              <tamin-field-validator formControlName="building"></tamin-field-validator>
              <tamin-field-number formControlName="building"></tamin-field-number>
            </div>
            <div class="col-6 col-s-6">
              <tamin-field-label formControlName="facility">تاسیسات</tamin-field-label>
              <tamin-field-validator formControlName="facility"></tamin-field-validator>
              <tamin-field-number formControlName="facility"></tamin-field-number>
            </div>
            <div class="col-6 col-s-6">
              <tamin-field-label formControlName="tempates">قالب ها</tamin-field-label>
              <tamin-field-validator formControlName="tempates"></tamin-field-validator>
              <tamin-field-number formControlName="tempates"></tamin-field-number>
            </div>
            <div class="col-6 col-s-6">
              <tamin-field-label formControlName="vehicles">وسائط نقلیه</tamin-field-label>
              <tamin-field-validator formControlName="vehicles"></tamin-field-validator>
              <tamin-field-number formControlName="vehicles"></tamin-field-number>
            </div>
            <div class="col-6 col-s-6">
              <tamin-field-label formControlName="upholstery">اثاثه</tamin-field-label>
              <tamin-field-validator formControlName="upholstery"></tamin-field-validator>
              <tamin-field-number formControlName="upholstery"></tamin-field-number>
            </div>
            <div class="col-6 col-s-6">
              <tamin-field-label formControlName="assetInFlow">دارایی در جریان</tamin-field-label>
              <tamin-field-validator formControlName="assetInFlow"></tamin-field-validator>
              <tamin-field-number formControlName="assetInFlow"></tamin-field-number>
            </div>
            <div class="col-6 col-s-6">
              <tamin-field-label formControlName="mashinAlat">ماشین آلات</tamin-field-label>
              <tamin-field-validator formControlName="mashinAlat"></tamin-field-validator>
              <tamin-field-number formControlName="mashinAlat"></tamin-field-number>
            </div>
          </div>
          <div class="row">
            <p>کاربر گرامی تمامی فیلدها باید مقدار داشته باشد چنانچه مقدار آن خالی است با  0 پر گردد .</p>
            <p>کاربر گرامي، مبالغ به ریال میباشد. </p>
          </div>

        </div>
      </div>
      <div class="col-12 col-s-12">
        <button #submitButton type="submit" class="button normal">ذحیره </button>
        <button type="button" class="button normal orange" (click)="back()">انصراف</button>
      </div>
    </form>
  </div>
</div>
