.container {
  background-color: #777777;
  overflow: auto;
  padding: 10px;
  text-align: center;
}

.component-container {
  border:solid 1px #cacaca;
}

.component-toolbar {
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #cacaca;
}


