<div class="row">
  <form [formGroup]="viewForm" autocomplete="off" novalidate>
    <div class="form-control-container">
      <p>
        متقاضی محترم:
      </p>
      <p style="margin-right: 10px"><i class="icon-lightbulb"></i>
        <span>شما می توانید مبلغ حق بیمه ماهانه در این قرارداد را از ماهانه {{minPremiumWithComma}} تا حداکثر {{maxPremiumWithComma}} تعیین و پرداخت نمایید.</span>
      </p>
      <p style="margin-right: 10px"><i class="icon-lightbulb"></i>
        <span>دستمزد ماهیانه مبنای حق بیمه شما بر اساس میزان حق بیمه انتخابی با فرمول "حق بیمه ماهانه انتخابی * 100 تقسیم بر 27" محاسبه می شود.</span>
      </p>
      <p style="margin-right: 10px"><i class="icon-lightbulb"></i>
        <span>مبلغ حق بیمه انتخابی شما هر ساله متناسب با مصوبه شورایعالی کار (افزایش دستمزد ها) به نسبت افزایش خواهد یافت.</span>
      </p><br>
      <div  class="col-4">
        <tamin-field-label  formControlName="monthlyPremium">لطفا مبلغ حق بیمه ماهانه را وارد کنید</tamin-field-label>
        <tamin-field-validator formControlName="monthlyPremium"></tamin-field-validator>
        <tamin-field-number  formControlName="monthlyPremium"></tamin-field-number>
      </div>
      <div class="col-2 marg-top" >
        <button class="button normal green" (click)="onCalculateSalary()" [disabled]="!viewForm.valid || isPayment">محاسبه</button>
      </div>
      <div class="col-4">
        <tamin-field-label formControlName="salary" >دستمزد ماهانه بر اساس حق بیمه انتخابی</tamin-field-label>
        <tamin-field-static-text formControlName="salary"></tamin-field-static-text>
      </div>
    </div>
  </form>
</div>

