<form [formGroup]="searchForm" autocomplete="off" novalidate
      (ngSubmit)="searchFormSubmit(searchForm.value, searchForm.valid)">
  <div class="form-control-container">
    <div class="row">
      <div class="col-2">
        <tamin-field-label formControlName="nationalCode">کد ملی</tamin-field-label>
        <tamin-field-validator formControlName="nationalCode"></tamin-field-validator>
        <tamin-field-text formControlName="nationalCode"></tamin-field-text>
      </div>
      <div class="col-2">
        <tamin-field-label formControlName="ticketCode">کد اعتباری:</tamin-field-label>
        <tamin-field-validator formControlName="ticketCode"></tamin-field-validator>
        <tamin-field-text formControlName="ticketCode" placeholder="کد اعتباری"></tamin-field-text>
      </div>
    </div>
  </div>
  <p style="margin-top:5px;">
    <button type="button" class="button normal" (click)="sendUserTicket()" [disabled]="!searchForm.valid">دریافت کد اعتباری</button>
    <button type="button" class="button normal" [disabled]="!isDesabled" (click)="searchFormSubmit(searchForm.value, searchForm.valid)" >جستجو</button>
  </p>
</form>
