<div class="panel">
 <div class="panel-body"></div>
  <div class="row">
    <div class="page-title"> 17-  حقوق و دستمزد و سایر هزینه های کارکنان</div>
    <tamin-data-grid #dataGrid (itemAction)="onAction($event)"> "</tamin-data-grid>
    <button type="button" class="button normal orange" (click)="onBackSalar()">صفحه قبلی</button>
    <button type="button" class="button normal orange" (click)="onComplete()">تکمیل اطلاعات(صفحه بعدی)</button>
    <button type="button" class="button normal orange" (click)="back()">برگشت به صفحه اصلی</button>
  </div>

</div>
