<!--<div class="panel-body">-->
<tamin-data-grid #taminDataGrid (itemAction)="onGridAction($event)">
</tamin-data-grid>
<!--<p style="margin:5px;">-->
  <!--<button type="button" class="button normal green" (click)="newClick()">ثبت درخواست جدید</button>-->
<!--  <button type="button" class="button normal dark" (click)="backToPanelClick()">بازگشت به صفحه نخست</button>-->
<!--</p>-->
<!--</div>-->
<div #container></div>
<app-request-modal #theNewModal></app-request-modal>
<app-request-faq-view #faqView></app-request-faq-view>
