<tamin-modal #theModal
             title="موافقتنامه بهره برداری از سرویس های غیر حضوری حوزه امور فنی بیمه شدگان سازمان تامین اجتماعی"
             width="80%">
  <div style="border: solid 1px #ccc; padding: 10px; margin-bottom: 10px;max-height: 60vh; overflow: auto">
    <p style="font-weight: bold">
      بیمه‌شده گرامی؛
      لطفاً قبل از ثبت درخواست کفالت خود در سامانه خدمات غیرحضوری، قوانین را بصورت دقیق مطالعه
      و در صورت داشتن شرایط اقدام به ثبت درخواست نمایید.
    </p>
    <ul>
      <ol style="padding: 20px; text-align: justify;">
        <li> سن پدر 60 سال تمام و سن مادر 55 سال تمام باشد.</li>
        <li>برای بیمه شدگان زن سن شوهر 60 سال تمام باشد.</li>
        <li>در صورت عدم احراز شرایط سنی، برقراری کفالت صرفاً در صورت تایید ازکارافتادگی کلی از سوی کمیسیون پزشکی موضوع
          ماده 91 قانون تامین اجتماعی امکان پذیر می باشد.
        </li>
        <li>متقاضی می بایست در تامین معاش پدر و مادر / شوهر خود نقش اساسی داشته باشد.</li>
        <li>پدر و مادر / شوهر متقاضی بیمه پرداز سازمان تامین اجتماعی نبوده و از این سازمان و یا سایر صندوق های
          بازنشستگی، حقوق و خدمات درمانی دریافت ننماید.
        </li>
        <li>
          امکان تحت تکفل قرار گرفتن فرزند ذکور معلول از کارافتاده، در صورت عدم بیمه پردازی وی و تامین معاش آن توسط بیمه
          شده/مستمری بگیر میسر می باشد.
        </li>
      </ol>
    </ul>
  </div>
  <div class="button-container">
    <button (click)="onAgree()" class="button normal">موافقم</button>
    <button (click)="onDisagree()" class="button normal red">موافق نیستم</button>
  </div>
</tamin-modal>

