<div class="alert alert-info">
  <i class="icon-lightbulb"></i>
  <span>ثبت عکس ثبت احوال برای بیمه شده</span>
</div>
<div class="row">
  <div class="panel">
    <div class="col-12">
      <div class="panel-title">جستجو</div>
      <div class="panel-body">
        <app-sso-personal-image-search (submitt)="onSearch($event)" ></app-sso-personal-image-search>
      </div>
    </div>
  </div>
</div>
<div class="row" >
  <div class="panel">
    <div class="col-12">
      <div class="panel-title">عکس ثبت احوال</div>
      <div class="panel-body">
        <app-sso-personal-image-detail #personalImageDetail></app-sso-personal-image-detail>
      </div>
    </div>
  </div>
</div>

