<div class="panel">
  <div class="page-title">جستجو</div>
  <div class="panel-body">
    <form [formGroup]="searchForm" autocomplete="off" novalidate>
      <div class="form-control-container">
        <div class="row">
          <div class="col-4">
            <tamin-field-label formControlName="province">استان</tamin-field-label>
            <tamin-field-auto-complete-data-grid formControlName="province" placeholder="استان"
                                                 #province></tamin-field-auto-complete-data-grid>


          </div>
          <div class="col-4">
            <tamin-field-label formControlName="city">شهر</tamin-field-label>
            <tamin-field-auto-complete-data-grid formControlName="city" #city></tamin-field-auto-complete-data-grid>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="type">نوع طرف قرارداد</tamin-field-label>
            <tamin-field-combo-box-static visible="false" formControlName="type" placeHolder="انتخاب کنید ..." [dataItems]="custTypes"
                                          valueField="value"
                                          displayField="name"></tamin-field-combo-box-static>

          </div>
          <div class="col-4">
            <tamin-field-label formControlName="custName">نام طرف قرارداد</tamin-field-label>
            <tamin-field-text formControlName="custName"></tamin-field-text>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="spec">تخصص</tamin-field-label>
            <tamin-field-auto-complete-data-grid formControlName="spec" placeholder="تخصص"
                                                 #spec></tamin-field-auto-complete-data-grid>

          </div>

        </div>

      </div>
    </form>
    <p style="margin-top:5px;">
      <button type="button" (click)="onSearch()" class="button normal">جستجو
      </button>
      <button type="button" class="button normal dark" (click)="resetSearch()">نمایش همه</button>
    </p>
  </div>
  <div class="panel">
    <div class="panel-title">اطلاعات مراکز طرف قرارداد</div>
    <div class="panel-body">
      <tamin-data-grid #dataGrid></tamin-data-grid>
    </div>
  </div>

</div>
