<!-- Modal Box -->
<tamin-modal #theQuestionModal
             title="نوع تقاضا"
             width="80%">
  <div style="border: solid 1px #ccc; padding: 10px; margin-bottom: 10px;max-height: 60vh; overflow: auto">
    <p style="font-weight: bold">
      لطفا نوع تقاضا را انتخاب نمایید
    </p>
  </div>
  <div class="button-container">
    <button [disabled]="!hideForm" (click)="redirectTo('medical-committee-help')" class="button blue">راهنمای ثبت تقاضا
    </button>
    <button (click)="onNewDemandAction()" class="accordion-head" style="min-width: 120px">ثبت تقاضای جدید</button>
    <button [disabled]="!hideForm" (click)="onPreDemandAction()" class="button normal gold">مشاهده تقاضاهای ثبت شده</button>
    <br>
    <button (click)="redirectTo('/')" class="button normal red">بازگشت به صفحه اصلی</button>
  </div>
  <div class="col-3" [hidden]="hideNewButtons" style="margin-right: 132px;margin-top: -10px;position: absolute;">
    <button (click)="onNewAction()" class="button normal">در حال حاضر ارتباط بیمه ای دارم</button>
    <br>
    <button (click)="showForm()" class="button normal">در حال حاضر ارتباط بیمه ای ندارم</button>
  </div>

  <app-intro-relation-date-form-medical-committee [hidden]="hideForm" (onCancel)="cancelPastDemand()" (onSubmit)="continuePastDemandAction($event)">
  </app-intro-relation-date-form-medical-committee>
</tamin-modal>
<!-- ---- -->
