<div class="row">
    <div class="col-12 col-s-12">
        <div class="page-title">
            گام نهایی - مشاهده و تایید اطلاعات
        </div>
    </div>
    <div class="col-2 col-s-2">
    </div>
    <div class="col-4 col-s-4">
      <div class="confirmation">
        <h3 style="margin-top: 10px;">کد ملی : {{ userModel.userName }}</h3>
        <h3 style="margin-top: 10px;">شماره تلفن : {{ userModel.mobile }}</h3>
        <h3 style="margin-top: 10px;">اپراتور : {{ userModel.operator?.title }}</h3>
        <h3 style="margin-top: 10px;">نام خانوادگی : {{ userModel.lastName }}</h3>
        <h3 style="margin-top: 10px;">نام : {{ userModel.firstName }}</h3>
        <h3 style="margin-top: 10px;">شماره شناسنامه : {{ userModel.idNo }}</h3>
      </div>
    </div>
    <div class="col-4 col-s-4">
      <div class="confirmation">
        <h3 style="margin-top: 10px;">تاریخ تولد : {{ userModel.birthDate }}</h3>
        <!--<h3 style="margin-top: 10px;>جنسیت : {{ userModel.gender?.title }}</h3>-->
        <!--<h3 style="margin-top: 10px;">کشور : {{ userModel.country?.title }}"</h3>-->
        <h3 style="margin-top: 14px;">استان / شهر : {{ userModel.cityTitle }}</h3>
        <h3 style="margin-top: 10px;">پست الکترونیکی : {{ userModel.email }}</h3>
        <h3 style="margin-top: 10px;">کلمه عبور : {{ userModel.password }}</h3>
      </div>
    </div>
    <div class="col-2 col-s-2">
    </div>
    <div class="col-12 col-s-12">
        <h3>سوالات امنیتی  :</h3>
        <h3 style="margin-top: 10px;">{{ userModel.question | json }} : {{ userModel.answer }}</h3>
        <h3 style="margin-top: 10px;">{{ userModel.question2?.questionDesc }} : {{ userModel.answer2 }}</h3>
        <h3 style="margin-top: 10px;">{{ userModel.question3?.questionDesc }} : {{ userModel.answer3 }}</h3>
    </div>
</div>
