<div class="row">
  <form [formGroup]="theForm" autocomplete="off" novalidate>
    <div class="form-control-container">
      <tamin-field-validator formControlName="commitment1"></tamin-field-validator>
      <tamin-field-checkbox  *ngIf="!alldisabled"     (change)="onCommitment1()" formControlName="commitment1">
        <p style="direction:rtl;text-align:right;">
         اطلاعات  نادرست است وباید اصلاح شود.
        </p>
      </tamin-field-checkbox>
      <tamin-field-checkbox *ngIf="alldisabled"  onclick="return false;"    (change)="onCommitment1()" formControlName="commitment1">
        <p style="direction:rtl;text-align:right;">
          اطلاعات  نادرست است وباید اصلاح شود.
        </p>
      </tamin-field-checkbox>
      <br>
      <tamin-field-checkbox  *ngIf="!alldisabled"    (change)="onCommitment2()" formControlName="commitment2">
        <p style="direction:rtl;text-align:right;">
         اطلاعات  صحیح است
        </p>
      </tamin-field-checkbox>
      <tamin-field-checkbox *ngIf="alldisabled"  onclick="return false;"     (change)="onCommitment2()" formControlName="commitment2">
        <p style="direction:rtl;text-align:right;">
          اطلاعات  صحیح است
        </p>
      </tamin-field-checkbox>
      <tamin-field-validator formControlName="commitment2"></tamin-field-validator>
      <br>
      <div class="row">
        <button class="button normal green" (click)="onDeApprove()" [disabled]="!commitment1 ||alldisabled">درخواست اصلاح اطلاعات
        </button>
        <button class="button normal green" (click)="onApprove()" [disabled]="!commitment2 ||alldisabled">تایید و ادامه
        </button>
        <button class="button normal red" (click)="redirectTo('/')"> انصراف
        </button>
      </div>
    </div>
  </form>
</div>

