<tamin-modal #theModal title="ایجاد">
  <form [formGroup]="newForm" autocomplete="off" novalidate>
    <div class="form-control-container">
      <div class="row">
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-4 col-s-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="workshopid">کد کارگاه</tamin-field-label>
          <tamin-field-validator formControlName="workshopid"></tamin-field-validator>
          <!-- <tamin-field-text formControlName="workshopid" placeholder="کد کارگاه"></tamin-field-text> -->
          <tamin-field-text formControlName="workshopid" regex="^[0-9]*$"></tamin-field-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-4 col-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="contractrow">ردیف پیمان</tamin-field-label>
          <tamin-field-validator formControlName="contractrow"></tamin-field-validator>
          <!-- <tamin-field-text formControlName="contractrow" placeholder="ردیف پیمان"></tamin-field-text> -->
          <tamin-field-text formControlName="contractrow" regex="^[0-9]*$"></tamin-field-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-4 col-s-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="workshopName">نام کارگاه</tamin-field-label>
          <tamin-field-static-text formControlName="workshopName" placeholder="نماد معاملاتی"></tamin-field-static-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-4 col-s-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="contractNumber">شماره قرارداد</tamin-field-label>
          <tamin-field-static-text formControlName="contractNumber" placeholder="نماد معاملاتی">
          </tamin-field-static-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-4 col-s-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="contractDate">تاریخ قرارداد</tamin-field-label>
          <tamin-field-static-text formControlName="contractDate" placeholder="نماد معاملاتی"></tamin-field-static-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-4 col-s-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="branchCode">شعبه تامین اجتماعی</tamin-field-label>
          <tamin-field-static-text formControlName="branchCode" placeholder="نماد معاملاتی"></tamin-field-static-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-4 col-s-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="contractStartDate">دوره قرارداد از</tamin-field-label>
          <tamin-field-static-text formControlName="contractStartDate" placeholder="نماد معاملاتی">
          </tamin-field-static-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-4 col-s-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="contractEndDate">لغایت</tamin-field-label>
          <tamin-field-static-text formControlName="contractEndDate" placeholder="نماد معاملاتی">
          </tamin-field-static-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-4 col-s-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="contractSubject">موضوع قرارداد</tamin-field-label>
          <tamin-field-static-text formControlName="contractSubject" placeholder="نماد معاملاتی">
          </tamin-field-static-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <hr>
        <!---------------------------------------------------------------------------------------------------------->
        <!-- <div class="col-4 col-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="ourag_count1">تعداد اسنادبابت اصل حق بیمه</tamin-field-label>
          <tamin-field-validator formControlName="ourag_count1"></tamin-field-validator>
          <tamin-field-text formControlName="ourag_count1" regex="^[0-9]*$"></tamin-field-text>
        </div> -->
        <div class="col-4 col-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="ourag_gnoo">شماره گواهی اصل حق بیمه</tamin-field-label>
          <tamin-field-validator formControlName="ourag_gnoo"></tamin-field-validator>
          <tamin-field-static-text formControlName="ourag_gnoo" regex="^[0-9]*$"></tamin-field-static-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <!-- <div class="col-4 col-s-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="ourag_aprice1">ارزش اسمی هر ورقه</tamin-field-label>
          <tamin-field-static-text formControlName="ourag_aprice1" placeholder="نماد معاملاتی" ></tamin-field-static-text>
        </div> -->
        <div class="col-4 col-s-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="ourag_datee">تاریخ گواهی حق بیمه</tamin-field-label>
          <tamin-field-static-text formControlName="ourag_datee" placeholder="نماد معاملاتی"></tamin-field-static-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <!-- <div class="col-4 col-s-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="total_ourag1">جمع کل بابت اصل حق بیمه</tamin-field-label>
          <tamin-field-static-text formControlName="total_ourag1" placeholder="نماد معاملاتی" ></tamin-field-static-text>
        </div> -->
        <div class="col-4 col-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="ourag_price1">مبلغ اصل حق بیمه</tamin-field-label>
          <tamin-field-validator formControlName="ourag_price1"></tamin-field-validator>
          <tamin-field-number formControlName="ourag_price1" regex="^[0-9]*$"></tamin-field-number>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-4 col-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="ourag_HavDate">تاریخ صدور حواله / واگذاری</tamin-field-label>
          <tamin-field-persian-date formControlName="ourag_HavDate"></tamin-field-persian-date>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-4 col-s-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="ourag_SDate">تاریخ سرسید</tamin-field-label>
          <tamin-field-static-text formControlName="ourag_SDate" placeholder="نماد معاملاتی"></tamin-field-static-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-4 col-s-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="ourag_SDate">مبلغ حفظ قدرت خرید طبق محاسبه</tamin-field-label>
          <tamin-field-static-text formControlName="ourag_ApriceClc" placeholder="نماد معاملاتی">
          </tamin-field-static-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-4 col-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="ourag_gno">شماره گواهی (حفط قدرت خرید 1196)</tamin-field-label>
          <tamin-field-validator formControlName="ourag_gno"></tamin-field-validator>
          <tamin-field-text formControlName="ourag_gno" regex="^[0-9]*$"></tamin-field-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-4 col-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="ourag_date">تاریخ گواهی (حفط قدرت خرید 1196)</tamin-field-label>
          <tamin-field-persian-date formControlName="ourag_date"></tamin-field-persian-date>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <!-- <div class="col-4 col-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="ourag_count2">تعداداسنادبابت حفظ قدرت خرید</tamin-field-label>
          <tamin-field-validator formControlName="ourag_count2"></tamin-field-validator>
          <tamin-field-text formControlName="ourag_count2" regex="^[0-9]*$"></tamin-field-text>
        </div> -->
        <!---------------------------------------------------------------------------------------------------------->
        <!-- <div class="col-4 col-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="ourag_aprice2">ارزش اسمی هر ورقه</tamin-field-label>
          <tamin-field-validator formControlName="ourag_aprice2"></tamin-field-validator> <tamin-field-text formControlName="ourag_aprice2" regex="^[0-9]*$"></tamin-field-text>
        </div> -->
        <!---------------------------------------------------------------------------------------------------------->
        <!-- <div class="col-4 col-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="total_ourag2">جمع کل بابت حفظ قدرت خرید</tamin-field-label>
          <tamin-field-static-text formControlName="total_ourag2" placeholder="نماد معاملاتی"></tamin-field-static-text>
        </div> -->
        <div class="col-4 col-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="ourag_price2">مبلغ بابت حفظ قدرت خرید</tamin-field-label>
          <tamin-field-validator formControlName="ourag_price2"></tamin-field-validator>
          <tamin-field-number formControlName="ourag_price2" regex="^[0-9]*$"></tamin-field-number>
        </div>

        <!---------------------------------------------------------------------------------------------------------->
      </div>
      <div class="row">
        <div class="col-12" style="padding-top: 10px">
          <div class="button-container">
            <button type="button" class="button normal" (click)="saveForm(newForm.value)">ذخیره</button>
            <button type="button" class="button normal dark" (click)="hide()">انصراف</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</tamin-modal>
