<div class="alert alert-info">
  <span>مشاهده کلیه سوابق</span>
</div>

<app-sso-complete-search #ssoCompleteSearchComponent (Submitt)="onSearchSubmit($event)"  (ClearForm)="onClearForm($event)"></app-sso-complete-search>
<app-sso-complete-view #ssoCompleteViewComponent></app-sso-complete-view>
<app-sso-complete-list #ssoCompleteListComponent></app-sso-complete-list>
<!-- <p style="margin:5px;">
  <button type="button" class="button normal gray" (click)="backToPanelClick()"><i class=" icon-right-big"></i><span>بازگشت به صفحه نخست</span></button>
</p> -->



