.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  padding: 5px;
}

th {
  white-space: nowrap;
}

.desktop-table {
  border-collapse: collapse;
  border: 1px solid #cacaca;
  width: calc(100% - 6px);
  margin: 3px;
}

.desktop-table td {
  border: 1px solid #cacaca;
  vertical-align: middle;
  padding: 5px;
  text-align: center;
}

.desktop-table th {
  border: 1px solid #cacaca;
  vertical-align: middle;
  padding: 5px;
  background-color: #ddd;
}

.odd {
  background-color: #ddd;
}

.even {
  background-color: white;
}

.bold {
  font-weight: bold;
}

.table-container {
  overflow-x:auto;
}

.responsive {
  width: 100%;
  height: auto;
}
table tr td {
  padding: 5px
}

table tr td:nth-child(1) {
  font-weight: bold;
  text-align: left;
}
