<div class="pilot-requests-container">
  <div class="pilot-requests-top-container">
    <div class="pilot-requests-flag"></div>
    <div class="pilot-requests-logo"></div>
  </div>
  <div class="row">
    <div style="padding: 10px">
      <div style="background-color: rgb(112, 139, 61); padding: 5px">
        <h2 style="text-align: center;color:white">
          سرویس های 3070
        </h2>
      </div>
    </div>

    <div class="col-4">
      <div class="group-title"><span>بیمه شدگان</span></div>
      <button style="width: 100%;" class="button normal blue" (click)="redirectTo('sso/sso-personal-image')">ثبت درخواست گرفتن عکس بیمه شده از ثبت احوال
      </button>
      <button style="width: 100%;" class="button normal blue" (click)="redirectTo('stp/marriage-no-presence')">ثبت درخواست غیرحضوری کمک هزینه ی ازدواج 
      </button>
      <button style="width: 100%;" class="button normal blue" (click)="redirectTo('stp/funeral-no-presence-sso')">ثبت درخواست غیرحضوری کمک هزینه ی مراسم ترحیم 
      </button>
      <button style="width: 100%;" class="button normal blue" (click)="redirectTo('sso/sso-relation')">استعلام ارتباط فعال با سازمان تامین اجتماعی
      </button>
      <button style="width: 100%;" class="button normal blue" (click)="redirectTo('stp/orthosis-and-prosthesis-no-presence')">ثبت درخواست اروتز پروتز
      </button>
      <button style="width: 100%;" class="button normal blue" (click)="redirectTo('sso/agent-conscription')">خرید خدمت سربازی
      </button>
      <button style="width: 100%;" class="button normal blue" (click)="redirectTo('sso/guardian')">درخواست کفالت
      </button>
    </div>
  <div class="col-4">
      <div class="group-title"><span>کارفرمایان</span></div>
      <button style="width: 100%;" class="button normal blue" (click)="redirectTo('sso/debit-objection-request')">ثبت درخواست اعتراض به بدهی
      </button>
      <button style="width: 100%;" class="button normal blue" (click)="redirectTo('sso/debit-installment-request')">ثبت درخواست تقسیط بدهی
      </button>
      <button style="width: 100%;" class="button normal blue" (click)="redirectTo('sso/debit-installment-follow')">پرداخت و پیگیری درخواست تقسیط بدهی
      </button>
      <button style="width: 100%;" class="button normal blue" (click)="redirectTo('sso/detail-objection-debit')">مشاهده جزییات محاسبه گردش حساب بدهی
      </button>
      <button style="width: 100%;" class="button normal blue" (click)="redirectTo('sso/announcement-sso')">مشاهده ابلاغ الکترونیک
      </button>
    </div>
    <div class="col-4">
      <div class="group-title"><span>مستمری بگیران</span></div>

    </div>
  </div>
</div>
