<div class="page" *ngIf="data">
  <div class="row">
    <h2 style="text-align: center">
      <span>{{data.title}} {{year | persianNumber}}</span>
    </h2>
    <h4 style="text-align: center">
      <span>{{data.branchName}}</span>
    </h4>
  </div>
  <div class="row" style="margin-top: 10px">
    <div class="col-4">
      <table>
        <tbody>
        <tr>
          <td style="width: 30%">نام</td>
          <td>{{data.hokmValue.firstName}}</td>
        </tr>
        <tr>
          <td style="width: 30%">نام پدر</td>
          <td>{{data.hokmValue.fatherName}}</td>
        </tr>
        <tr>
          <td style="width: 30%">شماره ملی</td>
          <td>{{getPersianNumber(data.hokmValue.nationalCode)}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <table>
        <tr>
          <td style="width: 30%">نام خانوادگی</td>
          <td>{{data.hokmValue.lastName}}</td>
        </tr>
        <tr>
          <td style="width: 30%">شماره شناسنامه</td>
          <td>{{getPersianNumber(data.hokmValue.idNumber)}}</td>
        </tr>
        <tr>
          <td style="width: 30%">نوع بیمه</td>
          <td>{{data.hokmValue.isuType}}</td>
        </tr>
        <!--<tr>-->
        <!--<td style="width: 30%">شماره تلفن</td>-->
        <!--<td>&nbsp;</td>-->
        <!--</tr>-->
      </table>
    </div>
    <div class="col-4">
      <table>
        <tr>
          <td style="width: 30%">شماره مستمری</td>
          <td>{{getPersianNumber(data.hokmValue.pensionerId)}}</td>
        </tr>
        <tr>
          <td style="width: 30%">تاریخ تولد</td>
          <td>{{getBirthDate(data.hokmValue.birthDate)}}</td>
        </tr>
        <tr>
          <td style="width: 30%">جنسیت</td>
          <td>{{data.hokmValue.gender}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row" style="margin-top: 10px">
    <div class="col-4">
      <table>
        <tbody>
        <tr>
          <td style="width: 30%">تاریخ برقراری</td>
          <td>{{getPersianNumber(data.hokmValue.canDateInd)}}</td>
        </tr>
        <tr>
          <td style="width: 30%">اساس برقراری</td>
          <td>{{getPersianNumber(data.hokmValue.bexdesc)}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <table>
        <tr>
          <td style="width: 30%">سابقه اصلی</td>
          <td>{{history(data.hokmValue.hisasal, data.hokmValue.hisamon, data.hokmValue.hisaday)}}</td>
        </tr>
        <tr *ngIf="hasAddedHistory(data.hokmValue.hisyere, data.hokmValue.hismnte, data.hokmValue.hisdaye)">
          <td style="width: 30%">سابقه ارفاقی</td>
          <td>{{history(data.hokmValue.hisyere, data.hokmValue.hismnte, data.hokmValue.hisdaye)}}</td>
        </tr>
      </table>
    </div>
    <div class="col-4">
      <table>
        <tr>
          <td>شماره بیمه</td>
          <td>{{getPersianNumber(data.insuranceId)}}</td>
        </tr>
        <tr>
          <td>مستمری قبل از افزایش</td>
          <td>{{data.hokmValue.amt20l | persianNumber:'cs'}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row" style="margin-top: 10px">
    <div class="col-12">
      <table>
        <tbody>
        <ng-container *ngFor="let group of groupedByData">
          <ng-container *ngFor="let item of group; let i = index">
            <tr>
              <td [attr.rowspan]="group.length" *ngIf="i == 0">{{getPersianNumber(item.packageName)}}</td>
              <td>{{getPersianNumber(item.fieldDesc)}}</td>
              <td>{{item.fieldValue | persianNumber:'cs'}}</td>
            </tr>
          </ng-container>
        </ng-container>
        <tr>
          <td colspan="2">
            <span>مبلغ قابل پرداخت ماهیانه: </span> <strong>{{data.hokmValue.vstramt}}</strong>
          </td>
          <td>
            <strong>{{data.hokmValue.sumPay2 | persianNumber:'cs'}}</strong>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>خالص پرداختی با اعمال کسورات قانونی صورت می پذیرد</p>
      <p>در صورت مشاهده هرگونه مغایرت و یا نياز به تکميل و تصحيح اطلاعات ،با همراه داشتن مدارک هویتی به شعبه مربوطه
        مراجعه نمایيد</p>
    </div>
  </div>
</div>
<div style="padding: 5px;margin: 5px" *ngIf="data">
  <button type="button" class="button normal" (click)="print()">دریافت فایل حکم مستمری</button>
  <button type="button" class="button normal" (click)="sendToAnnoncment()">صدور و ارسال به صندوق شخصی</button>
</div>
