<div class="panel">
  <div class="panel-title">انتخاب تصویر دریافت کننده</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-9">
        <h4>
          <span>در صورتیکه مایلید از عکس مقابل جهت درج در دفترچه بیمه درمانی استفاده شود گزینه</span>
          &nbsp;<span style="color: #27AE60">از این عکس در دفترچه بیمه درمانی استفاده شود</span>
          &nbsp;<span>را انتخاب نمایید.</span>
        </h4>
        <br>
        <h4>
          <span>در صورتیکه مایلید از عکس دیگری در دفترچه بیمه درمانی استفاده شود گزینه</span>
          &nbsp;<span style="color:crimson">از این عکس در دفترچه بیمه درمانی استفاده نشود</span>
          &nbsp;<span>را انتخاب نمایید.</span>
        </h4>
        <p style="color: #aaaaaa">
          <i class="icon-lightbulb"></i>
          <span>در این حالت می بایست با در دست داشتن عکس به شعبه یا کارگزاری مراجعه کنید.</span>
        </p>

      </div>
      <div class="col-3" style="border:solid 1px #cacaca;text-align: center">
        <img [attr.src]="photoSource">
      </div>
    </div>
    <div class="row" style="margin-top: 10px">
      <div class="col-12 button-container">
        <button type="button" class="button normal green" (click)="nextStep.emit(true)">
          <i class="icon-ok"></i>
          <span>از این عکس در دفترچه بیمه درمانی استفاده شود</span>
        </button>
        <button type="button" class="button normal red" (click)="nextStep.emit(false)">
          <i class="icon-cancel"></i>
          <span>از این عکس در دفترچه بیمه درمانی استفاده نشود</span>
        </button>
        <button type="button" class="button normal gray" (click)="prevStep.emit()">
          <i class=" icon-left-big"></i>
          <span>بازگشت به مرحله قبل (انتخاب دریافت کننده دفترچه)</span>
        </button>
      </div>
    </div>
  </div>
</div>
