<div class="alert alert-info"><i class="icon-lightbulb"></i><span>در صورتیکه تحت پوشش بیمه ای سازمان تامین اجتماعی نمی باشید و یا از شماره بیمه و شماره کارگاه خود مطلع نیستید میتوانید از این فرم جهت اطلاع رسانی وضعیت اشتغال خود به بازرسین سازمان تامین اجتماعی استفاده نمایید.</span>
</div>
<div class="panel">
  <div class="panel-title">فرم ثبت اعتراض</div>
  <div class="panel-body">
    <form [formGroup]="editForm" autocomplete="off" novalidate>
      <div class="form-control-container">
        <div class="part-title">
          <span style="color: rgb(0, 133, 133); font-weight: bold;">اطلاعات بیمه شده</span>
          <div class="row">
            <div class="col-4">
              <tamin-field-label formControlName="firstName">نام</tamin-field-label>
              <tamin-field-static-text formControlName="firstName" placeholder="نام"></tamin-field-static-text>
            </div>
            <div class="col-4">
              <tamin-field-label formControlName="lastName">نام خانوادگی</tamin-field-label>
              <tamin-field-static-text formControlName="lastName"
                                       placeholder="نام خانوادگی"></tamin-field-static-text>
            </div>
            <div class="col-4">
              <tamin-field-label formControlName="nationalCode">کد ملی</tamin-field-label>
              <tamin-field-static-text formControlName="nationalCode" placeholder="کد ملی"></tamin-field-static-text>
            </div>
          </div>
        </div>
        <div class="part-title" style="margin-top:10px;">
          <span style="color: rgb(0, 133, 133); font-weight: bold;">اطلاعات تماس</span>
          <div class="row">
            <div class="col-4">
              <tamin-field-label formControlName="mobile">تلفن همراه</tamin-field-label>
              <tamin-field-validator formControlName="mobile"></tamin-field-validator>
              <tamin-field-text formControlName="mobile" placeholder="تلفن همراه"></tamin-field-text>
            </div>
            <div class="col-4">
              <tamin-field-label formControlName="tel">تلفن</tamin-field-label>
              <tamin-field-validator formControlName="tel"></tamin-field-validator>
              <tamin-field-text formControlName="tel" placeholder="تلفن"></tamin-field-text>
            </div>
            <div class="col-4">
              <tamin-field-label formControlName="email">ایمیل</tamin-field-label>
              <tamin-field-validator formControlName="email"></tamin-field-validator>
              <tamin-field-text formControlName="email" placeholder="ایمیل"></tamin-field-text>
            </div>
          </div>
        </div>
        <div class="part-title" style="margin-top:10px; background-color: #eef7ff;">
          <span style="color: rgb(0, 133, 133); font-weight: bold;">اطلاعات کارگاه</span>
          <div class="row">
            <div class="col-4">
              <tamin-field-label formControlName="workshopName">نام کارگاه</tamin-field-label>
              <tamin-field-validator formControlName="workshopName"></tamin-field-validator>
              <tamin-field-text formControlName="workshopName"
                                placeholder="نام کارگاه"></tamin-field-text>
            </div>
            <div class="col-4">
              <tamin-field-label formControlName="workshopNumber">شماره کارگاه</tamin-field-label>
              <tamin-field-validator formControlName="workshopNumber"></tamin-field-validator>
              <tamin-field-text formControlName="workshopNumber"
                                placeholder="شماره کارگاه"></tamin-field-text>
            </div>
            <div class="col-4">
              <tamin-field-label formControlName="workshopManager">نام کارفرما</tamin-field-label>
              <tamin-field-validator formControlName="workshopManager"></tamin-field-validator>
              <tamin-field-text formControlName="workshopManager" placeholder="نام کارفرما"></tamin-field-text>
            </div>
            <div class="col-4">
              <tamin-field-label formControlName="branchName">شعبه تامین اجتماعی</tamin-field-label>
              <tamin-field-validator formControlName="branchName"></tamin-field-validator>
              <tamin-field-auto-complete-data-grid #organizationDataGrid formControlName="branchName"
                                                   placeholder="شعبه تامین اجتماعی"></tamin-field-auto-complete-data-grid>
            </div>
            <div class="col-4">
              <tamin-field-label formControlName="workshopTel">تلفن کارگاه</tamin-field-label>
              <tamin-field-validator formControlName="workshopTel"></tamin-field-validator>
              <tamin-field-text formControlName="workshopTel" placeholder="تلفن کارگاه"></tamin-field-text>
            </div>
            <div class="col-4">
              <tamin-field-label formControlName="insuranceJob">عنوان شغل بیمه شده</tamin-field-label>
              <tamin-field-validator formControlName="insuranceJob"></tamin-field-validator>
              <tamin-field-auto-complete-data-grid formControlName="insuranceJob" #jobDataGrid
                                                   placeholder="عنوان شغل بیمه شده"></tamin-field-auto-complete-data-grid>
            </div>
            <div class="col-4">
              <tamin-field-label formControlName="startDate">از تاریخ</tamin-field-label>
              <tamin-field-validator formControlName="startDate"></tamin-field-validator>
              <tamin-field-persian-date formControlName="startDate"></tamin-field-persian-date>
            </div>
            <div class="col-4">
              <tamin-field-label formControlName="endDate">تا تاریخ</tamin-field-label>
              <tamin-field-validator formControlName="endDate"></tamin-field-validator>
              <tamin-field-persian-date formControlName="endDate"></tamin-field-persian-date>
            </div>
            <div class="col-4">
            </div>
            <div class="col-12">
              <tamin-field-label formControlName="workshopAddress">آدرس کارگاه</tamin-field-label>
              <tamin-field-validator formControlName="workshopAddress"></tamin-field-validator>
              <tamin-field-text formControlName="workshopAddress" placeholder="آدرس کارگاه"></tamin-field-text>
            </div>
          </div>
        </div>
        <div class="part-title" style="margin-top:10px; background-color: #eeffee">
          <span style="color: rgb(0, 133, 133); font-weight: bold;">ثبت اعتراض</span>
          <div class="row">
            <div class="col-12">
              <tamin-field-label formControlName="requestDescription">شرح اعتراض</tamin-field-label>
              <tamin-field-validator formControlName="requestDescription"></tamin-field-validator>
              <tamin-field-text formControlName="requestDescription" placeholder="شرح اعتراض"></tamin-field-text>
            </div>
          </div>
        </div>
        <p style="margin-top:5px;">
          <button type="button" class="button normal blue" (click)="saveForm()"
                  [disabled]="!editForm.valid">
            تایید
          </button>
          <button type="button" class="button normal gray" (click)="backToListClick()">بازگشت به لیست</button>
        </p>
      </div>
    </form>
  </div>
</div>

