<div class="panel">
  <div class="page-title">2-اطلاعات اعضاء هيئت مديره و مديرعامل</div>
  <div class="panel-body"></div>
  <div class="row">
    <div class="page-title"> اطلاعات اعضاء هیئت مدیره و مدیر عامل</div>
    <tamin-data-grid #dataGridHyatModire   [showLoadOverlay]="!setDisableDafaterAddress" (itemAction)="onAction($event)"> "</tamin-data-grid>
    <button type="submit" class="button normal" (click)="onNewHeyateModi()">جدید</button>
  </div>
  <div class="row">
    <div class="page-title"> صاحبان امضاء</div>
    <tamin-data-grid #dataGridSahebaneEmza   [showLoadOverlay]="setDisableDafaterAddress" (itemAction)="onAction($event)"></tamin-data-grid>
    <button type="submit" class="button normal" (click)="onNewSigOwner()">جدید</button>
  </div>
  <div class="row">
    <button type="button" class="button normal orange" (click)="onBackStackHolder()">صفحه قبلی</button>
    <button type="button" class="button normal orange" (click)="onCompleteStackHolder()">تکمیل اطلاعات(صفحه بعدی)</button>
    <button type="button" class="button normal orange" (click)="back()">برگشت به صفحه اصلی</button>
  </div>

</div>
