<!--<tamin-modal #theModal title="فرم ثبت نام افراد خانواده تحت پوشش">-->


<div class="panel" #panel>
  <div class="panel-title">فرم ثبت نام افراد خانواده تحت پوشش</div>
  <div class="alert alert-info">
  <span>
    <p>- مشخصات هویتی شخص تحت تکفل را وارد نمایید.</p>
    <p>- تاریخ را از چپ به راست به صورت 8 رقمی (در قالب روز ماه سال)و بدون درج علامت "/" وارد کنید.(مثال تاریخ 1351/8/16 را به صورت 13510816 و تاریخ 1365/11/2 را به صورت 13651102 درج نمایید.</p>
  <p>- شهر محل تولد،صدور،نسبت و نوع کفالت مورد نظر را از لیست انتخاب نمایید.</p>
 <p>  - پس از ثبت اطلاعات فرزند پسر بالای 19 سال خود در اسرع وقت با در دست داشتن اصل  گواهی اشتغال به تحصیل به شعبه مراجعه نمایید
 </p></span>
  </div>
  <div class="panel-body">
    <form [formGroup]="formpersonalsub" novalidate autocomplete="off">
      <div class="form-control-container row">
        <div class="col-6 col-s-6" style="padding-right:5px;">
          <tamin-field-label formControlName="nationalId">کد ملی</tamin-field-label>
          <tamin-field-validator formControlName="nationalId"></tamin-field-validator>
          <tamin-field-natioanl-id formControlName="nationalId"></tamin-field-natioanl-id>
        </div>
        <div class="col-6 col-s-6" style="padding-right:5px;">
          <tamin-field-label formControlName="dateOfBirth">تاریخ تولد</tamin-field-label>
          <tamin-field-persian-date formControlName="dateOfBirth"></tamin-field-persian-date>
        </div>
        <div class="col-6 col-s-6" style="padding-right:5px;">
          <tamin-field-label formControlName="firstName">نام</tamin-field-label>
          <tamin-field-validator formControlName="firstName"></tamin-field-validator>
          <tamin-field-persian-text formControlName="firstName"></tamin-field-persian-text>
        </div>
        <div class="col-6 col-s-6" style="padding-right:5px;">
          <tamin-field-label formControlName="lastName">نام خانوادگی</tamin-field-label>
          <tamin-field-validator formControlName="lastName"></tamin-field-validator>
          <tamin-field-persian-text formControlName="lastName"></tamin-field-persian-text>
        </div>
        <!--<div class="col-6 col-s-6" style="padding-right:5px;">
        <tamin-field-label formControlName="idCardNumber">شماره شناسنامه</tamin-field-label>
        <tamin-field-validator formControlName="idCardNumber"></tamin-field-validator>
        <tamin-field-text formControlName="idCardNumber"></tamin-field-text>
      </div>
      &lt;!&ndash; <div class="col-6 col-s-6" style="padding-right:5px;">
          <tamin-field-label formControlName="certificateSrial">سری شناسنامه</tamin-field-label>
          <tamin-field-validator formControlName="certificateSrial"></tamin-field-validator>
          <tamin-field-text formControlName="certificateSrial"></tamin-field-text>
        </div> &ndash;&gt;
      <div class="col-6 col-s-6" style="padding-right:5px;">
        <tamin-field-label formControlName="fatherName">نام پدر</tamin-field-label>
        <tamin-field-validator formControlName="fatherName"></tamin-field-validator>
        <tamin-field-text formControlName="fatherName"></tamin-field-text>
      </div>-->
        <div class="col-6 col-s-6" style="padding-right:5px;">
          <tamin-field-label formControlName="cityOfBirthId">شهر محل تولد</tamin-field-label>
          <tamin-field-auto-complete-data-grid formControlName="cityOfBirthId" placeholder="واحد صادر کننده" #cityOfBirth></tamin-field-auto-complete-data-grid>
        </div>
        <div class="col-6 col-s-6" style="padding-right:5px;">
          <tamin-field-label formControlName="cityOfIssueId">شهر محل صدور</tamin-field-label>
          <tamin-field-auto-complete-data-grid formControlName="cityOfIssueId" placeholder="واحد صادر کننده" #cityOfIssue></tamin-field-auto-complete-data-grid>
        </div>
        <div class="col-6 col-s-6" style="padding-right:5px;">
          <tamin-field-label formControlName="dependentType">نسبت:</tamin-field-label>
          <tamin-field-auto-complete-data-grid formControlName="dependentType" #dependentTypeCombobox>
          </tamin-field-auto-complete-data-grid>
        </div>



      </div>
    </form>

    <div class="panel-body">
      <!--<tamin-data-grid #subdomainGrid></tamin-data-grid>-->
      <button class="button normal blue" (click)="addImage('صفحه اول شناسنامه', 'image1')" *ngIf="!hasImage('image1')">
          <span style="font-size: 0.9em">افزودن صفحه اول شناسنامه</span>
    </button>
      <button class="button normal blue" (click)="addImage('صفحه دوم شناسنامه', 'image2')" *ngIf="!hasImage('image2')">
      <span style="font-size: 0.9em">افزودن صفحه دوم شناسنامه</span>
    </button>
      <button class="button normal blue"  [disabled]="isDisabledMarriage"  (click)="addImage(' صفحه ی مراتب عقد در عقدنامه', 'image3')" *ngIf="!hasImage('image3')">
      <span style="font-size: 0.9em"> افزودن  صفحه ی مراتب عقد در عقدنامه </span>
    </button>
      <button class="button normal blue"  [disabled]="isDisabled"  (click)="addImage(' گواهی اشتغال به تحصیل', 'image4')" *ngIf="!hasImage('image4')">
      <span style="font-size: 0.9em">افزودن  گواهی اشتغال به تحصیل</span>
    </button>

      <tamin-image-gallery-managed [maxImageSize]="500" #imageGallery></tamin-image-gallery-managed>
      <div class="alert alert-info">
        توجه: تصویر می بایست در قالب (jpeg) بوده و اندازه آن حداکثر ۵۰۰ کیلو بایت باشد.
      </div>
      <!--<div class="button-container col-12 col-s-12" style="margin:5px;">-->
        <button type="button" class="button normal" (click)="saveData()">ثبت اطلاعات فرد تحت پوشش</button>
        <button type="button" class="button normal gray" (click)="return()">انصراف</button>
      <!--</div>-->
    </div>

  </div>
</div>
<!--</tamin-modal>-->
