<div class="page-title"> لیست</div>
<div class="panel-body">
  <tamin-data-grid #workshopListGrid (itemSelect)="onItemSelect($event)" (itemAction)="onGridAction($event)"></tamin-data-grid>
  <p style="margin:5px;">
    <button type="button" class="button normal green" (click)="newClick()" [disabled]="!isDesabled">ثبت درخواست جدید</button>
  </p>
</div>
<app-important-papers-new #importantPapersNewComponent (submitt)="onLoadData($event)"></app-important-papers-new>
<app-important-papers-display #importantPapersDisplayComponent ></app-important-papers-display>

