<div class="alert alert-info">
  درخواست غرامت دستمزد ایام بارداری
</div>
<app-stp-header-new #header requestTyp="غرامت دستمزد ایام بارداری"></app-stp-header-new>
<form [formGroup]="theForm" novalidate autocomplete="off">
  <div class="panel" #dataPanel>
    <div class="panel-title">اطلاعات درخواست</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-6">
          <tamin-field-label formControlName="branchName">آخرین شعبه بیمه پردازی</tamin-field-label>
          <tamin-field-static-text formControlName="branchName"></tamin-field-static-text>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <tamin-field-label formControlName="barSDateTimeStamp">تاریخ شروع استراحت</tamin-field-label>
          <tamin-field-static-persian-date formControlName="barSDateTimeStamp"
                                           placeholder=""></tamin-field-static-persian-date>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="barEDateTimeStamp">تاریخ خاتمه استراحت</tamin-field-label>
          <tamin-field-static-persian-date formControlName="barEDateTimeStamp"
                                           placeholder=""></tamin-field-static-persian-date>
        </div>

        <div class="col-3">
          <tamin-field-label formControlName="barDemDatTimeStamp">تاریخ زایمان</tamin-field-label>
          <tamin-field-static-persian-date formControlName="barDemDatTimeStamp"
                                           placeholder=""></tamin-field-static-persian-date>
        </div>

        <div class="col-3">
          <tamin-field-label formControlName="barDrname">نام پزشک معالج</tamin-field-label>
          <tamin-field-static-text formControlName="barDrname" placeholder=""></tamin-field-static-text>
        </div>

        <div class="col-3">
          <tamin-field-label formControlName="barDRid">کد نظام پزشکی پزشک معالج</tamin-field-label>
          <tamin-field-static-text formControlName="barDRid" placeholder=""></tamin-field-static-text>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="barDd">تعداد روزهای استراحت</tamin-field-label>
          <tamin-field-static-text formControlName="barDd" placeholder=""></tamin-field-static-text>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="barType">وضعیت بارداری</tamin-field-label>
          <tamin-field-static-text formControlName="barType" placeholder=""></tamin-field-static-text>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="barChild">نوع بارداری</tamin-field-label>
          <tamin-field-static-text formControlName="barChild" placeholder=""></tamin-field-static-text>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <tamin-field-label formControlName="resultMessage">نتیجه ثبت درخواست</tamin-field-label>
          <tamin-field-validator formControlName="resultMessage"></tamin-field-validator>
          <tamin-field-static-multiline-text
            formControlName="resultMessage"></tamin-field-static-multiline-text>
        </div>
      </div>
    </div>
  </div>
</form>


<div class="panel">
  <div class="panel-title">نتیجه اقدامات انجام شده</div>
  <div class="panel-body">
    <app-request-result-new></app-request-result-new>
  </div>
</div>

<div class="panel">
  <div class="panel-title">مدارک</div>
  <div class="panel-body">
    <tamin-image-gallery-managed #imageGallery></tamin-image-gallery-managed>
  </div>
</div>

