<tamin-pdf-viewer #pdfViewer></tamin-pdf-viewer>
<div class="alert alert-info">
  <div style="direction: rtl">
    <i class="icon-lightbulb"></i>
    <span>برقراری ارتباط الکترونیکی میان سازمان ثبت اسناد و املاک کشور و سازمان تأمین اجتماعی برای مرحله اخذ گواهی
      مفاصاحساب تأمین اجتماعی بدون مراجعه ارباب رجوع به سازمان تأمین اجتماعی و از طریق درگاه الکترونیکی سازمان ثبت اسناد
      و املاک کشور و در دفاتر اسناد رسمی</span>
  </div>
  <div style="direction: ltr">
    <i class="icon-lightbulb"></i>
    <span>Establishment of electronic communication between the Real Estate Registration Department and the Social
      Security Organization for the Procedure of Obtain a social security clearance certificate without referral to the
      Social Security Organization through the electronic portal of the Real Estate Registration Department in Notary
      Bureaus</span>
  </div>
</div>
<div class="panel">
  <div class="page-title">جستجو / search</div>
  <div class="panel-body">
    <form [formGroup]="registerPropertyRegistrationSearchForm" autocomplete="off" (ngSubmit)="onSearchSubmit()">
      <div class="form-control-container row">
        <div class="col-6 col-6-1" style="padding: 3px;">
          <!---------------------------------------------------------------------------------------------------------->
          <tamin-field-label formControlName="workshopId">شماره کارگاه / workshop id:</tamin-field-label>
          <tamin-field-validator formControlName="workshopId"></tamin-field-validator>
          <tamin-field-text formControlName="workshopId" placeholder="شماره کارگاه / workshop id"></tamin-field-text>
          <!---------------------------------------------------------------------------------------------------------->
        </div>
        <div class="col-6 col-6-1" style="padding: 3px;">
          <!---------------------------------------------------------------------------------------------------------->
          <tamin-field-label formControlName="branchCode">کد شعبه / branch code:</tamin-field-label>
          <tamin-field-validator formControlName="branchCode"></tamin-field-validator>
          <tamin-field-text formControlName="branchCode" placeholder="کد شعبه"></tamin-field-text>
          <!---------------------------------------------------------------------------------------------------------->
        </div>
        <p style="margin-top:5px;">
          <button type="submit" class="button normal">جستجو / apply</button>
          <button type="button" class="button normal orange" (click)="resetForm()">نمایش همه / refresh</button>
        </p>
      </div>
    </form>
  </div>
  <div class="page-title">لیست درخواست ها / request's list</div>
  <div class="panel-body">
    <tamin-data-grid #RegisterPropertyRegistrationGrid (itemAction)="onGridAction($event)"></tamin-data-grid>
  </div>
</div>