<div class="panel">
  <div class="page-title">
    جستجو در پرسش و پاسخ های متداول ثبت شده
  </div>
  <div class="panel-body">
    <form [formGroup]="searchForm" autocomplete="off" novalidate>
      <div class="form-control-container">
        <div class="row">
          <div class="col-6">
            <tamin-field-label formControlName="requestTypeSearch">نوع درخواست</tamin-field-label>
            <!--              <tamin-field-text formControlName="requestTypeNew"></tamin-field-text>-->
            <tamin-field-combo-box-static formControlName="requestTypeSearch" valueField="value" displayField="name"
                                          [dataItems]="requestServices" #requestType></tamin-field-combo-box-static>
          </div>

          <div class="col-6">
            <tamin-field-label formControlName="requestStatusSearch">وضعیت درخواست</tamin-field-label>
            <!--              <tamin-field-text formControlName="requestStatusNew"></tamin-field-text>-->
            <tamin-field-combo-box-static formControlName="requestStatusSearch" valueField="value" displayField="name"
                                          #requestStatus></tamin-field-combo-box-static>

          </div>
          <div class="row">
            <div class="col-12">
              <button type="button" class="button normal" (click)="search()" >جستجو</button>
              <button type="button" class="button normal dark" (click)="refreshForm()">نمایش همه</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!--<app-request-faq #requestFaq></app-request-faq>-->

