<div class="panel">
  <div class="panel-title">
    پیگیری وضعیت لیست بیمه کارگاه ها
  </div>
  <div class="panel-body">
    <div class="alert alert-info">
      <i class="icon-info-circled"></i>
      <span>بیمه شده گرامی، در این بخش امکان مشاهده وضعیت لیست بیمه کارگاه ها فراهم شده است.</span>
    </div>
    <div>
      <form class="row" [formGroup]="searchForm">
        <div class="col-4">
          <tamin-field-label formControlName="traceCode">شماره پیگیری</tamin-field-label>
          <tamin-field-validator formControlName="traceCode"></tamin-field-validator>
          <tamin-field-text formControlName="traceCode"></tamin-field-text>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="statusId">وضعیت درخواست</tamin-field-label>
          <tamin-field-validator formControlName="statusId"></tamin-field-validator>
          <tamin-field-combo-box-static
            formControlName="statusId"
            [dataItems]="states"
            displayField="name"
            valueField="id">
          </tamin-field-combo-box-static>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="stateMonth">ماه</tamin-field-label>
          <tamin-field-validator formControlName="stateMonth"></tamin-field-validator>
          <tamin-field-combo-box-static
            formControlName="stateMonth"
            [dataItems]="months"
            displayField="name"
            valueField="id">
          </tamin-field-combo-box-static>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="stateYear">سال</tamin-field-label>
          <tamin-field-validator formControlName="stateYear"></tamin-field-validator>
          <tamin-field-text formControlName="stateYear"></tamin-field-text>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="workshopId">کد / نام کارگاه</tamin-field-label>
          <tamin-field-validator formControlName="workshopId"></tamin-field-validator>
          <tamin-field-text formControlName="workshopId"></tamin-field-text>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="contactNumber">ردیف پیمان</tamin-field-label>
          <tamin-field-validator formControlName="contactNumber"></tamin-field-validator>
          <tamin-field-text formControlName="contactNumber"></tamin-field-text>
        </div>
      </form>
      <div class="row">
        <div class="col-12" style="text-align: end">
          <button class="button white" (click)="clearSearch()">نمایش همه</button>
          <button class="button white" (click)="doSearch()">
            <i class="icon-search"></i>
            <span>جستجو</span>
          </button>
        </div>
      </div>
    </div>
    <tamin-data-grid #dataGrid (itemAction)="onShowDetails($event)">
    </tamin-data-grid>
  </div>
</div>

<!--
<div class="alert alert-info">
  <i class="icon-lightbulb"></i>
  <span>امکان نمایش وضیعت لیست بیمه کارگاه ها</span>
</div>
<div class="panel">
  <div class="page-title">
    جستجوی لیست های ارسالی
  </div>
  <div>
    <form [formGroup]="searchForm" autocomplete="off" novalidate>
      <div class="row">
        <div class="col-4">
          <tamin-field-label formControlName="traceCode">شماره پیگیری</tamin-field-label>
          <tamin-field-text formControlName="traceCode"></tamin-field-text>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="statusId">وضعیت درخواست</tamin-field-label>
          <tamin-field-combo-box-static
            formControlName="statusId"
            [dataItems]="states"
            displayField="name"
            valueField="id">
          </tamin-field-combo-box-static>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="stateDate">تاریخ</tamin-field-label>
          <tamin-field-persian-date formControlName="stateDate"></tamin-field-persian-date>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="workshopId">کارگاه</tamin-field-label>
          <tamin-field-auto-complete-data-grid formControlName="workshopId"
                                               #workshop></tamin-field-auto-complete-data-grid>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="contactNumber">ردیف پیمان</tamin-field-label>
          <tamin-field-static-text formControlName="contactNumber"></tamin-field-static-text>
        </div>
      </div>
      <div class="row" style="margin:5px;">
        <button type="submit" class="button normal" (click)="doSearch()">جستجو</button>
        <button type="button" class="button normal dark" (click)="resetForm()">نمایش همه</button>
      </div>
    </form>
  </div>
</div>
&lt;!&ndash;<div class="button-container" style="margin:4px">&ndash;&gt;
&lt;!&ndash;  <button type="button" class="button normal" (click)="addNewList()">ایجاد لیست بیمه جدید</button>&ndash;&gt;
&lt;!&ndash;</div>&ndash;&gt;

<div class="panel">
  <div class="page-title">
    سوابق لیست های ارسالی
  </div>
  <div class="panel-body">
    <tamin-data-grid #dataGrid (itemAction)="onShowDetails($event)">
    </tamin-data-grid>
  </div>
</div>
-->
