<!--<div class="alert alert-info">
    حمایت های کوتاه مدت - معرفی به کار های کارفرما
</div>
<app-employee-search (submitt)="onSearchSubmit($event)"></app-employee-search>
  <app-employee-list #employeeList></app-employee-list>-->
<!--<div class="panel">-->
<!--  <div class="panel-title">ثبت درخواست</div>-->
<!--  <div class="panel-body">-->
<!--    <button type="button" class="button normal" (click)="redirectTo('stp_old/indemnity')">غرامت دستمزد بیماری</button>-->
<!--    <button type="button" class="button normal" (click)="redirectTo('stp_old/marriage')">کمک هزینه ازدواج</button>-->
<!--    <button type="button" class="button normal" (click)="redirectTo('stp_old/pregnancy')">کمک هزینه بارداری</button>-->
<!--    <button type="button" class="button normal" (click)="redirectTo('stp_old/funeral')">کمک هزینه کفن و دفن</button>-->
<!--    <button type="button" class="button normal" (click)="redirectTo('stp_old/orthosis-prosthesis')">اروتز و پروتز</button>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="panel">
  <div class="panel-title">لیست معرفی به کار های ثبت شده</div>
  <div class="panel-body">
    <tamin-data-grid #dataGrid (itemAction)="onAction($event)"></tamin-data-grid>
  </div>
</div>-->
<!--
<app-stp_old-request-view #stpRequestView></app-stp_old-request-view>-->
<div class="panel">
  <!--<app-employee-search (submitt)="onSearchSubmit($event)"></app-employee-search>-->
   <!--<app-stp_old-workshop-search (submitt)="onSearchSubmit($event)"></app-stp_old-workshop-search>-->
   <app-workshop-search (submitt)="onSearchSubmit($event)"></app-workshop-search>

  <app-intro-list #introList></app-intro-list>
</div>
