<div>
  <div class="alert alert-info condition-list">
    <h4>شرایط دریافت هدیه ازدواج طبق ماده ۸۵ تامین اجتماعی</h4>
    <p><span>۱ -</span><span>ازدواج اول بیمه شده باشد.</span></p>
    <p><span>۲ -</span><span>در تاریخ ازدواج(عقد دائم) رابطه ی استخدامی بیمه شده با کارفرما قطع نشده باشد</span></p>
    <p><span>۳ -</span><span>بیمه شده ظرف پنج سال قبل از تاریخ عقد دائم  حداقل ۷۲۰ روز سابقه پرداخت حق بیمه داشته باشد.</span></p>
    <p><span>۴ -</span><span>عقد در دفاتر اسناد رسمی ثبت شده باشد  .</span></p>
    <p><span>۵ -</span><span> بیمه شدگان حرف و مشاغل آزاد، اختیاری، قالی بافان ، و کارگران ساختمانی مشمول دریافت هدیه ی ازدواج نیستند</span></p>
    <p><span>۶ -</span><span>پرداخت هدیه ی ازدواج بیمه شدگان کارگاههای دارای قرارداد پورسانتاژی بر عهده ی کارفرما میباشد</span></p>
    <!--<p><span>۵ -</span><span> احراز شرایط استحقاق دریافت کمک هزینه ازدواج بر مبنای اطلاعات دریافتی از ثبت احوال انجام می شود که به صورت ماهانه بروزرسانی می گردد</span></p>-->
    <!--<p><span>۶ -</span><span> در صورتی که عقد شما در یک ماه اخیر صورت گرفته و هنوز از طرف ثبت احوال اطلاع داده نشده باشد لطفا پس از گذشت یک ماه مجددا به سامانه مراجعه نمایید .</span></p>-->
  </div>
</div>
