<!--<div class="page-title" >فهرست پرسنل موجود</div>-->
<div class="page-title">فهرست پرسنل جدید</div>
<div class="panel-body">
  <form [formGroup]="searchForm" (submit)="loadData2(searchForm.value)">
    <div class="row">
      <div class="col-6 col-6-1">
        <tamin-field-label formControlName="status">وضعیت درخواست</tamin-field-label>
        <tamin-field-combo-box-static formControlName="status" [dataItems]="status" valueField="requestCode"
                                      displayField="requestDesc"></tamin-field-combo-box-static>
      </div>
      <div class="col-6 col-6-1" >
        <tamin-field-label formControlName="nationalId">کد ملی:</tamin-field-label>
        <tamin-field-validator formControlName="nationalId"></tamin-field-validator>
        <tamin-field-text formControlName="nationalId" placeholder="کد ملی"></tamin-field-text>
      </div>
      <p style="margin-top:5px;">
        <button type="submit" class="button normal" [disabled]="!searchForm.valid">جستجو</button>
        <button type="button" class="button normal orange" (click)="resetForm()">نمایش همه</button>
      </p>

    </div>
    <div class="row">
      <tamin-data-grid #employeeDataGrid (itemAction)="onGridAction($event)"></tamin-data-grid>
      <div class="col-12 col-s-12">
        <button class="button normal green" (click)="AddClick()">
          <i class="icon-plus"></i>
          <span>افزودن پرسنل جدید</span>
        </button>
      </div>
    </div>
  </form>

</div>
