<div class="page-title">شرایط لازم برای انعقاد قرارداد تکمیل سوابق کسری از ماه</div>

<div class="panel">
  <div class="panel-title">اطلاعات هویتی</div>
  <div class="panel-body">
    <app-special-insured-info></app-special-insured-info>
  </div>
</div>

<div class="panel">
  <div class="panel-title">برای انعقاد قرارداد " تکمیل سوابق کسری از ماه" داشتن یکی از شرایط زیر الزامی است:</div>
  <div class="panel-body">
    <form [formGroup]="viewForm" autocomplete="off" novalidate>
      <div class="form-control-container">
        <tamin-field-checkbox formControlName="tenYearsHistory" onclick="return false;">
          1- داشتن حداقل 10 سال سابقه پرداخت حق بیمه نزد سازمان تامین اجتماعی
        </tamin-field-checkbox>
        <br>
        <tamin-field-checkbox formControlName="thirtyDaysHistory" onclick="return false;">
          2- حائز شرایط به دلیل سن کمتر از 50 سال
        </tamin-field-checkbox>
        <br>
        <tamin-field-checkbox formControlName="extraAgeHistory" onclick="return false;">
          3- داشتن {{history}} روز سابقه و {{age}} سن در زمان تقاضا
        </tamin-field-checkbox>
        <br>
        <!-- <tamin-field-checkbox formControlName="optionalContract" onclick="return false;">
          4- داشتن ... قرارداد بیمه اختیاری بعد از تاریخ 1385/08/01
        </tamin-field-checkbox>
        <br> -->
        <!-- <tamin-field-checkbox formControlName="militaryService" onclick="return false;">
          5- انجام {{militaryDuration}} ماه خدمت سربازی
        </tamin-field-checkbox> -->
        <hr>
        <tamin-field-checkbox formControlName="unsatisfied" onclick="return false;">
          فاقد شرایط احراز سن و سابقه
          <span *ngIf="isError">
            (بیمه شده دارای {{age}} سن و {{history}} سابقه که حداقل نیاز به  {{historyDaye}} روز سابقه برای انعقاد قرارداد دارد.)
          </span>
          <span *ngIf="isErrortow">
           (در محاسبه روزهای سابقه خطا رخ داده است...)
          </span>
        </tamin-field-checkbox>
      </div>
      <p style="margin:5px;">
        <button type="button" class="button normal gray" (click)=redirectToContractPage()><i
          class=" icon-right-big"></i><span>بازگشت</span>
        </button>
      </p>
    </form>
  </div>
</div>
