<!--<div style="margin: 5px">-->
<div class="summary">
  <div class="row">
    <div class="col-4">
      <p><span>شماره ملی</span>: <strong>{{theForm.get('nationalId').value | persianNumber}}</strong></p>
    </div>
    <div class="col-4 col-s-6">
      <p><span>نام</span>: <strong>{{theForm.get('firstName').value | persianNumber}}</strong></p>
    </div>
    <div class="col-4 col-s-6">
      <p><span>نام خانوادگی</span>: <strong>{{theForm.get('lastName').value | persianNumber}}</strong></p>
    </div>
    <div class="col-4 col-s-6">
      <p><span>شماره موبایل</span>: <strong>{{theForm.get('mobile').value | persianNumber}}</strong></p>
    </div>
    <div class="col-4 col-s-6">
      <p><span>بانک</span>: <strong>{{theForm.get('bank').value | persianNumber}}</strong></p>
    </div>
    <div class="col-4 col-s-6">
      <p><span>شماره حساب</span>: <strong>{{theForm.get('accountNumber').value | persianNumber}}</strong></p>
    </div>
    <!--<div class="col-4 col-s-6">-->
    <!--<p><span>شماره شناسنامه</span>: <strong>{{theForm.get('birthCertificateNumber').value | persianNumber}}</strong></p>-->
    <!--</div>-->
  </div>
  <!--<div class="row">-->
  <!--&lt;!&ndash;<div class="col-4">&ndash;&gt;-->
  <!--&lt;!&ndash;<p><span>تاریخ تولد</span>: <strong>{{theForm.get('birthDate').value | persianDateTime | persianNumber}}</strong></p>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--</div>-->
</div>
<!--</div>-->
