.main-container {
    background-color: #ccccce;
}

.disable {
    text-decoration:line-through ;
}

.accordion-subitem {
      cursor: pointer;
      margin: 1px;
      border: 1px solid #aaaaaa;
      border-radius: 3px;
      padding: 5px;
      background-color: #f5f5f7;
      color: rgb(51, 51, 51);
}

.accordion-subitem:hover {
      background-color: #fff1dc;
      transition: 0.5s;
}

.insured-side-image {
      max-width: 90%;
      width: 90%;
      height: auto;
      margin: 5%;
}

.insured-subitem-image {
      background-image: url(/assets/images/icons/Web-Service-Icon.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 18px;
      height: 18px;
      margin-left: 3px;
      float: right;
}

/*===========================================================================*/
.mobile-group-button {
    position: relative;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    border: solid 1px rgb(221, 221, 221);
    color: black;
    height: 200px;
    margin: 20px;
    cursor: pointer;
}

.mobile-group-button-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.192);
    color: black;
    height: 30%;
}

.mobile-group-button-icon {
    margin-top: 5%;
}

.mobile-group-button-title {
    margin-top: 8%;
    font-weight: bold;
}

.mobile-top-image {
    width: 100%;
    background-image: url(/assets/images/menu/mobile/banner.png);
    background-size: 100% 100% ;
    background-repeat: no-repeat;
    text-align: justify;
    padding: 15px 25px 35px 25px;
}
