<div>
  <app-portal-registration-step-one
    *ngIf="currentStep == 'step1'"
    (NextStep)="onEnterStepTwo($event)"></app-portal-registration-step-one>
  <app-portal-registration-step-two
    *ngIf="currentStep == 'step2'"
    (NextStep)="onEnterStepThree($event)"
    (PrevStep)="onEnterStepOne()"></app-portal-registration-step-two>
  <app-portal-registration-step-three
    *ngIf="currentStep == 'step3'"
    [questionsData]="questionsData"
    [nationalCode]="nationalCode"
    (NextStep)="onEnterStepFour($event)"
    (PrevStep)="onEnterStepTwo(null)"></app-portal-registration-step-three>
  <app-portal-registration-step-four
    *ngIf="currentStep == 'step4'"
    [preview]="data"
    [questionsData]="questionsData"
    (submit)="submit()"
    (PrevStep)="onEnterStepThree(null)" (prevStep)="onEnterStepThree(null)"></app-portal-registration-step-four>
</div>
