<!-- ثبت پزشک معالج -->
<div class="panel">
  <div class="page-title">
    ثبت بیماری
  </div>
  <div class="panel-body">
    <form [formGroup]="diseaseForm" novalidate autocomplete="off">
      <div class="row">
        <div class="col-3">
          <tamin-field-label formControlName="requestNumber">شماره درخواست</tamin-field-label>
          <tamin-field-static-text formControlName="requestNumber"></tamin-field-static-text>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="illnessDesc">نام بیماری</tamin-field-label>
          <tamin-field-text [placeHolder]="'نام بیماری'" formControlName="illnessDesc"></tamin-field-text>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <tamin-field-label formControlName="doctorInfoId">شماره نظام پزشکی</tamin-field-label>
          <ng-container
            *ngIf="diseaseForm.controls.doctorInfoId?.touched && !diseaseForm.controls.doctorInfoId?.valid">
              <span *ngIf="diseaseForm.controls.doctorInfoId.errors.required"
                    class="tamin-form-control-error">
                <span style="color: #b00020;">مقدار فیلد الزامی می باشد</span>
              </span>
            <span *ngIf="diseaseForm.controls.doctorInfoId.errors.pattern" class="tamin-form-control-error">
              <span style="color: #b00020;">شماره وارد شده بیشتر از حد مجاز میباشد</span>
            </span>
          </ng-container>
          <tamin-field-mask [placeHolder]="'شماره نظام پزشکی'" formControlName="doctorInfoId"
                            regex="^[۰۱۲۳۴۵۶۷۸۹0-9]{1,10}$"></tamin-field-mask>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="mainDoctorFirstName">نام پزشک</tamin-field-label>
          <tamin-field-text *ngIf="!lockFirstOrgunIdentity" [placeHolder]="'نام پزشک'" formControlName="mainDoctorFirstName"></tamin-field-text>
          <tamin-field-static-text *ngIf="lockFirstOrgunIdentity" [placeHolder]="'نام پزشک'" formControlName="mainDoctorFirstName"></tamin-field-static-text>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="mainDoctorLastName">نام خانوادگی پزشک</tamin-field-label>
          <tamin-field-text *ngIf="!lockFirstOrgunIdentity" [placeHolder]="'نام خانوادگی پزشک'" formControlName="mainDoctorLastName"></tamin-field-text>
          <tamin-field-static-text *ngIf="lockFirstOrgunIdentity" [placeHolder]="'نام خانوادگی پزشک'" formControlName="mainDoctorLastName">
          </tamin-field-static-text>
        </div>
        <div class="col-3" style="margin-top: 22px; float: left;" [ngClass]="{'missing': diseaseGalleryMissing}">
          <button (click)="uploadDiseaseFile()" [disabled]="diseaseUploadExceed"
                  class="button normal blue icon-upload" type="button">
            بارگذاری گواهی پزشک معالج
          </button>
          <tamin-image-gallery-managed #diseaseGallery [maxImageSize]="500"
                                       (afterRemove)="onRemoveImage(diseaseGallery.images, '39',2)"
                                       (afterInsert)="onInsertImage(diseaseGallery.images, '39',2)">
          </tamin-image-gallery-managed>
          <div class="alert alert-warning">
            توجه: تصویر می بایست در قالب (jpeg) بوده و اندازه آن حداکثر ۵۰۰ کیلو بایت باشد.
          </div>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="mainDoctorSpeciality">تخصص پزشک معالج</tamin-field-label>
          <tamin-field-text *ngIf="!lockFirstOrgunIdentity" [placeHolder]="'تخصص پزشک معالج'" formControlName="mainDoctorSpeciality"></tamin-field-text>
          <tamin-field-static-text *ngIf="lockFirstOrgunIdentity" [placeHolder]="'تخصص پزشک معالج'" formControlName="mainDoctorSpeciality">
          </tamin-field-static-text>
        </div>
        <!-- فرم شماره چهارم -->
        <div class="col-6" [hidden]="hideDownloadForm4">
          <div class="row customized-row" style="align-content: center;">
            <div class="col-4">
              <!--<a href="/view/assets/pdfs/committeeForm4.pdf"  download>-->
              <button class="button normal green icon-download" (click)="downloadForm4PDF()" type="button">{{form4Desc}}
              </button>
              <!--</a>-->
            </div>
            <div class="col-7">
              <div class="alert alert-info">
                <p><i class="icon-lightbulb"></i>
                  بارگذاری فرم استعلام از پزشک معالج الزامی است، لطفا فایل آن را دانلود و چاپ نموده، پس از تکمیل توسط پزشک
                  معالج، آن را
                  اسکن
                  و بارگذاری نمایید.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- ---- -->

<!-- سوابق -->
<div class="panel">
  <div class="page-title">
    اطلاعات مربوط به بیماری مورد اشاره در گواهی فوق
  </div>
  <!-- ثبت سایر پزشکان معالج -->
  <div class="panel">
    <div class="panel-body">
      <form [formGroup]="historyForm" novalidate autocomplete="off">
        <div class="row">
          <div class="col-12">
              آیا بعلت بیماری فوق تحت معالجه پزشک دیگری قرار گرفته اید ؟
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            بلی
            <tamin-field-checkbox formControlName="hasOtherDoctor"></tamin-field-checkbox>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div [hidden]="!historyForm.controls.hasOtherDoctor.value" class="col-12">
    <div class="panel">
      <div class="page-title">
        سایر پزشکان
      </div>
      <div class="alert alert-info">
        <p><i class="icon-lightbulb"></i>
          نام و نام خانوادگی و تخصص سایر پزشکانی که به دلیل بیماری مورد اشاره به آنها مراجعه کرده اید.
        </p>
      </div>
      <div class="panel-body">
        <form [formGroup]="doctorHistoryForm">
          <div class="row">
            <div class="col-3">
              <tamin-field-label formControlName="doctorOrganNumber">شماره نظام پزشکی</tamin-field-label>
              <ng-container
                *ngIf="doctorHistoryForm.controls.doctorOrganNumber?.touched && !doctorHistoryForm.controls.doctorOrganNumber?.valid">
              <span *ngIf="doctorHistoryForm.controls.doctorOrganNumber.errors.required"
                    class="tamin-form-control-error">
                <span style="color: #b00020;">مقدار فیلد الزامی می باشد</span>
              </span>
                <span *ngIf="doctorHistoryForm.controls.doctorOrganNumber.errors.pattern"
                      class="tamin-form-control-error">
              <span style="color: #b00020;">شماره وارد شده بیشتر از حد مجاز میباشد</span>
            </span>
              </ng-container>
              <tamin-field-mask [placeHolder]="'شماره نظام پزشکی'" formControlName="doctorOrganNumber"
                                regex="^[۰۱۲۳۴۵۶۷۸۹0-9]{1,10}$"></tamin-field-mask>
            </div>
            <div class="col-3">
              <tamin-field-label formControlName="doctorFirstName">نام پزشک</tamin-field-label>
              <tamin-field-text *ngIf="!lockSecondOrgunIdentity" [placeHolder]="'نام پزشک'" formControlName="doctorFirstName"></tamin-field-text>
              <tamin-field-static-text *ngIf="lockSecondOrgunIdentity" [placeHolder]="'نام پزشک'" formControlName="doctorFirstName"></tamin-field-static-text>
            </div>
            <div class="col-3">
              <tamin-field-label formControlName="doctorLastName">نام خانوادگی پزشک</tamin-field-label>
              <tamin-field-text *ngIf="!lockSecondOrgunIdentity" [placeHolder]="'نام خانوادگی پزشک'" formControlName="doctorLastName"></tamin-field-text>
              <tamin-field-static-text *ngIf="lockSecondOrgunIdentity" [placeHolder]="'نام خانوادگی پزشک'" formControlName="doctorLastName">
              </tamin-field-static-text>
            </div>
            <div class="col-3" style="margin-top: 22px; float: left;">
              <button (click)="uploadDoctorFile()" [disabled]="doctorHistoryUploadExceed"
                      class="button normal blue icon-upload" type="button">
                بارگذاری گواهی سایر پزشکان معالج
              </button>
              <tamin-image-gallery-managed #doctorHistoryGallery [maxImageSize]="500"
                                           (afterRemove)="onRemoveImage(doctorHistoryGallery.images, '72',2)"
                                           (afterInsert)="onInsertImage(doctorHistoryGallery.images, '72',2)">
              </tamin-image-gallery-managed>
              <div class="alert alert-warning">
                توجه: تصویر می بایست در قالب (jpeg) بوده و اندازه آن حداکثر ۵۰۰ کیلو بایت باشد.
              </div>
            </div>
            <div class="col-3">
              <tamin-field-label formControlName="doctorSpecialty">تخصص پزشک معالج</tamin-field-label>
              <tamin-field-text *ngIf="!lockSecondOrgunIdentity" [placeHolder]="'تخصص پزشک معالج'" formControlName="doctorSpecialty"></tamin-field-text>
              <tamin-field-static-text *ngIf="lockSecondOrgunIdentity" [placeHolder]="'تخصص پزشک معالج'" formControlName="doctorSpecialty">
              </tamin-field-static-text>
            </div>
          </div>
          <div class="row" [hidden]="!doctorFormValidationError">
            <div class="col-12">
              <div class="alert alert-danger">
                خطا در ورود اطلاعات
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button (click)="addDoctorHistory()" class="button normal green left-add-bottom" type="button">
                افزودن پزشک معالج
              </button>
            </div>
          </div>
          <tamin-data-grid #doctorHDataGrid (itemAction)="onDoctorAction($event)"></tamin-data-grid>
        </form>
      </div>
    </div>
  </div>
  <!-- ---- -->

  <!-- ثبت بیمارستانهای محل بستری -->
  <div class="panel">
    <div class="panel-body">
      <form [formGroup]="historyForm" novalidate autocomplete="off">
        <div class="row">
          <div class="col-12">
            آیا به علت بیماری فوق در بیمارستان بستری شده اید ؟
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            بلی
            <tamin-field-checkbox formControlName="hasHospitalization"></tamin-field-checkbox>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div [hidden]="!historyForm.controls.hasHospitalization.value" class="col-12">
    <div class="panel">
      <div class="page-title">
        ثبت مدارک بیمارستان های محل بستری/مدارک سرپایی
      </div>
      <div class="panel-body">
        <form [formGroup]="hospitalizationHistoryForm" novalidate autocomplete="off">
          <div class="row">
            <div class="col-3">
              <tamin-field-label formControlName="hospitalizedProvinceCode">استان محل بیمارستان</tamin-field-label>
              <tamin-field-auto-complete-data-grid formControlName="hospitalizedProvinceCode" placeholder="استان محل بیمارستان"
                                                   #hospitalProvince>
              </tamin-field-auto-complete-data-grid>
            </div>
            <div class="col-3">
              <tamin-field-label formControlName="hospitalizedCityCode">شهر محل بیمارستان</tamin-field-label>
              <tamin-field-combo-box-static [dataItems]="hospitalCityList" displayField="name"
                                            formControlName="hospitalizedCityCode" placeHolder="انتخاب کنید ..."
                                            valueField="value"></tamin-field-combo-box-static>
            </div>
            <div class="col-3">
              <tamin-field-label formControlName="hospitalName">نام بیمارستان</tamin-field-label>
              <tamin-field-text [placeHolder]="'نام بیمارستان'" formControlName="hospitalName"></tamin-field-text>
            </div>
            <!--<div class="col-3" style="margin-top: 22px;" [ngClass]="{'missing': hosHistoryGalleryMissing}">
              <button (click)="showHospitalDoModal()" class="button normal blue icon-upload" type="button"> بارگذاری مدارک
              </button>
            </div>-->
            <div class="col-6">
              <div class="col-6">
                <tamin-field-label formControlName="hospitalizedStartDate">تاریخ شروع بستری</tamin-field-label>
                <tamin-field-persian-date formControlName="hospitalizedStartDate"></tamin-field-persian-date>
              </div>
              <div class="col-6">
                <tamin-field-label formControlName="hospitalizedEndDate">تاریخ خاتمه بستری</tamin-field-label>
                <tamin-field-persian-date formControlName="hospitalizedEndDate"></tamin-field-persian-date>
              </div>
            </div>
            <div class="col-6" style="margin-top: 10px;">
              <!--<div class="part-title">
                <p style="margin-bottom: 8px;">
                  صرفا اوراق (برگ پذیرش بیمارستان، شرح حال، خلاصه پرونده، شرح عمل)(در صورت وجود) بارگذاری گردد.
                </p>
                <p>
                  ظرفیت بارگذاری حداکثر 20 برگ میباشد.
                </p>
              </div>-->
              <div class="col-12">
                <button (click)="addHospitalizationHistory()" class="button normal green left-add-bottom" type="button">
                  ثبت بیمارستان
                </button>
              </div>
            </div>
          </div>
          <div class="row" [hidden]="!hospitalizationFormValidationError">
            <div class="col-12">
              <div class="alert alert-danger">
                خطا در ورود اطلاعات
              </div>
            </div>
          </div>
          <tamin-data-grid #hospitalHDataGrid (itemAction)="onHospitalAction($event)"></tamin-data-grid>
        </form>
      </div>
    </div>
  </div>
  <!-- ---- -->

  <form [formGroup]="historyForm" novalidate autocomplete="off">
    <div class="panel" [hidden]="mainModel.ninteenOneChecked">
      <div class="row">
        <div class="col-3">
          <tamin-field-label formControlName="hasCommissionOtherOrgan">
            آیا قبلا بیماری فوق توسط کمیسیون پزشکی یا پزشکان معتمد نهادهای دیگر مورد بررسی قرار گرفته است ؟
          </tamin-field-label>
        </div>
        <div class="col-3">
          <tamin-field-combo-box-static [dataItems]="haveOrNotHave" displayField="name"
                                        formControlName="hasCommissionOtherOrgan" placeHolder="انتخاب کنید ..."
                                        valueField="value">
          </tamin-field-combo-box-static>
        </div>
        <div class="col-3">
          <tamin-field-text [placeHolder]="'نام نهاد یا سازمان'" formControlName="commissionOtherOrganDesc"></tamin-field-text>
        </div>
      </div>
    </div>

    <div class="panel">
      <div class="row">
        <div class="col-3">
          <tamin-field-label formControlName="hasSupportOrgan">
            آیا به دلیل بیماری فوق تحت حمایت نهادهای حمایتی مانند کمیته امداد، بهزیستی و .. قرار گرفتید ؟
          </tamin-field-label>
        </div>
        <div class="col-3">
          <tamin-field-combo-box-static [dataItems]="haveOrNotHave" displayField="name"
                                        formControlName="hasSupportOrgan" placeHolder="انتخاب کنید ..."
                                        valueField="value">
          </tamin-field-combo-box-static>
        </div>
        <div class="col-3">
          <tamin-field-text [placeHolder]="'نام نهاد یا سازمان'" formControlName="supportOrganDesc"></tamin-field-text>
        </div>
      </div>
    </div>

    <div class="panel">
      <div class="row">
        <div class="col-3">
          <tamin-field-label formControlName="hasCommissionTaminOrgan">
            آیا قبلا به دلیل بیماری فوق در کمیسیون پزشکی سازمان تامین اجتماعی شرکت کرده اید ؟
          </tamin-field-label>
        </div>
        <div class="col-3">
          <tamin-field-combo-box-static [dataItems]="haveOrNotHave" displayField="name"
                                        formControlName="hasCommissionTaminOrgan" placeHolder="انتخاب کنید ..."
                                        placeHolder="انتخاب کنید ..."
                                        valueField="value">
          </tamin-field-combo-box-static>
        </div>
        <div class="col-3" [hidden]="!hasCommissionTaminOrgan" [ngClass]="{'missing': taminCommissionGalleryMissing}">
          <button (click)="uploadTaminCommissionFile()" [disabled]="taminCommissionUploadExceed"
                  class="button normal blue icon-upload" type="button">
            مدارک دال بر شدت  و تغییر  بيماری
          </button>
          <tamin-image-gallery-managed #taminCommissionGallery [maxImageSize]="500"
                                       (afterRemove)="onRemoveImage(taminCommissionGallery.images, '44',2)"
                                       (afterInsert)="onInsertImage(taminCommissionGallery.images, '44',2)">
          </tamin-image-gallery-managed>
          <div class="alert alert-warning">
            توجه: تصویر می بایست در قالب (jpeg) بوده و اندازه آن حداکثر ۵۰۰ کیلو بایت باشد.
          </div>
        </div>
      </div>
    </div>

    <div class="panel">
      <div class="row">
        <div class="col-3">
          <tamin-field-label formControlName="bookletTypeCode">
            برای درمان بیماری فوق از چه دفترچه درمانی استفاده کردید ؟
          </tamin-field-label>
        </div>
        <div class="col-3">
          <tamin-field-combo-box-static [dataItems]="bookletTypeList" displayField="name"
                                        formControlName="bookletTypeCode" placeHolder="انتخاب کنید ..."
                                        valueField="value">
          </tamin-field-combo-box-static>
        </div>
      </div>
    </div>

    <div class="panel">
      <div class="row">
        <div class="col-3">
          <tamin-field-label formControlName="refrenceReasonCode">
            علت مراجعه
          </tamin-field-label>
        </div>
        <div class="col-3">
          <tamin-field-combo-box-static [dataItems]="refrenceReasonList" displayField="name"
                                        formControlName="refrenceReasonCode" placeHolder="انتخاب کنید ..."
                                        valueField="value">
          </tamin-field-combo-box-static>
        </div>
      </div>
    </div>

    <div class="panel">
      <div class="row">
        <div class="col-5">
          <tamin-field-label formControlName="refrenceReasonCode">
            چه اقدامات درمانی برای معالجه بیماری فوق انجام داده اید
          </tamin-field-label>
        </div>
        <div class="col-2">
          <div class="col-12">
            <tamin-field-checkbox formControlName="hasDrugUsageBoolean"></tamin-field-checkbox>
            <tamin-field-label formControlName="hasDrugUsageBoolean">مصرف دارو</tamin-field-label>
          </div>
        </div>
        <div class="col-2">
          <div class="col-12">
            <tamin-field-checkbox formControlName="hasSurgeryBoolean"></tamin-field-checkbox>
            <tamin-field-label formControlName="hasSurgeryBoolean">عمل جراحی</tamin-field-label>
          </div>
        </div>
        <div class="col-3">
          <div class="col-12">
            <tamin-field-checkbox formControlName="hasOtherDarmanBoolean"></tamin-field-checkbox>
            <tamin-field-label formControlName="hasOtherDarmanBoolean">سایر اقدامات درمانی</tamin-field-label>
          </div>
          <div class="col-12">
            <tamin-field-text [hidden]="!this.historyForm.value.hasOtherDarmanBoolean"
                              [placeHolder]="'سایر اقدامات درمانی'"
                              formControlName="otherDarmanDesc"></tamin-field-text>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- ---- -->

<!-- Modal Box -->
<tamin-modal #profileUploadModal
             title="آپلود عکس پرسنلی"
             width="80%">
  <div class="panel"
       style="border: solid 1px #ccc; padding: 10px; margin-bottom: 10px;max-height: 60vh; overflow: auto">
    <div class="panel-title">
      متقاضی گرامی جهت دانلود فرم استعلام از پزشک می بایست ابتدا عکس پرسنلی متقاضی را بارگذاری نمایید</div>
    <div class="panel-body">
        <div class="row">
          <div class="col-12">
            <button (click)="uploadProfileFile()" class="button normal"
                    style="margin: 12px">
              <span><i class="icon-plus"></i><span>بارگذاری مدرک جدید</span></span>
            </button>
            <tamin-image-gallery-managed #profileGallery [maxImageSize]="500"
                                         (afterRemove)="onRemoveImage(profileGallery.images, '45',1)"
                                         (afterInsert)="onInsertImage(profileGallery.images, '45',1)"></tamin-image-gallery-managed>
            <div class="alert alert-info">
              توجه: تصویر می بایست در قالب (jpeg) بوده و اندازه آن حداکثر ۵۰۰ کیلو بایت باشد.
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="button-container">
    <button (click)="hideModalAndSave()" class="button normal">ذخیره و بارگذاری</button>
    <button (click)="profileUploadModal.hide(); this.profileGallery.clearImages();" class="button normal red">بستن</button>
  </div>
</tamin-modal>
<!-- ---- -->

<!-- Modal Box -->
<tamin-modal #hospitalDocModal
             title="تکمیل مدرک"
             width="80%">
  <div class="panel"
       style="border: solid 1px #ccc; padding: 10px; margin-bottom: 10px;max-height: 60vh; overflow: auto">
    <div class="row" [hidden]="!hosHistoryGalleryMissing">
      <div class="col-12">
        <div class="alert alert-danger">
          خطا در ورود اطلاعات
        </div>
      </div>
    </div>
    <div class="panel-body">
      <form [formGroup]="documentForm">
        <div class="row document-struct">
          <div class="part-title">
            بارگذاری مدارک جدید
          </div>
          <div class="part-title">
            <p style="margin-bottom: 8px;">
              صرفا اوراق (برگ پذیرش بیمارستان، شرح حال، خلاصه پرونده، شرح عمل)(در صورت وجود) بارگذاری گردد.
            </p>
            <p>
              ظرفیت بارگذاری حداکثر 20 برگ میباشد.
            </p>
          </div>
          <div class="col-6">
            <tamin-field-label formControlName="selectedItem">نوع مدرک</tamin-field-label>
            <tamin-field-combo-box-static #hospitalDocTypeCombo displayField="title"
                                          formControlName="selectedItem"
                                          placeHolder="انتخاب کنید ..."
                                          valueField="tag"></tamin-field-combo-box-static>
          </div>
          <button (click)="uploadHospitalizationFile()" [disabled]="documentForm.value.selectedItem === ''"
                  class="button normal"
                  style="margin-top: 12px; margin-right: 13px;">
            <span><i class="icon-plus"></i><span>بارگذاری مدرک</span></span>
          </button>
          <div [ngClass]="{'missing': hosHistoryGalleryMissing}" class="col-12">
            <tamin-image-gallery-managed #hospitalizationHistoryGallery [maxImageSize]="500"
                                         (afterRemove)="onRemoveImage(hospitalizationHistoryGallery.images, '', 20)"
                                         (afterInsert)="onInsertImage(hospitalizationHistoryGallery.images, '', 20)">
            </tamin-image-gallery-managed>
          </div>
          <div class="alert alert-warning">
            توجه: تصویر می بایست در قالب (jpeg) بوده و اندازه آن حداکثر ۵۰۰ کیلو بایت باشد.
          </div>
        </div>
      </form>
    </div>
  </div>
  <div style="padding: 8px">
    <button (click)="finishedHosHistoryDocs()" class="button normal">اتمام بارگذاری</button>
    <button (click)="hospitalDocModal.hide(); this.hospitalizationHistoryGallery.clearImages();" class="button normal red">بستن</button>
  </div>
</tamin-modal>
<!-- ---- -->
