<div class="alert alert-info">
  مرحله دوم ثبت نام: اطلاعات سجلی
</div>
<div class="panel">
  <div class="panel-body">
    <form [formGroup]="theForm" autocomplete="off" novalidate>
      <div class="row">
        <div class="col-4">
          <tamin-field-label formControlName="firstName">نام</tamin-field-label>
          <tamin-field-validator formControlName="firstName"></tamin-field-validator>
          <tamin-field-persian-text formControlName="firstName" maxlength="30"></tamin-field-persian-text>
          <div class="hint">
            <i class="icon-lightbulb"></i>
            <span>حداکثر 30 حرف</span>
          </div>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="lastName">نام خانوادگی</tamin-field-label>
          <tamin-field-validator formControlName="lastName"></tamin-field-validator>
          <tamin-field-persian-text formControlName="lastName" [maxlength]="30"></tamin-field-persian-text>
          <div class="hint">
            <i class="icon-lightbulb"></i>
            <span>حداکثر 30 حرف</span>
          </div>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="gender">جنسیت</tamin-field-label>
          <tamin-field-validator formControlName="gender"></tamin-field-validator>
          <tamin-field-combo-box-static formControlName="gender" [dataItems]="genders" valueField="value"
                                        displayField="name" placeHolder="انتخاب کنید ..."
                                        #organizationDataGrid></tamin-field-combo-box-static>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <tamin-field-label formControlName="birthCertificateNumber">شماره شناسنامه</tamin-field-label>
          <tamin-field-validator formControlName="birthCertificateNumber"></tamin-field-validator>
          <tamin-field-text formControlName="birthCertificateNumber" maxlength="15"></tamin-field-text>
          <div class="hint">
            <i class="icon-lightbulb"></i>
            <span>حداکثر 15 حرف</span>
          </div>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="birthDate">تاریخ تولد</tamin-field-label>
          <tamin-field-validator formControlName="birthDate"></tamin-field-validator>
          <tamin-field-persian-date formControlName="birthDate"></tamin-field-persian-date>
        </div>
      </div>
      <br/>
      <div class="hint">
        <i class="icon-lightbulb"></i>
        <span>اطلاعات سجلی می بایست منطبق با شناسنامه متقاضی باشد، این اطلاعات با سازمان ثبت احوال کنترل خواهد شد.</span>
      </div>
    </form>
  </div>
</div>
<div class="panel">
  <div class="panel-body">
    <button type="button" class="button normal blue" (click)="onPrevStep()">
      <i class="icon-right-big"></i>
      <span>مرحله قبل</span>
    </button>
    <button type="button" class="button normal blue" (click)="onNextStep()" style="float: left">
      <span>مرحله بعد</span>
      <i class="icon-left-big"></i>
    </button>
  </div>
</div>
