<!--<tamin-modal #theModal title="فرم ثبت نام افراد خانواده تحت پوشش">-->

<div class="panel" #panel>
  <div class="panel-title">فرم ثبت نام افراد خانواده تحت پوشش</div>
  <div class="alert alert-info">
    <span>
    <p>- کدملی و تاریخ تولد  شخص تحت تکفل را وارد نمایید.</p>
    <p>- تاریخ را از چپ به راست به صورت 8 رقمی (در قالب روز ماه سال)و بدون درج علامت "/" وارد کنید.(مثال تاریخ 1351/8/16 را به صورت 13510816 و تاریخ 1365/11/2 را به صورت 13651102 درج نمایید.</p>
  <p>- شهر محل تولد،صدور و نسبت  مورد نظر را از لیست انتخاب نمایید.</p>
 <p> 
 </p></span>
  </div>
  <div class="panel-body">
    <form [formGroup]="formpersonalsubNoPresence" novalidate autocomplete="off">
      <div class="form-control-container row">
        <div class="col-4 col-s-4" style="padding-right:5px;">
          <tamin-field-label formControlName="nationalId">کد ملی</tamin-field-label>
          <tamin-field-validator formControlName="nationalId"></tamin-field-validator>
          <tamin-field-natioanl-id formControlName="nationalId"></tamin-field-natioanl-id>
        </div>
        <div class="col-4 col-s-4" style="padding-right:5px;">
          <tamin-field-label formControlName="dateOfBirth">تاریخ تولد</tamin-field-label>
          <tamin-field-persian-date formControlName="dateOfBirth"></tamin-field-persian-date>
        </div>
        <div class="col-4 col-s-4" style="padding-right:5px;">
          <tamin-field-label formControlName="dependentType">نسبت:</tamin-field-label>
          <tamin-field-auto-complete-data-grid formControlName="dependentType" #dependentTypeCombobox>
          </tamin-field-auto-complete-data-grid>
        </div>
        <div class="button-container col-12 col-s-12" style="margin:5px;">
          <button type="button" class="button normal" [disabled]="isDisabledOffice" (click)="getOfficeData()">دریافت اطلاعات از ثبت احوال</button>
        </div>
        <!--<div class="col-6 col-s-6" style="padding-right:5px;">
          <tamin-field-label formControlName="firstName">نام</tamin-field-label>
          <tamin-field-validator formControlName="firstName"></tamin-field-validator>
          <tamin-field-persian-text formControlName="firstName"></tamin-field-persian-text>
        </div>
        <div class="col-6 col-s-6" style="padding-right:5px;">
          <tamin-field-label formControlName="lastName">نام خانوادگی</tamin-field-label>
          <tamin-field-validator formControlName="lastName"></tamin-field-validator>
          <tamin-field-persian-text formControlName="lastName"></tamin-field-persian-text>
        </div>-->
        <div class="col-4 col-s-4">
          <tamin-field-label formControlName="firstName" style="padding-right:5px;">نام </tamin-field-label>
          <tamin-field-static-text formControlName="firstName" placeholder=""></tamin-field-static-text>
        </div>
        <div class="col-4 col-s-4">
          <tamin-field-label formControlName="lastName" style="padding-right:5px;"> نام خانوادگی</tamin-field-label>
          <tamin-field-static-text formControlName="lastName" placeholder=""></tamin-field-static-text>
        </div>
        <div class="col-4 col-s-4">
          <tamin-field-label formControlName="fatherName" style="padding-right:5px;"> نام پدر</tamin-field-label>
          <tamin-field-static-text formControlName="fatherName" placeholder=""></tamin-field-static-text>
        </div>
 <div class="row">
        <div class="col-4 col-s-4" style="padding-right:5px;">
          <tamin-field-label formControlName="cityOfBirthId">شهر محل تولد</tamin-field-label>
          <tamin-field-auto-complete-data-grid formControlName="cityOfBirthId" placeholder="واحد صادر کننده" #cityOfBirth></tamin-field-auto-complete-data-grid>
        </div>
        <div class="col-4 col-s-4" style="padding-right:5px;">
          <tamin-field-label formControlName="cityOfIssueId">شهر محل صدور</tamin-field-label>
          <tamin-field-auto-complete-data-grid formControlName="cityOfIssueId" placeholder="واحد صادر کننده" #cityOfIssue></tamin-field-auto-complete-data-grid>
        </div>
       
          <div class="col-4">
            <tamin-field-label formControlName="branchCode"> شعبه بیمه پردازی</tamin-field-label>
            <tamin-field-validator formControlName="branchCode"></tamin-field-validator>
            <tamin-field-combo-box-static formControlName="branchCode" placeholder="" [dataItems]="branchWorkshop" displayField="name"
              valueField="value"></tamin-field-combo-box-static>
          </div>
        </div>
      </div>
    </form>

    <div class="panel-body">
      <!--<tamin-data-grid #subdomainGrid></tamin-data-grid>-->
      <button class="button normal blue"  [disabled]="isDisabledIdCard"  (click)="addImage('صفحه اول شناسنامه', 'image1')" *ngIf="!hasImage('image1')">
          <span style="font-size: 0.9em">افزودن صفحه اول شناسنامه</span>
    </button>
      <button class="button normal blue"  [disabled]="isDisabledIdCard"  (click)="addImage('صفحه دوم شناسنامه', 'image2')" *ngIf="!hasImage('image2')">
      <span style="font-size: 0.9em">افزودن صفحه دوم شناسنامه</span>
    </button>
      <button class="button normal blue" [disabled]="isDisabledMarriage" (click)="addImage(' صفحه ی مراتب عقد در عقدنامه', 'image3')"
        *ngIf="!hasImage('image3')">
      <span style="font-size: 0.9em"> افزودن  صفحه ی مراتب عقد در عقدنامه </span>
    </button>
      <button class="button normal blue" [disabled]="isDisabled" (click)="addImage(' گواهی اشتغال به تحصیل', 'image4')" *ngIf="!hasImage('image4')">
      <span style="font-size: 0.9em">افزودن  گواهی اشتغال به تحصیل</span>
    </button>

      <tamin-image-gallery-managed [maxImageSize]="500" #imageGallery></tamin-image-gallery-managed>
      <div class="alert alert-info">
        توجه: تصویر می بایست در قالب (jpeg) بوده و اندازه آن حداکثر ۵۰۰ کیلو بایت باشد.
      </div>
      <div class="panel" #dataPanel2 *ngIf="agree">
    <div class="panel-title">تعهد نامه </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-6">
          <span  style="direction:rtl;text-align: right;">اینجانب با زدن دکمه ی "تایید و ادامه" اعلام میدارم که فرزند دختر اینجانب که اطلاعات وی در این فرم ثبت شده است در حال حاضر فاقد شغل و شوهر بوده و  تعهد می نمایم در صورت ازدواج و یا اشتغال وی ، موضوع را بلافاصله به سازمان تامین اجتماعی اعلام نمایم. ضمنا، متعهد می شوم در صورت اثبات خلاف مراتب بالا، هرگونه خسارت وارده به سازمان را مطابق ضوابط مقرر در قانون تامین اجتماعی جبران نمایم.   </span><br>
        </div>

      </div>
    </div>
  </div>
     <div class="panel" #dataPanel3 *ngIf="agreeBoy">
    <div class="panel-title">تعهد نامه </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-6">
          <span  style="direction:rtl;text-align: right;">لازم به یادآوری است که صحت و اصالت گواهی ارائه شده ، از مراجع صادر کننده آن استعلام و ارائه هرگونه خدمات منوط به تائید مراجع ذی ربط خواهد بود. بدیهی است در صورت عدم تائید گواهی مورد نظر توسط مرجع صادرکننده ، سازمان تامین اجتماعی مجاز به اقدام مطابق ضوابط و قوانین جاری می باشد.    </span><br>
        </div>

      </div>
    </div>
  </div>
      <!--<div class="button-container col-12 col-s-12" style="margin:5px;">-->
      <button type="button" class="button normal" [disabled]="isDisabledConfirm"  (click)="saveData()">تایید و ادامه</button>
      <button type="button" class="button normal gray"  (click)="return()">انصراف</button>
      <!--</div>-->
    </div>

  </div>
</div>
<!--</tamin-modal>-->
