<div class="alert alert-info">
  فرم اصلاح درخواست رسیدگی به بدهی قطعی موضوع ماده 16 آیین نامه هیئت ها
</div>
<form [formGroup]="theForm" novalidate autocomplete="off">
  <div class="form-control-container">
    <div class="panel" #panel>
      <div class="panel-title">مشخصات کارگاه و کارفرما</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-4">
            <tamin-field-label formControlName="name">نام و نام خانوادگی کارفرمای حقیقی</tamin-field-label>
            <tamin-field-static-text formControlName="name" placeholder=""></tamin-field-static-text>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="workshopName">نام کارگاه</tamin-field-label>
            <tamin-field-static-text formControlName="workshopName" placeholder=""></tamin-field-static-text>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="workshopId">شماره کارگاه</tamin-field-label>
            <tamin-field-static-text formControlName="workshopId" placeholder=""></tamin-field-static-text>
          </div>
          <div class="col-12">
            <tamin-field-label formControlName="workshopAddress">آدرس کارگاه</tamin-field-label>
            <tamin-field-static-text formControlName="workshopAddress" placeholder=""></tamin-field-static-text>
          </div>
        </div>
      </div>
      <div class="panel-title">مشخصات بدهی</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-4">
            <tamin-field-label formControlName="debitNumber">شماره بدهی</tamin-field-label>
            <tamin-field-static-text formControlName="debitNumber" placeholder=""></tamin-field-static-text>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="peymanSequence">ردیف پیمان</tamin-field-label>
            <tamin-field-static-text formControlName="peymanSequence" placeholder=""></tamin-field-static-text>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="debitStartDate">دوره بدهی از</tamin-field-label>
            <tamin-field-static-text formControlName="debitStartDate" placeholder=""></tamin-field-static-text>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="debitEndDate">دوره بدهی تا</tamin-field-label>
            <tamin-field-static-text formControlName="debitEndDate" placeholder=""></tamin-field-static-text>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="debitStepCode">مرحله بدهی</tamin-field-label>
            <tamin-field-static-text formControlName="debitStepCode" placeholder=""></tamin-field-static-text>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="docNoEjra">شماره حکم</tamin-field-label>
            <tamin-field-static-text formControlName="docNoEjra" placeholder=""></tamin-field-static-text>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="docDateEjra">تاریخ حکم</tamin-field-label>
            <tamin-field-static-text formControlName="docDateEjra" placeholder=""></tamin-field-static-text>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="docDateEblaghEjra">تاریخ ابلاغ</tamin-field-label>
            <tamin-field-static-text formControlName="docDateEblaghEjra" placeholder=""></tamin-field-static-text>
          </div>
        </div>
      </div>
      <div class="panel-title">قطعیت بدهی مستند به:</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-2">
            <tamin-field-checkbox formControlName="mad42" onclick="return false;">ماده 42</tamin-field-checkbox>
          </div>
          <div class="col-2">
            <tamin-field-checkbox formControlName="mad43" onclick="return false;">ماده 43</tamin-field-checkbox>
          </div>
          <div class="col-2">
            <tamin-field-checkbox formControlName="mad44" onclick="return false;">ماده 44</tamin-field-checkbox>
          </div>
        </div>
      </div>
      <div class="panel-title">هیات بدوی تشخیص مطالبات</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-4">
            <tamin-field-label formControlName="docNoBadvi">شماره رای</tamin-field-label>
            <tamin-field-static-text formControlName="docNoBadvi" placeholder=""></tamin-field-static-text>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="docDateBadvi">تاریخ رای</tamin-field-label>
            <tamin-field-static-text formControlName="docDateBadvi" placeholder=""></tamin-field-static-text>
          </div>
        </div>
      </div>
      <div class="panel-title">هیات تجدید نظر استان</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-4">
            <tamin-field-label formControlName="docNoTajdid">شماره رای</tamin-field-label>
            <tamin-field-static-text formControlName="docNoTajdid" placeholder=""></tamin-field-static-text>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="docDateTajdid">تاریخ رای</tamin-field-label>
            <tamin-field-static-text formControlName="docDateTajdid" placeholder=""></tamin-field-static-text>
          </div>
        </div>
      </div>
      <div class="panel-title">هیات تجدید نظر ستاد مرکز</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-4">
            <tamin-field-label formControlName="docNoTajdid">شماره رای</tamin-field-label>
            <tamin-field-static-text formControlName="docNoTajdid" placeholder=""></tamin-field-static-text>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="docDateTajdid">تاریخ رای</tamin-field-label>
            <tamin-field-static-text formControlName="docDateTajdid" placeholder=""></tamin-field-static-text>
          </div>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-title">تصاویر مدارک و مستندات</div>
      <div class="panel-body">
        <div class="alert alert-info">
          کارفرمای محترم، صرفا یکی از موارد زیر قابل انتخاب می باشد و مدارک و مستندات همان مورد را بارگزاری فرمایید:
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="type">نوع مدرک</tamin-field-label>
          <tamin-field-combo-box-static formControlName="type" displayField="name" valueField="value"
                                        #typeCombo></tamin-field-combo-box-static>
          <button class="button normal" (click)="addImage()">
            <span><i class="icon-plus"></i><span>افزودن مدرک جدید</span></span></button>
        </div>

        <tamin-image-gallery-managed #imageGallery [maxImageSize]="500"></tamin-image-gallery-managed>
        <div class="alert alert-info">
          توجه: تصویر می بایست در قالب (jpeg) بوده و اندازه آن حداکثر ۵۰۰ کیلو بایت باشد.
        </div>
      </div>
    </div>
    <div class="button-container" style="margin: 3px">
      <button class="button normal orange" (click)="onSendRequest()"><i class="icon-ok"></i><span>ثبت و تایید نهایی</span>
      </button>
    </div>
  </div>
</form>
