<div class="alert alert-info">

  <span>
    <p>- در این قسمت اطلاعات بیمه ای خود را با توجه به توضیحات مندرج در قسمت پایین کادرها درج نمایید.</p>
    <p>- شعبه ای را انتخاب کنید که شرکت یا کارگاه محل اشتغال شما در محدوده آن قرار دارد و اگر دارای شغل آزاد یا فاقد شغل می باشید، شعبه ای را انتخاب کنید که محل سکونت شما در محدوده آن شعبه باشد.</p>
  </span>
</div>
<div class="panel-body">
  <form [formGroup]="requestrelationtaminform">


    <div class="row">
      <div class="col-4 col-s-4" style="padding-right:5px;">

        <tamin-field-label formControlName="organizationId">شعبه</tamin-field-label>
        <tamin-field-auto-complete-data-grid formControlName="organizationId" placeholder="شعبه"
                                             #organizationId></tamin-field-auto-complete-data-grid>
        <div class="hint"><i class="icon-lightbulb"></i><span>قسمتی از نام یا آدرس شعبه تامین اجتماعی مورد نظر خود را تایپ کنید</span>
        </div>
      </div>
      <!--<div class="col-4">
        <tamin-field-label formControlName="provinceCode">نام استان</tamin-field-label>
        <tamin-field-validator formControlName="provinceCode"></tamin-field-validator>
        <tamin-field-auto-complete-data-grid formControlName="provinceCode" placeholder="نام استان"
                                             #provinceNewDataGrid></tamin-field-auto-complete-data-grid>
      </div>
      <div class="col-4">
        <tamin-field-label formControlName="cityCode">نام شهر</tamin-field-label>
        <tamin-field-validator formControlName="cityCode"></tamin-field-validator>
        <tamin-field-auto-complete-data-grid formControlName="cityCode" placeholder="نام شهر :"
                                             #cityNewDataGrid></tamin-field-auto-complete-data-grid>
      </div>
      <div class="col-4">
        <tamin-field-label formControlName="branchCode">نام شعبه</tamin-field-label>
        <tamin-field-validator formControlName="branchCode"></tamin-field-validator>
        <tamin-field-auto-complete-data-grid formControlName="branchCode" placeholder="نام شعبه :"
                                             #branchNewDataGrid></tamin-field-auto-complete-data-grid>
      </div>-->
    </div>

    <div class="row">
      <div class="col-4 col-s-4" style="padding-right:5px;">

        <tamin-field-label formControlName="dateOfStart">تاریخ شروع</tamin-field-label>
        <tamin-field-persian-date formControlName="dateOfStart"></tamin-field-persian-date>
        <div
           class="hint"><i
          class="icon-lightbulb"></i><span>تاریخ استخدام یا تاریخ شروع به کار خود را تعیین نمایید.</span>
        </div>
      </div>
      <div class="col-4 col-s-4" style="padding-right:5px;">

        <tamin-field-label formControlName="relationWithTamin">نوع ارتباط:</tamin-field-label>
        <tamin-field-combo-box-static #rwitc formControlName="relationWithTamin" [dataItems]="relationWithTamins"
                                      displayField="name" valueField="value"
        ></tamin-field-combo-box-static>
        <div
           class="hint"><i class="icon-lightbulb"></i>
          <span>لطفا با انتخاب یکی از موارد زیر وضعیت شغلی خود را مشخص نمایید.</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4 col-s-4" [ngStyle]="{'display' : !showWorkshop ? 'none' : 'block'}" style="padding-right:5px;">
        <tamin-field-label formControlName="workshopId">کارگاه</tamin-field-label>
        <tamin-field-auto-complete-data-grid formControlName="workshopId" placeholder="کد کارگاه" #workshopId
                                             casecadeControlFieldName="organizationId"
                                             casecadeControlName="organizationId"></tamin-field-auto-complete-data-grid>
        <div
           class="hint"><i class="icon-lightbulb"></i><span>لطفا نام محل کار خود را وارد نمایید.(تمام یا بخشی از نام را درج کنید)</span>
        </div>
      </div>
      <div class="col-4 col-s-4" [ngStyle]="{'display' : !showWorkshop ? 'none' : 'block'}" style="padding-right:5px;">
        <tamin-field-label formControlName="job">شغل</tamin-field-label>
        <tamin-field-auto-complete-data-grid formControlName="job" placeholder="شغل"
                                             #job></tamin-field-auto-complete-data-grid>
        <div
           class="hint"><i class="icon-lightbulb"></i><span>لطفا عنوان شغل خود را وارد نمایید.</span>
        </div>
      </div>
    </div>

  </form>
</div>
