.responsive {
  width: 100%;
  height: auto;
}

table tr td {
  padding: 5px
}

table tr td:nth-child(1) {
  font-weight: bold;
  text-align: left;
}




.progress {
  width: calc(100% - 6px);
  /*background-color: grey;*/
  border: 1px solid #cacaca;
  margin: 3px;
  background-color: #cacaca;
}

.progress-text {
  width: calc(100% - 6px);
  /*border: 1px solid #cacaca;*/
  margin: 3px;
  /*background-color: #cacaca;*/
  color: mediumslateblue;
}

.bar {
  width: 0;
  height: 30px;
  background-color: mediumslateblue;
}
