<div class="alert alert-info">
  <h4 style="color:white;">ثبت نام در سامانه</h4>
</div>
<div>
  <div class="alert alert-warning" style="background-color: rgb(0, 128, 204)">
    <div style="text-align: justify;color:white">
      <p>
        <i class="icon-lightbulb"></i>
        در صورتی که قبلا در این سامانه یا سامانه سوابق به آدرس <strong><u>sabeghe.tamin.ir</u></strong> و یا <strong><u>erequest.tamin.ir</u></strong> ثبت نام کرده
        اید
        حساب کاربری شما موجوداست و نیازی به ثبت نام مجدد ندارید اما اگر تابحال از هیچیک از سامانه های مذکور استفاده
        نکرده
        اید می بایست ابتدا ثبت نام کنید. روی دکمه <strong><u>راهنمای ثبت نام</u></strong> کلیک کنید تا فایل راهنمای ثبت نام را مشاهده نمایید.
      </p>
      <p>
        <i class="icon-lightbulb"></i>
        در صورتی که در فرایند ثبت نام های قبلی به مشکل برخورده اید می توانید روی دکمه <strong><u>پیگیری وضعیت ثبت نام</u></strong> کلیک
        کنید.
      </p>
      <p>
        <i class="icon-lightbulb"></i>
        در صورتی که ثبت نام را انجام داده و نام کاربری و رمز دارید می توانید از نوار بالایی سایت - سمت چپ، دکمه <strong><u>ورود به سامانه</u></strong> را کلیک کنید و از خدمات غیر حضوری استفاده نمایید.
      </p>
      <p>
        <i class="icon-lightbulb"></i>
        در صورتی که ثبت نام را انجام داده اید ولی رمز خود را فراموش کرده اید روی دکمه <strong><u>ورود به سامانه</u></strong> کلیک کنید و سپس
        در صفحه نمایش داده شده از گزینه <strong><u>بازیابی گذرواژه</u></strong> (ذیل دکمه ورود) استفاده نمایید.
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="pensioner-help-button">
    <div class="col-12 col-s-12">

    </div>
    <div class="panel">
      <div class="panel-body">
        <button style="width:180px;" class="button normal" (click)="onRegister()" style="white-space: nowrap">
          <i class="icon-user-plus"></i>
          <span style="margin-right: 3px">ثبت نام</span>
        </button>
        <button style="width:180px;" class="button normal red" (click)="onPursue()" style="white-space: nowrap">
          <i class="icon-info"></i>
          <span>پیگیری وضعیت ثبت نام</span>
        </button>
        <button style="width:180px;" class="button normal blue" (click)="downloadPdf()" style="white-space: nowrap">
          <i class="icon-help"></i>
          <span>مشاهده راهنمای ثبت نام</span>
        </button>
      </div>
    </div>
  </div>
</div>
