<div class="row">
    <fieldset>
      <div class="col-12 col-s-12">
        <div class="col-6 col-s-6">
          <div class="confirmation">
            <h3 style="margin-top: 10px;">نام : {{ firstName }}</h3>
            <h3 style="margin-top: 10px;">کد ملی : {{ nationalCode}}</h3>
              <h3 style="margin-top: 10px;">شماره همراه فعلی : {{ mobile}}</h3>
              <h3 style="margin-top: 10px;">شماره همراه جدید : {{ newMobile}}</h3>
          </div>
        </div>
        <div class="col-6 col-s-6">
          <div class="confirmation">
            <h3 style="margin-top: 10px;">نام خانوادگی : {{ lastName }}</h3>
            <h3 style="margin-top: 10px;">نام پدر : {{ fatherName }}</h3>
            <h3 style="margin-top: 10px;">پست الکترونیکی فعلی : {{ email}}</h3>
            <h3 style="margin-top: 10px;">پست الکترونیکی جدید : {{ newEmail}}</h3>
          </div>
        </div>
      </div>
    </fieldset>
</div>

