.alert {
    border: solid 1px #777777;
  }
  
  
  .alert-person {
    background-color: lightgray;
    color: #424242;
  }
  
  
  
  .reg-container {
    border: solid 1px #cacaca;
    margin: 5px;
    overflow: hidden;
  }
  
  .reg-header {
    padding: 5px;
    border-bottom: solid 1px #cacaca;
    vertical-align: middle;
    text-align: center;
    background-color: #bbb;
    color: black;
  }
  
  .reg-content {
    padding: 5px;
  }
  
  .reg-footer {
    padding: 5px;
    border-top: solid 1px #cacaca;
  }
  
  