<div class="alert alert-info">
  ابطال کفالت کفالت
</div>
<app-guardian-ins-info #guardianInsInfoComponent></app-guardian-ins-info>
<form [formGroup]="revokeForm" autocomplete="off" autocomplete="off" novalidate>
  <div class="row">
    <div class="col-6" style="padding: 15px">
      <tamin-field-label formControlName="branchCode"> آخرین شعبه بیمه پردازی</tamin-field-label>
      <input [hidden]="branchWorkshop.length !== 1" [value]="branchWorkshop[0]?.name" class="tamin-form-control-input"
             readonly="readonly"
             style="background-color: #efeff0; border-color: #cacacb;" type="text">
      <tamin-field-combo-box-static [dataItems]="branchWorkshop" [hidden]="branchWorkshop.length === 1"
                                    displayField="name" formControlName="branchCode" placeHolder="انتخاب کنید ..."
                                    valueField="value"></tamin-field-combo-box-static>
    </div>
  </div>
</form>
<div #panel class="panel">
  <div class="panel-title">انتخاب فرد/افراد تحت تکفل</div>
  <div class="panel-body">
    <form [formGroup]="mainForm" autocomplete="off" autocomplete="off" novalidate>
      <div class="row">
        <div class="col-3">
          <tamin-field-label formControlName="requestType">نسبت فرد تحت تکفل</tamin-field-label>
          <tamin-field-validator formControlName="requestType"></tamin-field-validator>
          <tamin-field-combo-box-static [dataItems]="requestTypeList" displayField="name"
                                        formControlName="requestType" placeHolder="انتخاب کنید ..."
                                        valueField="value">
          </tamin-field-combo-box-static>
        </div>
      </div>
    </form>
    <form [formGroup]="revokeForm" autocomplete="off" autocomplete="off" novalidate>
      <div class="row">
        <div class="col-2" style="padding: 3px;">
          <tamin-field-label formControlName="natinoalCode">کدملی {{label}}:</tamin-field-label>
          <ng-container *ngIf="revokeForm.controls.natinoalCode?.touched && !revokeForm.controls.natinoalCode?.valid">
              <span *ngIf="revokeForm.controls.natinoalCode.errors.required" class="tamin-form-control-error">
                <span style="color: #b00020;">مقدار فیلد الزامی می باشد</span>
              </span>
            <span *ngIf="revokeForm.controls.natinoalCode.errors.pattern" class="tamin-form-control-error">
              <span style="color: #b00020;">مقدار 10 رقمی وارد شود</span>
            </span>
          </ng-container>
          <tamin-field-static-text formControlName="natinoalCode"></tamin-field-static-text>
        </div>
        <div class="col-2" style="padding-right:5px;">
          <tamin-field-label formControlName="birthDate"> تاریخ تولد {{label}}</tamin-field-label>
          <input [value]="birthDateTemp == undefined ? '' : birthDateTemp" class="tamin-form-control-input"
                 readonly="readonly" style="background-color: #efeff0; border-color: #cacacb;" type="text">
        </div>
        <div class="col-2">
          <tamin-field-label formControlName="fullName"> نام و نام خانوادگی {{label}}</tamin-field-label>
          <tamin-field-static-text formControlName="fullName"></tamin-field-static-text>
        </div>
      </div>
      <div class="row" *ngIf="revokeForm.controls.natinoalCodeMother">
        <div class="col-2" style="padding: 3px;">
          <tamin-field-label formControlName="natinoalCodeMother">کدملی مادر</tamin-field-label>
          <ng-container
            *ngIf="revokeForm.controls.natinoalCodeMother?.touched && !revokeForm.controls.natinoalCodeMother?.valid">
              <span *ngIf="revokeForm.controls.natinoalCodeMother.errors.required" class="tamin-form-control-error">
                <span style="color: #b00020;">مقدار فیلد الزامی می باشد</span>
              </span>
            <span *ngIf="revokeForm.controls.natinoalCodeMother.errors.pattern" class="tamin-form-control-error">
              <span style="color: #b00020;">مقدار 10 رقمی وارد شود</span>
            </span>
          </ng-container>
          <tamin-field-static-text formControlName="natinoalCodeMother"></tamin-field-static-text>
        </div>
        <div class="col-2" style="padding-right:5px;">
          <tamin-field-label formControlName="birthDateMother"> تاریخ تولد مادر</tamin-field-label>
          <tamin-field-static-text formControlName="birthDateMother"></tamin-field-static-text>
        </div>
        <div class="col-2">
          <tamin-field-label formControlName="fullNameMother"> نام و نام خانوادگی مادر</tamin-field-label>
          <tamin-field-static-text formControlName="fullNameMother"></tamin-field-static-text>
        </div>
      </div>
    </form>
    </div>
  </div>

  <div class="panel">
    <div class="panel-title">اطلاعات تکمیلی</div>
    <div class="panel-body">
      <form [formGroup]="revokeForm" autocomplete="off" autocomplete="off" novalidate>
        <div class="row">
          <div class="col-9" style="padding-right:5px;">
            <tamin-field-label formControlName="address">نشانی محل سکونت والدین</tamin-field-label>
            <tamin-field-validator formControlName="address"></tamin-field-validator>
            <tamin-field-text [placeHolder]="'نشانی محل سکونت شخص تحت تکفل'"
                              formControlName="address"></tamin-field-text>
          </div>
          <div class="col-3" style="padding-right:5px;">
            <tamin-field-label formControlName="zipCode">کدپستی</tamin-field-label>
            <ng-container *ngIf="revokeForm.controls.zipCode?.touched && !revokeForm.controls.zipCode?.valid">
              <span *ngIf="revokeForm.controls.zipCode.errors.required" class="tamin-form-control-error">
                <span style="color: #b00020;">مقدار فیلد الزامی می باشد</span>
              </span>
              <span *ngIf="revokeForm.controls.zipCode.errors.pattern" class="tamin-form-control-error">
              <span style="color: #b00020;">مقدار 10 رقمی وارد شود</span>
            </span>
            </ng-container>
            <tamin-field-mask [placeHolder]="'کدپستی'" formControlName="zipCode"
                              regex="^[۰۱۲۳۴۵۶۷۸۹0-9]{1,10}$"></tamin-field-mask>
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <tamin-field-label formControlName="cancelationDesc">علت ابطال کفالت را به اختصار توضیح دهید
            </tamin-field-label>
            <tamin-field-text-area [placeHolder]="'علت ابطال کفالت'" formControlName="cancelationDesc"></tamin-field-text-area>
          </div>
        </div>
      </form>
    </div>
  </div>
<div style="padding: 8px">
  <button (click)="saveData()" class="button normal" type="button">ثبت درخواست ابطال کفالت
  </button>
</div>
