<div class="alert alert-info">
  <i class="icon-lightbulb"></i>
  <span>امکان مشاهده برگ پرداخت های مربوط به ببمه شدگان</span>
</div>
<div class="row">
  <div class="col-12">
    <div class="panel">
      <div class="panel-title">نمایش اطلاعات</div>
      <div class="panel-body">
        <app-insured-info #insuredForm></app-insured-info>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
      <div class="panel">
        <app-insured-payment-sheet-search (output)="onSearchPaymentSheetSubmit($event)"></app-insured-payment-sheet-search>
        <app-insured-payment-sheet-list #paymentSheetList></app-insured-payment-sheet-list>
      </div>
  </div>
</div>


