<div class="row" style="padding: 1px;">
  <div class="col-12 col-s-12">
    <div class="page-title">
      تامین اجتماعی من
    </div>
  </div>
</div>
<div class="area-button" (click)="onAppRequest()">
  <div class="row" style="padding: 15px;">
    <div class="col-2 col-s-3"  style="text-align: center;">
      <img class="action-icon" src="assets/images/my/01.png" alt="">
    </div>
    <div class="col-10 col-s-9">
      <p class="p-title">درخواست های من</p>
      <p>در این قسمت می توانید کلیه درخواست های ثبت شده توسط خودتان را مشاهده نموده و از نتیجه اقدامات انجام شده آن
        مطلع شوید.</p>
      <p>همچنین با جستجوی درخواست مورد نظر می توانید از وضعیت پیشرفت آن مطلع شوید و یا در صورت ابهام در ستون انتهایی جدول روی دکمه عملیات کلیک نموده و گزینه راهنمای هوشمند را انتخاب کنید.</p>
    </div>
  </div>
</div>
<div class="area-button" (click)="onAppAnnouncement()">
  <div class="row" style="padding: 15px;">
    <div class="col-2 col-s-3"  style="text-align: center;">
      <img class="action-icon" src="assets/images/my/02.png" alt="">
    </div>
    <div class="col-10 col-s-9">
      <p class="p-title">صندوق شخصی من</p>
      <p>در این قسمت فضایی اختصاصی برای شما در نظر گرفته شده است که می توانید با کلیک بر روی دکمه "ارسال به صندوق شخصی"  که در اغلب سرویس
        ها تعبیه شده است مستندات مربوط به آن سرویس را جهت نگهداری به صندوق شخصی ارسال نمایید.</p>
      <p>همچنین مکاتباتی که از طرف سازمان تامین اجتماعی برای شما ارسال شده است در این صفحه ثبت شده و قابل نمایش و پیگیری خواهد
          بود.</p>
      <p>تمامی مستندات موجود در صندوق شخصی قابلیت استعلام توسط سایر دستگاهها یا افراد را در صورت به اشتراک گذاری و دریافت کد رمز خواهند داشت.</p>
    </div>
  </div>
</div>
<div class="area-button" (click)="onAppFeedback()">
  <div class="row" style="padding: 15px;">
    <div class="col-2 col-s-3"  style="text-align: center;">
      <img class="action-icon" src="assets/images/my/03.png" alt="">
    </div>
    <div class="col-10 col-s-9">
      <p class="p-title">تیکت های پشتیبانی من</p>
      <p>در این قسمت تمامی درخواست های پشتیبانی شما که در مرکز ارتباط با مشتری سازمان تامین اجتماعی ثبت شده است، قابل نمایش و پیگیری می
        باشد.</p>
    </div>
  </div>
</div>

