<div class="panel">
  <div class="page-title">
    درخواست های غیر حضوری بیمه شدگان و کارفرمایان جهت اعلام اشتغال در کارگاه و یا درخواست بازرسی برای کارگاه محل اشتغال
  </div>
  <div class="row">
    <div class="col-4 col-s-4" style="padding: 10px;">
      <img src="/assets/images/portal/inspection.png">
    </div>
    <div class="col-8 col-s-8" style="padding: 20px;">
      <h2>عناوین خدمات:</h2>

      <div class="part-title">
        <a [routerLink]="['/inspection-list']">مشاهده بازرسی های انجام شده</a>
      </div>
      <p style="text-align: justify;; padding: 10px;">
        <span> صورتیکه در بازرسی انجام شده از کارگاه محل اشتغال ،شماره بیمه شما ثبت شده باشد، میتوانید از این فرم جهت مشاهده بازرسی استفاده نمایید</span>
      </p>

      <div class="part-title">
        <a [routerLink]="['/inspection-objection-list']">مشاهده اعتراض های ثبت شده</a>
      </div>
      <p style="text-align: justify; padding: 10px;">
        <span>فرم جهت مشاهده و پیگیری اعتراضات پیشین ثبت شده در سیستم می باشد</span>
      </p>

      <!--<div class="part-title">-->
      <!--<a href="/inspection-objection/-1">درخواست اعتراض به بازرسی های ثبت شده</a>-->
      <!--</div>-->
      <p style="text-align: justify;; padding: 10px;">
        <span>جهت ثبت درخواست اعتراض جدید به بازرسی انجام شده از کارگاه محل اشتغال خود میتوانید از این فرم استقاده نمایید</span>
      </p>

      <div class="part-title">
        <a [routerLink]="['/inspection-objection-insured']">ثبت درخواست برای افراد فاقد بازرسی</a>
      </div>
      <p style="text-align: justify; padding: 10px;">
        <span>در صورتیکه تحت پوشش بیمه ای سازمان تامین اجتماعی نمی باشید و یا از شماره بیمه و شماره کارگاه خود مطلع نیستید میتوانید از این فرم جهت اطلاع رسانی وضعیت اشتغال خود به بازرسین سازمان تامین اجتماعی استفاده نمایید</span>
      </p>

    </div>
  </div>
</div>
