<ng-template #noEdit>
  <div class="panel">
    <div class="panel-body">
      <div class="row" style="padding: 20px 20px 0px;">
        <div class="col-6">
          <h4 style="text-align: center;">شرح شعبه در خصوص عدم احراز شرایط</h4>
        </div>
      </div>
      <div class="row" style="padding: 20px;">
        <div class="col-6">
          <div class="alert alert-warning">
            <p><i class="icon-lightbulb"></i>
              {{message}}
            </p>
          </div>
        </div>
        <div class="col-12">
          <button (click)="onBack()" class="button normal green main-left"
                  style="padding: 10px 8%;" type="button">بازگشت
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-container *ngIf="editingMode else noEdit">
  <div class="alert alert-info">
    ثبت مدارک درخواست برقراری کفالت همسر
  </div>
  <form [formGroup]="theForm" autocomplete="off" autocomplete="off" novalidate>
    <div class="panel">
      <div class="panel-title">تصاویر مدارک و مستندات</div>
      <div class="panel-body">
        <div class="row customized-row">
          <div class="col-6" style="justify-content: center;
                                    padding: 20px;">
            <div class="col-12">
              <h3 style="text-align: center;">شرح شعبه در خصوص نقص مدرک</h3>
            </div>
            <div class="col-12">
              <div class="alert alert-warning">
                <p><i class="icon-lightbulb"></i>
                  {{message}}
                </p>
              </div>
            </div>
          </div>
          <div class="col-6" style="padding: 40px 0px">
            <tamin-field-label formControlName="type">نوع مدرک</tamin-field-label>
            <tamin-field-combo-box-static [dataItems]="typeComboList" displayField="name" formControlName="type"
                                          placeHolder="انتخاب کنید ..."
                                          valueField="value"></tamin-field-combo-box-static>
            <div class="hint" style="padding: 5px 12px 15px;">
              <i class="icon-lightbulb"></i><span [ngClass]="{'red-missing-hint': guardianDocumentMissing}">
        	در صورت عدم احراز شرایط سنی، بارگذاری گواهی پزشک معالج اجباری می باشد.</span>
            </div>
          </div>
          <div [ngClass]="{'missing': guardianDocumentMissing}" class="col-12">
            <button (click)="addImage()" class="button normal" style="margin: 12px">
              <span><i class="icon-plus"></i><span>بارگذاری مدرک جدید</span></span></button>
            <tamin-image-gallery-managed #imageGallery [maxImageSize]="500"></tamin-image-gallery-managed>
            <div class="alert alert-info">
              توجه: تصویر می بایست در قالب (jpeg) بوده و اندازه آن حداکثر ۵۰۰ کیلو بایت باشد.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="padding: 8px">
      <button (click)="saveData()" class="button normal" type="button">ثبت مدارک کفالت
      </button>
      <button (click)="return()" class="button normal red" type="button">انصراف</button>
    </div>
  </form>
</ng-container>
