<div class="alert alert-info">
  <p>- با استفاده از دکمه مرحله قبل.به صفحات قبلی مراجعه و اطلاعات را مجددا بررسی و از صحت و کامل بودن آن اطمینان حاصل نمایید.</p>
  <p>- در صورت اطمینان از درستی و کامل بودن اطلاعات ، با تایید نهایی، فرآیند ثبت درخواست را تکمیل و منتظر دریافت پاسخ باشید.</p>
</div>
<div class="panel-body">
  <div class="row">
    <tamin-data-grid #subdomainGrid></tamin-data-grid>
    <form [formGroup]="formsub" novalidate autocomplete="off">
    <div class="col-4 col-s-4" style="padding-right:5px;">

      <tamin-field-label formControlName="organizationId">شعبه</tamin-field-label>
      <tamin-field-auto-complete-data-grid formControlName="organizationId" placeholder="شعبه"
                                           #organizationId></tamin-field-auto-complete-data-grid>
      <div class="hint"><i class="icon-lightbulb"></i><span>قسمتی از نام یا آدرس شعبه تامین اجتماعی مورد نظر خود را تایپ کنید</span>
      </div>
    </div>
      <div class="col-12 col-s-12">
        <button type="button" class="button normal" (click)="ApproveClick()">تایید نهایی و ارسال درخواست</button>
      </div>
    </form>

  </div>
</div>
