<div class="page-title">غیر فعال کردن قرارداد</div>
<div class="panel">
  <div class="panel-title">اطلاعات هویتی</div>
  <div class="panel-body">
    <app-special-insured-info #specialInsuredInfoComponent></app-special-insured-info>
  </div>
</div>
<div class="panel">
  <div class="page-title">غیر فعال کردن قرارداد</div>
  <form [formGroup]="theForm" autocomplete="off" novalidate>
    <div class="form-control-container">
      <div class="row">
        <fieldset>
          <div class="col-12 col-s-12">
            <div class="col-4 col-s-4">
              <div class="confirmation">
                <h3 style="margin-top: 10px;">شماره قرارداد : {{ contractNumber}}</h3>
              </div>
            </div>
            <div class="col-4 col-s-4">
              <div class="confirmation">
                <h3 style="margin-top: 10px;">نوع بیمه: {{ primeriType}}</h3>
              </div>
            </div>
            <div class="col-4 col-s-4">
              <div class="confirmation">
                <h3 style="margin-top: 10px;">نرخ حق بیمه: {{ primeriRate}}</h3>
              </div>
            </div>
            <div class="col-4">
              <tamin-field-label formControlName="contractSelfState">علت خاتمه قرارداد</tamin-field-label>
              <tamin-field-validator formControlName="contractSelfState"></tamin-field-validator>
              <tamin-field-combo-box-static formControlName="contractSelfState" #selfconstate
                [dataItems]="selfconstateValue" displayField="name" valueField="value"></tamin-field-combo-box-static>
              <div class="hint"><i class="icon-lightbulb"></i><span>علت خاتمه قرارداد را انتخاب کنید..</span>
              </div>
            </div>
            <div class="col-4">
              <tamin-field-label formControlName="contractDate">تاریخ خاتمه</tamin-field-label>
              <tamin-field-validator formControlName="contractDate"></tamin-field-validator>
              <tamin-field-persian-date formControlName="contractDate"></tamin-field-persian-date>
            </div>
            <div class="col-12">
              <tamin-field-label formControlName="canceldesc">توضیحات</tamin-field-label>
              <tamin-field-validator formControlName="canceldesc"></tamin-field-validator>
              <tamin-field-text-area formControlName="canceldesc"></tamin-field-text-area>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="row">
        <button class="button normal green" (click)="onDisplayCalcDetail()"
          [disabled]="alldisabled || !theForm.valid">غیر فعال کردن
          قرارداد
        </button>
        <button class="button normal red" (click)="redirectToContracts()">بازگشت
        </button>
      </div>
    </div>
  </form>
</div>
