<div class="page-title">جستجوی قرارداد</div>
<div class="panel-body">
  <form [formGroup]="contractSearchForm" novalidate (ngSubmit)="onSearchSubmit()">
    <div class="form-control-container row">
      <div class="col-4 col-4-1">
        <tamin-field-label formControlName="contractNumber">شماره قرارداد:</tamin-field-label>
        <tamin-field-validator formControlName="contractNumber"></tamin-field-validator>
        <tamin-field-text formControlName="contractNumber" placeholder="شماره کارگاه"></tamin-field-text>
      </div>
      <div class="col-4">
        <tamin-field-label formControlName="premiumTypeValueeee">نوع بیمه</tamin-field-label>
        <tamin-field-combo-box-static formControlName="premiumTypeValueeee" displayField="name" valueField="value"
        [dataItems]="premiumTypetype"       #typeCombo></tamin-field-combo-box-static>
      </div>
      <!-- <div class="col-4 col-4-1" style="padding: 3px;">
        <tamin-field-label formControlName="branchCode">کد شعبه:</tamin-field-label>
        <tamin-field-validator formControlName="branchCode"></tamin-field-validator>
        <tamin-field-text formControlName="branchCode" placeholder="کد شعبه"></tamin-field-text>
      </div>  -->
    </div>
    <div>
      <p style="margin-top:5px;">
        <button type="submit" class="button normal">جستجو</button>
        <button type="button" class="button normal orange" (click)="resetForm()">نمایش همه</button>
      </p>
    </div>
  </form>
</div>
<div class="page-title">لیست قرارداد ها</div>
<div class="panel-body">
  <tamin-data-grid #contractGrid></tamin-data-grid>
  <button class="button normal red" (click)="onRollback()">بازگشت</button>
</div>
