<tamin-modal #theModal title="ضوابط و مقررات مربوط به بیمه صاحبان حرف و مشاغل آزاد" width="80%">
  <div style="border: solid 1px #ccc; padding: 10px; margin-bottom: 10px;max-height: 60vh; overflow: auto">
    <ul style="padding: 20px; text-align: justify;">
      <li>
        <span style="font-weight: bold;">1: </span>
        صاحبان‌ حرف‌ و مشاغل‌ آزاد به‌ افرادي‌ اطلاق‌ مي‌شود كه‌ براي‌ انجام‌ حرفه‌ و شغل‌ مورد نظر با داشتن‌ كارگر
        (كارفرما) يا خود به‌ تنهايي‌ (خويش‌فرما) به‌ كار اشتغال‌ داشته‌ و مشمول‌ هیچ نظام بیمه‏ای نباشند.
      </li>
      <li>
        <span style="font-weight: bold;">2: </span>
        کلیه مشاغلی که تاکنون بیمه نشده‏اند مشمول مقررات بیمه صاحبان حرف و مشاغل آزاد می‏باشند و انعقاد قرارداد با
        متقاضیان به جز افرادی که قسمتی و یا کل حق بیمه آنان توسط مراجع ذیربط پرداخت می گردد بر اساس اظهارات متقاضی صورت
        می پذیرد.
      </li>
      <li>
        <span style="font-weight: bold;">3: </span>
        متقاضیانی که سن آنان در تاریخ انعقاد قرارداد بین 18 تا 50 سال تمام باشد در صورت تمایل می توانند با رعایت سایر
        شرایط مقرر نسبت به انعقاد قرارداد بیمه صاحبان حرف و مشاغل آزاد اقدام نمایند.
        <br>
        <span style="font-weight: bold;">تذکر1 : </span>
        آن گروه از متقاضیانی که در تاریخ انعقاد قرارداد بیش از 50 سال سن دارند، شرط انعقاد قرارداد آنان منوط به داشتن
        سابقه پرداخت حق بیمه قبلی معادل مدت مازاد سنی مذکور خواهد بود.
        <br>
        <span style="font-weight: bold;">تذکر2 : </span>
        کلیه متقاضیانی که حداقل 10 سال سابقه پرداخت حق‌بیمه داشته باشند، از اعمال شرط سنی مقرر معاف خواهند بود.
        <br>
        <span style="font-weight: bold;">تذکر3 : </span>
        کلیه متقاضیان بیمه صاحبان حرف و مشاغل آزاد که یکبار در اجرای مقررات مربوطه قرارداد تنظیم و حق بیمه پرداخت نموده
        باشند، حداکثر تا دو مرتبه دیگر مجاز می‌باشند بدون رعایت شرط سنی و با رعایت سایر مقررات ، قرارداد مجدد تنظیم
        نمایند.
      </li>
      <li>
        <span style="font-weight: bold;">4: </span>
        تعهدات بيمه اي و نرخ‏هاي پرداخت حق بيمه به شرح ذیل می باشد:
        <br>
        الف ) بيمه بازنشستگي و فوت بعد از بازنشستگی با نرخ حق بيمه 14% (12 % سهم بيمه شده + 2% سهم دولت).
        <br>
        ب ) بيمه بازنشستگي و فوت قبل و بعد از بازنشستگی با نرخ حق بيمه 16% (14% سهم بيمه شده + 2% سهم دولت).
        <br>
        ج ) بيمه بازنشستگي، ازکارافتادگی و فوت با نرخ حق بيمه 20% (18% سهم بيمه شده + 2% سهم دولت).
        <br>
      </li>
      <li>
        <span style="font-weight: bold;">5: </span>
        کلیه متقاضیان بیمه بازنشستگی، فوت و ازکارافتادگی با نرخ حق بیمه 20% (18% سهم بيمه شده + 2% سهم دولت) به هزینه
        شخص متقاضی توسط پزشک معتمد سازمان مورد معاینه پزشکی قرار می گیرند و چنانچه ازکارافتاده کلی شناخته شوند برابر
        ضوابط مربوطه صرفاً می توانند در قبال بيمه بازنشستگي و فوت بعد از بازنشستگی با نرخ حق بيمه 14% (12 % سهم بيمه شده
        + 2% سهم دولت) و یا بيمه بازنشستگي و فوت قبل و بعد از بازنشستگی با نرخ حق بيمه 16% (14% سهم بيمه شده + 2% سهم
        دولت) قرار گیرند.

        <span style="font-weight: bold;">6: </span>
        در اجرای قانون بیمه همگانی خدمات درمانی کشور مصوب 03/08/1373 مجلس شورای اسلامی متقاضیان در صورت انتخاب حمایت
        درمانی سازمان تأمین اجتماعی می‏بایست نسبت به پرداخت 100 درصد حق سرانه درمان مصوب هیأت محترم وزیران برای خود و به
        تعداد افراد تحت تکفل قانونی در ماه اقدام و متعاقب آن از خدمات درمانی در مراکز ملکی سازمان و همچنین طرف قرارداد
        بهره‏مند گردند.
      </li>
      <li>
        <span style="font-weight: bold;">7: </span>
        متقاضی مکلف است در زمان انعقاد قرارداد و یا بعد از آن تعداد افراد تحت تکفل قانونی خود را اعلام و نسبت به
        پرداخت حق سرانه درمان متعلقه اقدام نماید؛ در غیر این صورت سازمان به محض اطلاع نسبت به مطالبه و وصول حق بیمه
        سرانه مربوطه حسب مورد از تاریخ انعقاد قرارداد، تولد فرزند و یا تاریخ کفالت والدین به طور یکجا اقدام خواهد نمود.
      </li>
      <li>
        <span style="font-weight: bold;">8: </span>
        در مواردی که بیمه شده اصلی از طریق بیمه صاحبان حرف و مشاغل آزاد خود را در زمره بیمه شدگان قرار بدهد مادامی که
        همسر و یا فرزندان او راساً مشمول مقررات حمایتی خاص و یا قانون تأمین اجتماعی باشند مطالبه و وصول حق بیمه سرانه
        درمان بابت افراد تحت تکفل بیمه شده (موضوع ماده 58 قانون تامین اجتماعی) موضوعیت نخواهد داشت.
      </li>
      <li>
        <span style="font-weight: bold;">9: </span>
        استحقاق درمان بیمـه شـدگان صاحبان حرف و مشاغل آزاد تا پایان ماهی انجام می گردد که حق بیمه و حق سرانه درمان
        متعلقه پرداخت شده باشد.
      </li>
      <li>
        <span style="font-weight: bold;">10: </span>
        در صورت سوء استفاده از خدمات درمانی توسط بیمه شده و یا اشخاص غیر و یا هر نوع استفاده من غیر حق که سازمان را
        متحمل ضرر و زیان نماید، به استناد مواد "97 و 105" قانون تأمین اجتماعی با متخلف برخورد خواهد شد.
      </li>
      <li>
        <span style="font-weight: bold;">11: </span>
        بیمه شده متعهد به پذیرش شرایط و تعییرات بعدی مربوط به برقراری هر یک از تعهدات مورد قرارداد ، میزان آن و
        همچنین تغییر در نرخ پرداخت حق بیمه ، دستمزد مبنای پرداحت حق بیمه و ....عینًاً به ترتیب تعیین شده در قانون تأمین
        اجتماعی و تغییرات بعدی آن خواهد بود.
      </li>
      <li>
        <span style="font-weight: bold;">12: </span>
        با توجه به نرخ پرداخت حق بیمه و تعاریف مندرج در قانون تأمین اجتماعی، پرداخت غرامت دستمزد ایام بیماری، کمک
        بارداری، کمک ازدواج، هزینه سفر، هزینه اقامت، هزینه همراه بیمار، وسائل کمک پزشکی (پروتز و اروتز) و هزینه کفن و
        دفن به بیمه شدگان صاحبان حرف و مشاغل آزاد فاقد وجاهت قانونی است.
      </li>
      <li>
        <span style="font-weight: bold;">13: </span>
        دستمزد مبنای پرداخت حق بیمه متقاضیانی که 5 سال و یا کمتر از 5 سال سابقه پرداخت حق بیمه دارند به انتخاب
        متقاضی بین حداقل و حداکثر دستمزد مبنای پرداخت حق بیمه شاغلین خواهد بود و مبنای پرداخت حق بیمه متقاضیانی که بیش
        از 5 سال سابقه پرداخت حق بیمه دارند دستمزد مبنای پرداخت حق بیمه آنان بین حداقل دستمزد مصوب شورای عالی کار تا
        حداکثر میانگین دستمزد آخرین 360 روز قبل از ثبت تقاضا به انتخاب متقاضی خواهد بود.
      </li>
      <li>
        <span style="font-weight: bold;">14: </span>
        درخصوص آن تعداد از مشاغلی که دستمزد مبنای پرداخت حقبیمه آنان براساس ضریبی از حداقل دستمزد مصوب شورایعالی کار
        میباشد، دستمزد مبنای پرداخت حق بیمه آنان از ضریب دستمزد مربوطه کمتر نخواهد بود.
      </li>
      <li>
        <span style="font-weight: bold;">15: </span>
        در ابتدای هر سال به میزان درصدی که طبق مقررات مصوب شورای عالی کار به سطوح دستمزد شاغلین اضافه می گردد دستمزد
        مبنای پرداخت حق بیمه بیمه شدگان افزایش می یابد و در هر حال دستمزد مبنای پرداخت حق بیمه از حداقل دستمزد مصوب
        شورای عالی کار کمتر و از حداکثر دستمزد مصوب بیشتر نخواهد بود.
      </li>
      <li>
        <span style="font-weight: bold;">16: </span>
        تاریخ شروع بیمه صاحبان حرف و مشاغل آزاد حداکثر از تاریخ انعقاد قرارداد می‌باشد.
      </li>
      <li>
        <span style="font-weight: bold;">17: </span>
        بیمه شده صاحبان حرف و مشاغل آزاد مکلف است بعد از تاریخ انعقاد قرارداد، حق بیمه مربوطه را به بنا به تمایل
        خویش به صورت ماهانه و یا چند ماهه پیش پرداخت نماید.
      </li>
      <li>
        <span style="font-weight: bold;">18: </span>
        بیمه شده می‏بایست از تاریخ انعقاد قرارداد حداکثر ظرف مدت 30 روز نسبت به پرداخت اولین حق بیمه خود اقدام
        نماید، در غیر این صورت قرارداد منعقده لغو و انعقاد قرارداد مجدد منوط به احراز شرایط مقرر خواهد بود.
      </li>
      <li>
        <span style="font-weight: bold;">19: </span>
        بیمه شدگان صاحبان حرف و مشاغل آزاد مکلفند پس از شروع بیمه، حق بیمه کامل هر ماه را حداکثر تا آخرین روز 2 ماه
        بعد پرداخت نمایند. چنانچه بین آخرین ماه پرداخت حق بیمه (ابتدای ماهی که حق بیمه متعلقه پرداخت نگردیده است) تا
        تاریخ پرداخت مجدد بیش از سه ماه فاصله ایجاد گردد موضوع قرارداد منعقده از تاریخ قطع پرداخت حق بیمه ملغی محسوب
        گردیده و ادامه امر بیمه موکول به تسلیم درخواست مجدد، موافقت سازمان و عقد قرارداد جدید با رعایت سایر شرایط
        مقررخواهد بود.
      </li>
      <li>
        <span style="font-weight: bold;">20: </span>
        بیمه شده متعهد می گردد بعد از تاریخ انعقاد قراراد حداکثر ظرف مدت 2 ماه با مراجعه به پزشک معتمد مستقر در
        مراکز معاین و یا طرف قرارداد که مورد تأئید سازمان تأمین اجتماعی می باشد، نسبت به انجام معاینه پزشکی اقدام نماید.
        بدیهی است در غیر اینصورت کلیه عواقب و تبعات ناشی از آن به عهده بیمه شده بوده و سازمان تامین اجتماعی از این بابت
        مسئولیتی نحواهد داشت.
        <br>
        <span style="font-weight: bold;">تذکر1 : </span>
        کلیه متقاضیان بیمه صاحبان حرف و مشاغل آزاد در صورت احراز توامان شرایط ذیل از انجام معاینات پزشکی معاف می باشند:
        ظرف ده سال قبل از تاریخ قرارداد یک سال سابقه پرداخت حق بیمه ( با نرخ کامل ) داشته باشند و ظرف یک سال قبل از
        تاریخ قرارداد دارای 90 روز سابقه پرداخت حق بیمه ( با نرخ کامل ) باشند.
        <br>
        <span style="font-weight: bold;">تذکر2 : </span>
        در خصوص آن عده از بیمه شدگانی که برابر مقررات مکلف به انجام معاینات پزشکی می باشند، برگ پرداخت حق بیمه از تاریخ
        انعقاد قرارداد حداکثر به مدت 2 ماه صادر خواهد شد . بدیهی است پس از انجام معاینه پزشکی امکان صدور برگ پرداخت حق
        بیمه جهت ماه های آتی میسر خواهد شد.
      </li>
      <li>
        <span style="font-weight: bold;">21: </span>
        در صورتي‌ كه‌ مشمولين‌ اين‌ آئين‌نامه‌ پس‌ از شروع‌ بيمه‌ به‌ نحوي‌ از انحاء از شمول‌ مقررات‌ اين‌
        آئين‌نامه‌ خارج‌ و يا طبق‌ قانون‌ تأمين‌ اجتماعي‌ يا ساير قوانين‌ مربوطه‌ مي‌بايست‌ حق‌ بيمه‌ را خود براساس‌
        مقررات‌ ديگري‌ پرداخت‌ نمايند موظفند مراتب‌ را كتباً به‌ آگاهي‌ سازمان‌ برسانند تا نسبت‌ به‌ قطع‌ بيمه‌ آنان‌
        اقدام‌ گردد. در صورت‌ عدم‌ اقدام‌ بيمه‌شده‌ در اين‌ زمينه‌ و ادامه‌ پرداخت‌ حق‌ بيمه‌، حق‌ بيمه‌هاي‌ دريافتي‌
        پس‌ از كسر هزينه‌هاي‌ انجام‌ شده‌ مسترد خواهد شد.
      </li>
      <li>
        <span style="font-weight: bold;">22: </span>
        در مواردی که اشتغال متقاضی مستلزم دارابودن پروانه یا مجوز اشتغال خاص صادره از سوی مراجع ذیصلاح
        مربوطه باشد همانند پزشکان ، بازرگانان ، مهندسین ساختمان و ... لازم است با توجه به اهمیت موضوع،
        تصویر مستند شغلی در سامانه بار گذاری گردد.
      </li>
    </ul>
    <p style="text-align: center;">
      اینجانب آقای /خانم {{fullName}} با آگاهی کامل و در صحت عقلی، شرایط و مقررات فوق را مطالعه و خود را در هنگام
      قرارداد
      و در ادامه بیمه پردازی ملزم به رعایت آن می دانم در غیر اینصورت کلیه تبعات و مسئولیت های آن متوجه اینجانب بوده و
      سازمان تامین اجتماعی در این خصوص مسئولیتی نخواهد داشت. </p>
  </div>
  <div class="button-container">
    <button class="button normal" [disabled]="alldisabled" (click)="onAgree()">موافقم</button>
    <button class="button normal red" [disabled]="alldisabled" (click)="onDisagree()">موافق نیستم</button>
  </div>
</tamin-modal>
