<form [formGroup]="showInfoForm">
  <div class="form-control-container row">
    <div class="col-2">
      <tamin-field-label formControlName="nationalCode">کد ملی</tamin-field-label>
      <tamin-field-static-text formControlName="nationalCode"></tamin-field-static-text>
    </div>
        <div class="col-2">
          <tamin-field-label formControlName="insuranceNumber">شماره بیمه</tamin-field-label>
          <tamin-field-static-text formControlName="insuranceNumber"></tamin-field-static-text>
        </div>
        <div class="col-2">
          <tamin-field-label formControlName="firstName">نام</tamin-field-label>
          <tamin-field-static-text formControlName="firstName"></tamin-field-static-text>
        </div>
        <div class="col-2">
          <tamin-field-label formControlName="lastName">نام خانوادگی</tamin-field-label>
          <tamin-field-static-text formControlName="lastName"></tamin-field-static-text>
        </div>
  </div>
</form>

