<div class="alert alert-info">
  <i class="icon-lightbulb"></i>
  <span>ثبت درخواست غیرحضوری کمک هزینه ی مراسم ترحیم</span>
</div>
<div class="row">
  <div class="panel-body">
    <app-funeral-no-presence-sso-search (submitt)="onSearch($event)"></app-funeral-no-presence-sso-search>
  </div>
</div>
<div class="row">
  <div class="panel-body">
    <app-funeral-no-presence-sso-header #funeralNoPresenceHeaderSso></app-funeral-no-presence-sso-header>
  </div>
  <div class="row">
    <div class="panel-body">
      <app-funeral-no-presence-sso-detail (submitt)="onSaveRequest($event)"
                                           (buttonClicked)="validateFuneral($event)" #funeralNoPresenceDetailSso></app-funeral-no-presence-sso-detail>
    </div>
  </div>
</div>
