<div class="alert alert-info">
  درخواست هزینه کفن و دفن
</div>
<app-stp-header-new-funeral requestTyp="کفن و دفن" #header></app-stp-header-new-funeral>
<form [formGroup]="theForm" novalidate autocomplete="off">
  <div class="panel">
    <div class="panel-title">مشخصات کفن و دفن</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-6">
          <tamin-field-label formControlName="branchCode">آخرین شعبه بیمه پردازی</tamin-field-label>
          <tamin-field-validator formControlName="branchCode"></tamin-field-validator>
          <tamin-field-combo-box-static formControlName="branchCode" placeholder="" [dataItems]="header.branchWorkshop" displayField="name" valueField="value"></tamin-field-combo-box-static>
        </div>
      </div>
      <div class="row">
        <!--<div class="col-3">
          <tamin-field-label formControlName="kddateTimeStamp">تاریخ گواهی فوت</tamin-field-label>
          <tamin-field-validator formControlName="kddateTimeStamp"></tamin-field-validator>
          <tamin-field-persian-date formControlName="kddateTimeStamp" placeholder=""></tamin-field-persian-date>
        </div>-->
        <div class="col-3">
          <tamin-field-label formControlName="kdno">شماره گواهی فوت</tamin-field-label>
          <tamin-field-validator formControlName="kdno"></tamin-field-validator>
          <tamin-field-mask formControlName="kdno" placeholder="" regex="^[0-9]*$"></tamin-field-mask>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="dtype">متوفی</tamin-field-label>
          <tamin-field-validator formControlName="dtype"></tamin-field-validator>
          <tamin-field-combo-box-static formControlName="dtype" placeholder="" [dataItems]="spouses"
                                        displayField="fullName"
                                        valueField="risuId"></tamin-field-combo-box-static>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="panel">
  <div class="panel-title">مدارک مورد نیاز</div>
  <div class="panel-body">
    <button class="button normal dark" (click)="addImage('تصویر گواهی فوت')" *ngIf="imageGallery.images.length < 1">
      <span>افزودن تصویر گواهی فوت</span>
    </button>
    <tamin-image-gallery-managed #imageGallery [maxImageSize]="500"></tamin-image-gallery-managed>
    <div class="alert alert-info">
      توجه: تصویر می بایست در قالب (jpeg) بوده و اندازه آن حداکثر ۵۰۰ کیلو بایت باشد.
    </div>
  </div>
</div>

<div class="button-container" style="margin: 3px">
  <button class="button normal" (click)="onSendRequest()">
    <i class="icon-ok"></i>
    <span>ثبت درخواست</span>
  </button>
</div>
