<div class="panel col-6 col-s-6">
  <div class="panel-title"> ثبت  صورت ریز هزینه های توزیع و فروش </div>
  <div class="panel-body">
    <form [formGroup]="editForm" autocomplete="off" novalidate (ngSubmit)="onSave(editForm.value)">
      <div class="form-control-container">
        <div class="panel col-12 col-s-12">
        <div class="row">
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="endDate">منتهی به تاریخ</tamin-field-label>
            <tamin-field-static-persian-date formControlName="endDate" placeholder=""></tamin-field-static-persian-date>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="advertisingCost">هزینه تبلیغات</tamin-field-label>
            <tamin-field-validator formControlName="advertisingCost"></tamin-field-validator>
            <tamin-field-number formControlName="advertisingCost"></tamin-field-number>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="marketingCommission">بازاریابی / کمیسیون</tamin-field-label>
            <tamin-field-validator formControlName="marketingCommission"></tamin-field-validator>
            <tamin-field-number formControlName="marketingCommission"></tamin-field-number>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="inventory">انبارداری</tamin-field-label>
            <tamin-field-validator formControlName="inventory"></tamin-field-validator>
            <tamin-field-number formControlName="inventory"></tamin-field-number>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="packing">بسته بندی</tamin-field-label>
            <tamin-field-validator formControlName="packing"></tamin-field-validator>
            <tamin-field-number formControlName="packing"></tamin-field-number>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="advancePayment">حق العمل</tamin-field-label>
            <tamin-field-validator formControlName="advancePayment"></tamin-field-validator>
            <tamin-field-number formControlName="advancePayment"></tamin-field-number>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="leaseWarehouse">اجاره انبار</tamin-field-label>
            <tamin-field-validator formControlName="leaseWarehouse"></tamin-field-validator>
            <tamin-field-number formControlName="leaseWarehouse"></tamin-field-number>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="keepingGoods">نگهداری کالا</tamin-field-label>
            <tamin-field-validator formControlName="keepingGoods"></tamin-field-validator>
            <tamin-field-number formControlName="keepingGoods"></tamin-field-number>
          </div>
          <div class="col-6 col-s-6">
          <tamin-field-label formControlName="carriageFares">کرایه حمل</tamin-field-label>
            <tamin-field-validator formControlName="carriageFares"></tamin-field-validator>
          <tamin-field-number formControlName="carriageFares"></tamin-field-number>
        </div>
          <div class="col-6 col-s-6">
          <tamin-field-label formControlName="totalSumDisSalCost">جمع کل</tamin-field-label>
            <tamin-field-validator formControlName="totalSumDisSalCost"></tamin-field-validator>
          <tamin-field-number formControlName="totalSumDisSalCost"></tamin-field-number>
        </div>
          <div class="row">
            <p>کاربر گرامی تمامی فیلدها باید مقدار داشته باشد چنانچه مقدار آن خالی است با  0 پر گردد .</p>
            <p>کاربر گرامي، مبالغ به ریال میباشد. </p>
          </div>
        </div>
        </div>
      <div class="col-12 col-s-12">
        <button #submitButton type="submit" class="button normal">ذحیره </button>
        <button type="button" class="button normal orange" (click)="back()">انصراف</button>
      </div>
      </div>
    </form>
  </div>
</div>
