<div class="alert alert-info">
 استعلام سابقه
</div>
<div class="panel">
  <div class="panel-body" #calculated>
    <form [formGroup]="theForm" autocomplete="off" novalidate>
      <div class="row">
         <div class="col-12">
          <h4>نوع درخواست استعلام سابقه را انتخاب کنید:</h4>
          <tamin-field-checkbox formControlName="historyType1">کلیه سوابق</tamin-field-checkbox><br>
          <tamin-field-checkbox formControlName="historyType2">سوابق و ریز دستمزد بعد از سال 86</tamin-field-checkbox><br>
          <tamin-field-checkbox formControlName="historyType3">سوابق تلفیقی</tamin-field-checkbox><br>
          <tamin-field-checkbox formControlName="historyType4">مشاهده عناوین شغلی</tamin-field-checkbox>
        </div>
      </div>
      <hr>
      <div class="row">
          <div class="col-12">
              <div class="button-container">
                  <button class="button normal" (click)="redirectToPage()"><i class="icon-upload"></i> <span>تایید</span></button>
                  <button type="button" class="button normal orange" (click)="resetForm()">انصراف</button>
              </div>
          </div>
      </div>
    </form>
  </div>
</div>

<!--<app-history-institution-agreement #historyInstitutionAgreement (agree)="sendToInbox()"></app-history-institution-agreement>--> <!-- (click)="sendToInbox()"-->



