<div class="alert alert-info">
    حمایت های کوتاه مدت - درخواست های ثبت شده
</div>
<!--<div class="panel">-->
<!--  <div class="panel-title">ثبت درخواست</div>-->
<!--  <div class="panel-body">-->
<!--    <button type="button" class="button normal" (click)="redirectTo('stp_old/indemnity')">غرامت دستمزد بیماری</button>-->
<!--    <button type="button" class="button normal" (click)="redirectTo('stp_old/marriage')">کمک هزینه ازدواج</button>-->
<!--    <button type="button" class="button normal" (click)="redirectTo('stp_old/pregnancy')">کمک هزینه بارداری</button>-->
<!--    <button type="button" class="button normal" (click)="redirectTo('stp_old/funeral')">کمک هزینه کفن و دفن</button>-->
<!--    <button type="button" class="button normal" (click)="redirectTo('stp_old/orthosis-prosthesis')">اروتز و پروتز</button>-->
<!--  </div>-->
<!--</div>-->

<div class="panel">
  <div class="panel-title">جستجوی درخواست</div>
  <div class="panel-body">
    <form [formGroup]="theForm" novalidate autocomplete="off">
      <div class="row">
        <div class="col-3">
          <tamin-field-label formControlName="requestId">سریال درخواست</tamin-field-label>
          <tamin-field-text formControlName="requestId" placeholder=""></tamin-field-text>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="requestHelpTypeDescs">نوع درخواست</tamin-field-label>
          <tamin-field-combo-box formControlName="requestHelpTypeDescs" placeholder="" #requestTypes valueField="requestId" displayField="requestDesc"></tamin-field-combo-box>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="requestDate">تاریخ درخواست</tamin-field-label>
          <tamin-field-persian-date formControlName="requestDate" placeholder=""></tamin-field-persian-date>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="reqHlpTypes">وضعیت درخواست</tamin-field-label>
          <tamin-field-combo-box formControlName="reqHlpTypes" placeholder="" #systemTypes valueField="statusId" displayField="statusName"></tamin-field-combo-box>
        </div>
      </div>
    </form>
    <button type="submit" class="button normal" (click)="search()">جستجو</button>
    <button type="button" class="button normal dark" (click)="showAll()">نمایش همه</button>
  </div>
</div>
<div class="panel">
  <div class="panel-title">لیست درخواست های ثبت شده</div>
  <div class="panel-body">
    <tamin-data-grid #dataGrid (itemAction)="onAction($event)"></tamin-data-grid>
  </div>
</div>

<app-stp-request-view #stpRequestView></app-stp-request-view>
