<div class="alert alert-success">
  <p>محاسبه مبلغ مستمری</p>
</div>
<div class="alert alert-info">
  <p style="border-bottom: dotted 1px white"><span>در این فرم شما می توانید به دو روش مبلغ مستمری بازنشستگی خود را ملاحظه فرمایید</span></p>
  <br>
  <p><span>۱ – روش مکانیزه: سیستم با محاسبه میانگین دستمزد مشمول کسر حق بیمه دو سال آخر و همچنین میزان کل سابقه پرداخت حق بیمه بصورت هوشمند، مبلغ مستمری متعلقه را محاسبه می نماید.</span>
  </p>
  <p><span>۲ – روش دستی: با وارد نمودن میانگین دستمزدمشمول کسر حق بیمه دو سال آخر و همچنین میزان کل سابقه پرداخت حق بیمه ، مبلغ مستمری متعلقه،  محاسبه می گردد.</span>
  </p>
</div>
<div class="alert alert-info">
  <p style="border-bottom: dotted 1px white">توجه</p>
  <br>
  <p><i class="icon-lightbulb"></i> <span>حداقل دستمزد هر سال بر اساس مصوبات شورای عالی کار تعیین و به تبع آن حداکثر دستمزد محاسبه میگردد.</span></p>
  <p><i class="icon-lightbulb"></i>{{getPersianNumber('به موجب قانون تامین اجتماعی مبلغ مستمری تا سقف 35 سال پرداخت حق بیمه قابل محاسبه می باشد.')}}</p>
  <p><i class="icon-lightbulb"></i><span>مبلغ مستمری محاسبه شده بر اساس قوانین عام سازمان می باشد و چنانچه بیمه شده از قانون خاصی استفاده نماید، نحوه محاسبه مستمری متفاوت خواهد بود.</span></p>
</div>
<div class="panel">
  <div class="page-title">
    مبلغ محاسبه شده
  </div>
  <div class="panel-body" #calculated>
    <form [formGroup]="staticDataForm" autocomplete="off" novalidate>
      <div class="row">
        <div class="col-4">
          <tamin-field-label formControlName="duration">مدت سابقه پرداخت حق بیمه (سال)</tamin-field-label>
          <tamin-field-static-text formControlName="duration"></tamin-field-static-text>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="wageAverage">میانگین دستمزد دو سال آخر (ریال)</tamin-field-label>
          <tamin-field-static-text formControlName="wageAverage"></tamin-field-static-text>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="pensionAmount">مبلغ استحقاقی مستمری (ریال)</tamin-field-label>
          <tamin-field-static-text formControlName="pensionAmount"></tamin-field-static-text>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div>
            <span class="hint">{{'در صورتی که در دو یا چند کارگاه بصورت همزمان شاغل می باشید،گزینه زیر را انتخاب نمایید.'}} </span>
          </div>
          <tamin-field-checkbox  formControlName="multipleWorkshops" style="font-weight: bold ">در دو یا چند کارگاه بصورت همزمان شاغل می باشم</tamin-field-checkbox>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="panel">
  <div class="page-title">
    محاسبه دستی
  </div>
  <div class="panel-body">
    <form [formGroup]="calculateDataForm" autocomplete="off" novalidate>
      <div class="row">
        <div class="col-4">
          <tamin-field-validator formControlName="duration" #durationFieldValidator></tamin-field-validator>
          <tamin-field-label formControlName="duration">مدت سابقه پرداخت حق بیمه (سال)</tamin-field-label>
          <tamin-field-mask formControlName="duration" mask="00"></tamin-field-mask>
          <span class="hint"><i class="icon-lightbulb"></i>{{getPersianNumber('حداقل 10 و حداکثر 35 سال')}}</span>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="wageAverage">میانگین دستمزد دو سال آخر (ریال)</tamin-field-label>
          <tamin-field-number formControlName="wageAverage"></tamin-field-number>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="pensionAmount">مبلغ استحقاقی مستمری (ریال)</tamin-field-label>
          <tamin-field-static-text formControlName="pensionAmount"></tamin-field-static-text>
        </div>
      </div>
      <!--<div class="row">-->
        <!--<div class="col-12">-->
          <!--<div>-->
            <!--<span class="hint">{{'در صورتی که در دو یا چند کارگاه بصورت همزمان شاغل می باشید،گزینه زیر را انتخاب نمایید.'}} </span>-->
          <!--</div>-->
          <!--<tamin-field-checkbox  formControlName="multipleWorkshops" style="font-weight: bold ">در دو یا چند کارگاه بصورت همزمان شاغل می باشم</tamin-field-checkbox>-->
        <!--</div>-->
      <!--</div>-->
    </form>
  </div>
  <app-combined-list #combinedList [showButtom]="false" (dataLoaded)="calc()"
                     [showDownload]="false"></app-combined-list>
  <div class="alert alert-info">
    <p>با توجه به غیر قطعی بودن میزان سابقه، مبلغ مستمری محاسبه شده قابل استناد در مراجع قانونی نمی باشد.</p>
  </div>
</div>
