<div class="panel" #panel>
  <div class="page-title">
    لیست سوابق تلفیقی
  </div>
  <div class="panel-body">
    <tamin-data-grid #dataGrid [showLoadOverlay]="false"></tamin-data-grid>
    <div class="alert alert-info" *ngIf="showSummary">
      <div class="row">
        <div class="col-3">
          <p><span style="margin-left: 5px">تعداد کل روز سابقه:</span><strong style="margin-left: 5px">{{sumHistoryYears
            | persianNumber:'cs'}}</strong><span>روز</span></p>
        </div>
        <div class="col-3">
          <p><span style="margin-left: 5px">سابقه به تفکیک:</span><strong style="margin-left: 5px">{{historyYears
            | persianNumber}}</strong><span style="margin-left: 5px">سال و</span><strong
            style="margin-left: 5px">{{historyMonths
            | persianNumber}}</strong><span style="margin-left: 5px">ماه و</span><strong
            style="margin-left: 5px">{{historyDays
            | persianNumber}}</strong><span>روز</span></p>
        </div>
      </div>
    </div>
    <div *ngIf="showDownload">
      <button class="button normal" (click)="downloadPdf()" *ngIf="loadCompleted"><i class="icon-download"></i> <span>دانلود فایل سابقه</span></button>
      <button class="button normal" (click)="sendToInbox()" *ngIf="loadCompleted"><i class="icon-upload"></i> <span>ارسال به صندوق شخصی</span></button>
    </div>
  </div>
</div>
<p style="margin:5px;" *ngIf="showButtom">
  <button type="button" class="button normal gray" (click)="backToPanelClick()"><i class=" icon-right-big"></i><span>بازگشت به صفحه نخست</span>
  </button>
</p>
