<div class="panel" #theForm>
  <div class="page-title">اطلاعات هویتی</div>
  <div class="panel-body">
    <form [formGroup]="viewForm" autocomplete="off" autocomplete="off" novalidate>
      <div class="form-control-container">
        <div class="row">
          <div class="col-4">
            <tamin-field-label formControlName="insuranceNumber">شماره بیمه:</tamin-field-label>
            <tamin-field-static-text formControlName="insuranceNumber"
                                     placeholder="شماره بیمه"></tamin-field-static-text>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="firstName"> نام:</tamin-field-label>
            <tamin-field-static-text formControlName="firstName" placeholder="نام "></tamin-field-static-text>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="lastName"> نام خانوادگی:</tamin-field-label>
            <tamin-field-static-text formControlName="lastName" placeholder="نام خانوادگی"></tamin-field-static-text>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <tamin-field-label formControlName="nationalID"> کد ملی:</tamin-field-label>
            <tamin-field-static-text formControlName="nationalID" placeholder="کد ملی "></tamin-field-static-text>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="fatherName"> نام پدر:</tamin-field-label>
            <tamin-field-static-text formControlName="fatherName" placeholder="نام پدر "></tamin-field-static-text>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="birthDate">تاریخ تولد:</tamin-field-label>
            <tamin-field-static-text formControlName="birthDate" placeholder="تاریخ تولد"></tamin-field-static-text>
          </div>

        </div>
<!--        <div class="row">-->
<!--          <div class="col-6">-->
<!--            <tamin-field-label formControlName="branchCode"> <div class="col-6" style="padding: 10px"> شعبه بیمه پردازی</tamin-field-label>-->
<!--            <tamin-field-validator formControlName="branchCode"></tamin-field-validator>-->
<!--            <tamin-field-combo-box-static formControlName="branchCode" placeHolder="انتخاب کنید ..." [dataItems]="branchWorkshop"-->
<!--                                          displayField="name" valueField="value"></tamin-field-combo-box-static>-->
<!--          </div>-->

<!--        </div>-->
      </div>
    </form>
  </div>
</div>
