<!-- <tamin-modal #theModal title="تصویر متقاضی">
  <img src="" alt="" #userPicture>
</tamin-modal>
<tamin-modal #helpModal title="راهنمای سریال کارت ملی" width=30% hieght=30%>
    <img src="assets/images/HelpNationalSerialCode.jpg" alt="" #serialPicture>
  </tamin-modal> -->
<div class="panel">
  <div class="panel-title">ثبت نهایی درخواست</div>
  <div class="panel-body">
    <form [formGroup]="newForm" autocomplete="off" novalidate (ngSubmit)="saveForm(newForm.value, newForm.valid)">
      <div class="row">
        <div class="col-4">
          <tamin-field-label formControlName="province">استان</tamin-field-label>
          <tamin-field-validator formControlName="province"></tamin-field-validator>
          <tamin-field-auto-complete-data-grid formControlName="province" placeholder="استان"
                                               #province></tamin-field-auto-complete-data-grid>
          <div class="hint"><i class="icon-lightbulb"></i><span>قسمتی از نام استان را تایپ نمایید</span></div>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="city">شهر</tamin-field-label>
          <tamin-field-validator formControlName="city"></tamin-field-validator>
          <tamin-field-combo-box-static formControlName="city" #city [dataItems]="cities"
                                        displayField="name"
                                        valueField="value"></tamin-field-combo-box-static>
          <div class="hint"><i class="icon-lightbulb"></i><span>شهر مورد نظر خود را انتخاب نمایید</span></div>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="deliverType">تحویل دهنده دفترچه</tamin-field-label>
          <tamin-field-validator formControlName="deliverType"></tamin-field-validator>
          <tamin-field-combo-box-static formControlName="deliverType" [dataItems]="deliverTypes" displayField="name"
                                        placeHolder="انتخاب کنید ..."
                                        valueField="value"></tamin-field-combo-box-static>
        </div>

        <!-- <div class="col-4">
          <tamin-field-label formControlName="branchCode">کارگزاری/شعبه محل صدور دفترچه</tamin-field-label>
          <tamin-field-validator formControlName="branchCode"></tamin-field-validator>
          <tamin-field-combo-box-static formControlName="branchCode" #city [dataItems]="branchCodes"
                                        displayField="name"
                                        valueField="value"></tamin-field-combo-box-static>
          <div class="hint"><i class="icon-lightbulb"></i><span>محل دریافت دفترچه را مشخص نمایید،توجه کنید اولویت با کارگزاریها می باشد</span>
          </div>
        </div> -->
      </div>
      <div class="row">
        <div class="col-4"[ngStyle]="{'display' : showAddress ? (pilotType3?(showTimeDate?'none':'block'):'block') : 'block'}">
          <tamin-field-label formControlName="recieveDate">انتخاب زمان تحویل دفترچه</tamin-field-label>
          <tamin-field-validator formControlName="recieveDate"></tamin-field-validator>
          <tamin-field-combo-box-static formControlName="recieveDate" #recieveDate [dataItems]="branchQuatos"
                                        displayField="name" placeHolder="لطفا ابتدا شعبه را مشخص نمایید"
                                        valueField="value"></tamin-field-combo-box-static>
        </div>
        <div class="col-4"[ngStyle]="{'display' : showAddress ? (pilotType3?(showTimeDate?'none':'block'):'block') : 'block'}">
          <tamin-field-label formControlName="recieveTime">بازه زمانی دریافت</tamin-field-label>
          <tamin-field-validator formControlName="recieveTime"></tamin-field-validator>
          <tamin-field-combo-box-static formControlName="recieveTime" [dataItems]="recieveTimes" displayField="name"
                                        placeHolder="انتخاب کنید ..."
                                        valueField="value"></tamin-field-combo-box-static>
        </div>
      </div>
      <div class="row">
        <div>
          <div class="col-4">
            <tamin-field-label formControlName="zipCode">کد پستی(اختیاری)</tamin-field-label>
            <tamin-field-validator formControlName="zipCode"></tamin-field-validator>
            <tamin-field-text formControlName="zipCode"></tamin-field-text>
            <!-- <div [ngStyle]="{'display' : showAddress ? 'none' : 'block'}">
              <button type="button" class="button normal dark" (click)="onGetAddress()">دریافت آدرس</button>
            </div> -->
          </div>
        </div>
        <div class="col-8">
          <tamin-field-label formControlName="address">آدرس</tamin-field-label>
          <tamin-field-validator formControlName="address"></tamin-field-validator>
          <tamin-field-text formControlName="address"></tamin-field-text>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="button-container">
            <button type="submit" class="button normal">
              تایید نهایی و پرداخت
            </button>
            <button type="button" class="button normal dark" (click)="onRedirectToCart()">انصراف</button>
            <button type="button" class="button normal dark" (click)="resetForm()">پاک کردن فرم</button>
            <button type="button" class="button normal gray" (click)="onReturn()">بازگشت</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- <div *ngIf="showUploader" class="panel-body" > 
  <button class="button normal blue" (click)="onAddUniversityImage()"  >بارگذاری گواهی تحصیلی</button>
  <tamin-image-gallery-managed  [maxImageSize]="500" #imageGallery  ></tamin-image-gallery-managed>
</div> -->
<app-booklet-map #bookletMap (confirmed) = 'mapConfirmed($event)' ></app-booklet-map>

<form method="GET" action="https://apipost.jabeja.ir/api/v1/transaction/pay" style="visibility: hidden;" id="form">
  <input type="text" name="amount" id="amount" />
  <input type="text" name="key" id="key" />
  <input type="text" name="username" id="username" />
  <input type="text" name="callback" id="callback" />
</form>
