<div class="panel">
  <div class="page-title">ثبت
    اطلاعات اعضای خانواده</div>
  <div class="panel-body">
    <form [formGroup]="viewForm" (ngSubmit)="confirmClick(viewForm.value)" autocomplete="off"
          novalidate>
      <div class="row">
        <div class="col-6">
          <tamin-field-label formControlName="pensionerNationalId">کد ملی مستمری بگیر</tamin-field-label>
          <tamin-field-validator formControlName="pensionerNationalId"></tamin-field-validator>
          <tamin-field-natioanl-id formControlName="pensionerNationalId"></tamin-field-natioanl-id>
        </div>
        <div class="col-6">
          <tamin-field-label formControlName="pensionerId">شماره مستمری</tamin-field-label>
          <tamin-field-validator formControlName="pensionerId"></tamin-field-validator>
          <tamin-field-text formControlName="pensionerId"></tamin-field-text>
        </div>
        <div class="col-6">
          <tamin-field-label formControlName="nationalId">کد ملی</tamin-field-label>
          <tamin-field-validator formControlName="nationalId"></tamin-field-validator>
          <tamin-field-natioanl-id formControlName="nationalId"></tamin-field-natioanl-id>
        </div>
        <div class="col-6">
          <tamin-field-label formControlName="birthDate">تاریخ تولد</tamin-field-label>
          <tamin-field-persian-date formControlName="birthDate"></tamin-field-persian-date>
        </div>
        <div class="col-6">
          <tamin-field-label formControlName="dependency">نسبت</tamin-field-label>
          <tamin-field-validator  formControlName="dependency"></tamin-field-validator>
          <tamin-field-combo-box formControlName="dependency" placeholder="نسبت " #dependency></tamin-field-combo-box>
        </div>

        <div class="row">
        <div class="col-6">
          <tamin-field-label formControlName="firstName">نام</tamin-field-label>
          <tamin-field-validator formControlName="firstName"></tamin-field-validator>
          <tamin-field-static-text formControlName="firstName"></tamin-field-static-text>
        </div>
        <div class="col-6">
          <tamin-field-label formControlName="lastName">نام خانوادگی</tamin-field-label>
          <tamin-field-validator formControlName="lastName"></tamin-field-validator>
          <tamin-field-static-text formControlName="lastName"></tamin-field-static-text>
        </div>
        </div>
      </div>
      <button #submitButton type="submit" class="button normal">ثبت درخواست</button>
    </form>
  </div>
</div>
