<div class="panel-body">
  <form [formGroup]="searchForm" autocomplete="off" novalidate>
    <div class="form-control-container row">
      <div class="col-6 col-6-1" style="padding: 3px;">
        <tamin-field-label formControlName="refCode">کد پیگیری</tamin-field-label>
        <tamin-field-text formControlName="refCode" placeholder="کد پیگیری"></tamin-field-text>
      </div>
      <div class="col-6 col-6-1" style="padding: 3px;">
        <tamin-field-label formControlName="requestType">نوع درخواست</tamin-field-label>
        <tamin-field-combo-box-static formControlName="requestType" valueField="value" displayField="name"
                                      [dataItems]="requestTypes"></tamin-field-combo-box-static>
      </div>
    </div>
    <p style="margin-top:5px;">
      <button type="button" (click)="searchFormSubmit()" class="button normal"  [disabled]="!searchForm.valid">جستجو</button>
      <button type="button" class="button normal dark" (click)="resetForm()">نمایش همه</button>
    </p>
  </form>
</div>
