<div class="panel">
  <div class="panel-title">جزییات لیست</div>
  <div class="panel-body">
    <div class="alert alert-info">
      <i class="icon-info-circled"></i>
      <span>کارفرمای گرامی، در این بخش امکان ویرایش لیست بیمه کارگاه <b>"صرفا برای کارگاه های زیر پنج نفر"</b> فراهم شده است.</span>
    </div>
    <div class="badge-container">
      <div class="row">
        <div class="col-4">
          <div class="badge">
            <span class="badge-title">کد گارگاه</span>
            <span class="badge-value">{{this.theForm.get('workshopCode').value}}</span>
          </div>
        </div>
        <div class="col-4">
          <div class="badge">
            <span class="badge-title">سال</span>
            <span class="badge-value">{{this.theForm.get('year').value}}</span>
          </div>
        </div>
        <div class="col-4">
          <div class="badge">
            <span class="badge-title">ماه</span>
            <span class="badge-value">{{this.theForm.get('monthName').value}}</span>
          </div>
        </div>
      </div>
    </div>

    <tamin-tabs tabPosition="top">
      <tamin-tab-item>
        <tamin-tab-label>بیمه شدگان</tamin-tab-label>
        <tamin-tab-body>
          <div class="row">
            <div class="col-12">
              <tamin-data-grid #employeesDataGrid (itemAction)="onGridAction($event)"></tamin-data-grid>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button class="button normal"  style="width: 150px" (click)="addNewEmployee()">
                <i class="icon-user-plus"></i>
                <span>  بیمه شده جدید</span>
              </button>
            </div>
          </div>
        </tamin-tab-body>
      </tamin-tab-item>
      <tamin-tab-item>
        <tamin-tab-label>ریز اطلاعات لیست</tamin-tab-label>
        <tamin-tab-body>
          <form [formGroup]="theForm">
            <div class="row">
              <div class="col-6">
                <tamin-field-label formControlName="workshopCode">کد کارگاه</tamin-field-label>
                <tamin-field-static-text formControlName="workshopCode"></tamin-field-static-text>
                <!------------------------------------------------------------------------------->
                <tamin-field-label formControlName="workshopTitle">نام کارگاه</tamin-field-label>
                <tamin-field-static-text formControlName="workshopTitle"></tamin-field-static-text>
                <!------------------------------------------------------------------------------->
                <tamin-field-label formControlName="employerName">نام کارفرما</tamin-field-label>
                <tamin-field-static-text formControlName="employerName"></tamin-field-static-text>
                <!------------------------------------------------------------------------------->
                <tamin-field-label formControlName="contractNumber">ردیف پیمان</tamin-field-label>
                <tamin-field-static-text formControlName="contractNumber"></tamin-field-static-text>
                <!------------------------------------------------------------------------------->
                <tamin-field-label formControlName="listNumber">شماره لیست</tamin-field-label>
                <tamin-field-static-text formControlName="listNumber"></tamin-field-static-text>
                <!------------------------------------------------------------------------------->
                <tamin-field-label formControlName="workshopAddress">آدرس</tamin-field-label>
                <tamin-field-static-text formControlName="workshopAddress"></tamin-field-static-text>
                <!------------------------------------------------------------------------------->
                <tamin-field-label formControlName="year">سال</tamin-field-label>
                <tamin-field-static-text formControlName="year"></tamin-field-static-text>
                <!------------------------------------------------------------------------------->
                <tamin-field-label formControlName="monthName">ماه</tamin-field-label>
                <tamin-field-static-text formControlName="monthName"></tamin-field-static-text>
                <!------------------------------------------------------------------------------->
                <tamin-field-label formControlName="employerPremiumPercent">درصد حق بیمه سهم کارفرما
                </tamin-field-label>
                <tamin-field-validator formControlName="employerPremiumPercent"></tamin-field-validator>
                <tamin-field-number formControlName="employerPremiumPercent"></tamin-field-number>
                <!------------------------------------------------------------------------------->
              </div>
              <div class="col-6">
                <tamin-field-label formControlName="employeesCount">تعداد نفرات</tamin-field-label>
                <tamin-field-static-number formControlName="employeesCount"></tamin-field-static-number>
                <!------------------------------------------------------------------------------->
                <tamin-field-label formControlName="totalWorkingDays">جمع روزهای کارکرد</tamin-field-label>
                <tamin-field-static-number formControlName="totalWorkingDays"></tamin-field-static-number>
                <!------------------------------------------------------------------------------->
                <tamin-field-label formControlName="totalDailyWages">جمع دستمزد روزانه</tamin-field-label>
                <tamin-field-static-number formControlName="totalDailyWages"></tamin-field-static-number>
                <!------------------------------------------------------------------------------->
                <tamin-field-label formControlName="totalMonthlyWages">جمع دستمزد ماهانه</tamin-field-label>
                <tamin-field-static-number formControlName="totalMonthlyWages"></tamin-field-static-number>
                <!------------------------------------------------------------------------------->
                <tamin-field-label formControlName="totalInclusiveBenefit">جمع مزایای ماهانه مشمول
                </tamin-field-label>
                <tamin-field-static-number formControlName="totalInclusiveBenefit"></tamin-field-static-number>
                <!------------------------------------------------------------------------------->
                <tamin-field-label formControlName="totalInclusiveWageAndBenefit">جمع کل دستمزد و مزایای ماهانه
                  مشمول
                </tamin-field-label>
                <tamin-field-static-number
                  formControlName="totalInclusiveWageAndBenefit"></tamin-field-static-number>
                <!------------------------------------------------------------------------------->
                <tamin-field-label formControlName="totalWageAndBenefit">جمع کل دستمزد و مزایای ماهانه مشمول
                  و
                  غیرمشمول
                </tamin-field-label>
                <tamin-field-static-number formControlName="totalWageAndBenefit"></tamin-field-static-number>
                <!------------------------------------------------------------------------------->
                <tamin-field-label formControlName="totalEmployeePremium">حق بیمه سهم بیمه شده</tamin-field-label>
                <tamin-field-static-number formControlName="totalEmployeePremium"></tamin-field-static-number>
                <!------------------------------------------------------------------------------->
                <tamin-field-label formControlName="totalEmployerPremium">حق بیمه سهم کارفرما</tamin-field-label>
                <tamin-field-static-number formControlName="totalEmployerPremium"></tamin-field-static-number>
                <!------------------------------------------------------------------------------->
                <tamin-field-label formControlName="totalUnemploymentPremium">بیمه بیکاری</tamin-field-label>
                <tamin-field-static-number formControlName="totalUnemploymentPremium"></tamin-field-static-number>
                <!------------------------------------------------------------------------------->
                <div style="text-align: left"><button class="button normal" style="width: 150px;" (click)="updateList()">ذخیره تغییرات</button></div>
              </div>
            </div>
          </form>
        </tamin-tab-body>
      </tamin-tab-item>
    </tamin-tabs>
    <div class="row" style="text-align: left">
      <button class="button white" style="width: 150px" (click)="redirectTo('il/desktop')">
        <i class=" icon-right-big"></i>
        <span>  بازگشت</span>
      </button>
      <button class="button normal" style="width: 150px; margin-right: 24px" (click)="onSendList()">
        <span>تایید و ارسال</span>
      </button>
    </div>
  </div>
</div>
