<div class="panel">
  <div class="page-title">4-اطلاعات هویتی کارگاه های زیر مجموعه</div>
  <div class="panel-body"></div>
  <div class="row"  [hidden]=setDisableDafaterAddress>
    <tamin-data-grid #gridDetWorkshopAddress (itemAction)="onAction($event)"> "</tamin-data-grid>
    <button type="submit" class="button normal" (click)="onNewWorkshopAddress()">جدید</button>
    <button type="button" class="button normal " (click)="onLocation()">محل نگهداری دفاتر</button>
    <button type="button" class="button normal " (click)="onResidence()">ثبت اقامتگاه قانونی</button>
  </div>
  <div class="row"  [hidden]=!setDisableDafaterAddress   >
    <tamin-data-grid #gridDetDafaterAddress (itemAction)="onEdit($event)"></tamin-data-grid>
    <button type="submit" class="button normal" (click)="onNewDafaterAddress()">جدید</button>

  </div>
  <div class="row">
    <button type="button" class="button normal orange" (click)="onBackInfoSubWorkshop()">صفحه قبلی</button>
  <button type="button" class="button normal orange" (click)="back()">برگشت به صفحه اصلی</button>

  </div>

</div>
