<div class="alert alert-success">درخواست های من</div>
<div class="panel">
  <div class="panel-title">جستجوی درخواست</div>
  <div class="panel-body">
    <app-request-search (afterSubmit)="onSearchSubmit($event)"></app-request-search>
  </div>
</div>

<div class="panel">
  <div class="panel-title">لیست درخواست ها</div>
  <div class="panel-body">
    <app-request-list #requestListComponent></app-request-list>
  </div>
</div>

<button type="button" class="button normal dark" (click)="backToPanelClick()">بازگشت به تامین اجتماعی من</button>
