<tamin-modal #theModal title="نمایش  جزئیات">
  <form [formGroup]="newFormm" autocomplete="off" novalidate>
    <div class="form-control-container">
      <div class="row">
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-3 col-s-3-1" style='padding: 5px;'>
          <tamin-field-label formControlName="contractNumber">شماره برگ پرداخت</tamin-field-label>
          <tamin-field-static-text formControlName="contractNumber" placeholder="نماد معاملاتی">
          </tamin-field-static-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-3 col-s-3-1" style='padding: 5px;'>
          <tamin-field-label formControlName="serialNumber">شماره سریال اعلامیه</tamin-field-label>
          <tamin-field-static-text formControlName="serialNumber" placeholder="نماد معاملاتی"></tamin-field-static-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-3 col-s-3-1" style='padding: 5px;'>
          <tamin-field-label formControlName="ApprovDate">تاریخ تایید</tamin-field-label>
          <tamin-field-static-text formControlName="ApprovDate" placeholder="نماد معاملاتی"></tamin-field-static-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-3 col-s-3-1" style='padding: 5px;'>
          <tamin-field-label formControlName="sentDate">تاریخ ارسال به شعبه</tamin-field-label>
          <tamin-field-static-text formControlName="sentDate" placeholder="نماد معاملاتی"></tamin-field-static-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-3 col-s-3-1" style='padding: 5px;'>
          <tamin-field-label formControlName="workshopid">کد کارگاه</tamin-field-label>
          <tamin-field-static-text formControlName="workshopid" placeholder="نماد معاملاتی"></tamin-field-static-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-3 col-s-3-1" style='padding: 5px;'>
          <tamin-field-label formControlName="contractrow">ردیف پیمان</tamin-field-label>
          <tamin-field-static-text formControlName="contractrow" placeholder="نماد معاملاتی"></tamin-field-static-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-3 col-s-3-1" style='padding: 5px;'>
          <tamin-field-label formControlName="workshopName">نام کارگاه</tamin-field-label>
          <tamin-field-static-text formControlName="workshopName" placeholder="نماد معاملاتی"></tamin-field-static-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <!-- <div class="col-3 col-s-3-1" style='padding: 5px;'>
          <tamin-field-label formControlName="contractNumber">شماره قرارداد</tamin-field-label>
          <tamin-field-static-text formControlName="contractNumber" placeholder="نماد معاملاتی"></tamin-field-static-text>
        </div> -->
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-3 col-s-3-1" style='padding: 5px;'>
          <tamin-field-label formControlName="contractDate">تاریخ قرارداد</tamin-field-label>
          <tamin-field-static-text formControlName="contractDate" placeholder="نماد معاملاتی"></tamin-field-static-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-3 col-s-3-1" style='padding: 5px;'>
          <tamin-field-label formControlName="branchCode">شعبه تامین اجتماعی</tamin-field-label>
          <tamin-field-static-text formControlName="branchCode" placeholder="نماد معاملاتی"></tamin-field-static-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-3 col-s-3-1" style='padding: 5px;'>
          <tamin-field-label formControlName="contractStartDate">دوره قرارداد از</tamin-field-label>
          <tamin-field-static-text formControlName="contractStartDate" placeholder="نماد معاملاتی">
          </tamin-field-static-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-3 col-s-3-1" style='padding: 5px;'>
          <tamin-field-label formControlName="contractEndDate">لغایت</tamin-field-label>
          <tamin-field-static-text formControlName="contractEndDate" placeholder="نماد معاملاتی">
          </tamin-field-static-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-3 col-s-3-1" style='padding: 5px;'>
          <tamin-field-label formControlName="contractSubject">موضوع قرارداد</tamin-field-label>
          <tamin-field-static-text formControlName="contractSubject" placeholder="نماد معاملاتی">
          </tamin-field-static-text>
        </div>
         <!---------------------------------------------------------------------------------------------------------->
         <div class="col-4 col-s-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="id1">شماره گواهی (اصل حق بیمه 1195)</tamin-field-label>
          <tamin-field-static-text formControlName="id1" placeholder="نماد معاملاتی">
          </tamin-field-static-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-4 col-s-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="date1">تاریخ گواهی (اصل حق بیمه 1195)</tamin-field-label>
          <tamin-field-static-text formControlName="date1" placeholder="نماد معاملاتی">
          </tamin-field-static-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-4 col-s-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="ourag_price1">مبلغ اصل حق بیمه</tamin-field-label>
          <tamin-field-static-text formControlName="ourag_price1" placeholder="نماد معاملاتی"></tamin-field-static-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-6 col-s-6-1" style='padding: 5px;'>
          <tamin-field-label formControlName="ourag_HavDate">تاریخ صدور حواله / واگذاری</tamin-field-label>
          <tamin-field-static-text formControlName="ourag_HavDate" placeholder="نماد معاملاتی">
          </tamin-field-static-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-6 col-s-6-1" style='padding: 5px;'>
          <tamin-field-label formControlName="ourag_SDate">تاریخ سرسید</tamin-field-label>
          <tamin-field-static-text formControlName="ourag_SDate" placeholder="نماد معاملاتی"></tamin-field-static-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <!-- <div class="col-4 col-s-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="ourag_ApriceClc">مبلغ حفظ قدرت خرید طبق محاسبه </tamin-field-label>
          <tamin-field-static-text formControlName="ourag_ApriceClc" placeholder="نماد معاملاتی">
          </tamin-field-static-text>
        </div> -->
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-4 col-s-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="ourag_gno">شماره گواهی (حفط قدرت خرید 1196)</tamin-field-label>
          <tamin-field-static-text formControlName="ourag_gno" placeholder="نماد معاملاتی"></tamin-field-static-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-4 col-s-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="ourag_date">تاریخ گواهی (حفط قدرت خرید 1196)</tamin-field-label>
          <tamin-field-static-text formControlName="ourag_date" placeholder="نماد معاملاتی"></tamin-field-static-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-4 col-s-4-1" style='padding: 5px;'>
          <tamin-field-label formControlName="ourag_price2">مبلغ بابت حفظ قدرت خرید</tamin-field-label>
          <tamin-field-static-text formControlName="ourag_price2" placeholder="نماد معاملاتی"></tamin-field-static-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
      </div>
      <div class="row">
        <div class="col-12" style="padding-top: 10px">
          <div class="button-container">
            <button type="button" class="button normal dark" (click)="hide()">خروج</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</tamin-modal>
