<div class="row">
  <form [formGroup]="viewForm" autocomplete="off" novalidate>
    <div class="form-control-container">
      <p>
        متقاضی محترم:
      </p>
      <p style="margin-right: 10px"><i class="icon-lightbulb"></i>
        صاحبان حرف و مشاغل آزاد با نرخ 12 درصد از معاینات پزشکی معاف می باشند.
      </p>
      <p style="margin-right: 10px"><i class="icon-lightbulb"></i>
        صاحبان حرف و مشاغل آزاد با نرخ 14 درصد با داشتن حد اقل 1 سال سابقه بیمه پردازی از معاینات پزشکی معاف می باشند.
      </p>
      <p style="margin-right: 10px"><i class="icon-lightbulb"></i>
        صاحبان حرف و مشاغل آزاد با نرخ 18 درصد در صورتی که در 10 سال قبل از انعقاد قرارداد حداقل 1 سال و در 1 سال قبل
        از انقعاد قرارداد حداقل 90 روز سابقه بیمه پردازی داشته باشند از معاینات پزشکی معاف می باشند.
      </p><br>
      <div class="col-4">
        <tamin-field-label formControlName="insuranceType">نوع حق بیمه </tamin-field-label>
        <tamin-field-static-text formControlName="insuranceType">
          <p>صاحبان حرف و مشاغل آزاد</p>
        </tamin-field-static-text>
      </div>
      <div class="col-4">
        <tamin-field-label formControlName="spcPremiumRate">نرخ حق بیمه {{spcPremiumRateTitle}}</tamin-field-label>
        <tamin-field-validator formControlName="spcPremiumRate"></tamin-field-validator>
        <tamin-field-combo-box-static formControlName="spcPremiumRate" placeHolder="انتخاب کنید ..."
          [dataItems]="spcPremiumRateitems" displayField="name" valueField="value"></tamin-field-combo-box-static>
      </div>
      <div class="col-4 col-4-1">
        <tamin-field-label formControlName="insuranceJob">عنوان شغل بیمه شده</tamin-field-label>
        <tamin-field-validator formControlName="insuranceJob"></tamin-field-validator>
        <tamin-field-auto-complete-data-grid formControlName="insuranceJob" #jobDataGrid
          placeholder="عنوان شغل بیمه شده"></tamin-field-auto-complete-data-grid>
      </div>
      <div>
        <div class="col-4">
          <tamin-field-label formControlName="imageTitle">شرح تصویر ( مدارک و مستندات شغلی)</tamin-field-label>
          <tamin-field-validator formControlName="imageTitle"></tamin-field-validator>
          <tamin-field-text formControlName="imageTitle"></tamin-field-text>
        </div>
        <button class="button normal marg-top" [disabled]="buttonDesabled" (click)="addImage()">
          <span><i class="icon-plus"></i><span>افزودن تصویر</span></span></button>
        <tamin-image-gallery-managed #imageGallery [maxImageSize]="500" (afterRemove)="onAfterRemoveImage($event)"
          (afterInsert)="onAfterInsertImage($event)"></tamin-image-gallery-managed>
        <div class="alert alert-info">
          توجه: تصویر می بایست در قالب (jpeg) بوده و اندازه آن حداکثر ۵۰۰ کیلو بایت باشد.
        </div>
      </div>
      <div>
        <div>
          <p>
            متقاضی محترم:
          </p>
          <span style="margin-right: 10px;"><b><i class="icon-lightbulb"></i>
              درصورت استفاده از حمایت درمان ماهانه مبلغ {{paymentTabayi}} ریال به ازاء هر نفر محاسبه می گردد.
            </b></span>
          <button class="button normal green" (click)="direct()">مشاهده افراد تبعی</button>
        </div>
        <tamin-field-validator formControlName="commitment1"></tamin-field-validator>
        <tamin-field-checkbox *ngIf="!alldisabled" (change)="onCommitment1()" formControlName="commitment1">
          <p style="direction:rtl;text-align:right;">
            خواهان حمایت درمان می باشم.
          </p>
        </tamin-field-checkbox>
        <tamin-field-checkbox *ngIf="alldisabled" onclick="return false;" (change)="onCommitment1()"
          formControlName="commitment1">
          <p style="direction:rtl;text-align:right;">
            خواهان حمایت درمان می باشم.
          </p>
        </tamin-field-checkbox>
        <br>
        <tamin-field-checkbox *ngIf="!alldisabled" (change)="onCommitment2()" formControlName="commitment2">
          <p style="direction:rtl;text-align:right;">
            خواهان حمایت درمان نمی باشم.
          </p>
        </tamin-field-checkbox>
        <tamin-field-checkbox *ngIf="alldisabled" onclick="return false;" (change)="onCommitment2()"
          formControlName="commitment2">
          <p style="direction:rtl;text-align:right;">
            خواهان حمایت درمان نمی باشم.
          </p>
        </tamin-field-checkbox>
        <tamin-field-validator formControlName="commitment3"></tamin-field-validator>
        <div *ngIf="iscomitemnt1" style="padding: 15px;border: solid 1px #2196f3;border-radius: 6px;">
          <tamin-field-checkbox (change)="onCommitment3()" formControlName="commitment3">
            <span style="direction:rtl;text-align:right;">
              متعهد می گردم اطلاعات افراد تبعی خویش را جهت بهرمندی از حمایت های درمانی تکمیل نمایم.
            </span>
          </tamin-field-checkbox>
          <tamin-field-validator formControlName="commitment3"></tamin-field-validator>
        </div>
      </div>
      <p>
        متقاضی محترم:
      </p>
      <p style="margin-right: 10px"><i class="icon-lightbulb"></i>
        <span>شما می توانید مبلغ حق بیمه ماهانه در این قرارداد را از ماهانه {{minPremiumWithComma}} تا حداکثر
          {{maxPremiumWithComma}} تعیین و پرداخت نمایید.</span>
      </p>
      <p style="margin-right: 10px"><i class="icon-lightbulb"></i>
        <span>دستمزد ماهیانه مبنای حق بیمه شما بر اساس میزان حق بیمه انتخابی با فرمول "حق بیمه ماهانه انتخابی * 100
          تقسیم بر {{spcPremiumTitle}} " محاسبه می شود.
        </span>
      </p>
      <p style="margin-right: 10px"><i class="icon-lightbulb"></i>
        <span>مبلغ حق بیمه انتخابی شما هر ساله متناسب با مصوبه شورایعالی کار (افزایش دستمزد ها) به نسبت افزایش خواهد
          یافت.</span>
      </p><br>
      <div class="col-4">
        <tamin-field-label formControlName="monthlyPremium">لطفا مبلغ حق بیمه ماهانه را وارد کنید</tamin-field-label>
        <tamin-field-validator formControlName="monthlyPremium"></tamin-field-validator>
        <tamin-field-number formControlName="monthlyPremium"></tamin-field-number>
      </div>
      <div class="col-2 marg-top-calculat"  >
        <button class="button normal green" (click)="onCalculateSalary()"
          [disabled]="!viewForm.valid || isPayment">محاسبه</button>
      </div>
      <div class="col-4">
        <tamin-field-label formControlName="salary">دستمزد ماهانه بر اساس حق بیمه انتخابی</tamin-field-label>
        <tamin-field-static-text formControlName="salary"></tamin-field-static-text>
      </div>
    </div>
  </form>
  
</div>
