<div class="alert alert-success">
  <p>اعلام سابقه به موسسات</p>
</div>
<!--<div class="alert alert-info">-->
<!--<p style="border-bottom: dotted 1px white">توجه</p>-->
<!--<br>-->
<!--<p><i class="icon-lightbulb"></i> <span>حداقل دستمزد هر سال بر اساس مصوبات شورای عالی کار تعیین و به تبع آن حداکثر دستمزد محاسبه میگردد.</span>-->
<!--</p>-->
<!--</div>-->
<div class="panel">
  <div class="panel-body" #calculated>
    <form [formGroup]="theForm" autocomplete="off" novalidate>
      <div class="row">
         <div class="col-12">
          <h4>نوع درخواست اعلام سابقه به موسسات را انتخاب کنید:</h4>
          <!--<tamin-field-label>نوع سابقه</tamin-field-label><br>-->
          <tamin-field-checkbox formControlName="historyType1">کلیه سوابق</tamin-field-checkbox><br>
          <tamin-field-checkbox formControlName="historyType2">سوابق و ریز دستمزد بعد از سال 86</tamin-field-checkbox><br>
          <tamin-field-checkbox formControlName="historyType3">سوابق تلفیقی</tamin-field-checkbox>
        </div>
      </div>
      <hr>
      <!-- <div class="row">
        <div class="col-4">
          <tamin-field-label formControlName="institutionType">نوع موسسه</tamin-field-label>
          <tamin-field-combo-box-static formControlName="institutionType" placeHolder="انتخاب کنید ..."
                                        valueField="value" displayField="name"
                                        [dataItems]="institutionTypeList"></tamin-field-combo-box-static>
        </div>
        <div class="col-4" *ngIf="institutionNameCode === '1'">
          <tamin-field-label formControlName="institutionName">نام موسسه</tamin-field-label>
          <tamin-field-combo-box-static formControlName="institutionName" valueField="value"
                                        displayField="name" placeHolder="انتخاب کنید ..."
                                        [dataItems]="institutionNameList"></tamin-field-combo-box-static>
        </div>
        <div class="col-4" *ngIf="institutionNameCode === '2'">
          <tamin-field-label formControlName="institutionName">نام موسسه</tamin-field-label>
          <tamin-field-text formControlName="institutionName" valueField="value"
                                        displayField="name" placeHolder="تایپ کنید ..."></tamin-field-text>
        </div>
      </div> -->
      <div class="row">
          <div class="col-12">
              <div class="button-container">
                  <button class="button normal" (click)="historyInstitutionAgreement.show()"><i class="icon-upload"></i> <span>ارسال به صندوق شخصی</span></button>
                  <button type="button" class="button normal orange" (click)="resetForm()">انصراف</button>
              </div>
          </div>
      </div>
    </form>
  </div>
</div>

<app-history-institution-agreement #historyInstitutionAgreement (agree)="sendToInbox()"></app-history-institution-agreement> <!-- (click)="sendToInbox()"-->

<div class="alert alert-info">
  <p>با توجه به غیر قطعی بودن میزان سابقه، میانگین دستمزد دو سال آخر محاسبه شده قابل استناد در مراجع قانونی نمی
    باشد.</p>
</div>

