<!-- <div class="page-content padding-30 container">
  <div class="row" data-plugin="matchHeight" data-by-row="true">
    <div class="col-md-12 col-xs-12 masonry-item">
      <div class="panel" style="height:79em;">
        <div class="panel-heading col-xs-12">
          <div class="col-xs-12 padding-10 factor-status" style="color:#d65d5d;">
            <div class="text-success heading-title"><i class="icon md-check-circle font-size-20"></i><span>فاکتور شماره
                ی:</span><span>672698</span><span>پرداخت</span><span>نشده است</span></div>
            <div class="ribbon ribbon-bookmark ribbon-success"><span
                class="ribbon-inner padding-top-0 padding-bottom-0">پرداخت نشده</span></div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="panel-body margin-top-10">
          <div class="col-md-12 col-xs-12 masonry-item">
            <div class="col-md-12 col-xs-12 padding-0 margin-bottom-10"></div>
            <div class="payment-table-details-label-delta">
              <div class="pull-left"><span class="text-bold" style="font-weight: 700;">تاریخ پرداخت: 2020/11/07 (08:55)</span></div>
              <div class="pull-right"><span class="text-success text-bold">قابل پرداخت:</span><span
                  class="text-bold">416,500 ریال</span></div>
            </div>
            <div class="payment-table-details-label">
              <div class="pull-left"><span class="text-bold">جزئیات فاکتور</span></div>
              <div></div>
            </div>
            <div class="col-md-12 col-xs-12 padding-0 margin-bottom-10">
              <div class="table-responsive">
                <table class="table payment-table-details">
                  <tbody>
                    <tr>
                      <td><strong>مشخصات پرداخت کننده</strong><br>پیمان طهماسبی<br>خزانه بخارایی بین فلکه اول ودوم کوچه ناصر
                        سلطانی پلاک 43,<br>تهران, تهران, 1834788974<br>Iran, Islamic Republic Of</td>
                      <td><strong>مشخصات سازمان</strong><br>سازمان تامین اجتماعی<br>تهران-نشانی: تهران، خیابان آزادی، پلاک ۳۴۵ کدپستی ۱۴۵۷۹۶۵۵۹۵
                        فارس<br>تلفن : 1561<br>نمابر :1561</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-12 col-xs-12 padding-0 margin-bottom-10">
              <div class="col-md-12 payment-table-details-info">
                <div class="col-md-12" style="text-align: center;">
                  <div class="col-md-4 col-xs-12 text-center">
                    <div class="padding-20">شماره پیش فاکتور
                      672698</div>
                  </div>
                  <div class="col-md-4 col-xs-12 text-center">
                    <div class="padding-20">تاریخ ایجاد: 2020/11/02</div>
                  </div>
                  <div class="col-md-4 col-xs-12 text-center">
                    <div class="padding-20">تاریخ اعتبار : 2020/11/09</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-xs-12 padding-0 margin-bottom-10">
              <div class="table-responsive">
                <table class="table table-striped factor-info">
                  <tbody>
                    <tr>
                      <td style="text-align:right!important;">شرح پرداخت یا خدمت</td>
                      <td style="width: 185px;">مبلغ</td>
                    </tr>
                    <tr>
                      <td style="text-align:right!important;">برگ پرداخت کسری از ماه</td>
                      <td>416,500 ریال</td>
                    </tr>
                    <tr>
                      <td style="text-align:right!important;">مجموع:</td>
                      <td>416,500 ریال</td>
                    </tr>
                    <tr>
                      <td style="text-align:right!important;">9% مالیات بر ارزش افزوده:</td>
                      <td>0 ریال</td>
                    </tr>
                    <tr>
                      <td style="text-align:right!important;">برداشت از موجودی حساب:</td>
                      <td>0 ریال</td>
                    </tr>
                    <tr class="info" style="background-color:#fae0e0;">
                      <td style="text-align:right!important;">قابل پرداخت:</td>
                      <td>416,500 ریال</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-12 col-xs-12 padding-0 margin-bottom-10">
              <div class="col-md-12 col-xs-12 padding-0 margin-bottom-10 pull-left"><span class="font-size-12 text-bold">اطلاعات
                  پرداخت</span></div>
              <div class="table-responsive">
                <table class="table table-striped balance-factor" style="    border-bottom: 1px solid #c48383;">
                  <tbody>
                    <tr>
                      <td>تاریخ پرداخت</td>
                      <td>روش پرداخت</td>
                      <td>شماره پیگیری یا تراکنش</td>
                      <td>مبلغ</td>
                    </tr>
                    <tr>
                      <td>2020/11/07</td>
                      <td>پرداخت</td>
                      <td>3BE0B2AE2E6F2A42</td>
                      <td>416,500 ریال</td>
                    </tr>
                    <tr class="info" style="background-color:#ff980054;">
                      <td colspan="3" style="text-align: right !important;">باقی مانده:</td>
                      <td>416,500 ریال</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-12 col-xs-12 padding-0 margin-bottom-10 factor-dl">
              <a href="clientarea.php"
                class="btn btn-link pull-left margin-bottom-15 padding-right-0 waves-effect waves-light button-factor"><span style="margin-top: 5px;">بازگشت به پورتال</span></a>
                <a href="dl.php?type=i&amp;id=672698"
                class="btn btn-primary waves-effect waves-light pull-right margin-bottom-15 waves-effect waves-light button-factor"><span style="margin-top: 5px;">دانلود پیش فاکتور</span></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="row" style="width:17%;">
    <p>پرداخت با موفقیت انجام نشد</p>
  </div>
  <div class="row">
      <img src="/assets/images/close-svgrepo-com.svg" intrinsicsize="512 x 512" width="width:50%;" height="180" srcset="/assets/images/close-svgrepo-com.svg" alt="Tick Success SVG Vector" title="Tick Success SVG Vector">
  </div>
  <div class="row" style="width:15%;">
      <button style="margin-top: 10px;margin-bottom: 10px;" class="button normal green" (click)="onredirect()">بازگشت به صفحه
         قبل
      </button>
    </div>
