<div class="alert alert-info">
  درخواست گواهی کسر اقساط معوق
</div>

<app-edict-view #paymentViewComponent></app-edict-view>
<div class="alert alert-info">
  <span>
    <p>- شماره مستمری یا شماره بازمانده خود را انتخاب نمایید.</p>
    <p>-در صورتی که درخواست گواهی کسر اقساط برای ضمانت دیگران می باشد گزینه "ضمانت وام برای سایرین"  را انتخاب و اطلاعات هویتی را مطابق شناسنامه وارد نمایید.</p>
    <p>- نام بانک یا موسسه مورد نظر را از لیست انتخاب نمایید.</p>
  </span>
</div>
<app-wage-assignment-edit #viewComponent></app-wage-assignment-edit>
