<div class="alert alert-info">
  <i class="icon-lightbulb"></i>
  <span>امکان مشاهده کارگاه های تعریف شده و برگ پرداخت های مربوط به هر کارگاه</span>
</div>
<div class="panel">
  <app-workshop-full-info-search (submitt)="onSearchSubmit($event)"></app-workshop-full-info-search>
  <app-workshop-full-info-list #workshopList (sendRecord)="onFilterList($event)"></app-workshop-full-info-list>
</div>
<div class="panel">
  <app-workshop-payment-sheet-search
    (output)="onSearchPaymentSheetSubmit($event)"></app-workshop-payment-sheet-search>
  <app-workshop-payment-sheet-list #paymentSheetList ></app-workshop-payment-sheet-list>
</div>

