<div class="alert alert-info">
  <i class="icon-lightbulb"></i>
  <span>امکان پیگیری اعتراض های مربوط به ابلاغ</span>
</div>
<div class="panel">
  <div class="page-title">جستجوی اعتراض</div>
  <div class="panel-body">
    <form [formGroup]="objectionSearchForm" autocomplete="off" novalidate (ngSubmit)="onSearchSubmit()">
      <div class="form-control-container row">
        <div class="col-4 col-4-1" style="padding: 3px;">
          <!---------------------------------------------------------------------------------------------------------->
          <tamin-field-label formControlName="workshopId">شماره کارگاه:</tamin-field-label>
          <tamin-field-validator formControlName="workshopId"></tamin-field-validator>
          <tamin-field-text formControlName="workshopId" placeholder="شماره کارگاه"></tamin-field-text>
          <!---------------------------------------------------------------------------------------------------------->
        </div>
        <div class="col-4 col-4-1" style="padding: 3px;">
          <!---------------------------------------------------------------------------------------------------------->
          <tamin-field-label formControlName="seqNo">شماره اعتراض:</tamin-field-label>
          <tamin-field-validator formControlName="seqNo"></tamin-field-validator>
          <tamin-field-text formControlName="seqNo" placeholder="شماره اعتراض"></tamin-field-text>
          <!---------------------------------------------------------------------------------------------------------->
        </div>
        <div class="col-4 col-4-1" style="padding: 3px;">
          <!---------------------------------------------------------------------------------------------------------->
          <tamin-field-label formControlName="debitNumber">شماره بدهی:</tamin-field-label>
          <tamin-field-validator formControlName="debitNumber"></tamin-field-validator>
          <tamin-field-text formControlName="debitNumber" placeholder="شماره بدهی"></tamin-field-text>
          <!---------------------------------------------------------------------------------------------------------->
        </div>
        <p style="margin-top:5px;">
          <button type="submit" class="button normal">جستجو</button>
          <button type="button" class="button normal orange" (click)="resetObjectionForm()">نمایش همه</button>
        </p>
      </div>
    </form>
  </div>
  <div class="page-title">لیست اعتراض ها</div>
  <div class="panel-body">
    <tamin-data-grid #objectionGrid (itemAction)="onGridAction($event)"></tamin-data-grid>
  </div>
</div>
<tamin-modal #theModal title="مشاهده درخواست">
  <tamin-document-viewer #documentViewer width="100%"></tamin-document-viewer>
</tamin-modal>
<div #container></div>

