<tamin-modal #theModal title="مختومه نمودن غیر مکانیزه">
  <div class="panel-body">
    <form [formGroup]="editForm" autocomplete="off" novalidate >
      <div class="form-control-container">
        <!---------------------------------------------------------------------------------------------------------->
        <tamin-field-label formControlName="status">وضعیت درخواست:</tamin-field-label>
        <tamin-field-combo-box-static #status formControlName="status" [dataItems]="statusResult"
                                      displayField="requestDesc" valueField="requestCode"
        ></tamin-field-combo-box-static>
        <!---------------------------------------------------------------------------------------------------------->
        <tamin-field-label formControlName="comment">توضیحات:</tamin-field-label>
        <tamin-field-text formControlName="comment" placeholder="توضیحات"></tamin-field-text>
        <!---------------------------------------------------------------------------------------------------------->
        <p style="margin-top:5px;">
          <button type="submit" class="button normal" (click)="saveForm(editForm.value)" [disabled]="!editForm.valid">ذخیره
          </button>
          <button type="button" class="button normal dark" (click)="cloaseNewHeader()">انصراف</button>
        </p>
      </div>
    </form>
  </div>
</tamin-modal>
