<div class="panel">
    <div class="page-title">جستجو</div>
    <div class="panel-body">
        <!-- <form [formGroup]="searchForm" autocomplete="off" novalidate (ngSubmit)="searchFormSubmit()"> -->
          <form [formGroup]="searchForm" autocomplete="off" novalidate>
            <div class="form-control-container">
                <div class="row">
                    <div class="col-6">
                        <tamin-field-label formControlName="nationalCode">کد ملی:</tamin-field-label>
                        <tamin-field-validator formControlName="nationalCode"></tamin-field-validator>
                        <tamin-field-text formControlName="nationalCode" placeholder="کد ملی"></tamin-field-text>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="button-container">

                          <button type="button" class="button normal"  (click)="searchFormSubmit()" >جستجو</button>
                          <button type="button" class="button normal orange" (click)="resetForm()">پاک کردن فرم</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
