<div class="alert alert-info">محاسبه مبلغ کمک هزینه ازدواج</div>
<div class="panel">
  <div class="panel-title"></div>
  <div class="panel-body">
    <form novalidate autocomplete="off" [formGroup]="theForm">
      <div class="row">
        <div class="col-4">
          <tamin-field-label formControlName="marriageDate">تاریخ عقد</tamin-field-label>
          <tamin-field-validator formControlName="marriageDate"></tamin-field-validator>
          <tamin-field-persian-date formControlName="marriageDate" placeholder=""></tamin-field-persian-date>
        </div>
            <div class="col-4">
          <tamin-field-label formControlName="marriageSum">جمع دستمزد دو سال آخر(ریال)</tamin-field-label>
          <tamin-field-static-text formControlName="marriageSum"></tamin-field-static-text>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="marriageAmount">مبلغ قابل پرداخت  (ریال)</tamin-field-label>
          <tamin-field-static-text formControlName="marriageAmount"></tamin-field-static-text>
        </div>
        </div>
    </form>
    <button class="button normal blue" (click)="calculate()">محاسبه مبلغ کمک هزینه ازدواج</button>
  </div>
</div>
