<div class="alert alert-info">
  <i class="icon-lightbulb"></i>
  <span>توضیحات</span>
</div>

<div class="panel">
  <div class="panel-title">
    لیست جدید
  </div>
  <div class="panel-body">
    <form [formGroup]="newForm" autocomplete="off" novalidate>
      <div class="row">
        <div class="col-4">
          <tamin-field-label formControlName="workshopCode">کارگاه</tamin-field-label>
          <tamin-field-text formControlName="workshopCode" #workshop></tamin-field-text>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="year">سال</tamin-field-label>
          <tamin-field-text formControlName="year"></tamin-field-text>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="month">ماه</tamin-field-label>
          <tamin-field-combo-box-static formControlName="month" [dataItems]="months" displayField="name"
                                        valueField="value"></tamin-field-combo-box-static>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="listNumber">شماره لیست</tamin-field-label>
          <tamin-field-text formControlName="listNumber" placeholder="شماره لیست"></tamin-field-text>
        </div>
      </div>

    </form>
  </div>
</div>

<div class="panel">
  <div class="panel-body">
    <button type="button" class="button normal">ذخیره</button>
    <button type="button" class="button normal dark" (click)="redirectTo('il/full-fledged-list')">بازگشت به لیست</button>
  </div>
</div>
