<tamin-document-viewer-modal #documentViewerModal>

</tamin-document-viewer-modal>
<div class="page-title">
  <p>مشاهده بازرسی های انجام شده</p>
</div>
<div class="row">
  <div class="col-12">
    <div class="panel">
      <div class="panel-title">جستجو</div>
      <div class="panel-body">
        <app-sso-inspection-search (afterSubmit)="onSearch($event)"></app-sso-inspection-search>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="panel">
        <div class="panel-title">لیست بازرسی ها</div>
        <div class="panel-body">
          <tamin-data-grid #dataGrid (itemAction)="onShowReport($event)" (refreshDataError)="onError()">
          </tamin-data-grid>
      </div>
    </div>
  </div>
  <button type="button" class="button normal dark" (click)="redirectTo('sso/main')">بازگشت به پنل همکاران سازمانی
  </button>
</div>


