<div class="panel col-6 col-s-6">
  <div class="panel-title"> ثبت اطلاعات هویتی کارگاه های زیر مجموعه </div>
  <div class="panel-body">
    <form [formGroup]="editForm" autocomplete="off" novalidate (ngSubmit)="onSave(editForm.value)">
      <div class="form-control-container">
        <div class="row col-12 col-s-12">
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="name">عنوان</tamin-field-label>
            <tamin-field-combo-box-static formControlName="name" displayField="name" valueField="value" #nameCombobBox></tamin-field-combo-box-static>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="nationalCode">شناسه ملي</tamin-field-label>
            <tamin-field-text formControlName="nationalCode"></tamin-field-text>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="branchCode">شعبه تامين اجتماعي</tamin-field-label>
            <tamin-field-combo-box-static formControlName="branchCode" displayField="name" valueField="value" [dataItems]="branchCode" ></tamin-field-combo-box-static>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="workshopId">کد کارگاه</tamin-field-label>
            <tamin-field-text formControlName="workshopId"></tamin-field-text>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="Province">استان</tamin-field-label>
            <tamin-field-text formControlName="Province"></tamin-field-text>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="citycode">شهر</tamin-field-label>
            <tamin-field-text formControlName="citycode"></tamin-field-text>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="mobail">تلفن همراه</tamin-field-label>
            <tamin-field-text formControlName="mobail"></tamin-field-text>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="email">ایمیل</tamin-field-label>
            <tamin-field-text formControlName="email"></tamin-field-text>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="codePosti">کد پستی</tamin-field-label>
            <tamin-field-text formControlName="codePosti"></tamin-field-text>
          </div>
        </div>
        <div class="row col-12 col-s-12">
          <div class="col-12 col-s-12">
            <tamin-field-label formControlName="workshopAddressDesc">آدرس</tamin-field-label>
            <tamin-field-text formControlName="workshopAddressDesc"></tamin-field-text>
          </div>
        </div>
      </div>
      <div>
      </div>
      <div class="row col-12 col-s-12">
        <div class="col-4 col-s-4">
        <tamin-field-label formControlName="workshopAddressPhone1">شماره تلفن</tamin-field-label>
        <tamin-field-text formControlName="workshopAddressPhone1"></tamin-field-text>
      </div>
      <div class="col-2 col-s-2">
        <tamin-field-label formControlName="cityCode1">کد شهر</tamin-field-label>
        <tamin-field-text formControlName="cityCode1"></tamin-field-text>
      </div>
        <div class="col-4 col-s-4">
          <tamin-field-label formControlName="workshopAddressPhone2">شماره تلفن</tamin-field-label>
          <tamin-field-text formControlName="workshopAddressPhone2"></tamin-field-text>
        </div>
        <div class="col-2 col-s-2">
          <tamin-field-label formControlName="cityCode2">کد شهر</tamin-field-label>
          <tamin-field-text formControlName="cityCode2"></tamin-field-text>
        </div>
        <div class="col-4 col-s-4">
          <tamin-field-label formControlName="workshopAddressPhone3">شماره تلفن</tamin-field-label>
          <tamin-field-text formControlName="workshopAddressPhone3"></tamin-field-text>
        </div>
        <div class="col-2 col-s-2">
          <tamin-field-label formControlName="cityCode3">کد شهر</tamin-field-label>
          <tamin-field-text formControlName="cityCode3"></tamin-field-text>
        </div>
        <div class="col-4 col-s-4">
          <tamin-field-label formControlName="faxNo">شماره فکس</tamin-field-label>
          <tamin-field-text formControlName="faxNo"></tamin-field-text>
        </div>
        <div class="col-2 col-s-2">
          <tamin-field-label formControlName="cityCodefax">کد شهر</tamin-field-label>
          <tamin-field-text formControlName="cityCodefax"></tamin-field-text>
        </div>
      </div>
      <button #submitButton type="submit" class="button normal">ذحیره </button>
      <button type="button" class="button normal orange" (click)="back()">انصراف</button>
    </form>
  </div>
</div>
