
<div class="panel" #panel>

  <div class="panel-body">
    <form [formGroup]="theForm"  autocomplete="off">
      <div class="form-control-container row">
        <div class="col-6 col-s-2" style="padding-right:5px;">
          <tamin-field-label formControlName="nationalId">کد ملی</tamin-field-label>
          <tamin-field-text formControlName="nationalId"></tamin-field-text>
        </div>
        <div class="col-6 col-s-2" style="padding-right:5px;">
          <tamin-field-label formControlName="startDate">تاریخ شروع</tamin-field-label>
          <tamin-field-persian-date formControlName="startDate"></tamin-field-persian-date>
        </div>
        <p style="margin-top:5px;">
        <button type="button" class="button normal" (click)="search()" >جستجو</button>
        </p>

        <div class="col-6 col-s-2"style="padding-right:5px;">
          <tamin-field-label formControlName="firstName" style="padding-right:5px;">نام </tamin-field-label>
          <tamin-field-static-text formControlName="firstName" placeholder=""></tamin-field-static-text>
        </div>
        <div class="col-6 col-s-2" style="padding-right:5px;">
          <tamin-field-label formControlName="lastName" style="padding-right:5px;"> نام خانوادگی</tamin-field-label>
          <tamin-field-static-text formControlName="lastName" placeholder=""></tamin-field-static-text>
        </div>
      </div>
    </form>


      <!--<div class="button-container col-12 col-s-12" style="margin:5px;">-->
      <button type="button" class="button normal"  (click)="saveData()">ذخیره</button>
      <!--<button type="button" class="button normal gray"  (click)="return()">انصراف</button>-->
      <!--</div>-->
    </div>

  </div>

