<div class="row">
  <form [formGroup]="theForm" autocomplete="off" novalidate>
    <div class="form-control-container">
      <tamin-field-validator formControlName="commitment1"></tamin-field-validator>
      <tamin-field-checkbox (change)="onCommitment1()" formControlName="commitment1">
        <p style="direction:rtl;text-align:right;">
          - اینجانب <span style="font-weight: bold;">{{personalInfo?.firstName + ' ' + personalInfo?.lastName}}
          </span>دارای کد ملی
          شماره <span style="font-weight: bold;">{{personalInfo?.nationalId}}</span> با آگاهی کامل از مفاد آئین نامه و
          مقررات تکمیل سوابق کسری از ماه ، با سلامت کامل عقل، صحت اطلاعات و اسناد مربوطه را تایید می نمایم و چنانچه در
          هر زمان خلاف آن ثابت
          گردد،
          قرارداد منعقده باطل بوده و از این نظر هیچگونه حقی نخواهم داشت و ملزم به جبران خسارات احتمالی وارده به سازمان
          تامین اجتماعی خواهم بود.
        </p>
      </tamin-field-checkbox>
      <br>
      <p style="margin-right: 24px;direction:rtl;text-align:right;">
        - درخواست تکمیل سوابق کسری از ماه و انعقاد قرارداد با نرخ 27% و تاریخ
        شروع <span style="font-weight: bold;">{{startDate}}</span> دارم.
      </p>
      <!-- <tamin-field-checkbox (change)="onCommitment2()" formControlName="commitment2">
        <p style="direction:rtl;text-align:right;">
          درخواست تکمیل سوابق کسری از ماه و انعقاد قرارداد با نرخ 27% و تاریخ
          شروع <span style="font-weight: bold;">{{startDate}}</span> دارم.
        </p>
      </tamin-field-checkbox>
      <tamin-field-validator formControlName="commitment2"></tamin-field-validator> -->
      <br>
      <div class="row">
        <button class="button normal green" (click)="onSaveContract()" [disabled]="!commitment1 || savedContract">انعقاد
          قرارداد
        </button>
        <button class="button normal green" (click)="onPrintContract()" [disabled]="!savedContract">مشاهده قرارداد
        </button>
        <button class="button normal green" (click)="payInsurancePremium()" [disabled]="!savedContract">پرداخت حق بیمه
        </button>
        <button class="button normal red" (click)="redirectTo('/')"> خروج
        </button>
      </div>
    </div>
  </form>
</div>
<tamin-modal #theModal title="نمایش pdf">
  <tamin-document-viewer #documentViewer width="100%"></tamin-document-viewer>
</tamin-modal>
