.portal-mobile-main {
    /*height: calc(100% - 54px);*/
    height: 100%;
    width: 100%;
    position: absolute;
}

.portal-mobile-main-container {
    height: 96%;
    position: relative;
}

.portal-main-top-container {
    position: relative;
    text-align: center;
    background-image: url(/assets/images/n14.jpg);
    background-size: cover;
    background-position: center;
    height: 50%;
}

.portal-mobile-greetings {
    position: absolute;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.534);
    color: rgb(0, 0, 0);
    height: 35%;
    width: 100%;
    font-size: calc(100vh/75);
    font-weight: bold;
    text-align: right;
    overflow-y: auto;
}

.portal-main-middle-container {
    position: relative;
    text-align: center;
    height: 25%;
}

.portal-main-flag {
    position: absolute;
    background-image: url(/assets/images/flag.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 25%;
    height: 25%;
    top: 0%;
    left: 0%;
}

.portal-main-overlay {
    position: absolute;
    background-image: url(/assets/images/portal/overlay2.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: contain;
    width: 100%;
    height: 63%;
    top: 0px;
    z-index: 1;
}

.portal-main-logo {
    position: absolute;
    background-image: url(/assets/images/logo-white.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: contain;
    width: 100%;
    height: 25%;
    top: 5%;
    animation-name: portal-main-logo-anim;
    animation-duration: 2s;
    animation-iteration-count: 1;
    z-index: 1;
}

.portal-main-top-text {
    position: absolute;
    background-image: url(/assets/images/portal-main-top-text.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    top: 33%;
    width: 100%;
    height: 8%;
    /*animation-name: portal-main-text-top-anim;
    animation-duration: 10s;
    animation-delay: -0.7s;*/
    animation-name: portal-main-logo-anim;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    z-index: 1;
}

.portal-main-bottom-text {
    position: absolute;
    background-image: url(/assets/images/portal-main-bottom-text3.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    top: 43%;
    width: 100%;
    height: 11%;
    /*animation-name: portal-main-text-top-anim;
    animation-duration: 10s;
    animation-delay: -0.5s;*/
    animation-name: portal-main-logo-anim;
    animation-duration: 2s;
    animation-iteration-count: 1;
    z-index: 1;
}

.portal-main-date {
    position: absolute;
    font-size:11px;
    color: rgb(255, 255, 255);
    top: 63%;
    width: 100%;
    height: 11%;
    z-index: 1;
}

@media only screen and (min-width: 767px) {
    /*.portal-main-top-container { height: 60%; }
    .portal-main-middle-container { height: 40%; }*/
}

@keyframes portal-main-logo-anim {
    /*from { transform: rotate(0deg) translateX(5px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(5px) rotate(-360deg); }*/
    /*0%   {top: 200%;}
    100%  {top: 55%;}*/
    from { filter: blur(100px) opacity(0%); }
    to   { filter: blur(0px) opacity(100%); }
}

@keyframes portal-main-text-top-anim {
    0%   {left:0px; top: 2000px;}
    25%  {left:-4px; top: -4px;}
    50%  {left:4px; top: 4px;}
    75%  {left:4px; top: -4px;}
    100% {left:0px; top: 0px;}
}

.portal-main-middle-image {
    width: auto;
    height: 100%;
    filter: sepia(0%);
    border: solid 1px #f0f0f0;
    transition: 0.2s;
}

.portal-main-middle-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(236, 236, 236);
    overflow: hidden;
    width: 100%;
    height: 25%;
    transition: .5s ease;
    filter: opacity(70%);
    cursor: pointer;
}

.portal-main-middle-container:hover .portal-main-middle-overlay {
    height: 100%;
}

.portal-main-middle-container:hover .portal-main-middle-image {
    filter: sepia(0%);
}

.portal-main-middle-text {
    color: rgb(0, 0, 0);
    font-size: calc(100vh/60);
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden;
    width: 90%;
    padding: calc(100vh/70);
}

.portal-main-middle-insured {
    background-image: url(/assets/images/portal/insurance.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.portal-main-middle-workshop {
    background-image: url(/assets/images/portal/workshop.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.portal-main-middle-pensioner {
    background-image: url(/assets/images/portal/pensioner.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.portal-main-middle-me {
    background-image: url(/assets/images/portal/pishkhan.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.portal-main-video {
    width: 100%;
    height: auto;
    border: solid #555 1px;
}
