<div class="portal-mobile-main">
  <div class="row portal-mobile-main-container">
    <div class="col-12 col-s-12 portal-main-top-container">
      <div class="portal-main-flag"></div>
      <div class="portal-main-overlay"></div>
      <div class="portal-main-logo"></div>
      <div class="portal-main-top-text"></div>
      <div class="portal-main-bottom-text"></div>
      <div class="row portal-mobile-greetings">
        <div class="col-6 col-s-6">
          <table>
            <tr>
              <td style="width:30%">
                <img style="width:90%; padding: 10px; object-fit: cover; border-radius: 20%" alt='' [attr.src]="userImage"/>
              </td>
              <td>
                <app-personal showType="compact"></app-personal>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-6 col-s-6">
          <div *ngIf="lastWorkshop" style="padding-right: 5%">
            <div style="margin-top: 10px;">مجموع سابقه :
              <span style="color: rgb(0, 0, 0)">{{ getHistory() | persianNumber}}</span>
            </div>
            <div style="margin-top: 10px;">آخرین دستمزد :
              <span style="color: rgb(0, 0, 0)">{{ lastSalary | persianNumber}}</span>
            </div>
            <div style="margin-top: 10px;">شعبه تامین اجتماعی :
              <span style="color: rgb(0, 0, 0)">{{ lastBranch | persianNumber}}</span>
            </div>
            <div style="margin-top: 10px;">نام کارگاه :
              <span style="color: rgb(0, 0, 0)">{{ lastWorkshop | persianNumber}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-s-6 portal-main-middle-container" style="padding: 1px 0px; width:50%;">
      <div class="portal-main-middle-image portal-main-middle-insured"></div>
      <div class="portal-main-middle-overlay" (click)="onButtonClicked('insured')">
        <div class="portal-main-middle-text">
          بیمه شدگان
          <div style="font-size: 90%; margin-top: 6%; text-align: justify;">
            در این بخش سرویس های غیر حضوری مرتبط با بیمه شدگان از قبیل نام نویسی، دفترچه، سابقه، حمایت های کوتاه مدت و
            ... قرار داده
            شده است
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-s-6 portal-main-middle-container" style="padding: 1px 0px; width:50%;">
      <div class="portal-main-middle-image portal-main-middle-workshop"></div>
      <div class="portal-main-middle-overlay" (click)="onButtonClicked('workshop')">
        <div class="portal-main-middle-text">
          کارفرمایان
          <div style="font-size: 90%; margin-top: 6%; text-align: justify;">
            در این بخش سرویس های غیر حضوری مرتبط با کارفرمایان از قبیل نام نویسی، ارسال لیست حق بیمه، بازرسی، مفاصا حساب
            و ... قرار داده
            شده است
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-s-6 portal-main-middle-container" style="padding: 1px 0px; width:50%;">
      <div class="portal-main-middle-image portal-main-middle-pensioner"></div>
      <div class="portal-main-middle-overlay" (click)="onButtonClicked('pensioner')">
        <div class="portal-main-middle-text">
          مستمری بگیران
          <div style="font-size: 90%; margin-top: 6%; text-align: justify;">
            در این بخش سرویس های غیر حضوری مرتبط با مستمری بگیران از قبیل درخواست برقراری مستمری، تغییرات بازماندگان،
            مشاهده احکام و
            ... قرار داده شده است
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-s-6 portal-main-middle-container" style="padding: 1px 0px; width:50%;">
      <div class="portal-main-middle-image portal-main-middle-me"></div>
      <div class="portal-main-middle-overlay" (click)="onButtonClicked('me')">
        <div class="portal-main-middle-text">
          پیشخوان
          <div style="font-size: 90%; margin-top: 6%; text-align: justify;">
            در این بخش سرویس های کارتابل شما، امکان پیگیری درخواستها، سرویس های شخصی سازی شده و ... قرار داده شده است
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="row">
      <div class="col-12 col-s-12" style="padding: 0px;">
          <video width="100%" controls controlsList="nodownload" preload="metadata">
              <source src="assets/videos/video.mp4#t=3.0" type="video/mp4"> Your browser does not support HTML5 video.
          </video>
      </div>
      <div class="col-12 col-s-12" style="padding: 20px; border: solid 1px #777; border-radius: 5px; background-color: #ececec;">
          <h3 class="icon-mobile">این اپ چیست؟</h3>
          <p style="text-align: justify;">با توجه به گسترش تعداد سرویس های متمرکز سازمان تامین اجتماعی این برنامه تمامی سرویس های غیر حضوری موجود و همچنین
              خدمات غیر حضوری جدید سازمان را در خود جای داده است.</p>
          <p style="text-align: justify;">همچنین مرجعی مطمئن و سریع را جهت آگاهی و استفاده از سرویس های جدید برای مخاطبین سازمان فراهم آورده است.</p>
      </div>
      <div class="col-12 col-s-12" style="padding: 20px; margin-top:5px; border: solid 1px #777; border-radius: 5px; background-color: #c7c7c7;">
          <h3>چگونه از آن استفاده کنم؟</h3>
          <p style="text-align: justify;">در صورتی که قبلا مشترک هر یک از سرویس های سازمان تامین اجتماعی بوده اید نیازی به ثبت نام مجدد نیست. اما اگر برای
              اولین بار با این برنامه کار می کنید در صورتی که خدمات مورد نظر شما نیاز به احراز هویت داشته باشد می بایست در
              پرتال متمرکز سازمان ثبت نام کرده و نام کاربری (کدملی) و رمز دریافت کنید.</p>
      </div>
  </div>-->
</div>
