<div class="page-title">
  فرم اعلام حادثه
</div>
<div class="row" [hidden]="!formValidationError">
  <div class="col-12">
    <div class="alert alert-danger">
      خطا در ورود اطلاعات
    </div>
  </div>
</div>

<!--اطلاعات فرد حادثه دیده -->
<div class="panel">
  <div class="panel-body">
    <div class="alert alert-info">
      <p>
        اطلاعات فرد حادثه دیده
      </p>
    </div>
    <form [formGroup]="formOne" novalidate autocomplete="off">
      <div class="row customized-row">
        <!-- Identity Box -->
        <div class="col-12 identityBox" [hidden]="!lockIdentity">
          <div class="col-3">
            <tamin-field-label formControlName="pNationalCode">کدملی حادثه دیده</tamin-field-label>
            <tamin-field-static-text formControlName="pNationalCode"></tamin-field-static-text>
          </div>
          <div class="col-3">
            <tamin-field-label formControlName="birthDate">تاریخ تولد</tamin-field-label>
            <tamin-field-static-persian-date formControlName="birthDate"></tamin-field-static-persian-date>
          </div>
          <div class="col-12">
            <button (click)="unlockIdentity()" class="button normal green"
                    style="margin: 10px auto;" type="button">دریافت مجدد اطلاعات از ثبت احوال
            </button>
          </div>
        </div>
        <div class="col-12 identityBox" [hidden]="lockIdentity">
          <div class="col-3">
            <tamin-field-label formControlName="pNationalCode">کدملی حادثه دیده</tamin-field-label>
            <tamin-field-natioanl-id formControlName="pNationalCode" [hidden]="!this.isLegal"></tamin-field-natioanl-id>
            <tamin-field-static-text formControlName="pNationalCode" [hidden]="this.isLegal"></tamin-field-static-text>
          </div>
          <div class="col-3">
            <tamin-field-label formControlName="birthDate">تاریخ تولد</tamin-field-label>
            <tamin-field-persian-date formControlName="birthDate"></tamin-field-persian-date>
          </div>
          <div class="col-12">
            <button (click)="getIdentity()" class="button normal green"
                    style="margin: 10px auto;" type="button">دریافت اطلاعات از ثبت احوال
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- ---- -->

<!-- کارگاه محل حادثه -->
<div class="panel"><!--&& formOne.value.isuTypecode === '01'-->
  <div class="panel-body">
    <div class="alert alert-info">
      <p>
        کارگاه محل حادثه
      </p>
    </div>
    <form [formGroup]="formTwo" novalidate autocomplete="off">
      <div class="row customized-row" *ngIf="this.meta.noWorkShopFound; else selectWorkshop">
        <div class="col-3">
          <tamin-field-label formControlName="workshopCode">شماره کارگاه</tamin-field-label>
          <tamin-field-validator formControlName="workshopCode"></tamin-field-validator>
          <tamin-field-mask formControlName="workshopCode" regex="^[۰۱۲۳۴۵۶۷۸۹0-9]{1,10}$"></tamin-field-mask>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="workshopName">نام کارگاه</tamin-field-label>
          <tamin-field-validator formControlName="workshopName"></tamin-field-validator>
          <tamin-field-text formControlName="workshopName"></tamin-field-text>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="bossFullName">نام و نام خانوادگی کارفرما</tamin-field-label>
          <tamin-field-validator formControlName="bossFullName"></tamin-field-validator>
          <tamin-field-text formControlName="bossFullName"></tamin-field-text>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="bossMobileNumber">شماره همراه کارفرما</tamin-field-label>
          <ng-container *ngIf="formTwo.controls.bossMobileNumber?.touched && !formTwo.controls.bossMobileNumber?.valid">
              <span *ngIf="formTwo.controls.bossMobileNumber.errors.required" class="tamin-form-control-error">
                <span style="color: #b00020;">مقدار فیلد الزامی می باشد</span>
              </span>
            <span *ngIf="formTwo.controls.bossMobileNumber.errors.pattern" class="tamin-form-control-error">
              <span style="color: #b00020;">مقدار 11 رقمی وارد شود</span>
            </span>
          </ng-container>
          <tamin-field-mask formControlName="bossMobileNumber" regex="^[۰۱۲۳۴۵۶۷۸۹0-9]{1,11}$"></tamin-field-mask>
        </div>
        <br>
        <div class="col-6">
          <tamin-field-label formControlName="workshopAddress">نشانی کارگاه</tamin-field-label>
          <tamin-field-validator formControlName="workshopAddress"></tamin-field-validator>
          <tamin-field-text-area formControlName="workshopAddress"
                                 style="height: 3em !important;"></tamin-field-text-area>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="workshopTelephone">شماره تلفن</tamin-field-label>
          <ng-container
            *ngIf="formTwo.controls.workshopTelephone?.touched && !formTwo.controls.workshopTelephone?.valid">
              <span *ngIf="formTwo.controls.workshopTelephone.errors.required" class="tamin-form-control-error">
                <span style="color: #b00020;">مقدار فیلد الزامی می باشد</span>
              </span>
            <span *ngIf="formTwo.controls.workshopTelephone.errors.pattern" class="tamin-form-control-error">
              <span style="color: #b00020;">شماره تلفن به همراه پیش شماره شهر وارد شود</span>
            </span>
          </ng-container>
          <tamin-field-mask formControlName="workshopTelephone" regex="^[۰۱۲۳۴۵۶۷۸۹0-9]{1,11}$"></tamin-field-mask>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="workshopPostalCode">کدپستی</tamin-field-label>
          <ng-container
            *ngIf="formTwo.controls.workshopPostalCode?.touched && !formTwo.controls.workshopPostalCode?.valid">
              <span *ngIf="formTwo.controls.workshopPostalCode.errors.required" class="tamin-form-control-error">
                <span style="color: #b00020;">مقدار فیلد الزامی می باشد</span>
              </span>
            <span *ngIf="formTwo.controls.workshopPostalCode.errors.pattern" class="tamin-form-control-error">
              <span style="color: #b00020;">مقدار 10 رقمی وارد شود</span>
            </span>
          </ng-container>
          <tamin-field-mask formControlName="workshopPostalCode" regex="^[۰۱۲۳۴۵۶۷۸۹0-9]{1,10}$"></tamin-field-mask>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="workshopBranchCode">کد شعبه</tamin-field-label>
          <tamin-field-validator formControlName="workshopBranchCode"></tamin-field-validator>
          <tamin-field-mask formControlName="workshopBranchCode" regex="^[۰۱۲۳۴۵۶۷۸۹0-9]{1,4}$"></tamin-field-mask>
        </div>
      </div>
      <ng-template #selectWorkshop>
        <div class="row customized-row">
          <div class="col-3">
            <tamin-field-label formControlName="workshopCode">شماره کارگاه</tamin-field-label>
            <tamin-field-validator formControlName="workshopCode"></tamin-field-validator>
            <tamin-field-combo-box-static [dataItems]="meta.workshopList" displayField="title"
                                          formControlName="workshopCode" placeHolder="انتخاب کنید ..."
                                          valueField="value">
            </tamin-field-combo-box-static>
          </div>
          <div class="col-3">
            <tamin-field-label formControlName="workshopName">نام کارگاه</tamin-field-label>
            <tamin-field-validator formControlName="workshopName"></tamin-field-validator>
            <tamin-field-static-text formControlName="workshopName"></tamin-field-static-text>
          </div>
          <div class="col-3">
            <tamin-field-label formControlName="bossFullName">نام و نام خانوادگی کارفرما</tamin-field-label>
            <tamin-field-validator formControlName="bossFullName"></tamin-field-validator>
            <tamin-field-static-text [hidden]="enableWorkshopFields"
                                     formControlName="bossFullName"></tamin-field-static-text>
            <tamin-field-text [hidden]="!enableWorkshopFields"
                              formControlName="bossFullName"></tamin-field-text>
          </div>
          <div class="col-3">
            <tamin-field-label formControlName="bossMobileNumber">شماره همراه کارفرما</tamin-field-label>
            <ng-container
              *ngIf="formTwo.controls.bossMobileNumber?.touched && !formTwo.controls.bossMobileNumber?.valid">
              <span *ngIf="formTwo.controls.bossMobileNumber.errors.required" class="tamin-form-control-error">
                <span style="color: #b00020;">مقدار فیلد الزامی می باشد</span>
              </span>
              <span *ngIf="formTwo.controls.bossMobileNumber.errors.pattern" class="tamin-form-control-error">
              <span style="color: #b00020;">مقدار 11 رقمی وارد شود</span>
            </span>
            </ng-container>
            <tamin-field-static-text [hidden]="enableWorkshopFields"
                                     formControlName="bossMobileNumber"></tamin-field-static-text>
            <tamin-field-mask [hidden]="!enableWorkshopFields"
                              formControlName="bossMobileNumber" regex="^[۰۱۲۳۴۵۶۷۸۹0-9]{1,11}$"></tamin-field-mask>
          </div>
          <div class="col-6">
            <tamin-field-label formControlName="workshopAddress">نشانی کارگاه</tamin-field-label>
            <tamin-field-validator formControlName="workshopAddress"></tamin-field-validator>
            <tamin-field-static-text [hidden]="enableWorkshopFields" formControlName="workshopAddress"></tamin-field-static-text>
            <tamin-field-text-area [hidden]="!enableWorkshopFields" formControlName="workshopAddress"
                                   style="height: 3em !important;"></tamin-field-text-area>
          </div>
          <div class="col-3">
            <tamin-field-label formControlName="workshopTelephone">شماره تلفن</tamin-field-label>
            <ng-container
              *ngIf="formTwo.controls.workshopTelephone?.touched && !formTwo.controls.workshopTelephone?.valid">
              <span *ngIf="formTwo.controls.workshopTelephone.errors.required" class="tamin-form-control-error">
                <span style="color: #b00020;">مقدار فیلد الزامی می باشد</span>
              </span>
              <span *ngIf="formTwo.controls.workshopTelephone.errors.pattern" class="tamin-form-control-error">
              <span style="color: #b00020;">شماره تلفن به همراه پیش شماره شهر وارد شود</span>
            </span>
            </ng-container>
            <tamin-field-static-text [hidden]="enableWorkshopFields"
                                     formControlName="workshopTelephone"></tamin-field-static-text>
            <tamin-field-mask [hidden]="!enableWorkshopFields"
                              formControlName="workshopTelephone" regex="^[۰۱۲۳۴۵۶۷۸۹0-9]{1,11}$"></tamin-field-mask>
          </div>
          <div class="col-3">
            <tamin-field-label formControlName="workshopPostalCode">کدپستی</tamin-field-label>
            <ng-container
              *ngIf="formTwo.controls.workshopPostalCode?.touched && !formTwo.controls.workshopPostalCode?.valid">
              <span *ngIf="formTwo.controls.workshopPostalCode.errors.required" class="tamin-form-control-error">
                <span style="color: #b00020;">مقدار فیلد الزامی می باشد</span>
              </span>
              <span *ngIf="formTwo.controls.workshopPostalCode.errors.pattern" class="tamin-form-control-error">
              <span style="color: #b00020;">مقدار 10 رقمی وارد شود</span>
            </span>
            </ng-container>
            <tamin-field-static-text [hidden]="enableWorkshopFields"
                                     formControlName="workshopPostalCode"></tamin-field-static-text>
            <tamin-field-mask [hidden]="!enableWorkshopFields"
                              formControlName="workshopPostalCode" regex="^[۰۱۲۳۴۵۶۷۸۹0-9]{1,10}$"></tamin-field-mask>
          </div>
        </div>
      </ng-template>
    </form>
  </div>
</div>
<!-- ---- -->

<div class="panel">
  <div class="panel-body">
    <div class="alert alert-info">
      <p>
        اطلاعات هویتی
      </p>
    </div>
    <form [formGroup]="formOne" novalidate autocomplete="off">
      <div class="row customized-row">
        <div class="col-3">
          <tamin-field-label formControlName="pFirstName">نام</tamin-field-label>
          <tamin-field-validator formControlName="pFirstName"></tamin-field-validator>
          <tamin-field-static-text formControlName="pFirstName"></tamin-field-static-text>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="pLastName">نام خانوادگی</tamin-field-label>
          <tamin-field-validator formControlName="pLastName"></tamin-field-validator>
          <tamin-field-static-text formControlName="pLastName"></tamin-field-static-text>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="nationCode">ملیت</tamin-field-label>
          <tamin-field-validator formControlName="nationCode"></tamin-field-validator>
          <input value="ایرانی" class="tamin-form-control-input" readonly="readonly"
                 style="background-color: #efeff0; border-color: #cacacb;" type="text">
          <!--<tamin-field-combo-box-static [dataItems]="nationalityList" displayField="name"
                                        formControlName="nationCode" placeHolder="انتخاب کنید ..."
                                        valueField="value">
          </tamin-field-combo-box-static>-->
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="isuTypecode">نوع بیمه پردازی</tamin-field-label>
          <tamin-field-validator formControlName="isuTypecode"></tamin-field-validator>
          <tamin-field-static-text formControlName="isuTypeDesc"></tamin-field-static-text>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="gender">جنسیت</tamin-field-label>
          <tamin-field-validator formControlName="gender"></tamin-field-validator>
          <tamin-field-static-text formControlName="genderDesc"></tamin-field-static-text>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="marriageStatusCode">وضعیت تاهل</tamin-field-label>
          <tamin-field-validator formControlName="marriageStatusCode"></tamin-field-validator>
          <tamin-field-combo-box-static [dataItems]="maritalStatusList" displayField="name"
                                        formControlName="marriageStatusCode" placeHolder="انتخاب کنید ..."
                                        valueField="value">
          </tamin-field-combo-box-static>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="employeeDate">تاریخ استخدام</tamin-field-label>
          <tamin-field-validator formControlName="employeeDate"></tamin-field-validator>
          <tamin-field-persian-date formControlName="employeeDate"></tamin-field-persian-date>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="jobDesc">کاری که موظف به انجام آن بوده</tamin-field-label>
          <tamin-field-validator formControlName="jobDesc"></tamin-field-validator>
          <tamin-field-text formControlName="jobDesc"></tamin-field-text>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="reportJobLocation">محل کار بیمه شده در کارگاه</tamin-field-label>
          <tamin-field-validator formControlName="reportJobLocation"></tamin-field-validator>
          <tamin-field-text formControlName="reportJobLocation"></tamin-field-text>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="vehicle">وسیله ایاب و ذهاب به کارگاه</tamin-field-label>
          <tamin-field-validator formControlName="vehicle"></tamin-field-validator>
          <tamin-field-text formControlName="vehicle"></tamin-field-text>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="rwworkstart">ساعت شروع کار</tamin-field-label>
          <tamin-field-validator formControlName="rwworkstart"></tamin-field-validator>
          <tamin-field-combo-box-static [dataItems]="occurrenceTimeList" displayField="name"
                                        formControlName="rwworkstart" placeHolder="انتخاب کنید ..."
                                        valueField="value">
          </tamin-field-combo-box-static>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="rwworkfinish">ساعت پایان کار</tamin-field-label>
          <tamin-field-validator formControlName="rwworkfinish"></tamin-field-validator>
          <tamin-field-combo-box-static [dataItems]="occurrenceTimeList" displayField="name"
                                        formControlName="rwworkfinish" placeHolder="انتخاب کنید ..."
                                        valueField="value">
          </tamin-field-combo-box-static>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="branchCode">شعبه دریافت کننده</tamin-field-label>
          <tamin-field-static-text formControlName="branchName"></tamin-field-static-text>
        </div>
        <div class="col-6">
          <tamin-field-label formControlName="reportAddress">محل سکونت (آدرس کامل)</tamin-field-label>
          <tamin-field-text-area formControlName="reportAddress"
                                 style="height: 3em !important;"></tamin-field-text-area>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="reportTelephone">شماره تلفن</tamin-field-label>
          <ng-container *ngIf="formOne.controls.reportTelephone?.touched && !formOne.controls.reportTelephone?.valid">
              <span *ngIf="formOne.controls.reportTelephone.errors.required" class="tamin-form-control-error">
                <span style="color: #b00020;">مقدار فیلد الزامی می باشد</span>
              </span>
            <span *ngIf="formOne.controls.reportTelephone.errors.pattern" class="tamin-form-control-error">
              <span style="color: #b00020;">شماره تلفن به همراه پیش شماره شهر وارد شود</span>
            </span>
          </ng-container>
          <tamin-field-mask formControlName="reportTelephone" regex="^[۰۱۲۳۴۵۶۷۸۹0-9]{1,11}$"></tamin-field-mask>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="reportPostalCode">کدپستی</tamin-field-label>
          <ng-container *ngIf="formOne.controls.reportPostalCode?.touched && !formOne.controls.reportPostalCode?.valid">
              <span *ngIf="formOne.controls.reportPostalCode.errors.required" class="tamin-form-control-error">
                <span style="color: #b00020;">مقدار فیلد الزامی می باشد</span>
              </span>
            <span *ngIf="formOne.controls.reportPostalCode.errors.pattern" class="tamin-form-control-error">
              <span style="color: #b00020;">مقدار 10 رقمی وارد شود</span>
            </span>
          </ng-container>
          <tamin-field-mask formControlName="reportPostalCode" regex="^[۰۱۲۳۴۵۶۷۸۹0-9]{1,10}$"></tamin-field-mask>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- چگونگی وقوع حادثه -->
<div class="panel">
  <div class="panel-body">
    <div class="alert alert-info">
      <p>
        چگونگی وقوع حادثه
      </p>
    </div>
    <form [formGroup]="formThree" autocomplete="off" novalidate>
      <div class="row">
        <div class="row customized-row">
          <div class="col-3">
            <tamin-field-label formControlName="occurrenceDate">تاریخ وقوع حادثه</tamin-field-label>
            <tamin-field-validator formControlName="occurrenceDate"></tamin-field-validator>
            <tamin-field-persian-date formControlName="occurrenceDate"></tamin-field-persian-date>
          </div>
          <div class="col-3">
            <tamin-field-label formControlName="occurrenceTime">ساعت وقوع حادثه</tamin-field-label>
            <tamin-field-validator formControlName="occurrenceTime"></tamin-field-validator>
            <tamin-field-combo-box-static [dataItems]="occurrenceTimeList" displayField="name"
                                          formControlName="occurrenceTime" placeHolder="انتخاب کنید ..."
                                          valueField="value">
            </tamin-field-combo-box-static>
          </div>
          <div class="col-3">
            <tamin-field-label formControlName="occurrenceResult">نتیجه حادثه</tamin-field-label>
            <tamin-field-validator formControlName="occurrenceResult"></tamin-field-validator>
            <tamin-field-combo-box-static [dataItems]="occurrenceResultList" displayField="name"
                                          formControlName="occurrenceResult" placeHolder="انتخاب کنید ..."
                                          valueField="value">
            </tamin-field-combo-box-static>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="occurrenceAddress">محل دقیق حادثه</tamin-field-label>
            <tamin-field-validator formControlName="occurrenceAddress"></tamin-field-validator>
            <tamin-field-text-area formControlName="occurrenceAddress"></tamin-field-text-area>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="occurrenceDesc">شرح واقعه</tamin-field-label>
            <tamin-field-validator formControlName="occurrenceDesc"></tamin-field-validator>
            <tamin-field-text-area formControlName="occurrenceDesc"></tamin-field-text-area>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <tamin-field-label formControlName="occurDocumentType">نوع مدرک</tamin-field-label>
            <tamin-field-validator formControlName="occurDocumentType"></tamin-field-validator>
            <tamin-field-combo-box-static [dataItems]="meta.docTypeList" displayField="name"
                                          formControlName="occurDocumentType" placeHolder="انتخاب کنید ..."
                                          valueField="value">
            </tamin-field-combo-box-static>
          </div>
        </div>
        <div class="row" [ngClass]="{'missing': occurrenceDocumentMissing}">
          <tamin-image-gallery-managed #occurrenceDocumentGallery [maxImageSize]="500"
                                       (afterRemove)="onRemoveImage(20)"
                                       (afterInsert)="onInsertImage(20)"></tamin-image-gallery-managed>
          <button (click)="uploadMainFile()" class="button normal blue icon-upload marginize" type="button">
            بارگذاری مدارک
          </button>
        </div>
        <div class="col-12">
          <div class="alert alert-warning">
            توجه: تصویر می بایست در قالب (jpeg) بوده و اندازه آن حداکثر ۵۰۰ کیلو بایت باشد.
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- ---- -->
