<tamin-modal #theModal title="ایجاد لیست بیمه جدید">
  <form [formGroup]="newForm" autocomplete="off" novalidate>
    <div class="form-control-container">
      <div class="row">
        <div class="col-12">
          <tamin-field-label formControlName="workshopId">کارگاه</tamin-field-label>
          <tamin-field-auto-complete-data-grid formControlName="workshopId" placeholder="کارگاه" #workshopSpecification></tamin-field-auto-complete-data-grid>
        </div>
        <div class="col-12">
          <tamin-field-label formControlName="workshopName">نام کارگاه</tamin-field-label>
          <tamin-field-static-text formControlName="workshopName" placeholder="نام کارگاه"></tamin-field-static-text>
        </div>
        <div class="col-12">
          <tamin-field-label formControlName="organizationCode">کد شعبه</tamin-field-label>
          <tamin-field-static-text formControlName="organizationCode" placeholder="کد شعبه"></tamin-field-static-text>
        </div>
        <div class="col-12">
          <tamin-field-label formControlName="rcntrow">ردیف پیمان</tamin-field-label>
          <tamin-field-static-text formControlName="rcntrow" placeholder="ردیف پیمان"></tamin-field-static-text>
        </div>
        <div class="col-12">
          <tamin-field-label formControlName="rcntassignname">عنوان پیمان</tamin-field-label>
          <tamin-field-static-text formControlName="rcntassignname" placeholder="عنوان پیمان"></tamin-field-static-text>
        </div>
        <!-- <h3 style="margin-top: 25px;">نام کارگاه : {{ workshopName }}</h3>
        <h3 style="margin-top: 25px;">کد شعبه : {{ branchCode }}</h3>
        <h3 style="margin-top: 25px;">ردیف پیمان : {{ rcntrow }}</h3>
        <h3 style="margin-top: 25px;">عنوان پیمان : {{ rcntassignname }}</h3> -->
      </div>
      <div class="col-12 col-s-12">
        <h4 class="col-6" style="margin-top: 5px;">اطلاعات ماهیانه کارگاه</h4>
        <!-- <label for="workshopfilename" class="col-6">اطلاعات ماهیانه کارگاه</label> -->
        <input class="col-6" formControlName="workshopfilename" class="col-6" style="display: block;margin: 4px 0px;"
          type="file" id="workshopfile" name="workshopfile" accept=".dbf,.DBF" (change)="workshopfileChange($event)">
      </div>
      <div class="col-12 col-s-12">
        <h4 class="col-6" style="margin-top: 5px;">اطلاعات ماهیانه بیمه شدگان</h4>
        <input formControlName="workerfilename" class="col-6" style="display: block;margin: 4px 0px;" type="file" id="workerfile"
          name="workerfile" accept=".dbf,.DBF" (change)="workerfileChange($event)">
            <!-- <label attr.for="workerfilename" class="inputfile " style="font: 11px 'main-font';width: 180px; white-space: nowrap; font-size: 0.9em">
              <label class="icon-upload col-4" style="margin-left: 15px;margin-top: 0px;width: 9px;height: 16px;vertical-align: middle;"></label>
              اطلاعات ماهیانه بیمه شدگان
            </label>
            <input type="file" attr.id="workerfilename" accept=".dbf,.DBF" /> -->
      </div>
      <div class="row">
        <div class="col-12" style="padding-top: 10px">
          <div class="button-container">
            <button type="button" class="button normal" (click)="saveForm(newForm.value)">ذخیره</button>
            <button type="button" class="button normal dark" (click)="hide()">انصراف</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</tamin-modal>
<app-errore-list-modal #erroreListModalComponent (refreshData)="refreshDataa()"></app-errore-list-modal>