.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  padding: 5px;
}

/*.registration-steps {*/
/*border: solid 1px #777;*/
/*border-radius: 3px;*/
/*background: #f5f5f5;*/
/*padding: 10px;*/
/*margin: 1px;*/
/*}*/

/*.registration-steps.disabled*/
/*{*/
/*pointer-events: none;*/
/*opacity: 0.3;*/
/*}*/

/*.registration-advices {*/
/*background: #f5f5f5;*/
/*border: solid 1px #ccc;*/
/*border-radius: 3px;*/
/*box-sizing: border-box;*/
/*margin: 5px;*/
/*padding: 1px;*/
/*}*/

/*#advice {*/
/*background: url(/assets/images/icons/safe-browser.png) no-repeat right;*/
/*background-size: 16px;*/
/*padding: 2px 25px 2px 0px;*/
/*background-color: #f0f0f0;*/
/*}*/

/*#advice2 {*/
/*background: url(/assets/images/icons/safe-browser.png) no-repeat right;*/
/*background-size: 16px;*/
/*padding: 2px 25px 2px 0px;*/
/*background-color: #fafafa;*/
/*}*/

/*.registration-input {*/
/*direction: ltr;*/
/*font-family: Calibri, Tahoma, Arial !important;*/
/*text-align: center !important;*/
/*font-size: 1.2em !important;*/
/*height: 2.5em !important;*/
/*}*/

.info {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 5px;
  color:#777777;
}

.info:before {
  font-family: "fontello";
  padding-left: 10px;
  content: '\e81c';
}

.summary {
  border-collapse: collapse;
  width: 100%;
  overflow: scroll;
}

.summary td {
  border: 1px solid #ddd;
  padding: 8px;
}

.summary td:nth-child(odd) {
  width: 50%;
  /*white-space: nowrap;*/
}

.summary tr:nth-child(even) {
  background-color: #f2f2f2;
}


