<div class="row">
    <fieldset>
      <div class="col-12 col-s-12">
        <div class="col-6 col-s-6">
          <div class="confirmation">
            <h3 style="margin-top: 10px;">شماره بیمه : {{ insuranceId }}</h3>
            <h3 style="margin-top: 10px;">نام : {{ personalModel?.firstName }}</h3>
            <h3 style="margin-top: 10px;">نام خانوادگی : {{ personalModel?.lastName }}</h3>
            <h3 style="margin-top: 10px;">نام پدر : {{ personalModel?.fatherName }}</h3>
            <h3 style="margin-top: 10px;">شماره شناسنامه
              : {{ personalModel?.idCardNumber }}</h3>
            <h3 style="margin-top: 10px;">کد ملی
              : {{ personalModel?.nationalId }}</h3>
          </div>
        </div>
        <div class="col-6 col-s-6">
          <div class="confirmation">
            <h3 style="margin-top: 10px;">تاریخ تولد : {{ persianBirthDate}}</h3>
            <h3 style="margin-top: 10px;">محل صدور : {{ cityOfIssueName}}</h3>
            <h3 style="margin-top: 10px;">کد پستی : {{ zipCode}}</h3>
            <h3 style="margin-top: 10px;">نشانی : {{ address}}</h3>
            <h3 style="margin-top: 10px;">شماره همراه : {{ mobile}}</h3>
            <h3 style="margin-top: 10px;">شماره ثابت : {{ phoneNumber}}</h3>
          </div>
        </div>
      </div>
    </fieldset>
</div>

