<div class="alert alert-info">
  فرم اعتراض به هیئت بدوی
</div>
<form [formGroup]="theForm" novalidate autocomplete="off">
  <div class="form-control-container">
    <div class="panel" #panel>
      <div class="panel-title">مشخصات کارگاه و کارفرما</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-4">
            <tamin-field-label formControlName="name">نام و نام خانوادگی کارفرمای حقیقی</tamin-field-label>
            <tamin-field-static-text formControlName="name" placeholder=""></tamin-field-static-text>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="workshopName">نام کارگاه</tamin-field-label>
            <tamin-field-static-text formControlName="workshopName" placeholder=""></tamin-field-static-text>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="workshopId">شماره کارگاه</tamin-field-label>
            <tamin-field-static-text formControlName="workshopId" placeholder=""></tamin-field-static-text>
          </div>
          <div class="col-12">
            <tamin-field-label formControlName="workshopAddress">آدرس کارگاه</tamin-field-label>
            <tamin-field-static-text formControlName="workshopAddress" placeholder=""></tamin-field-static-text>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="debitNumber">شماره بدهی مورد اعتراض</tamin-field-label>
            <tamin-field-static-text formControlName="debitNumber" placeholder=""></tamin-field-static-text>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="peymanSequence">ردیف پیمان</tamin-field-label>
            <tamin-field-static-text formControlName="peymanSequence" placeholder=""></tamin-field-static-text>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="debitStartDate">دوره بدهی از</tamin-field-label>
            <tamin-field-static-text formControlName="debitStartDate" placeholder=""></tamin-field-static-text>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="debitEndDate">دوره بدهی تا</tamin-field-label>
            <tamin-field-static-text formControlName="debitEndDate" placeholder=""></tamin-field-static-text>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="badviNo">شماره رای هیات بدوی</tamin-field-label>
            <tamin-field-static-text formControlName="badviNo" placeholder=""></tamin-field-static-text>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="badviDate">تاریخ رای هیات بدوی</tamin-field-label>
            <tamin-field-static-text formControlName="badviDate" placeholder=""></tamin-field-static-text>
          </div>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-title">تصاویر مدارک و مستندات</div>
      <div class="panel-body">
        <div class="alert alert-info">
          کارفرمای محترم، لطفا عناوین اعتراض خود را انتخاب و مدارک و مستندات هر کدام را بارگزاری فرمایید:
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="type">نوع مدرک</tamin-field-label>
          <tamin-field-combo-box-static formControlName="type" displayField="name" valueField="value"
                                        #typeCombo></tamin-field-combo-box-static>
          <button class="button normal" (click)="addImage()">
            <span><i class="icon-plus"></i><span>افزودن مدرک جدید</span></span></button>
        </div>

        <tamin-image-gallery-managed #imageGallery [maxImageSize]="500" (afterRemove)="onAfterRemoveImage($event)"
                                     (afterInsert)="onAfterInsertImage($event)"></tamin-image-gallery-managed>
        <!--<div>-->
          <!--<button class="button normal" (click)="addImage2()">-->
            <!--<span><i class="icon-plus"></i><span>بارگزاری لایحه اعتراض سازمان به رای بدوی</span></span></button>-->
        <!--</div>-->

        <!--<tamin-image-gallery-managed #imageGallery2 [maxImageSize]="500"></tamin-image-gallery-managed>-->
        <div class="alert alert-info">
          توجه: تصویر می بایست در قالب (jpeg) بوده و اندازه آن حداکثر ۵۰۰ کیلو بایت باشد.
        </div>
        <div>
          <!---------------------------------------------------------------------------------------------------------->
          <tamin-field-label formControlName="objectionDesc">شرح اعتراض</tamin-field-label>
          <tamin-field-validator formControlName="objectionDesc"></tamin-field-validator>
          <tamin-field-text-area  formControlName="objectionDesc"
                                 placeholder="شرح اعتراض"></tamin-field-text-area>
          <!---------------------------------------------------------------------------------------------------------->
        </div>
        <div>
          <tamin-field-checkbox formControlName="seporde"></tamin-field-checkbox>
          <tamin-field-label formControlName="seporde">واریز سپرده</tamin-field-label>
        </div>
        <div>
          <tamin-field-checkbox formControlName="accept"></tamin-field-checkbox>
          <tamin-field-label formControlName="accept">بدین وسیله اعتراض خود را به بدهی صدرالاشاره و باستناد موارد فوق به
            میزان حق بیمه ثبت و تقاضای رسیدگی دارم.
          </tamin-field-label>
        </div>
      </div>
    </div>
    <div class="button-container" style="margin: 3px">
      <button class="button normal orange" (click)="onCheckRequest()"><i class="icon-ok"></i><span>ثبت و ادامه</span>
      </button>
    </div>
  </div>
</form>
