<div class="alert alert-info">
  <p>-اطلاعات حساب بانکی خود را وارد کنید. از این اطلاعات به منظور پرداخت حقوق مستمری شما استفاده خواهد شد،لذا از صحت اطلاعات تکمیلی اطمینان حاصل فرمایید.</p>
  <p>- تاریخ افتتاح حساب یا تاریخ اعلام آن به سازمان تامین اجتماعی را به عنوان تاریخ شروع ثبت کنید.</p>
</div>
<div class="panel-body">
  <form [formGroup]="formAccountData" autocomplete="off" novalidate
        (ngSubmit)="confirmClick(formAccountData.value, formAccountData.valid)">
    <div class="row">
      <div class="form-control-container col-6 col-s-6"[hidden]="isWrite">
        <tamin-field-label formControlName="pensionerId">شماره مستمری</tamin-field-label>
        <tamin-field-validator formControlName="pensionerId"></tamin-field-validator>
        <tamin-field-combo-box-static formControlName="pensionerId" [dataItems]="pensionerList" valueField="value"
                                      displayField="name" #pensioner
                                      placeholder="شماره مستمری "></tamin-field-combo-box-static>
        <button type="button" class="button normal orange" style="padding: 3px"(click)="wirteClick()">نوشتن شماره مستمری</button>
      </div>
      <div class="form-control-container col-6 col-s-6" [hidden]="!isWrite">

        <tamin-field-label formControlName="pensionerId">شماره مستمری </tamin-field-label>
        <tamin-field-validator formControlName="pensionerId"></tamin-field-validator>
        <tamin-field-mask mask="0000000000" formControlName="pensionerId"></tamin-field-mask>
        <button type="button" class="button normal orange" style="padding: 3px"(click)="selectClick()">انتخاب شماره مستمری از لیست</button>
      </div>

    </div>
    <div class="form-control-container row">

      <div class="form-control-container col-6 col-s-6" style="padding-right:5px;">
      <tamin-field-label formControlName="province">استان</tamin-field-label>
      <tamin-field-auto-complete-data-grid formControlName="province"
                                           #province></tamin-field-auto-complete-data-grid>
        <!--<div class="hint"><i class="icon-lightbulb"></i><span>قسمتی از نام استان را تایپ نمایید</span></div>-->
    </div>
      <div class="form-control-container col-6 col-s-6" style="padding-right:5px;">
      <tamin-field-label formControlName="city">شهر</tamin-field-label>
        <tamin-field-combo-box-static formControlName="city" #city [dataItems]="cities"
                                      displayField="name"
                                      valueField="value"></tamin-field-combo-box-static>
      <!--<tamin-field-combo-box formControlName="city" #city ></tamin-field-combo-box>-->
    </div>
      <div class="form-control-container col-6 col-s-6" style="padding-right:5px;">
      <tamin-field-label formControlName="branch">شعبه تامین اجتماعی</tamin-field-label>
        <tamin-field-combo-box-static formControlName="branch" #branch [dataItems]="branchCodes"
                                      displayField="name"
                                      valueField="value"></tamin-field-combo-box-static>
        <div class="hint"><i class="icon-lightbulb"></i><span>شعبه تامین اجتماعی که حکم شما در آن فعال بوده و پرداخت شما از آن انجام خواهد شد را انتخاب نمایید.</span></div>
    </div>
    </div>

    <div class="form-control-container row">
      <div class="form-control-container col-6 col-s-6" style="padding-right:5px;">
        <tamin-field-label formControlName="dateOfStart">تاریخ شروع</tamin-field-label>
        <tamin-field-persian-date formControlName="dateOfStart"></tamin-field-persian-date>
      </div>

      <div class="form-control-container col-6 col-s-6" style="padding-right:5px;">
        <tamin-field-label formControlName="bank">بانک</tamin-field-label>
        <tamin-field-validator formControlName="bank"></tamin-field-validator>
        <tamin-field-combo-box-static
          formControlName="bank"
          valueField="value"
          displayField="name"
          [dataItems]="banks">
        </tamin-field-combo-box-static>
      </div>
      <div class="form-control-container col-6 col-s-6" style="padding-right:5px;">
        <tamin-field-label formControlName="accounttype">نوع حساب</tamin-field-label>
        <tamin-field-combo-box-static
          formControlName="accounttype"
          valueField="value"
          displayField="name"
          [dataItems]="accountTypes">
        </tamin-field-combo-box-static>
      </div>
      <div class="form-control-container col-6 col-s-6" style="padding-right:5px;">
        <tamin-field-label formControlName="accountNumber">شماره حساب</tamin-field-label>
        <tamin-field-validator formControlName="accountNumber"></tamin-field-validator>
        <tamin-field-mask formControlName="accountNumber" regex="^\d+$"></tamin-field-mask>
      </div>
      <button #submitButton type="submit" class="button normal">{{buttonTitle}}</button>
    </div>
  </form>

</div>
