<tamin-modal #theModal
             title="ضوابط و مقررات"
             width="80%">
  <div style="border: solid 1px #ccc; padding: 10px; margin-bottom: 10px;max-height: 60vh; overflow: auto">
    <p style="font-weight: bold">
      بیمه‌شده گرامی؛
    </p>
    <ul>
      <ol style="padding: 20px; text-align: justify;">
        <li> مطابق ماده 60 قانون تامین اجتماعی، حوادث ناشی از کار حوادثی است که در حین انجام وظیفه و به سبب آن برای بیمه شده اتفاق می افتد. مقصود از حین انجام وظیفه تمامی اوقاتی است که بیمه شده در کارگاه یا موسسات وابسته یا ساختمانها و محوطه آن مشغول کار باشد و یا به دستور کارفرما در خارج از محوطه کارگاه عهده دار انجام ماموریتی باشد. اوقات مراجعه به درمانگاه و یا بیمارستان و یا برای معالجات درمانی و توانبخشی و اوقات رفت و برگشت بیمه شده از منزل به کارگاه جزو اوقات انجام وظیفه محسوب می گردد. مشروط به اینکه حادثه در زمان عادی رفت و برگشت به کارگاه اتفاق افتاده باشد. حوادثی که برای بیمه شده حین اقدام برای نجات سایر بیمه شدگان و مساعدت به آنان اتفاق می افتد حادثه ناشی از کار محسوب میشود.</li>
        <li>به استناد ماده 65 قانون تامین اجتماعی؛ کارفرمایان مکلفند اقدامات اولیه را برای جلوگیری از تشدید عوارض حادثه به عمل آورند و گزارش حادثه را ظرف 3 روز کاری به صورت کتبی به اطلاع شعبه تامین اجتماعی ذیربط برسانند. (با توجه به غیر حضوری شدن فرآیند مورد بحث، ثبت درخواست در این سامانه از سوی متقاضی و اخذ کد رهگیری به منزله ارائه درخواست به شعبه ذیربط می باشد)</li>
        <li>به استناد ماده 66 قانون تامین اجتماعی؛ در صورتیکه ثابت شود وقوع حادثه به دلیل عدم رعایت مقررات حفاظت فنی یا عدم رعایت احتیاط از طرف کارفرما یا نمایندگان وی بوده، سازمان تامین اجتماعی تعهدات خود را در قبال بیمه شده انجام می دهد اما هزینه های مربوط را از کارفرما مطالبه و وصول می نماید. در صورت وقوع حادثه ناشی از کار و تاثیر آن، فرد حادثه دیده شده یا خانواده وی از تمامی تعهدات قانونی شامل خدمات درمانی، معالجه شخص بیمه شده، تحویل پروتز و اروتز، غرامت دستمزد ایام بیماری، نقص عضو، مستمری از کار افتادگی جزئی، کلی و فوت) حسب مورد بهره مند می شوند.</li>
      </ol>
    </ul>
  </div>
  <div class="button-container">
    <button (click)="onAgree()" class="button normal">مواد قانونی فوق مطالعه گردید</button>
    <button (click)="onDisagree()" class="button normal red">انصراف</button>
  </div>
</tamin-modal>

