<div class="panel col-6 col-s-6">
  <div class="panel-title">مشخصات قرارداد با لحاظ آخرین تغییرات موضوع 25%و متمم های صادره</div>
  <div class="panel-body">
    <form [formGroup]="editForm" autocomplete="off" novalidate (ngSubmit)="onSave(editForm.value)">
      <div class="form-control-container">
        <div class="panel col-12 col-s-12">
          <div class="row">
            <div class="col-6 col-s-6">
              <tamin-field-label formControlName="contractNumber">شماره قرارداد</tamin-field-label>
              <tamin-field-validator  formControlName="contractNumber" ></tamin-field-validator>
              <tamin-field-number formControlName="contractNumber"></tamin-field-number>
            </div>
            <div class="col-6 col-s-6">
              <tamin-field-label formControlName="contractNumber">شماره قرارداد</tamin-field-label>
              <tamin-field-validator  formControlName="contractNumber" ></tamin-field-validator>
              <tamin-field-number formControlName="contractNumber"></tamin-field-number>
            </div>
            <div class="col-6 col-s-6">
              <tamin-field-label formControlName="contractDate">تاریخ قرارداد</tamin-field-label>
              <tamin-field-persian-date formControlName="contractDate" placeholder=""></tamin-field-persian-date>
            </div>
            <div class="col-6 col-s-6">
              <tamin-field-label formControlName="signingContract">واگذارنده کار</tamin-field-label>
              <tamin-field-validator  formControlName="signingContract" ></tamin-field-validator>
              <tamin-field-text formControlName="signingContract"></tamin-field-text>
            </div>
            <div class="col-6 col-s-6">
              <tamin-field-label formControlName="contractSubject">موضوع قرار داد</tamin-field-label>
              <tamin-field-validator  formControlName="contractSubject" ></tamin-field-validator>
              <tamin-field-text formControlName="contractSubject"></tamin-field-text>
            </div>
            <div class="col-6 col-s-6">
              <tamin-field-label formControlName="contractStartDate">تاریخ شروع قرارداد</tamin-field-label>
              <tamin-field-persian-date formControlName="contractStartDate" placeholder=""></tamin-field-persian-date>
            </div>
            <div class="col-6 col-s-6">
              <tamin-field-label formControlName="contractEndDate">تاریخ خاتمه قرارداد</tamin-field-label>
              <tamin-field-persian-date formControlName="contractEndDate" placeholder=""></tamin-field-persian-date>
            </div>
           <div class="col-6 col-s-6">
            <tamin-field-label formControlName="initialAmountContract">جمع مبلغ اولیه و تغییرات آن</tamin-field-label>
            <tamin-field-validator  formControlName="initialAmountContract" ></tamin-field-validator>
            <tamin-field-text formControlName="initialAmountContract"></tamin-field-text>
          </div>
          </div>
        </div>
        <div class="panel col-12 col-s-12">
          <div class="panel-title">کل کارکرد تایید شده تا آخرین صورت وضعیت طی دوره درخواست </div>
          <div class="row">
            <div class="row">

              <div class="col-6 col-s-6">
                <tamin-field-label formControlName="contractStartDate">تاریخ شروع قرارداد</tamin-field-label>
                <tamin-field-persian-date formControlName="contractStartDate" placeholder=""></tamin-field-persian-date>
              </div>
              <div class="col-6 col-s-6">
                <tamin-field-label formControlName="amountFunction">مبلغ ناخالص کارکرد</tamin-field-label>
                <tamin-field-validator  formControlName="amountFunction" ></tamin-field-validator>
                <tamin-field-text formControlName="amountFunction"></tamin-field-text>
              </div>
              <div class="col-6 col-s-6">
                <tamin-field-label formControlName="dateFunction">لغایت تاریخ</tamin-field-label>
                <tamin-field-persian-date formControlName="dateFunction" placeholder=""></tamin-field-persian-date>
              </div>
              </div>
          </div>
        </div>
        <div class="panel col-12 col-s-12">
          <div class="panel-title">مفاصا حساب ماده 38 قانون</div>
          <div class="row">
            <div class="row">
              <div class="col-6 col-s-6">
                <tamin-field-label formControlName="refinedNumber">شماره مفاصا</tamin-field-label>
                <tamin-field-validator  formControlName="refinedNumber" ></tamin-field-validator>
                <tamin-field-number formControlName="refinedNumber"></tamin-field-number>
              </div>
              <div class="col-6 col-s-6">
                <tamin-field-label formControlName="refinedDate"> تاریخ</tamin-field-label>
                <tamin-field-persian-date formControlName="refinedDate" placeholder=""></tamin-field-persian-date>
              </div>
              <div class="col-6 col-s-6">
                <tamin-field-label formControlName="refinedFunction">مبلع ناخالص کارکرد</tamin-field-label>
                <tamin-field-validator  formControlName="refinedFunction" ></tamin-field-validator>
                <tamin-field-text formControlName="refinedFunction"></tamin-field-text>
              </div>
              <div class="col-6 col-s-6">
                <tamin-field-label formControlName="refinedSeries">سریال</tamin-field-label>
                <tamin-field-validator  formControlName="refinedSeries" ></tamin-field-validator>
                <tamin-field-text formControlName="refinedSeries"></tamin-field-text>
              </div>
             </div>
          </div>
        </div>
        </div>
      <div class="col-12 col-s-12">
        <button #submitButton type="submit" class="button normal">ذحیره </button>
        <button type="button" class="button normal orange" (click)="back()">انصراف</button>
      </div>
    </form>
  </div>
</div>
