<div class="alert alert-info">
  درخواست هدیه ازدواج
</div>
<app-marriage-conditions-no-presence></app-marriage-conditions-no-presence>
<app-marriage-no-presence-search #search (Submitt)="onSearchSubmit($event)" ></app-marriage-no-presence-search>
<app-marriage-no-presence-header #header></app-marriage-no-presence-header>
<form [formGroup]="theForm" novalidate autocomplete="off">
  <!--  <form [formGroup]="theForm" novalidate (ngSubmit)="confirmClick(theForm.value, theForm.valid)">-->
  <div class="panel" #dataPanel1 *ngIf="marNew">
    <div class="panel-title">مشخصات ازدواج</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-3">
          <tamin-field-label formControlName="weddingDateTimeStamp">تاریخ عقد</tamin-field-label>
          <tamin-field-validator formControlName="weddingDateTimeStamp"></tamin-field-validator>
          <tamin-field-persian-date formControlName="weddingDateTimeStamp" placeholder=""></tamin-field-persian-date>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="partnerNationalId">کد ملی همسر</tamin-field-label>
          <tamin-field-validator formControlName="partnerNationalId"></tamin-field-validator>
          <tamin-field-natioanl-id formControlName="partnerNationalId" placeholder=""></tamin-field-natioanl-id>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <button class="button normal" (click)="onValidateRequest()">
            <span>بررسی احراز شرایط لازم جهت دریافت هدیه ازدواج (با توجه به تاریخ عقد)</span>
          </button>

        </div>
      </div>
    </div>
  </div>
  <div class="panel" #dataPanel4 *ngIf="marEdit">
    <div class="panel-title">مشخصات ازدواج</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-3">
          <tamin-field-label formControlName="weddingDateTimeStamp">تاریخ عقد</tamin-field-label>
          <tamin-field-static-persian-date formControlName="weddingDateTimeStamp"></tamin-field-static-persian-date>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="partnerNationalId">کد ملی همسر</tamin-field-label>
          <tamin-field-static-text formControlName="partnerNationalId" placeholder=""></tamin-field-static-text>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <button class="button normal" (click)="onReConfirmRequest()">
            <span>مشکل شماره حساب  را برطرف نموده ام</span>
          </button>
          <button class="button normal" (click)="onCRMRequest()">
            <span> درخواست  پشتیبانی</span>
          </button>
        </div>

      </div>
    </div>
  </div>

  <div class="panel" #dataPanel2 *ngIf="marNew">
    <div class="panel-title">تعهد نامه </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-6">
          <tamin-field-label formControlName='agreement' style="direction:rtl;text-align: right;">اینجانب با زدن دکمه ی "تایید و ادامه" اعلام میدارم که در تاریخ اعلام شده برای اولین بار ازدواج نموده ام و تعهد
            می نمایم چنانچه خلاف آن ثابت گردد وفق مفاد ماده ۹۷ تامین اجتماعی می بایست خسارت وارده به سازمان تامین اجتماعی
            را تادیه نمایم </tamin-field-label><br>
        </div>

      </div>
    </div>
  </div>
  <div class="button-container" style="margin: 3px" *ngIf="marNew">
    <button class="button normal" (click)="onSendRequest()">
    <i class="icon-ok"></i>
         <span>تایید و ادامه </span>
  </button>
    <button class="button normal" (click)="onCRMRequest()">
            <span> درخواست  پشتیبانی</span>
          </button>
  </div>
  <div class="panel" #dataPanel3 *ngIf="showCRM">
    <div class="panel-title">ارتباط با پشتیبانی </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-6">
          <tamin-field-label formControlName="crmReason">علت درخواست </tamin-field-label>
          <tamin-field-combo-box-static formControlName="crmReason" placeholder="" [dataItems]="crmReason" displayField="name" valueField="value"></tamin-field-combo-box-static>
        </div>

        <div class="col-6">
          <tamin-field-label formControlName="comment">توضیحات </tamin-field-label>
          <tamin-field-persian-text formControlName="comment" placeholder=""></tamin-field-persian-text>
          <div class="hint"><i class="icon-lightbulb"></i><span>صفحه کلید را در حالت فارسی قرار دهید</span></div>
        </div>
        <div class=" col-12 " [ngStyle]="{'display' : showAnswer ? 'block' : 'none'}">
          <tamin-field-label formControlName="answer">پاسخ پشتیبانی </tamin-field-label>
          <tamin-field-static-multiline-text formControlName="answer"></tamin-field-static-multiline-text>

        </div>
        <div class="col-4">
          <button class="button normal" (click)="onCRMRequestSend()">
            <span>ثبت درخواست  پشتیبانی</span>
          </button>
          <button class="button normal dark" (click)="onCRMRequestCancel()">
            <span> انصراف </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="panel-body" [ngStyle]="{'display' : showImage ? 'block' : 'none'}">
  <button class="button normal" (click)="addImage('')" *ngIf="imageGallery.images.length < 5">
      <span><i class="icon-plus"></i><span>افزودن تصویر جدید</span></span></button>
  <tamin-image-gallery-managed #imageGallery [maxImageSize]="500"></tamin-image-gallery-managed>
  <div class="alert alert-info">
    توجه: تصویر می بایست در قالب (jpeg) بوده و اندازه آن حداکثر ۵۰۰ کیلو بایت باشد.
  </div>
</div>
