<div class="alert alert-info">
  <i class="icon-lightbulb"></i>
  <span>امکان ثبت اعتراض به بدهی</span>
</div>
<div class="panel">
  <div class="page-title">جستجوی کارگاه</div>
  <div class="panel-body">
    <form [formGroup]="workshopDebitSearchForm" autocomplete="off" novalidate (ngSubmit)="onSearchSubmit()">
      <div class="form-control-container row">
        <div class="col-4 col-4-1" style="padding: 3px;">
          <!---------------------------------------------------------------------------------------------------------->
          <tamin-field-label formControlName="nationalCode">کد ملی کارفرما:</tamin-field-label>
          <tamin-field-validator formControlName="nationalCode"></tamin-field-validator>
          <tamin-field-text formControlName="nationalCode" placeholder="کد ملی کارفرما"></tamin-field-text>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
        <div class="col-4 col-4-1" style="padding: 3px;">
          <tamin-field-label formControlName="ticketCode">کد اعتباری:</tamin-field-label>
          <tamin-field-validator formControlName="ticketCode"></tamin-field-validator>
          <tamin-field-text formControlName="ticketCode" placeholder="کد اعتباری"></tamin-field-text>
        </div>
        <p style="margin-top:5px;" class="col-12 col-12-1">
          <button type="button" class="button normal orange" (click)="sendUserTicket()"
                  [disabled]="!workshopDebitSearchForm.valid">دریافت کد
            اعتباری
          </button>
          <button type="submit" class="button normal" [disabled]="!workshopDebitSearchForm.valid">جستجو</button>
        </p>
      </div>
    </form>
  </div>
</div>
<div class="alert alert-info">
  <i class="icon-lightbulb"></i>
  <span>بروی کارگاه مورد نظر کلیک کنید</span>
</div>
<div class="panel">
  <div class="page-title">لیست کارگاه ها</div>
  <div class="panel-body">
    <tamin-data-grid #workshopsGrid (itemSelect)="clickWorkshopGridItem($event)"></tamin-data-grid>
  </div>
</div>
<div class="panel">
  <div class="page-title">لیست بدهی های قابل اعتراض</div>
  <div class="panel-body">
    <tamin-data-grid #workshopsDebitGrid (itemAction)="onGridAction($event)"></tamin-data-grid>
  </div>
</div>
