<div class="alert alert-info">
  <i class="icon-lightbulb"></i>
  <span>امکان مشاهده سوابق پرداخت حق بیمه کسری از ماه</span>
</div>
<div class="page-title">لیست سوابق پرداخت</div>
<div class="panel-body">
  <tamin-data-grid #contractGrid (itemSelect)="clickContractGridItem($event)"></tamin-data-grid>
</div>
<div class="page-title">لیست جزییات سوابق پرداخت انتخاب شده</div>
<div class="panel-body">
  <tamin-data-grid #mad38Grid></tamin-data-grid>
  <div class="button-container">
    <button class="button normal red" (click)="onRollback()">بازگشت</button>
  </div>
</div>
