<div class="row">
  <form [formGroup]="viewForm" autocomplete="off" novalidate>
    <div class="form-control-container">
      <div *ngIf="!isFraction">
        <p>
          تذکر:
        </p>
        <p style="margin-right: 10px"><i class="icon-lightbulb"></i>
          پس از ثبت قرارداد امکان تغییر شعبه <span style="color: red;">تامین اجتماعی</span> میسر نمی باشد لذا در خصوص انتخاب شعبه دقت
          کافی بعمل آید.
        </p>
      </div>
      <div class="col-2" [hidden]="alldisabled">
        <tamin-field-label formControlName="province">استان</tamin-field-label>
        <tamin-field-validator formControlName="province"></tamin-field-validator>
        <tamin-field-auto-complete-data-grid formControlName="province" placeholder="استان" #province>
        </tamin-field-auto-complete-data-grid>
        <div class="hint"><i class="icon-lightbulb"></i><span>قسمتی از نام استان را تایپ نمایید</span></div>
        <!-- <tamin-field-combo-box-static formControlName="province" #province [dataItems]="provinces"
        displayField="name"
        valueField="value"></tamin-field-combo-box-static> -->
      </div>
      <div class="col-2" [hidden]="alldisabled">
        <tamin-field-label formControlName="city">شهر</tamin-field-label>
        <tamin-field-validator formControlName="city"></tamin-field-validator>
        <!-- <tamin-field-auto-complete-data-grid formControlName="city" placeholder="شهر" #city></tamin-field-auto-complete-data-grid> -->
        <tamin-field-combo-box-static formControlName="city" #city [dataItems]="cities" displayField="name"
          valueField="value"></tamin-field-combo-box-static>

        <div class="hint"><i class="icon-lightbulb"></i><span>شهر مورد نظر خود را انتخاب نمایید</span></div>
      </div>

      <div class="col-8" [hidden]="alldisabled">
        <tamin-field-label formControlName="branchCode">شعبه محل سکونت</tamin-field-label>
        <tamin-field-validator formControlName="branchCode"></tamin-field-validator>
        <tamin-field-combo-box-static formControlName="branchCode" #city [dataItems]="branchCodes" displayField="name"
          valueField="value"></tamin-field-combo-box-static>
        <div class="hint"><i class="icon-lightbulb"></i><span>شعبه نزدیک محل زندگی را مشخص کنید.</span>
        </div>
      </div>
      <div class="col-2" [hidden]="!alldisabled">
        <tamin-field-label formControlName="provincdis">استان</tamin-field-label>
        <tamin-field-static-text formControlName="provincdis"></tamin-field-static-text>
      </div>
      <div class="col-2" [hidden]="!alldisabled">
        <tamin-field-label formControlName="citydis">شهر</tamin-field-label>
        <tamin-field-static-text formControlName="citydis"></tamin-field-static-text>
      </div>
      <div class="col-8" [hidden]="!alldisabled">
        <tamin-field-label formControlName="branchCodedis">شعبه</tamin-field-label>
        <tamin-field-static-text formControlName="branchCodedis"></tamin-field-static-text>
      </div>
      <div *ngIf="!isFraction">
        <p>
          متقاضی محترم:
        </p>
        <p style="margin-right: 10px;color: red;"><i class="icon-lightbulb"></i>
          جهت انجام فرآیندهایی که هنوز غیر حضوری نشده اند در صورت لزوم به شعبه انتخابی خود مراجعه نمایید.
        </p> 
      </div>
    </div>
  </form>
</div>
