<div style="margin: 5px">
  <form [formGroup]="theForm" autocomplete="off" novalidate>
    <div class="row">
      <div class="col-4">
        <tamin-field-label formControlName="mobile">شماره ملی</tamin-field-label>
        <tamin-field-static-text formControlName="nationalId" placeholder=""></tamin-field-static-text>
      </div>
      <div class="col-4">
        <tamin-field-label formControlName="firstName">نام</tamin-field-label>
        <tamin-field-static-text formControlName="firstName" placeholder=""></tamin-field-static-text>
      </div>
      <div class="col-4">
        <tamin-field-label formControlName="lastName">نام خانوادگی</tamin-field-label>
        <tamin-field-static-text formControlName="lastName" placeholder=""></tamin-field-static-text>
      </div>
      <div class="col-4">
        <tamin-field-label formControlName="mobile">شماره موبایل</tamin-field-label>
        <tamin-field-validator formControlName="mobile"></tamin-field-validator>
        <tamin-field-mask mask="^\d+$" formControlName="mobile" placeholder=""></tamin-field-mask>
      </div>
      <div class="col-4">
        <tamin-field-label formControlName="bank">بانک</tamin-field-label>
        <tamin-field-validator formControlName="bank"></tamin-field-validator>
        <tamin-field-combo-box-static
          formControlName="bank"
          valueField="value"
          displayField="name"
          [dataItems]="banks">
        </tamin-field-combo-box-static>
      </div>
      <div class="col-4">
        <tamin-field-label formControlName="accountNumber">شماره حساب</tamin-field-label>
        <tamin-field-validator formControlName="accountNumber"></tamin-field-validator>
        <tamin-field-mask formControlName="accountNumber" placeholder="" mask="^\d+$"></tamin-field-mask>
      </div>
      <!--<div class="col-4">-->
        <!--<tamin-field-label formControlName="birthDate">تاریخ تولد</tamin-field-label>-->
        <!--<tamin-field-validator formControlName="birthDate"></tamin-field-validator>-->
        <!--<tamin-field-persian-date formControlName="birthDate" placeholder=""></tamin-field-persian-date>-->
      <!--</div>-->
      <!--<div class="col-4">-->
        <!--<tamin-field-label formControlName="birthCertificateNumber">شماره شناسنامه</tamin-field-label>-->
        <!--<tamin-field-validator formControlName="birthCertificateNumber"></tamin-field-validator>-->
        <!--<tamin-field-mask mask="^\d+$" formControlName="birthCertificateNumber" placeholder=""></tamin-field-mask>-->
      <!--</div>-->

    </div>
  </form>
</div>
