.panel {
  width: calc(100% - 20px);
  background-color: white;
  margin: 10px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/*.container-header {*/
/*  background-color: #1f538d;*/
/*  color: white;*/
/*  padding: 15px 23.5px 13px 891.5px;*/
/*}*/

/*.container-body {*/
/*  padding: 24px;*/
/*}*/

.col-6, .col-12 {
  padding: 12px;
}
