<div class="panel">
  <div class="panel-title">منوی لیست حق بیمه</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-12">
        <app-section image="assets/svgs/sent-lists.svg" targetUrl="il/workshop-history" >
          <ng-container title>سوابق لیست های ارسالی</ng-container>
          <ng-container body> در این بخش تمامی لیست های ارسال شده توسط کارفرما به همراه نتایج پردازش و پرداخت آنها نمایش
            داده می شود.
          </ng-container>
          <ng-container summary>
            توجه داشته باشید که لیست های موجود در این قسمت به دلیل تایید و ارسال توسط کارفرما به هیچ عنوان قابل ویرایش
            نیستند.
          </ng-container>
        </app-section>
      </div>
      <div class="col-6">
        <app-section image="assets/svgs/uploaded-list.svg" targetUrl="il/upload-files">
          <ng-container title>بارگذاری فایل لیست حق بیمه</ng-container>
          <ng-container body>
            شما می توانید فایل لیست حق بیمه خود را که مطابق روال پیشین و پس از اخذ خروجی از نرم افزار ListDisk در رایانه
            خود ذخیره نموده اید در این بخش بارگزاری نمایید.
            <p>
              <img src="assets/svgs/save_alt-24px.svg" alt="">
              <a href="https://tamin.ir/#0" download (click)="stopPropagation($event)">ListDisk دانلود نرم افزار</a>
            </p>
            <div class="hint"><i class="icon-lightbulb"></i><span>برای کسانی که تاکنون نرم افزار ListDisk را نصب نکرده اند.</span>
            </div>
            <p>
              <img src="assets/svgs/save_alt-24px.svg" alt="">
              <a href="assets/files/ListDisk_version_5.zip" download (click)="stopPropagation($event)">دانلود نرم افزار 5_ListDisk_version (نگارش جدید)</a>
            </p>
            <div class="hint"><i class="icon-lightbulb"></i><span>برای کسانی که در حال حاضر از نرم افزار ListDisk استفاده میکنند.</span>
            </div>
          </ng-container>
          <ng-container summary>بارگذاری فایل لیست بیمه به منزله دریافت آن توسط سازمان تامین اجتماعی نیست و لیست بیمه
            های بارگذاری شده باید توسط کارفرما کنترل و تایید نهایی گردند.
          </ng-container>
        </app-section>
      </div>
      <div class="col-6">
        <app-section image="assets/svgs/online-list.svg" targetUrl="il/create-online-list">
          <ng-container title>ایجاد لیست حق بیمه جدید آنلاین</ng-container>
          <ng-container body>در این قسمت شما می توانید تمامی عملیات تهیه لیست حق بیمه را بصورت کاملا آنلاین و بدون نیاز
            به نصب هیچگونه نرم افزار جانبی
            انجام دهید.
          </ng-container>
          <ng-container summary>با ایجاد یک لیست جدید، یک نسخه از آن جهت مراجعات بعدی به میز کار شما منتقل و بعنوان نسخه
            پیش نویس تا قبل از ارسال نهایی در میزکار نگهداری خواهد شد.
          </ng-container>
        </app-section>
      </div>
      <div class="col-6">
        <app-section image="assets/svgs/copy-list.svg" targetUrl="il/clone-list" >
          <ng-container title>کپی لیست حق بیمه از ماه قبل</ng-container>
          <ng-container body>برای صرفه جویی در زمان و در صورت عدم تغییر لیست حق بیمه، یک نسخه از لیست ماه گذشته را کپی و
            برای ماه جدید ارسال نمایید.
          </ng-container>
          <ng-container summary>در صورت وجود تغییرات در لیست حق بیمه کپی شده می توانید با انتخاب گزینه "لیست نیاز به
            تغییرات دارد" در زمان کپی لیست آن را
            به میز کار منتقل کرده و پس از اعمال تغییرات و تایید نهایی ارسال نمایید.
          </ng-container>
        </app-section>
      </div>
      <div class="col-6">
        <app-section image="assets/svgs/dashboard.svg" targetUrl="il/desktop" >
          <ng-container title>ورود به میزکار</ng-container>
          <ng-container body>این بخش محل نگهداری تمامی لیست های حق بیمه ای ایجاد شده توسط کارفرما تا قبل از تایید نهایی
            و ارسال است.
          </ng-container>
          <ng-container summary>این بخش صرفا فضای اختصاصی کارفرما است و سازمان تامین اجتماعی تا قبل از ارسال نهایی
            هیچگونه تعاملی با لیست های حق بیمه موجود در این بخش ندارد.
          </ng-container>
        </app-section>
      </div>
    </div>
  </div>
</div>

