<div *ngIf="requestModel" class="panel">
  <div class="panel-title">فرم ثبت درخواست</div>
  <div class="panel-body">
    <form [formGroup]="editForm" autocomplete="off" novalidate (ngSubmit)="saveForm(editForm.value, editForm.valid)">
      <div class="form-control-container">
        <!---------------------------------------------------------------------------------------------------------->
        <tamin-field-label formControlName="id">کد:</tamin-field-label>
        <tamin-field-validator formControlName="id"></tamin-field-validator>
        <tamin-field-text formControlName="id" placeholder="کد"></tamin-field-text>
        <!---------------------------------------------------------------------------------------------------------->
        <tamin-field-label formControlName="refCode">کد پیگیری:</tamin-field-label>
        <tamin-field-validator formControlName="refCode"></tamin-field-validator>
        <tamin-field-text formControlName="refCode" placeholder="کد پیگیری"></tamin-field-text>
        <!---------------------------------------------------------------------------------------------------------->
        <tamin-field-label formControlName="title">عنوان درخواست:</tamin-field-label>
        <tamin-field-validator formControlName="title"></tamin-field-validator>
        <tamin-field-text formControlName="title" placeholder="عنوان درخواست"></tamin-field-text>
        <!---------------------------------------------------------------------------------------------------------->
        <p style="margin-top:5px;">
          <button type="submit" class="button normal"  (click)="saveForm(editForm.value)" [disabled]="!editForm.valid">تایید</button>
          <button type="button" class="button normal orange" (click)="resetForm()">پاک کردن فرم</button>
          <button type="button" class="button normal gray" (click)="backToListClick()">بازگشت به لیست</button>
        </p>
      </div>
    </form>
  </div>
</div>
