<div class="alert alert-info">
  نتیجه بررسی اعتراض به سابقه
</div>
<div style="padding: 10px">
  <table *ngFor="let item of data">
    <tr>
      <td style="white-space: nowrap; width:1%"><strong>شعبه</strong></td>
      <td>{{item.brchName | persianNumber}}</td>
    </tr>
    <tr>
      <td style="white-space: nowrap; width:1%"><strong>تاریخ درخواست</strong></td>
      <td>{{translateDate(item.requestDate) | persianNumber}}</td>
    </tr>
    <tr>
      <td style="white-space: nowrap; width:1%"><strong>شرح درخواست</strong></td>
      <td>{{item.requestDesc  | persianNumber}}</td>
    </tr>
    <tr>
      <td style="white-space: nowrap; width:1%"><strong>توضیح کاربر</strong></td>
      <td>{{item.userDesc  | persianNumber}}</td>
    </tr>
    <tr>
      <td style="white-space: nowrap; width:1%"><strong>تاریخ رسیدگی</strong></td>
      <td>{{translateDate(item.answerDate) | persianNumber}}</td>
    </tr>
    <tr>
      <td style="white-space: nowrap; width:1%"><strong>نتیجه رسیدگی</strong></td>
      <td>{{item.answerTypeDesc | persianNumber}}</td>
    </tr>
    <tr>
      <td style="white-space: nowrap; width:1%"><strong>توضیح کارشناس</strong></td>
      <td>{{item.resultDesc | persianNumber}}</td>
    </tr>
  </table>
</div>
<!--<p style="margin:5px;">
  <button type="button" class="button normal gray" (click)="redirectTo('/me')">بازگشت به صفحه تامین اجتماعی من</button>
</p>-->

