<div class="panel">
  <div class="page-title">جستجو</div>
  <div class="panel-body">
    <form [formGroup]="searchForm" autocomplete="off" novalidate>
      <div class="row">
        <div class="col-3"[hidden]="isWrite">

          <tamin-field-label formControlName="pensionerId">شماره مستمری:</tamin-field-label>
          <tamin-field-validator formControlName="pensionerId"></tamin-field-validator>
          <tamin-field-combo-box-static formControlName="pensionerId" [dataItems]="pensionerList" valueField="value"
                                        displayField="name" #pensioner
                                        placeholder="شماره مستمری "></tamin-field-combo-box-static>
          <button type="button" class="button normal orange" style="padding: 3px" (click)="wirteClick()">نوشتن شماره مستمری</button>
        </div>
        <div class="col-3" [hidden]="!isWrite">

          <tamin-field-label formControlName="pensionerId">شماره مستمری</tamin-field-label>
          <tamin-field-validator formControlName="pensionerId"></tamin-field-validator>
          <tamin-field-mask mask="0000000000" formControlName="pensionerId"></tamin-field-mask>
          <button type="button" class="button normal orange" style="padding: 3px" (click)="selectClick()">انتخاب شماره مستمری از لیست</button>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="year">سال</tamin-field-label>
          <tamin-field-validator formControlName="year"></tamin-field-validator>
          <tamin-field-mask mask="0000" formControlName="year" placeholder="سال"></tamin-field-mask>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="month">ماه:</tamin-field-label>
          <tamin-field-validator formControlName="month"></tamin-field-validator>
          <tamin-field-combo-box-static formControlName="month" [dataItems]="months" displayField="name"
                                        valueField="value"></tamin-field-combo-box-static>
        </div>
        <!--<div class="col-3">-->
          <!--<tamin-field-label formControlName="paymentType">نوع پرداخت:</tamin-field-label>-->
          <!--<tamin-field-validator formControlName="paymentType"></tamin-field-validator>-->
          <!--<tamin-field-combo-box-static formControlName="paymentType" [dataItems]="paymentTypes" displayField="name"-->
                                        <!--valueField="value"></tamin-field-combo-box-static>-->
        <!--</div>-->
      </div>
      <div class="row">
        <div class="col-12">
          <p style="margin-top:5px;">
            <button type="button" class="button normal" (click)="searchFormSubmit()">جستجو</button>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
