<div class="col-6">
  <div class="alert alert-success">
    <p>
      کارفرمای محترم؛ خواهشمند است در فرصت باقیمانده ( صرفا تا پایان ساعت 23:30 امشب ) نسبت به ثبت اطلاعات اولیه
      مورد نیاز بازرسی دفاتر (از طریق فرمهای ذیل) و انتخاب دکمه " ارسال اطلاعات به سازمان" اقدام نمایید.
    </p>
  </div>
  <tamin-data-grid #dataGrid (itemAction)="onView($event)" ></tamin-data-grid>
</div>
<div class="col-6">
    <div class="alert alert-info">
      <p><i class="icon-lightbulb"></i>
        *وفق ماده47 قانون تامین اجتماعی، کارفرمایان کارگاه های مشمول قانون مکلفند اطلاعات و مدارک و مستندات
        مورد نیاز بازرسی از دفاتر و اسناد مالی را به سازمان ارائه و در زمان مراجعه بازرسان همکاری‌های لازم را در ارائه اطلاعات و مدارک و مستندات مورد نیاز به عمل آورند. *
      </p>
    </div>
  <div class="alert alert-info">
    <br>
    <p><i class="icon-lightbulb"></i>
      کارفرمای محترم؛ جهت استفاده از این پرتال توجه به نکات ذیل ضروری است:
    </p>
    <br>
    <p>      1- راهنمای کامل پرتال کارفرمایان را از بالای صفحه دریافت و مطالعه نمایید.</p>
    <br>
    <p>2- اطلاعات درخواست شده را ثبت و تکمیل نمایید. اطلاعات ضروری فرمهای مربوطه را از طریق ستون "مشاهده و اصلاح اطلاعات" ثبت و دکمه "تکمیل اطلاعات (صفحه بعدی)" را انتخاب تا وضعیت فرم مربوطه به حالت "تکمیل شده" تبدیل شود.</p>
    <br>
    <p>3- نسبت به تکمیل 21 فرم اقدام و از تغییر وضعیت اطلاعات به "تکمیل شده" اطمینان حاصل نمایید .پیش از ثبت اطلاعات فرم های 9 الی 19، ثبت اطلاعات سال(های) مالی طی فرم شماره 6 و اطمینان از تبدیل وضعیت آن به "تکمیل شده" الزامی می باشد.</p>
    <br>
    <p>4- به وسیله دکمه " ارسال اطلاعات به سازمان " اطلاعات تکمیل شده در 21 فرم را به سازمان ارسال نمایید.</p>
    <br>
    <p>5- حداکثر مهلت تعیین شده جهت تکمیل و ارسال اطلاعات، بیست روز از تاریخ ابلاغ نامه شعب سازمان (مبنی بر درخواست ثبت اطلاعات مورد نیاز بازرسی دفاتر) می باشد لذا پس از طی شدن مدت مذکور و درصورت عدم ارسال اطلاعات (حتی در صورت تکمیل فرمهای مذکور)، استنکاف از ارائه اطلاعات تلقی و وفق مقررات اقدام خواهد شد.</p>
    <br>
    <p>6- پس از ارسال اطلاعات به سازمان و یا طی شدن مهلت مقرر دکمه " ارسال اطلاعات به سازمان " غیر فعال شده و امکان درج و ویرایش اطلاعات وجود نخواهد داشت .</p>
    <br>
    <p>7- جهت ثبت سال مالی امکان درج 12 ماه و کمتر (دوره مالی) میسر می باشد.</p>
    <br>
    <p>8- سال‌های مالی کارگاه خود را به گونه‌ای ثبت نمایید که تمام سال های مورد درخواست شعبه را پوشش دهد.</p>
    <br>
    <p>9- والی درج سال/دوره (های) مالی می بایستی رعایت شده و شروع دوره بعد، متصل به پایان دوره قبل باشد.</p>
    <br>
    <p>10- چنانچه دارای قراردادهای هزینه‌ای هستید که نزد شعب تامین اجتماعی دارای پرونده‌های‌ مقاطعه‌کاری است، نسبت به ثبت اطلاعات پرونده (شامل نام شعبه، شماره کارگاه و ردیف پیمان) و اطلاعات قراردادها طی سنوات مورد درخواست و مفاصاحسابهای صادره در فرم شماره 20 با عنوان "قراردادهای (هزینه ای) منعقده با پیمانکاران" اقدام نمایید.</p>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>

</div>

