<div class="page-title">فرم اصلاح اطلاعات هویتی شخص</div>
<div class="panel">
  <form [formGroup]="fractionNewForm" autocomplete="off" novalidate
    (ngSubmit)="onEdit(fractionNewForm.value, fractionNewForm.valid)">
    <div class="form-control-container row">
      <div class="col-6 col-6-1" style="padding: 3px;">
        <tamin-field-label formControlName="firstName">نام:</tamin-field-label>
        <tamin-field-validator formControlName="firstName"></tamin-field-validator>
        <tamin-field-static-text formControlName="firstName" placeholder="نام"></tamin-field-static-text>
      </div>
      <div class="col-6 col-6-1" style="padding: 3px;">
        <tamin-field-label formControlName="lastName">نام خوانوادگی:</tamin-field-label>
        <tamin-field-validator formControlName="lastName"></tamin-field-validator>
        <tamin-field-static-text formControlName="lastName" placeholder="نام خوانوادگی"></tamin-field-static-text>
      </div>
       <!-- <div class="col-6 col-6-1" style="padding: 3px;">
        <tamin-field-label formControlName="fatherName">نام پدر:</tamin-field-label>
        <tamin-field-validator formControlName="fatherName"></tamin-field-validator>
        <tamin-field-static-text formControlName="fatherName" placeholder="نام پدر"></tamin-field-static-text>

      </div> -->
      <!-- <div class="col-6 col-6-1" style="padding: 3px;">
        <tamin-field-label formControlName="cityCode">نام شهر:</tamin-field-label>
        <tamin-field-validator formControlName="cityCode"></tamin-field-validator>
        <tamin-field-static-text formControlName="cityCode" placeholder="نام شهر"></tamin-field-static-text>
      </div> -->
      <div class="col-6  col-6-1" style="padding: 3px;">
        <tamin-field-label formControlName="cityCode">نام شهر</tamin-field-label>
        <tamin-field-validator formControlName="cityCode"></tamin-field-validator>
        <tamin-field-auto-complete-data-grid formControlName="cityCode" placeholder="نام شهر :" #cityOfBirth>
        </tamin-field-auto-complete-data-grid>
      </div>
      <div class="col-6 col-6-1" style="padding: 3px;">
        <tamin-field-label formControlName="mobile">تلفن همراه:</tamin-field-label>
        <tamin-field-validator formControlName="mobile"></tamin-field-validator>
        <tamin-field-text formControlName="mobile" placeholder="تلفن همراه"></tamin-field-text>
      </div>
      <div class="col-6 col-6-1" style="padding: 3px;">
        <tamin-field-label formControlName="phoneNumber">تلفن ثابت:</tamin-field-label>
        <tamin-field-validator formControlName="phoneNumber"></tamin-field-validator>
        <tamin-field-text formControlName="phoneNumber" placeholder="تلفن ثابت"></tamin-field-text>
      </div>
      <div class="col-6 col-6-1" style="padding: 3px;">
        <tamin-field-label formControlName="zipCode">کد پستی:</tamin-field-label>
        <tamin-field-validator formControlName="zipCode"></tamin-field-validator>
        <tamin-field-text formControlName="zipCode" placeholder="کدپستی"></tamin-field-text>
      </div>
      <div class="col-12 col-12-1" style="padding: 3px;">
        <tamin-field-label formControlName="address">آدرس:</tamin-field-label>
        <tamin-field-validator formControlName="address"></tamin-field-validator>
        <tamin-field-text-area formControlName="address" placeholder="آدرس"></tamin-field-text-area>
      </div>
      <p style="margin-top:5px;">
        <button type="submit" class="button normal" [disabled]="!fractionNewForm.valid">اصلاح</button>
        <button type="button" class="button normal orange" (click)="rollbacke()">بازگشت</button>
      </p>
    </div>
  </form>
</div>
