<div class="alert alert-info">
  <i class="icon-lightbulb"></i>
  <span>امکان تهیه و ویرایش لیست بیمه کارگاه ها</span>
</div>
<div class="panel">
  <div class="page-title">
    جستجو لیست های ایجاد شده
  </div>
  <div>
    <form [formGroup]="searchForm" autocomplete="off" novalidate>
      <div class="row">
        <div class="col-4">
          <tamin-field-label formControlName="workshopCode">کارگاه</tamin-field-label>
          <tamin-field-combo-box formControlName="workshopCode" #workshop></tamin-field-combo-box>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="month">ماه</tamin-field-label>
          <tamin-field-combo-box-static formControlName="month" [dataItems]="months" displayField="name"
                                        valueField="value"></tamin-field-combo-box-static>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="year">سال</tamin-field-label>
          <tamin-field-text formControlName="year" placeholder="سال"></tamin-field-text>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="contractNumber">ردیف پیمان</tamin-field-label>
          <tamin-field-text formControlName="contractNumber" placeholder="شماره پیگیری"></tamin-field-text>
        </div>
      </div>
      <p style="padding: 3px;">
        <button type="button" class="button normal" (click)="onSearch()">جستجو</button>
        <button type="button" class="button normal dark" (click)="onResetForm">نمایش همه</button>
      </p>
    </form>
  </div>
</div>

<div class="panel">
  <div class="page-title">
    لیست پیگیری وضعیت
  </div>
  <div class="panel-body">
    <tamin-data-grid #dataGrid></tamin-data-grid>
  </div>
</div>
<div class="panel">
  <div class="panel-body">
    <div class="row">
        <button type="button" class="button normal" (click)="redirectTo('il/full-fledged-list-new')">ایجاد لیست جدید
        </button>
      </div>
  </div>
</div>
