">
<div class="page-title">جستجو</div>
<div class="panel-body">
  <form [formGroup]="searchForm" autocomplete="off" novalidate>
    <div class="form-control-container">
      <div class="row">
        <div class="col-4">
          <tamin-field-label formControlName="province">استان</tamin-field-label>
          <tamin-field-auto-complete-data-grid formControlName="province" placeholder="استان"
                                               #province></tamin-field-auto-complete-data-grid>


        </div>
        <div class="col-4">
          <tamin-field-label formControlName="city">شهر</tamin-field-label>
          <tamin-field-auto-complete-data-grid formControlName="city" #city></tamin-field-auto-complete-data-grid>
        </div>

        <div class="col-4">
          <tamin-field-label formControlName="unitTypes">نوع مرکز</tamin-field-label>
          <tamin-field-combo-box-static visible="false" formControlName="unitTypes" placeHolder="انتخاب کنید ..." [dataItems]="unitTypes"
                                        valueField="value"
                                        displayField="name"></tamin-field-combo-box-static>

        </div>
        <div class="col-4">
          <tamin-field-label formControlName="unitName">نام مرکز</tamin-field-label>
          <tamin-field-text formControlName="unitName"></tamin-field-text>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="shift">شیفت</tamin-field-label>
          <tamin-field-combo-box-static visible="false" formControlName="shift" placeHolder="انتخاب کنید ..." [dataItems]="shift"
                                        valueField="value"
                                        displayField="name"></tamin-field-combo-box-static>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="telRcp">پذیرش تلفنی</tamin-field-label>
          <tamin-field-combo-box-static visible="false" formControlName="telRcp" placeHolder="انتخاب کنید ..." [dataItems]="telRcp"
                                        valueField="value"
                                        displayField="name"></tamin-field-combo-box-static>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="internetRcp">پذیرش اینترنتی</tamin-field-label>
          <tamin-field-combo-box-static visible="false" formControlName="internetRcp" placeHolder="انتخاب کنید ..." [dataItems]=" internetRcp"
                                        valueField="value"
                                        displayField="name"></tamin-field-combo-box-static>
        </div>
        <div class="col-4">
          <tamin-field-label formControlName="diviceTypes">نوع دستگاهها</tamin-field-label>
          <tamin-field-combo-box-static visible="false" formControlName="diviceTypes" placeHolder="انتخاب کنید ..." [dataItems]="diviceTypes"
                                        valueField="value"
                                        displayField="name"></tamin-field-combo-box-static>
        </div>
      </div>

    </div>
  </form>
  <p style="margin-top:5px;">
    <button type="button" (click)="onSearch()" class="button normal">جستجو
    </button>
    <button type="button" class="button normal dark" (click)="resetSearch()">نمایش همه</button>
  </p>
</div>
<div class="panel">
  <div class="panel-title">اطلاعات مراکز ملکی</div>
  <div class="panel-body">
    <tamin-data-grid #dataGrid></tamin-data-grid>
  </div>
</div>



