.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  padding: 5px;
}

.summary {
  border-collapse: collapse;
  width: calc(100% - 10px);
  overflow: scroll;
  margin: 5px;
}

.summary td {
  border: 1px solid black;
  padding: 8px;
}

.summary td:nth-child(odd) {
  width: 50%;
}

.summary tr:nth-child(even) {
  background-color: #f2f2f2;
}

