<div class="panel">
  <div class="page-title">5- اطلاعات حوزه های مالیات بر حقوق و درامد</div>
  <div class="panel-body"></div>
  <div class="row">
    <div class="page-title">اطلاعات حوزه مالیات بر حقوق </div>
    <tamin-data-grid #taxSalaryLocationGrid  (itemAction)="onAction($event)"> "</tamin-data-grid>
<!--    <button type="submit" class="button normal" (click)="onNewDetSalaryTaxLocation()">جدید</button>-->
  </div>
  <div class="row">
    <div class="page-title"> صاحبان امضاء</div>
    <tamin-data-grid #incomeTaxLocationGrid (itemAction)="onEdit($event)"></tamin-data-grid>
<!--    <button type="submit" class="button normal" (click)="onNewDetIncomeTaxLocation()">جدید</button>-->
    <button type="button" class="button normal orange" (click)="back()">برگشت به صفحه اصلی</button>
  </div>

</div>
