<tamin-modal #theModal title="موافقتنامه بهره برداری از سرویس های غیر حضوری حوزه مستمری سازمان تامین اجتماعی" width="80%">
  <div style="border: solid 1px #ccc; padding: 10px; margin-bottom: 10px;max-height: 60vh; overflow: auto">
    <p style="font-weight: bold">
      بیمه‌شده گرامی؛
      لطفاً قبل از ثبت درخواست بازنشستگی خود در سامانه خدمات غیرحضوری، قوانین بازنشستگی عادی را بصورت دقیق مطالعه
      و در صورت داشتن هر یک از این شرایط اقدام به ثبت درخواست نمایید.

    </p>
    <ol style="padding: 20px; text-align: justify;">
      <li>
        بیمه‌شده زن:
        <ul>
          <li>داشتن 55 سال تمام سن و حداقل 20 سال کامل سابقه پرداخت حق بیمه</li>
          <li>داشتن 45 سال تمام سن و حداقل 30 سال کامل سابقه پرداخت حق بیمه</li>
          <li>داشتن 35 سال کامل سابقه پرداخت حق بیمه بدون شرط سنی</li>
          <li>داشتن 42 سال تمام سن و حداقل 20 سال کامل سابقه پرداخت حق بیمه (صرفاً زنان کارگر مشمول قانون کار)</li>
        </ul>
      </li>
      <li>
        بیمه‌شده مرد:
        <ul>
          <li>داشتن 60 سال تمام سن و حداقل 20 سال کامل سابقه پرداخت حق بیمه</li>
          <li>داشتن 50 سال تمام سن و حداقل 30 سال کامل سابقه پرداخت حق بیمه</li>
          <li>داشتن 35 سال کامل سابقه پرداخت حق بیمه بدون شرط سنی</li>
        </ul>
      </li>
      <li>
        بیمه‌شده گرامی، این درخواست در راستای کاهش مراجعات، بصورت غیرحضوری اخذ می‌گردد
        و تأیید یا عدم تأیید درخواست شما از طریق همین سامانه اطلاع‌رسانی خواهد شد. بنابراین لطفاً تا اطلاع بعدی از
        مراجعه حضوری به شعب سازمان اکیداً خودداری نمایید. بدیهی است ارائه اصل شناسنامه و تکمیل و امضای فرم
        درخواست بازنشستگی ثبت شده، توسط شخص بیمه‌شده در اولین مراجعه که زمان آن متعاقبا اطلاع داده خواهد شد، الزامی است.
      </li>
    </ol>
  </div>
  <div class="button-container">
    <button class="button normal" (click)="onAgree()">موافقم</button>
    <button class="button normal red" (click)="onDisagree()">موافق نیستم</button>
  </div>
</tamin-modal>

