<div class="panel">
  <div class="page-title">
    جستجو در درخواست های ثبت شده
  </div>
  <div class="panel-body">
    <form [formGroup]="searchForm" autocomplete="off" novalidate>
      <div class="form-control-container">
        <div class="row">
          <div class="col-4">
            <tamin-field-label formControlName="requestCreationTimeFrom">تاریخ درخواست از:</tamin-field-label>
            <tamin-field-persian-date formControlName="requestCreationTimeFrom"></tamin-field-persian-date>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="requestCreationTimeTo">تا:</tamin-field-label>
            <tamin-field-persian-date formControlName="requestCreationTimeTo"></tamin-field-persian-date>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="organizationId">واحد صادر کننده:</tamin-field-label>
            <tamin-field-auto-complete-data-grid
              formControlName="organizationId"
              #organizationDataGrid></tamin-field-auto-complete-data-grid>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="requestType">نوع دفترچه:</tamin-field-label>
            <tamin-field-combo-box-static formControlName="requestType" [dataItems]="requestTypes" displayField="name" placeHolder="انتخاب کنید ..."
                                          valueField="value"></tamin-field-combo-box-static>
          </div>
          <div class="col-4">
            <tamin-field-label formControlName="printStatus">وضعیت:</tamin-field-label>
            <tamin-field-combo-box-static formControlName="printStatus" [dataItems]="printStatus" displayField="name" placeHolder="انتخاب کنید ..."
                                          valueField="value"></tamin-field-combo-box-static>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="button-container">
              <button type="submit" class="button normal" (click)="searchFormSubmit()">جستجو</button>
              <button type="button" class="button normal gray" (click)="resetForm()">نمایش کلیه موارد</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

