<div class="alert alert-info">
  <i class="icon-lightbulb"></i>
  <span>امکان مشاهده برگ پرداخت های مربوط به بیمه شدگان</span>
</div>
<div class="row">
  <div class="col-12">
    <div class="panel">
      <div class="panel-title">جستجوی بیمه شده</div>
      <div class="panel-body">
        <app-sso-insured-search (afterSubmit)="onSearchInsuredSubmit($event)" #insuredForm></app-sso-insured-search>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="panel">
      <div class="panel">
        <app-sso-insured-payment-sheet-search
          (output)="onSearchPaymentSheetSubmit($event)"></app-sso-insured-payment-sheet-search>
        <app-sso-insured-payment-sheet-list #paymentSheetList></app-sso-insured-payment-sheet-list>
      </div>
    </div>
  </div>
</div>
<p style="margin:5px;">
  <button type="button" class="button normal dark" (click)="redirectTo('sso/main')">بازگشت به پنل همکاران سازمانی
  </button>
</p>


