<div class="panel col-6 col-s-6">
  <div class="panel-title"> ثبت حقوق و دستمزد و سایر هزینه های کارکنان</div>
  <div class="panel-body">
    <form [formGroup]="editForm" autocomplete="off" novalidate (ngSubmit)="onSave(editForm.value)">
      <div class="form-control-container">
        <div class="panel col-12 col-s-12">
        <div class="row">
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="endDate">منتهی به تاریخ</tamin-field-label>
            <tamin-field-static-persian-date formControlName="endDate" placeholder=""></tamin-field-static-persian-date>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="salaryBenefitOfficeStaff">حقوق و مزایای کارکنان دفتر</tamin-field-label>
            <tamin-field-validator formControlName="salaryBenefitOfficeStaff"></tamin-field-validator>
            <tamin-field-number formControlName="salaryBenefitOfficeStaff"></tamin-field-number>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="salaryBenefitFactoryStaff">حقوق و مزایای کارکنان کارخانه</tamin-field-label>
            <tamin-field-validator formControlName="salaryBenefitFactoryStaff"></tamin-field-validator>
            <tamin-field-number formControlName="salaryBenefitFactoryStaff"></tamin-field-number>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="dueEmployerShare">حق بیمه 23% سهم کارفرما</tamin-field-label>
            <tamin-field-validator formControlName="dueEmployerShare"></tamin-field-validator>
            <tamin-field-number formControlName="dueEmployerShare"></tamin-field-number>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="salaryOtherFunds">حقوق سایر صندوق ه</tamin-field-label>
            <tamin-field-validator formControlName="salaryOtherFunds"></tamin-field-validator>
            <tamin-field-number formControlName="salaryOtherFunds"></tamin-field-number>
          </div>

          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="dueMission">حق مأموریت</tamin-field-label>
            <tamin-field-validator formControlName="dueMission"></tamin-field-validator>
            <tamin-field-number formControlName="dueMission"></tamin-field-number>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="reward">کارانه</tamin-field-label>
            <tamin-field-validator formControlName="reward"></tamin-field-validator>
            <tamin-field-number formControlName="reward"></tamin-field-number>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="bonuses">عیدی و پاداش</tamin-field-label>
            <tamin-field-validator formControlName="bonuses"></tamin-field-validator>
            <tamin-field-number formControlName="bonuses"></tamin-field-number>
          </div>
          <div class="col-6 col-s-6">
          <tamin-field-label formControlName="yearsOld">سنوات </tamin-field-label>
            <tamin-field-validator formControlName="yearsOld"></tamin-field-validator>
          <tamin-field-number formControlName="yearsOld"></tamin-field-number>
        </div>
          <div class="col-6 col-s-6">
          <tamin-field-label formControlName="totalSumSalarCost">جمع کل</tamin-field-label>
            <tamin-field-validator formControlName="totalSumSalarCost"></tamin-field-validator>
          <tamin-field-number formControlName="totalSumSalarCost"></tamin-field-number>
        </div>
          <div class="row">
            <p>کاربر گرامی تمامی فیلدها باید مقدار داشته باشد چنانچه مقدار آن خالی است با  0 پر گردد .</p>
            <p>کاربر گرامي، مبالغ به ریال میباشد. </p>
          </div>
        </div>
       </div>
      </div>
      <div class="col-12 col-s-12">
        <button #submitButton type="submit" class="button normal">ذحیره </button>
        <button type="button" class="button normal orange" (click)="back()">انصراف</button>
      </div>
    </form>
  </div>
</div>
