<div class="alert alert-info">
  درخواست هزینه کفن و دفن
</div>
<app-stp-header-new requestTyp="کفن و دفن" #header></app-stp-header-new>
<form [formGroup]="theForm" novalidate autocomplete="off">
  <div class="panel" #dataPanel>
    <div class="panel-title">مشخصات کفن و دفن</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-6">
          <tamin-field-label formControlName="branchName">آخرین شعبه بیمه پردازی</tamin-field-label>
          <tamin-field-static-text formControlName="branchName"></tamin-field-static-text>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <tamin-field-label formControlName="kddateTimeStamp">تاریخ گواهی فوت</tamin-field-label>
          <tamin-field-static-persian-date  formControlName="kddateTimeStamp" placeholder=""></tamin-field-static-persian-date>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="kdno">شماره گواهی فوت</tamin-field-label>
          <tamin-field-static-text formControlName="kdno"></tamin-field-static-text>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="dtype">متوفی</tamin-field-label>
          <tamin-field-static-text formControlName="dtype"></tamin-field-static-text>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <tamin-field-label formControlName="resultMessage">نتیجه ثبت درخواست</tamin-field-label>
          <tamin-field-static-multiline-text formControlName="resultMessage"></tamin-field-static-multiline-text>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="panel">
  <div class="panel-title">نتیجه اقدامات انجام شده</div>
  <div class="panel-body">
    <app-request-result-new></app-request-result-new>
  </div>
</div>

<div class="panel">
  <div class="panel-title">مدارک مورد نیاز</div>
  <div class="panel-body">
    <tamin-image-gallery-managed #imageGallery></tamin-image-gallery-managed>
  </div>
</div>
