<div class="alert alert-info">
  پیگیری وضعیت درخواست ثبت نام
</div>
<div class="panel">
  <div class="panel-body">
    <form [formGroup]="theForm" autocomplete="off" novalidate>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <tamin-field-label formControlName="nationalCode">کد ملی</tamin-field-label>
          <tamin-field-validator formControlName="nationalCode"></tamin-field-validator>
          <tamin-field-natioanl-id formControlName="nationalCode" [maxlength]="10"></tamin-field-natioanl-id>
        </div>
        <div class="col-4"></div>
      </div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <tamin-field-label formControlName="mobile">شماره تلفن همراه</tamin-field-label>
          <tamin-field-validator formControlName="mobile"></tamin-field-validator>
          <tamin-field-mask formControlName="mobile" mask="0000 000 0000"></tamin-field-mask>
        </div>
        <div class="col-4"></div>
      </div>
    </form>
  </div>
</div>
<div class="panel">
  <div class="panel-body">
    <button type="button" class="button normal blue" (click)="onPursue()">
      <i class="icon-ok"></i>
      <span>پیگیری درخواست ثبت نام</span>
    </button>
  </div>
</div>

<tamin-modal title="نتیجه درخواست ثبت نام" #theModal>
  <div style="display: flex">
    <img src="assets/images/icons/user.png" alt="" width="42" height="42">
    <ng-container *ngIf="status === 2">
      <p style="display: table-cell;vertical-align: middle;padding: 10px;">
        درخواست ثبت نام شما در انتظار تایید اطلاعات هویتی با سازمان ثبت احوال میباشد. بعد از انجام کنترل های لازم حساب
        کاربری شما ایجاد خواهد شد.
      </p>
    </ng-container>

    <ng-container *ngIf="status === 3">
      <p style="display: table-cell;vertical-align: middle;padding: 10px;">
        درخواست شما در انتظار تایید شماره تلفن همراه با اپراتورها می باشد. بعد از انجام کنترل های لازم حساب کاربری شما
        ایجاد خواهد شد.</p>
    </ng-container>

    <ng-container *ngIf="status === 4">
      <p style="display: table-cell;vertical-align: middle;padding: 10px;">
        ثبت نام اولیه شما بصورت ناتمام انجام شده است و شما اقدام به تکمیل اطلاعات ننموده اید، در صورت سپری شدن یک ساعت
        از
        ثبت نام اولیه و عدم تکمیل اطلاعات ثبت نام شما لغو شده و قادر خواهید بود مجددا اقدام به ثبت نام نمایید.</p>
    </ng-container>

    <ng-container *ngIf="status === 6">
      <p style="display: table-cell;vertical-align: middle;padding: 10px;">
        اطلاعات وارد شده با پایگاه اطلاعاتی سازمان ثبت احوال مغایرت دارد.</p>
    </ng-container>

    <ng-container *ngIf="status === 7">
      <p style="display: table-cell;vertical-align: middle;padding: 10px;">
        حساب کاربری شما قبلا ایجاد شده است، با انتخاب گزینه ورود به سامانه می توانید از سرویس های غیر حضوری استفاده
        نمایید.
      </p>
    </ng-container>

    <ng-container *ngIf="status === 8">
      <p style="display: table-cell;vertical-align: middle;padding: 10px;">
        حساب کاربری شما ایجاد نگردیده است. با مراجعه به قسمت ثبت نام نسبت به ایجاد حساب کاربری جدید اقدام نمایید.</p>
    </ng-container>

    <ng-container *ngIf="status === 9">
      <p style="display: table-cell;vertical-align: middle;padding: 10px;">
        حساب کاربری شما ایجاد شده ولی غیر فعال است.
        علت می تواند عدم مالکیت شماره تلفن همراه باشد.
        جهت فعال نمودن حساب کاربری با دردست داشتن مدارک هویتی به یکی از شعب سازمان تامین اجتماعی مراجعه نمایید.
      </p>
    </ng-container>
  </div>
</tamin-modal>


