<div class="alert alert-info">
  <p>ثبت درخواست دریافت سبد حمایتی دولت</p>
</div>
<div class="alert alert-success">
  <p>
    متقاضی محترم
  </p>
  <p>
    به منظور بهره مندی از سبد حمایتی دولت محترم، لطفا نسبت به درج دقیق اطلاعات درخواستی به شرح ذیل اقدام فرمایید.
  </p>
  <p style="margin-right: 10px"><i class="icon-lightbulb"></i>
    <span>بیمه شدگان فعال و اصلی سازمان تامین اجتماعی مجاز به ثبت نام در این سامانه می باشند.</span>
  </p>
  <p style="margin-right: 10px"><i class="icon-lightbulb"></i>
    <span>شماره حساب بانکی می بایست متمرکز و مربوط به یکی از بانک های ملی، رفاه، ملت و صادرات باشد.</span>
  </p>
</div>
<div style="margin: 3px">
  <tamin-process-indicator #processIndicator></tamin-process-indicator>
</div>


<div class="gov-sup-reg-container">
  <div class="gov-sup-reg-header">{{currentHeader}}</div>
  <div class="gov-sup-reg-content" #stepsContainer></div>
  <div class="gov-sup-reg-footer">
    <button style="float: right; margin-bottom: 5px" class="button button-default normal" *ngIf="hasNextStep"
            (click)="createStep(currentStepNumber + 1, 'forward')">{{nextStepButtonTitle}}
    </button>
    <button style="float: left; margin-bottom: 5px" class="button button-default normal" *ngIf="hasPrevStep"
            (click)="createStep(currentStepNumber - 1, 'backward')">
      {{prevStepButtonTitle}}
    </button>
  </div>
</div>

<div #agreement style="display: none">
  <p>متقاضی محترم</p>
  <p>نتایج درخواست دریافت و یا حذف سبد کالا به شماره همراه به نام کد ملی متقاضی  می باشد ارسال خواهد شد .</p>
  <p>همچنین شماره حساب درج شده می بایست متعلق به کد ملی متقاضی باشد.</p>
</div>
