<div class="panel">
  <div class="page-title">جستجو</div>
  <div class="panel-body">
    <form [formGroup]="searchForm" autocomplete="off" novalidate >
      <div class="form-control-container">
      <div class="row">
        <div class="col-3">
          <tamin-field-label formControlName="nationalCode">کد ملی:</tamin-field-label>
          <tamin-field-validator formControlName="nationalCode"></tamin-field-validator>
          <tamin-field-text formControlName="nationalCode" placeholder="کد ملی"></tamin-field-text>
<!--          <button type="button" class="button normal orange" style="padding: 3px" (click)="_initializePensioner()"></button>-->
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="ticketCode">کد اعتباری:</tamin-field-label>
          <tamin-field-validator formControlName="ticketCode"></tamin-field-validator>
          <tamin-field-text formControlName="ticketCode" placeholder="کد اعتباری"></tamin-field-text>
        </div>
        <div class="col-3"[hidden]="isWrite">
          <tamin-field-label formControlName="pensionerId">شماره مستمری:</tamin-field-label>
          <tamin-field-validator formControlName="pensionerId"></tamin-field-validator>
          <tamin-field-combo-box-static formControlName="pensionerId" [dataItems]="pensionerList" valueField="value"
                                        displayField="name" #pensioner
                                        placeholder="شماره مستمری "></tamin-field-combo-box-static>
          <button type="button" class="button normal orange" style="padding: 3px" (click)="wirteClick()">نوشتن شماره مستمری</button>
        </div>
        <div class="col-3" [hidden]="!isWrite">

          <tamin-field-label formControlName="pensionerId">شماره مستمری</tamin-field-label>
          <tamin-field-validator formControlName="pensionerId"></tamin-field-validator>
          <tamin-field-mask mask="0000000000" formControlName="pensionerId"></tamin-field-mask>
          <button type="button" class="button normal orange" style="padding: 3px" (click)="selectClick()">انتخاب شماره مستمری از لیست</button>
        </div>
        <div class="col-3">
          <tamin-field-label formControlName="year">سال</tamin-field-label>
          <tamin-field-validator formControlName="year"></tamin-field-validator>
          <tamin-field-mask mask="0000" formControlName="year" placeholder="سال"></tamin-field-mask>
        </div>

      </div>
      <div class="row">
        <div class="col-12">
          <div class="button-container">
          <p style="margin-top:5px;">
            <button type="button" class="button normal" (click)="sendUserTicket()" [disabled]="searchForm.valid">دریافت کد اعتباری</button>
            <button type="submit" class="button normal" [disabled]="!isDesabled" (click)="searchFormSubmit()" >جستجو</button>
          </p>
          </div>
        </div>
      </div>
      </div>
    </form>
  </div>
</div>
