<div class="panel" #panel>
  <div class="page-title">
    لیست سابقه
  </div>
  <div class="panel-body">
    <tamin-data-grid #dataGrid [showLoadOverlay]="false"></tamin-data-grid>
<!--    <button class="button normal" (click)="showPdf()" *ngIf="loadCompleted"><i class="icon-download"></i> <span>دانلود / چاپ</span></button>-->
    <button class="button normal" (click)="downloadPdf()" *ngIf="loadCompleted"><i class="icon-download"></i> <span>دانلود فایل سابقه</span></button>
    <button class="button normal" (click)="sendToInbox()" *ngIf="loadCompleted"><i class="icon-upload"></i> <span>ارسال به صندوق شخصی</span></button>
  </div>
</div>

<tamin-modal #pdfViewer title="سابقه">
  <tamin-document-viewer #documentViewer width="100%" height="400px"></tamin-document-viewer>
</tamin-modal>
