<div class="alert alert-danger" *ngIf="hasError">
  خطا در برقراری ارتباط با سرویس دهنده مرکزی
</div>
<div class="panel" #panel>
  <div class="page-title">
    لیست سابقه با دستمزد
  </div>
  <div class="panel-body">
    <div style="overflow-x: auto" *ngIf="renderMode == 'desktop'">
      <table class="desktop-table">
        <thead>
        <tr>
          <th>ردیف</th>
          <th>سال</th>
          <th>نوع سابقه</th>
          <th>نام شعبه</th>
          <th>شماره کارگاه</th>
          <th>نام کارگاه</th>
          <th></th>
          <th>فروردین</th>
          <th>اردیبهشت</th>
          <th>خرداد</th>
          <th>تیر</th>
          <th>مرداد</th>
          <th>شهریور</th>
          <th>مهر</th>
          <th>آبان</th>
          <th>آذر</th>
          <th>دی</th>
          <th>بهمن</th>
          <th>اسفند</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let item of data; let i = index">
          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td rowspan="2">{{(i + 1) | persianNumber}}</td>
            <td rowspan="2">{{item.hisyear | persianNumber}}</td>
            <td rowspan="2">{{item.historytypedesc}}</td>
            <td rowspan="2">{{item.brhname}}</td>
            <td rowspan="2">{{item.rwshid | persianNumber}}</td>
            <td rowspan="2">{{item.rwshname}}</td>
            <td>سابقه(روز)</td>
            <td>{{(item.hismon1 == null ? '0' : item.hismon1) | persianNumber}}</td>
            <td>{{(item.hismon2 == null ? '0' : item.hismon2) | persianNumber}}</td>
            <td>{{(item.hismon3 == null ? '0' : item.hismon3) | persianNumber}}</td>
            <td>{{(item.hismon4 == null ? '0' : item.hismon4) | persianNumber}}</td>
            <td>{{(item.hismon5 == null ? '0' : item.hismon5) | persianNumber}}</td>
            <td>{{(item.hismon6 == null ? '0' : item.hismon6) | persianNumber}}</td>
            <td>{{(item.hismon7 == null ? '0' : item.hismon7) | persianNumber}}</td>
            <td>{{(item.hismon8 == null ? '0' : item.hismon8) | persianNumber}}</td>
            <td>{{(item.hismon9 == null ? '0' : item.hismon9) | persianNumber}}</td>
            <td>{{(item.hismon10 == null ? '0' : item.hismon10) | persianNumber}}</td>
            <td>{{(item.hismon11 == null ? '0' : item.hismon11) | persianNumber}}</td>
            <td>{{(item.hismon12 == null ? '0' : item.hismon12) | persianNumber}}</td>
          </tr>
          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td>دستمزد(ریال)</td>
            <td>{{(item.hiswage1 == null ? '0' : item.hiswage1) | persianNumber:'cs'}}</td>
            <td>{{(item.hiswage2 == null ? '0' : item.hiswage2) | persianNumber:'cs'}}</td>
            <td>{{(item.hiswage3 == null ? '0' : item.hiswage3) | persianNumber:'cs'}}</td>
            <td>{{(item.hiswage4 == null ? '0' : item.hiswage4) | persianNumber:'cs'}}</td>
            <td>{{(item.hiswage5 == null ? '0' : item.hiswage5) | persianNumber:'cs'}}</td>
            <td>{{(item.hiswage9 == null ? '0' : item.hiswage6) | persianNumber:'cs'}}</td>
            <td>{{(item.hiswage7 == null ? '0' : item.hiswage7) | persianNumber:'cs'}}</td>
            <td>{{(item.hiswage8 == null ? '0' : item.hiswage8) | persianNumber:'cs'}}</td>
            <td>{{(item.hiswage9 == null ? '0' : item.hiswage9) | persianNumber:'cs'}}</td>
            <td>{{(item.hiswage10 == null ? '0' : item.hiswage10) | persianNumber:'cs'}}</td>
            <td>{{(item.hiswage11 == null ? '0' : item.hiswage11) | persianNumber:'cs'}}</td>
            <td>{{(item.hiswage12 == null ? '0' : item.hiswage12) | persianNumber:'cs'}}</td>
          </tr>
        </ng-container>
        </tbody>
      </table>
      <button class="button normal" (click)="downloadPdf()" *ngIf="loadCompleted && showDownloadButton"><i class="icon-download"></i> <span>دانلود فایل سابقه</span>
      </button>
      <button class="button normal" (click)="sendToInbox()" *ngIf="loadCompleted && showDownloadButton"><i class="icon-upload"></i> <span>ارسال به صندوق شخصی</span></button>
    </div>
    <div style="overflow-x: auto" *ngIf="renderMode == 'mobile'">
      <table class="desktop-table">
        <tbody>
        <ng-container *ngFor="let item of data; let i = index">
          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td class="bold">ردیف</td>
            <td>{{(i + 1) | persianNumber}}</td>
          </tr>
          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td class="bold">سال</td>
            <td>{{item.hisyear | persianNumber}}</td>
          </tr>
          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td class="bold">نوع سابقه</td>
            <td>{{item.historytypedesc}}</td>
          </tr>
          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td class="bold">نام شعبه</td>
            <td>{{item.brhname}}</td>
          </tr>
          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td class="bold">شماره کارگاه</td>
            <td>{{item.rwshid | persianNumber}}</td>
          </tr>
          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td class="bold">نام کارگاه</td>
            <td>{{item.rwshname}}</td>
          </tr>

          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td class="bold" rowspan="2">فروردین</td>
            <td><span class="bold">سابقه:</span> {{(item.hismon1 == null ? '0' : item.hismon1) | persianNumber}}
              <span>روز</span></td>
          </tr>
          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td><span class="bold">دستمزد:</span> {{(item.hiswage1 == null ? '0' : item.hiswage1) | persianNumber:'cs'}}
              <span>ریال</span></td>
          </tr>
          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td class="bold" rowspan="2">اردیبهشت</td>
            <td><span class="bold">سابقه:</span> {{(item.hismon2 == null ? '0' : item.hismon2) | persianNumber}}
              <span>روز</span></td>
          </tr>
          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td><span class="bold">دستمزد:</span> {{(item.hiswage2 == null ? '0' : item.hiswage2) | persianNumber:'cs'}}
              <span>ریال</span></td>
          </tr>

          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td class="bold" rowspan="2">خرداد</td>
            <td><span class="bold">سابقه:</span> {{(item.hismon3 == null ? '0' : item.hismon3) | persianNumber}}
              <span>روز</span></td>
          </tr>
          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td><span class="bold">دستمزد:</span> {{(item.hiswage3 == null ? '0' : item.hiswage3) | persianNumber:'cs'}}
              <span>ریال</span></td>
          </tr>

          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td class="bold" rowspan="2">تیر</td>
            <td><span class="bold">سابقه:</span> {{(item.hismon4 == null ? '0' : item.hismon4) | persianNumber}}
              <span>روز</span></td>
          </tr>
          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td><span class="bold">دستمزد:</span> {{(item.hiswage4 == null ? '0' : item.hiswage4) | persianNumber:'cs'}}
              <span>ریال</span></td>
          </tr>

          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td class="bold" rowspan="2">مرداد</td>
            <td><span class="bold">سابقه:</span> {{(item.hismon5 == null ? '0' : item.hismon5) | persianNumber}}
              <span>روز</span></td>
          </tr>
          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td><span class="bold">دستمزد:</span> {{(item.hiswage5 == null ? '0' : item.hiswage5) | persianNumber:'cs'}}
              <span>ریال</span></td>
          </tr>

          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td class="bold" rowspan="2">شهریور</td>
            <td><span class="bold">سابقه:</span> {{(item.hismon6 == null ? '0' : item.hismon6) | persianNumber}}
              <span>روز</span></td>
          </tr>
          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td><span class="bold">دستمزد:</span> {{(item.hiswage6 == null ? '0' : item.hiswage6) | persianNumber:'cs'}}
              <span>ریال</span></td>
          </tr>


          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td class="bold" rowspan="2">مهر</td>
            <td><span class="bold">سابقه:</span> {{(item.hismon7 == null ? '0' : item.hismon7) | persianNumber}}
              <span>روز</span></td>
          </tr>
          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td><span class="bold">دستمزد:</span> {{(item.hiswage7 == null ? '0' : item.hiswage7) | persianNumber:'cs'}}
              <span>ریال</span></td>
          </tr>


          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td class="bold" rowspan="2">آبان</td>
            <td><span class="bold">سابقه:</span> {{(item.hismon8 == null ? '0' : item.hismon8) | persianNumber}}
              <span>روز</span></td>
          </tr>
          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td><span class="bold">دستمزد:</span> {{(item.hiswage8 == null ? '0' : item.hiswage8) | persianNumber:'cs'}}
              <span>ریال</span></td>
          </tr>


          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td class="bold" rowspan="2">آذر</td>
            <td><span class="bold">سابقه:</span> {{(item.hismon9 == null ? '0' : item.hismon9) | persianNumber}}
              <span>روز</span></td>
          </tr>
          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td><span class="bold">دستمزد:</span> {{(item.hiswage9 == null ? '0' : item.hiswage9) | persianNumber:'cs'}}
              <span>ریال</span></td>
          </tr>

          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td class="bold" rowspan="2">دی</td>
            <td><span class="bold">سابقه:</span> {{(item.hismon10 == null ? '0' : item.hismon10) | persianNumber}}
              <span>روز</span></td>
          </tr>
          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td><span class="bold">دستمزد:</span> {{(item.hiswage10 == null ? '0' : item.hiswage10) |
              persianNumber:'cs'}}
              <span>ریال</span></td>
          </tr>


          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td class="bold" rowspan="2">بهمن</td>
            <td><span class="bold">سابقه:</span> {{(item.hismon11 == null ? '0' : item.hismon11) | persianNumber}}
              <span>روز</span></td>
          </tr>
          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td><span class="bold">دستمزد:</span> {{(item.hiswage11 == null ? '0' : item.hiswage11) |
              persianNumber:'cs'}}
              <span>ریال</span></td>
          </tr>

          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td class="bold" rowspan="2">اسفند</td>
            <td><span class="bold">سابقه:</span> {{(item.hismon12 == null ? '0' : item.hismon12) | persianNumber}}
              <span>روز</span></td>
          </tr>
          <tr [ngClass]="{'even':i % 2 == 0, 'odd':i % 2 != 0}">
            <td><span class="bold">دستمزد:</span> {{(item.hiswage12 == null ? '0' : item.hiswage12) |
              persianNumber:'cs'}}
              <span>ریال</span></td>
          </tr>
        </ng-container>
        </tbody>
      </table>
      <button class="button normal" (click)="downloadPdf()" *ngIf="loadCompleted && showDownloadButton"><i
        class="icon-download"></i> <span>دانلود فایل سابقه</span>
      </button>
      <button class="button normal" (click)="sendToInbox()" *ngIf="loadCompleted && showDownloadButton"><i class="icon-upload"></i> <span>ارسال به صندوق شخصی</span></button>
    </div>
  </div>
</div>
<p style="margin:5px;" *ngIf="showDownloadButton">
  <button type="button" class="button normal gray" (click)="backToPanelClick()">بازگشت به صفحه نخست</button>
</p>
