th {
  white-space: nowrap;
}

.desktop-table {
  border-collapse: collapse;
  border: 1px solid #cacaca;
  width: 100%;
}

.desktop-table td {
  border: 1px solid #cacaca;
  vertical-align: middle;
  padding: 5px;
}

.desktop-table th {
  border: 1px solid #cacaca;
  vertical-align: middle;
  padding: 5px;
  background-color: #ddd;
}

.odd {
  background-color: #ddd;
}

.even {
  background-color: white;
}

.bold {
  font-weight: bold;
}
