<div class="panel col-6 col-s-6">
  <div class="panel-title"> ثبت اطلاعات  حوزه مالیات</div>
  <div class="panel-body">
    <form [formGroup]="editForm" autocomplete="off" novalidate (ngSubmit)="onSave(editForm.value)">
      <div class="form-control-container">
        <div class="row  col-12 col-s-12">
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="taxLocNo">شماره حوزه مالیات</tamin-field-label>
            <tamin-field-text formControlName="taxLocNo"></tamin-field-text>
          </div>
            <div class="col-6 col-s-6">
              <tamin-field-label formControlName="province">استان</tamin-field-label>
              <tamin-field-combo-box-static formControlName="province" displayField="name" valueField="value" [dataItems]="provinces" ></tamin-field-combo-box-static>
            </div>
            <div class="col-6 col-s-6">
              <tamin-field-label formControlName="city">شهر</tamin-field-label>
              <tamin-field-combo-box-static formControlName="city" displayField="name" valueField="value" [dataItems]="cities" ></tamin-field-combo-box-static>
            </div>
            <div class="col-6 col-s-6">
              <tamin-field-label formControlName="endDate">منتهی به تاریخ</tamin-field-label>
              <tamin-field-persian-date formControlName="endDate"></tamin-field-persian-date>
            </div>

        </div>
      </div>
      <div class="col-12 col-s-12">
        <button #submitButton type="submit" class="button normal">ذحیره </button>
        <button type="button" class="button normal orange" (click)="back()">انصراف</button>
      </div>
    </form>
  </div>
</div>
