<div class="panel col-6 col-s-6">
  <div class="panel-title"> ثبت اطلاعات مدیر یا مسئول پاسخگو</div>
  <div class="panel-body">
    <form [formGroup]="editForm" autocomplete="off" novalidate (ngSubmit)="onSave(editForm.value)">
      <div class="form-control-container">
        <div class="row col-12 col-s-12">
<!--          <div class="col-6 col-s-6">-->
<!--            <tamin-field-label formControlName="nationality">ملیت</tamin-field-label>-->
<!--            <tamin-field-combo-box-static formControlName="nationality" displayField="name" valueField="value" #nationalityCombobBox></tamin-field-combo-box-static>-->
<!--          </div>-->
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="nationality">کد ملي</tamin-field-label>
            <tamin-field-validator formControlName="nationality"></tamin-field-validator>
            <tamin-field-text formControlName="nationality"></tamin-field-text>
          </div>
        </div>
        <div class="row col-12 col-s-12">
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="nationalId">کد ملي</tamin-field-label>
            <tamin-field-validator formControlName="nationalId"></tamin-field-validator>
            <tamin-field-text formControlName="nationalId"></tamin-field-text>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="birthDate">تاریخ تولد</tamin-field-label>
            <tamin-field-validator  formControlName="birthDate"></tamin-field-validator>
            <tamin-field-persian-date formControlName="birthDate" placeholder=""></tamin-field-persian-date>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="firstName">نام</tamin-field-label>
            <tamin-field-validator formControlName="firstName"></tamin-field-validator>
            <tamin-field-text formControlName="firstName"></tamin-field-text>
          </div>

          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="lastName">نام خانوادگی</tamin-field-label>
            <tamin-field-validator formControlName="lastName"></tamin-field-validator>
            <tamin-field-text formControlName="lastName"></tamin-field-text>
          </div>
          <div class="col-6 col-s-6" >
            <tamin-field-label formControlName="position">سمت</tamin-field-label>
            <tamin-field-combo-box-static formControlName="position" displayField="name" valueField="value" #positionCombobBox></tamin-field-combo-box-static>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="positionDesc">شرح سمت</tamin-field-label>
            <tamin-field-validator formControlName="positionDesc"></tamin-field-validator>
            <tamin-field-text formControlName="positionDesc"></tamin-field-text>
          </div>
        </div>
      </div>
      <div class="row col-12 col-s-12">
        <div class="col-4 col-s-4">
          <tamin-field-label formControlName="phoneNumber">تلفن</tamin-field-label>
          <tamin-field-validator formControlName="phoneNumber"></tamin-field-validator>
          <tamin-field-number formControlName="phoneNumber"></tamin-field-number>
        </div>
        <div class="col-2 col-s-2">
            <tamin-field-label formControlName="cityCode">کد شهر</tamin-field-label>
          <tamin-field-validator formControlName="phoneNumber"></tamin-field-validator>
            <tamin-field-number formControlName="cityCode"></tamin-field-number>
          </div>
        <div class="col-6 col-s-6">
            <tamin-field-label formControlName="mobileNumber">تلفن همراه</tamin-field-label>
          <tamin-field-validator formControlName="phoneNumber"></tamin-field-validator>
            <tamin-field-number formControlName="mobileNumber"></tamin-field-number>
          </div>
      </div>
      <button #submitButton type="submit" class="button normal">ذحیره </button>
      <button type="button" class="button normal orange" (click)="back()">انصراف</button>
     </form>
  </div>
</div>
