<div class="panel">
  <div class="page-title">
    استعلام وضعیت مستمری بگیران سازمان تامین اجتماعی
  </div>
  <div class="alert alert-info">
    <p>- در این قسمت شما می توانید از وضعیت مستمری بگیران سازمان تامین اجتماعی مطلع شوید.</p>
  </div>
  <div class="panel-body">
    <!-- <tamin-data-grid #dataGrid> -->
    <tamin-data-grid #dataGrid [showLoadOverlay]="false">
    </tamin-data-grid>
  </div>
  <button type="button" class="button normal blue" (click)="onReportForm()"> نمایش فرم چاپی</button>
</div>
