<div class="alert alert-info">
  <i class="icon-lightbulb"></i>
  <span>نمایش جزئیات لیست بیمه کارگاه </span>
</div>
<div class="panel-body">
  <div class="row">
    <form [formGroup]="detailForm" autocomplete="off" novalidate>
      <div>
        <fieldset style="padding: 5px;">
          <div class="col-12 col-s-12">
            <div class="col-6 col-s-6">
              <div class="confirmation">
                <h3 style="margin-top: 10px;">شماره پیگیری :{{ loadFormfileModel?.workshop.code | persianNumber}}</h3>
                <h3 style="margin-top: 10px;">تاریخ تغییر وضعیت :{{getPersianDate( loadFormfileModel?.workshop.title)}}</h3>
              </div>
            </div>
            <div class="col-6 col-s-6">
              <div class="confirmation">
                <h3 style="margin-top: 10px;">وضعیت درخواست : {{ loadFormfileModel?.status.statusDescription}}</h3>
                <h3 style="margin-top: 10px;">سال و ماه : {{ loadFormfileModel?.year }} {{
                  loadFormfileModel?.month.monthDescription }}</h3>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset style="padding: 5px;margin-top: 15px;">
          <div class="col-12 col-s-12">
            <div class="col-6 col-s-6">
              <div class="confirmation">
                <h3 style="margin-top: 10px;">کد کارگاه :{{ loadFormfileModel?.workshop.code }}</h3>
                <h3 style="margin-top: 10px;">ردیف پیمان :{{ loadFormfileModel?.workshop.contractNumber}}</h3>
                <h3 style="margin-top: 10px;">تعداد نفرات :{{ loadFormfileModel?.summary.employeesCount }}</h3>
                <h3 style="margin-top: 10px;">شماره لیست :{{ loadFormfileModel?.summary.listNumber}}</h3>
              </div>
            </div>
            <div class="col-6 col-s-6">
              <div class="confirmation">
                <h3 style="margin-top: 10px;">نام کارگاه : {{ loadFormfileModel?.workshop.title | persianNumber}}</h3>
                <h3 style="margin-top: 10px;">عنوان پیمان : {{ loadFormfileModel?.workshop.contractTitle}}</h3>
                <h3 style="margin-top: 10px;">جمع روزهای کارکرد : {{ loadFormfileModel?.summary.totalWorkingDays }}</h3>
                <h3 style="margin-top: 10px;">نام کارفرما : {{ loadFormfileModel?.summary.employerName }}</h3>
              </div>
            </div>
          </div>
          <div class="col-12 col-s-12">
            <div class="confirmation">
              <h3 style="margin-top: 10px;">آدرس کارفرما :{{ loadFormfileModel?.summary.workshopAddress}}</h3>
            </div>
          </div>
        </fieldset>
      </div>
      <div style="margin-top: 15px;">
        <fieldset style="padding: 5px;">
          <div class="col-12 col-s-12">
            <div class="col-6 col-s-6">
              <div class="confirmation">
                <h3 style="margin-top: 10px;">جمع دستمزد روزانه : {{
                  persianNumberPipe .transform(loadFormfileModel?.summary.totalDailyWages, 'cs')}}&nbsp; ریال </h3>
                <h3 style="margin-top: 10px;">حق بیمه سهم بیمه شده : {{
                  persianNumberPipe.transform(loadFormfileModel?.summary.totalEmployeePremium, 'cs')}}&nbsp; ریال </h3>
                <h3 style="margin-top: 10px;">جمع دستمزد و مزایای ماهانه مشمول : {{
                  persianNumberPipe.transform(loadFormfileModel?.summary.totalInclusiveWageAndBenefit, 'cs')}}&nbsp;
                  ریال </h3>
                <h3 style="margin-top: 10px;">جمع کل دستمزد و مزایای ماهانه : {{
                  persianNumberPipe.transform(loadFormfileModel?.summary.totalInclusiveWageAndBenefit, 'cs')}}&nbsp;
                  ریال </h3>
                <h3 style="margin-top: 10px;">حق بیمه بیکاری : {{
                  persianNumberPipe.transform(loadFormfileModel?.summary.totalUnemploymentPremium, 'cs')}}&nbsp; ریال
                </h3>
              </div>
            </div>
            <div class="col-6 col-s-6">
              <div class="confirmation">
                <h3 style="margin-top: 10px;">جمع دستمزد ماهانه : {{
                  persianNumberPipe.transform(loadFormfileModel?.summary.totalMonthlyWages, 'cs')}}&nbsp; ریال </h3>
                <h3 style="margin-top: 10px;">جمع مزایای ماهانه مشمول : {{
                  persianNumberPipe.transform(loadFormfileModel?.summary.totalInclusiveBenefit, 'cs')}}&nbsp; ریال </h3>
                <h3 style="margin-top: 10px;">حق بیمه سهم کارفرما : {{
                  persianNumberPipe.transform(loadFormfileModel?.summary.totalEmployerPremium, 'cs')}}&nbsp; ریال </h3>
                <h3 style="margin-top: 10px;">نرخ حق بیمه :{{ loadFormfileModel?.summary.premiumRate }}</h3>
                <h3 style="margin-top: 10px;">جمع کل حق بیمه : {{
                  persianNumberPipe.transform(loadFormfileModel?.grandSum, 'cs')}}&nbsp; ریال </h3>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </form>
  </div>
  <div class="panel" id="taminDataGridstayl" style="display: none">
    <div class="page-title">
      اطلاعات بیمه شدگان
    </div>
    <div>
      <div class="panel-body">
        <tamin-data-grid #taminDataGrid (itemAction)="onGridAction($event)"></tamin-data-grid>
      </div>
    </div>
  </div>
</div>
<app-display-error-modal #displayErrorModalComponent (refreshData)="refreshData()"></app-display-error-modal>
<app-display-info-worker-modal #displayInfoWorkerModalComponent ></app-display-info-worker-modal>
<tamin-modal #theModal title="برگ صادر شده">
  <tamin-document-viewer #documentViewer width="100%"></tamin-document-viewer>
</tamin-modal>