<div class="panel">
  <div class="page-title">
    مشاهده فیش مستمری
  </div>
<!--  <div class="alert alert-danger" *ngIf="!isAccessible">-->
<!--    کاربر گرامی، سایت به علت محاسبه لیست مستمری ماهانه هم اکنون در حال بروزرسانی است، لطفا در روزهای آینده مجددا اقدام نمایید.-->
<!--  </div>-->
  <div class="panel-body">
<form [formGroup]="calculateDataForm" autocomplete="off" novalidate>
  <div class="row">
<div class="col-12">
  <div class="panel">
    <div class="panel-title">جستجو</div>
    <div class="panel-body">
      <app-sso-user-info-search (afterSubmit)="onSearch($event)"></app-sso-user-info-search>
    </div>
  </div>
</div>
<div class="row">
  <div class="panel-body">
    <div class="col-2">
      <tamin-field-label formControlName="insuranceNumber">شماره بیمه</tamin-field-label>
      <tamin-field-static-text formControlName="insuranceNumber"></tamin-field-static-text>
    </div>
    <div class="col-2">
      <tamin-field-label formControlName="firstName">نام</tamin-field-label>
      <tamin-field-static-text formControlName="firstName"></tamin-field-static-text>
    </div>
    <div class="col-2">
      <tamin-field-label formControlName="lastName">نام خانوادگی</tamin-field-label>
      <tamin-field-static-text formControlName="lastName"></tamin-field-static-text>
    </div>
    <div class="col-2">
      <tamin-field-label formControlName="fatherName"> نام پدر:</tamin-field-label>
      <tamin-field-static-text formControlName="fatherName"></tamin-field-static-text>
    </div>
    <div class="col-2">
      <tamin-field-label formControlName="idCardNumber">شماره شناسنامه:</tamin-field-label>
      <tamin-field-static-text formControlName="idCardNumber"></tamin-field-static-text>
    </div>
  </div>
</div>
    <div class="row">
      <div class="panel-body">
        <app-edict-payment-search (afterSubmit)="loadData($event)" #paymentSearchComponent></app-edict-payment-search>
      </div>
    </div>
  </div>
</form>

<app-edict-payment-list #paymentListComponent>
                       <!-- [insuranceNumber]="paymentViewComponent.getInsuranceNumber()-->"></app-edict-payment-list>

