<tamin-modal #theModal title="مشخصات کاربر">
  <div class="row">
    <div class="col-12">
      <table>
        <tr>
          <td colspan="2" style="text-align: center;background-color: #efefef;">
            <img src='assets/images/icons/user.png' alt="" style="width: 100px;height: auto" #userImage>
          </td>
        </tr>
        <tr>
          <td style="background-color: #efefef;">نام و نام خانوادگی:</td>
          <td>{{data.fullName}}</td>
        </tr>
        <tr>
          <td style="background-color: #efefef;">جنسیت:</td>
          <td>{{data.gender}}</td>
        </tr>
        <tr>
          <td style="background-color: #efefef;">کشور/شهر:</td>
          <td>{{data.placeOfBirth}}</td>
        </tr>
        <tr>
          <td style="background-color: #efefef;">کد ملی:</td>
          <td>{{data.nationalCode}}</td>
        </tr>
        <tr>
          <td style="background-color: #efefef;">تلفن همراه:</td>
          <td>{{data.mobile}}</td>
        </tr>
        <tr>
          <td style="background-color: #efefef;">ایمیل:</td>
          <td>{{data.email}}</td>
        </tr>
        <tr>
          <td style="background-color: #efefef;">تاریخ ایجاد حساب کاربری:</td>
          <td>{{data.creationDate}}</td>
        </tr>
        <tr>
          <td style="background-color: #efefef;">وضعیت حساب کاربری:</td>
          <td>{{data.status}}</td>
        </tr>
      </table>
    </div>
  </div>
</tamin-modal>