<div class="panel col-6 col-s-6">
  <div class="panel-title"> سال مالی شرکت بر مبنای دوره درخواست بازرسی دفاتر قانونی </div>
  <div class="panel-body">
    <form [formGroup]="editForm" autocomplete="off" novalidate (ngSubmit)="onSave(editForm.value)">
      <div class="form-control-container">
        <div class="row  col-12 col-s-12">
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="startDate">شروع سال مالی </tamin-field-label>
            <tamin-field-persian-date formControlName="startDate"></tamin-field-persian-date>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="endDate">پایان سال مالی </tamin-field-label>
            <tamin-field-persian-date formControlName="endDate"></tamin-field-persian-date>
          </div>
          <div class="col-6 col-s-6">
            <tamin-field-label formControlName="hasBooklet">دفاتر</tamin-field-label>
            <tamin-field-combo-box-static formControlName="hasBooklet" displayField="name" valueField="value" #hasBookletComboBox></tamin-field-combo-box-static>
          </div>
        </div>
      </div>
      <div class="col-12 col-s-12">
        <div class="row">
          <br>
        <div class="hint"><i class="icon-lightbulb"></i><span>منظور از سال مالی در هر سال، سال مالی مبنای عملکرد آن شرکت می باشد که می بایست برای کلیه سالهای دوره درخواست به تفکیک ثبت گردد.</span></div>
          <br>
        </div>
        <button #submitButton type="submit" class="button normal">ذحیره </button>
        <button type="button" class="button normal orange" (click)="back()">انصراف</button>
      </div>
    </form>
  </div>
</div>
