<div class="alert alert-info">
  <i class="icon-lightbulb"></i>
  <span>بخشودگی جرائم کارگاه</span>
</div>
<div class="alert alert-warning">
  <i class="icon-lightbulb-1"></i>
  <span>چنانچه در هر مرحله ای، ارسال مستندات و لیست غیرواقعی کارگاه به منظور بهره مندی من غیرحق از تسهیلات بخشودگی جرائم محرز گردد، موضوع درخواست کن لم یکن تلقی و برابر مقررات اقدام خواهد شد.</span>
</div>
<div class="alert alert-warning">
  <i class="icon-lightbulb-1"></i>
  <span>در صورت ثبت درخواست بخشودگی جرائم و پرداخت بدهی بصورت اقساط، حفظ سطح اشتغال و تعداد کارکنان کارگاه نسبت به بهمن ماه 1398 تا پایان اقساط ضروری خواهد بود. در غیر اینصورت کارگاه از شمول بخشودگی جرائم خارج می گردد.</span>
</div>
<div class="alert alert-warning">
  <i class="icon-lightbulb-1"></i>
  <span>برای بهره مندی از بخشودگی جرائم بدهی های پیمانکاران(ردیف پیمان) ارسال لیست ماهانه کارکنان از طریق دفتر مرکزی شرکت یا کارگاه ثابت و احراز سایر شرایط الزامی خواهد بود.</span>
</div>
<div class="alert alert-warning">
  <i class="icon-lightbulb-1"></i>
  <span>ثبت درخواست بخشودگی جرائم صرفا برای بدهی های قطعی شده لغایت 1399 امکان پذیر خواهد بود.</span>
</div>
<div class="alert alert-warning">
  <i class="icon-lightbulb-1"></i>
  <span>در صورت داشتن تقسیط عادی و در حال پرداخت، لازم است قبل از ثبت درخواست بخشودگی جرائم جهت بهره مندی از بخشودگی جرائم ابتدا به شعبه مراجعه و بدهی مذکور را تبدیل به حال نمایند.</span>
</div>
<div class="alert alert-warning">
  <i class="icon-lightbulb-1"></i>
  <span>لازم به ذکر است که تنها بدهی های نشان داده شده در همین صفحه حائز شرایط بخشودگی جرائم می باشند.</span>
</div>
<div class="panel">
  <div class="page-title">جستجوی کارگاه</div>
  <div class="panel-body">
    <form [formGroup]="workshopSearchForm" autocomplete="off" novalidate (ngSubmit)="onSearchSubmit()">
      <div class="form-control-container row">
        <div class="col-6 col-6-1" style="padding: 3px;">
          <!---------------------------------------------------------------------------------------------------------->
          <tamin-field-label formControlName="workshopId">شماره کارگاه:</tamin-field-label>
          <tamin-field-validator formControlName="workshopId"></tamin-field-validator>
          <tamin-field-text formControlName="workshopId" placeholder="شماره کارگاه"></tamin-field-text>
          <!---------------------------------------------------------------------------------------------------------->
        </div>
        <div class="col-6 col-6-1" style="padding: 3px;">
          <!---------------------------------------------------------------------------------------------------------->
          <tamin-field-label formControlName="peymanSequence">ردیف پیمان:</tamin-field-label>
          <tamin-field-validator formControlName="peymanSequence"></tamin-field-validator>
          <tamin-field-text formControlName="peymanSequence" placeholder="کد شعبه"></tamin-field-text>
          <!---------------------------------------------------------------------------------------------------------->
        </div>
        <p style="margin-top:5px;">
          <button type="submit" class="button normal">جستجو</button>
          <button type="button" class="button normal orange" (click)="resetWorkshopForm()">نمایش همه</button>
        </p>
      </div>
    </form>
  </div>
  <div class="page-title">لیست کارگاه ها</div>
  <div class="alert alert-info">
    <i class="icon-lightbulb"></i>
    <span>بروی کارگاه مورد نظر کلیک کنید</span>
  </div>
  <div class="alert alert-info">
    <i class="icon-lightbulb"></i>
    <span>جهت ثبت درخواست روی دکمه "ثبت درخواست" بعد از نمایش بدهی های حائز شریط در انتهای فرم کلیک کنید</span>
  </div>
  <div class="panel-body">
    <tamin-data-grid #workshopsGrid (itemSelect)="clickWorkshopGridItem($event)"></tamin-data-grid>
  </div>
</div>
<div class="panel">
  <div class="page-title">بدهی های حائز شرایط</div>
  <div class="panel-body">
    <tamin-data-grid #workshopsDebitGrid></tamin-data-grid>
  </div>
  <div class="row">
    <h3 style="text-align: center">
      <button type="button" class="button normal orange" [disabled]="isDisabled" (click)="onAction()">ثبت درخواست</button>
    </h3>
  </div>
</div>

