<div class="page-title">انتخاب کارگاه</div>
<div class="panel-body">
  <form [formGroup]="searchForm" autocomplete="off" novalidate
        >
    <div class="form-control-container row">
      <app-workshop-full-info-search (submitt)="onSearchSubmit($event)"></app-workshop-full-info-search>
      <app-workshop-full-info-list #workshopList (sendRecord)="onFilterList($event)"></app-workshop-full-info-list>

      <!--<div class="col-6 col-6-1" style="padding: 3px;">
        <tamin-field-label formControlName="workshopId">شماره کارگاه:</tamin-field-label>
        <tamin-field-validator formControlName="workshopId"></tamin-field-validator>
        <tamin-field-combo-box-static formControlName="workshopId" placeholder="شماره کارگاه" displayField="title"  valueField="workshopCode" #workshop></tamin-field-combo-box-static>

      </div>-->
      <!--<div class="col-6 col-6-1" style="padding: 3px;">
        <tamin-field-label formControlName="branchName">شعبه:</tamin-field-label>
        <tamin-field-validator formControlName="branchName"></tamin-field-validator>
        <tamin-field-text formControlName="branchName" placeholder="شعبه"></tamin-field-text>
      </div>-->
     <!-- <p style="margin-top:5px;">
        <button type="submit" class="button normal" >جستجو</button>
        <button type="button" class="button normal orange" (click)="resetForm()">نمایش همه</button>
      </p>-->
    </div>
  </form>
</div>
