<div class="panel">
  <div class="page-title">
    استعلام استحقاق دریافت هدیه ازدواج
  </div>
  <app-marriage-conditions></app-marriage-conditions>
  <div class="panel-body" #calculated>
    <form [formGroup]="staticDataForm" autocomplete="off" novalidate>
      <div class="row">
        <div class="col-4">
          <tamin-field-label formControlName="weddingDateTimeStamp">تاریخ عقد</tamin-field-label>
          <tamin-field-validator formControlName="weddingDateTimeStamp"></tamin-field-validator>
          <tamin-field-persian-date formControlName="weddingDateTimeStamp" placeholder=""></tamin-field-persian-date>
        </div>
      </div>
    </form>
    <div class="button-container" style="margin: 3px">
      <button class="button normal" (click)="calculate()">
        <i class="icon-ok"></i>
        <span>استعلام استحقاق دریافت هدیه ازدواج</span>
      </button>
    </div>
  </div>
</div>


